<form [formGroup]="form" autocomplete="off" novalidate>
  <sb-tab-card>
    <ng-container card-title>
      {{ data.sanction == null ? 'Създаване на санкция' : 'Редакция на санкция' }}
    </ng-container>
    <sb-editor-panel card-buttons [editBtnHidden]="!canEdit" [isNew]="data.sanction == null" (save)="onSave($event)">
      <button
        *ngIf="canRemove"
        disabled-mode-buttons
        mat-raised-button
        color="warn"
        type="button"
        (click)="onRemove()"
        [disabled]="removing"
      >
        <fa-icon [icon]="removing ? fasSpinnerThird : fasTrashAlt" [spin]="removing" size="lg"></fa-icon>
        <span class="hidden sm:inline">Премахни</span>
      </button>
    </sb-editor-panel>
    <ng-container card-body>
      <div class="sm:grid grid-cols-2 gap-x-4 mb-2">
        <sb-nom-select
          label="Ученик"
          class="col-start-1 col-span-full"
          formControlName="studentId"
          [nomService]="classBookStudentNomsService"
          [readonly]="data.sanction != null"
        ></sb-nom-select>

        <sb-nom-select
          label="Вид санкция"
          class="col-start-1 col-span-full"
          formControlName="sanctionTypeId"
          [nomService]="sanctionTypeNomsService"
        ></sb-nom-select>

        <sb-text-field label="Номер на заповед" formControlName="orderNumber"></sb-text-field>
        <sb-date-field label="Дата на заповед" formControlName="orderDate"></sb-date-field>

        <sb-textarea-field
          class="col-start-1 col-span-full"
          label="Описание"
          formControlName="description"
        ></sb-textarea-field>

        <sb-date-field label="Начална дата" formControlName="startDate"></sb-date-field>

        <sb-date-field label="Крайна дата" class="col-start-1" formControlName="endDate"></sb-date-field>

        <sb-text-field
          label="Номер на заповед за отмяна"
          class="col-start-1"
          formControlName="cancelOrderNumber"
        ></sb-text-field>
        <sb-date-field label="Дата на заповед за отмяна" formControlName="cancelOrderDate"></sb-date-field>

        <sb-textarea-field
          class="col-start-1 col-span-full"
          label="Причина за заповедта за отмяна"
          formControlName="cancelReason"
        ></sb-textarea-field>

        <sb-text-field label="Номер на заповед на началника на РУО" formControlName="ruoOrderNumber"></sb-text-field>
        <sb-date-field label="Дата на заповед на началника на РУО" formControlName="ruoOrderDate"></sb-date-field>
      </div>
    </ng-container>
  </sb-tab-card>
</form>
