USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[studentClassCUD]    Script Date: 8/18/2022 3:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [inst_basic].[studentClassCUD] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS

BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param: institutionID --------------
DECLARE @instID int;
SELECT @instID = institutionID FROM OPENJSON(@_json)
WITH (   
		institutionID int			'$.instid'
)

-- ---------- define Master object [student].[StudentClass] param: studentid --------------
DECLARE @studentID int;
SELECT @studentID = studentID FROM OPENJSON(@_json)
WITH (   
		studentID int			'$.studentid'
)

-- ---------- define Detail object: [CurriculumStudent] - curriculumListA ---
DECLARE @CurriculumListACreatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListACreatedString NVARCHAR(4000);

DECLARE @CurriculumListAUpdatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListAUpdatedString NVARCHAR(4000);

DECLARE @CurriculumListADeletedString NVARCHAR(4000);

-- ---------- define Detail object: [CurriculumStudent] - curriculumListB ---
DECLARE @CurriculumListBCreatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListBCreatedString NVARCHAR(4000);

DECLARE @CurriculumListBUpdatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListBUpdatedString NVARCHAR(4000);

DECLARE @CurriculumListBDeletedString NVARCHAR(4000);

-- ---------- define Detail object: [CurriculumStudent] - curriculumListV ---
DECLARE @CurriculumListVCreatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListVCreatedString NVARCHAR(4000);

DECLARE @CurriculumListVUpdatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListVUpdatedString NVARCHAR(4000);

DECLARE @CurriculumListVDeletedString NVARCHAR(4000);

-- ---------- define Detail object: [CurriculumStudent] - curriculumListD ---
DECLARE @CurriculumListDCreatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListDCreatedString NVARCHAR(4000);

DECLARE @CurriculumListDUpdatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListDUpdatedString NVARCHAR(4000);

DECLARE @CurriculumListDDeletedString NVARCHAR(4000);

-- ---------- define Detail object: [CurriculumStudent] - curriculumListE ---
DECLARE @CurriculumListECreatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListECreatedString NVARCHAR(4000);

DECLARE @CurriculumListEUpdatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListEUpdatedString NVARCHAR(4000);

DECLARE @CurriculumListEDeletedString NVARCHAR(4000);

-- ---------- define Detail object: [CurriculumStudent] - curriculumListF ---
DECLARE @CurriculumListFCreatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListFCreatedString NVARCHAR(4000);

DECLARE @CurriculumListFUpdatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumListFUpdatedString NVARCHAR(4000);

DECLARE @CurriculumListFDeletedString NVARCHAR(4000);

DECLARE @curriculumDeletedString NVARCHAR(4000);

-- ---------- define global param: personid --------------
DECLARE @personid int;
SELECT @personid = personid FROM OPENJSON(@_json)
WITH (   
		personid int			'$.personid'
)

-- ---------- define global param: personid --------------
DECLARE @otherPersonid int;
SELECT @otherPersonid = otherPersonid FROM OPENJSON(@_json)
WITH (   
		otherPersonid int			'$.otherPersonid'
)

-- ---------- define global param: classKind --------------
DECLARE @classKindID int;
SELECT @classKindID = classKind FROM OPENJSON(@_json)
WITH (   
		classKind int			'$.classKind'
)

-- ---------- define global param: isIndividualCurriculum --------------
DECLARE @isIndividualCurriculum bit;
SELECT @isIndividualCurriculum = isIndividualCurriculum FROM OPENJSON(@_json)
WITH (   
		isIndividualCurriculum bit				'$.isIndividualCurriculum'
)

-- ---------- define global param: otherInstitutionID --------------
DECLARE @otherInstitutionID int;
SELECT @otherInstitutionID = institutionID FROM OPENJSON(@_json)
WITH (   
		institutionID int		'$.institutionID'
)

-- ---------- define global param: classid --------------
DECLARE @classid int;
SELECT @classid = classid FROM OPENJSON(@_json)
WITH (   
		classid int				'$.classid'
)

-- ---------- define global param: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)
-- ---------- define curriculumIds --------------

DECLARE @curriculumIds table (currId int);
INSERT INTO @curriculumIds (currId)
SELECT curriculumID FROM inst_year.CurriculumStudent WHERE StudentID = @studentID



-- ---------- define global param: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = [inst_year].[getSchoolYearByInstID](@instID)


-- ---------- define Additional params --------------
DECLARE @operationResultType int; -- (0) Warning. It is sent only if forceOperation = 0; (-1) Error; (1) Successfully completed operation
SET @operationResultType = -1;
DECLARE @forceOperation int; -- (0) no force action required, send warning to the customer; (1) operation is forced to be executed
DECLARE @hasRefDataCount int; -- sum of found referenced record (could be more tan one source)
DECLARE @messageCode int;

SELECT @forceOperation = ForceOperation FROM OPENJSON(@_json)
WITH (   
		forceOperation int			'$.forceOperation'
)

-- ---------- check for Ref Data --------------
DECLARE @hasRefDataCurriculumStudent int;
SET @hasRefDataCurriculumStudent = (SELECT COUNT(1) FROM [inst_year].[CurriculumStudent]
	WHERE [inst_year].[CurriculumStudent].StudentID = @studentID);

DECLARE @ExternalID NVARCHAR(100) = NULL;

DECLARE @newClassId INT = NULL;

DECLARE @OldClassId INT = NULL;

DECLARE @IsFTACOutsourced bit = NULL;

DECLARE @IsNotPresentForm bit = NULL;

	--if the school used external data provider --- then it cannot write to the database
	DECLARE @isExtDataProvider bit;
	SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
	FROM [core].[InstitutionConfData] 
	WHERE InstitutionID = @instID 
		AND SchoolYear = @schoolYear

	IF @isExtDataProvider = 1
	BEGIN	
		SET @operationResultType = 2;
		SET @messageCode = 1023;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID, @studentID AS studentid; 

		COMMIT TRANSACTION
		RETURN
	END


PRINT 'INFO: PROCEDURE [inst_basic].[studentClassCUD] started! Initial data gathered. InstitutionID=' + CAST(@instID AS VARCHAR(12));

/* ############################## Start OperationType = 1 -> CREATE StudentClass data ############################## */
IF ((@OperationType = 1) AND (@instID IS NOT NULL)) 
BEGIN	

	DECLARE @positionId int;
	DECLARE @instType int;
	SELECT @instType = [noms].[getInstType](@instID);
	IF (@classKindID = 2) -- 2 = Групи в ЦДО
		IF (@instType = 4) -- ЦСОП case
			SELECT @positionId = 7;
		ELSE -- <> ЦСОП case
			SELECT @positionId = 3;
	ELSE IF (@classKindID = 3) -- 3 = Други групи
		SELECT @positionId = 8;
	ELSE
		THROW 99009, 'Error - invalid params! With OperationType = 1 -> classKindID cannot be different than 2 or 3', 1;
	

	IF ((@personid IS NOT NULL) AND (@studentID IS NULL) AND (@classKindID IS NOT NULL) AND (@otherInstitutionID IS NULL))
	BEGIN
		PRINT 'INFO: OperationType = 1 -> Will CREATE Master object: [StudentClass] with personid=' + CAST(@personid AS VARCHAR(12));
	
	INSERT INTO [student].[StudentClass](
		[SchoolYear],
		[ClassId],
		[PersonId],
		[StudentSpecialityId],
		[StudentEduFormId],
		[ClassNumber],
		[Status],
		[IsIndividualCurriculum],
		[IsHourlyOrganization],
		[IsForSubmissionToNRA],
		[IsCurrent],
		[RepeaterId],
		[CommuterTypeId],
		[HasSuportiveEnvironment],
		[SupportiveEnvironment],
		[EnrollmentDate],
		[AdmissionDocumentId],
		[PositionId],
		[BasicClassID],
		[ClassTypeID],
		[FromStudentClassId],
		[DischargeReasonId],
		[DischargeDocumentId],
		[RelocationDocumentId],
		[ORESTypeID],
		[InstitutionID],
		[ExternalID],
		[newClassId],
		[OldClassId],
		[IsFTACOutsourced],
		[IsNotPresentForm]
		)
	VALUES (
		@schoolYear,
		@classid,
		@personid, 
		-1, -- StudentSpecialityId 
		-1, -- StudentEduFormId 
		0, -- ClassNumber 
		1, -- Status 
		0, -- IsIndividualCurriculum
		0, -- IsHourlyOrganization
		0, -- IsForSubmissionToNRA
		1, -- IsCurrent
		1, -- RepeaterId
		1, -- CommuterTypeId 
		0, -- HasSuportiveEnvironment 
		null, -- SupportiveEnvironment
		SYSDATETIME(), -- EnrollmentDate 
		null, -- AdmissionDocumentId
		@positionId,  
		[inst_year].[getBasicClassIDClassGroup](@classid), -- BasicClassID
		[inst_year].[getClassTypeIDClassGroup](@classid), -- ClassTypeID
		null, -- FromStudentClassId
		null, -- DischargeReasonId
		null, -- DischargeDocumentId
		null, -- RelocationDocumentId
		null, -- ORESTypeID
		@instID,
		@ExternalID,
		@newClassId,
		@OldClassId,
		@IsFTACOutsourced, 
		@IsNotPresentForm
	);

	-- GET INSERTED [StudentClass] ID (autoincrement)

	SELECT @studentID = SCOPE_IDENTITY();
		PRINT 'INFO: [StudentClass] was created with id=' + CAST(@studentID AS VARCHAR(12));
	SELECT @studentID AS studentid; -- return back to the caller i.e. front-end

	END

	ELSE IF ((@otherPersonid IS NOT NULL) AND (@studentID IS NULL) AND (@classKindID IS NOT NULL) AND (@otherInstitutionID IS NOT NULL))
	
	BEGIN
		PRINT 'INFO: OperationType = 1 -> Will CREATE Master object: [StudentClass] with personid=' + CAST(@OtherPersonid AS VARCHAR(12));
		PRINT 'INFO: Will INSERT [StudentClass] for other institution with institutionID=' + CAST(@otherInstitutionID AS VARCHAR(12));
	
	INSERT INTO [student].[StudentClass](
		[SchoolYear],
		[ClassId],
		[PersonId],
		[StudentSpecialityId],
		[StudentEduFormId],
		[ClassNumber],
		[Status],
		[IsIndividualCurriculum],
		[IsHourlyOrganization],
		[IsForSubmissionToNRA],
		[IsCurrent],
		[RepeaterId],
		[CommuterTypeId],
		[HasSuportiveEnvironment],
		[SupportiveEnvironment],
		[EnrollmentDate],
		[AdmissionDocumentId],
		[PositionId],
		[BasicClassID],
		[ClassTypeID],
		[FromStudentClassId],
		[DischargeReasonId],
		[DischargeDocumentId],
		[RelocationDocumentId],
		[ORESTypeID],
		[InstitutionID],
		[ExternalID],
		[newClassId],
		[OldClassId],
		[IsFTACOutsourced],
		[IsNotPresentForm]
		)
	VALUES (
		@schoolYear,
		@classid,
		@otherPersonid, 
		-1, -- StudentSpecialityId 
		-1, -- StudentEduFormId 
		0, -- ClassNumber 
		1, -- Status 
		0, -- IsIndividualCurriculum
		0, -- IsHourlyOrganization
		0, -- IsForSubmissionToNRA
		1, -- IsCurrent
		1, -- RepeaterId
		1, -- CommuterTypeId 
		0, -- HasSuportiveEnvironment 
		null, -- SupportiveEnvironment
		SYSDATETIME(), -- EnrollmentDate 
		null, -- AdmissionDocumentId
		@positionId,  
		[inst_year].[getBasicClassIDClassGroup](@classid), -- BasicClassID
		[inst_year].[getClassTypeIDClassGroup](@classid), -- ClassTypeID
		null, -- FromStudentClassId
		null, -- DischargeReasonId
		null, -- DischargeDocumentId
		null, -- RelocationDocumentId
		null, -- ORESTypeID
		@instID,
		@ExternalID,
		@newClassId,
		@OldClassId,
		@IsFTACOutsourced, 
		@IsNotPresentForm
	);

	-- GET INSERTED [StudentClass] ID (autoincrement)

	SELECT @studentID = SCOPE_IDENTITY();
	PRINT 'INFO: [StudentClass] was created with id=' + CAST(@studentID AS VARCHAR(12));
	
	DECLARE @educationalStateID int;	
	INSERT INTO [core].[EducationalState]
				([PersonID]
				 ,[InstitutionID]
				 ,[PositionID])
	VALUES (@otherPersonid, @otherInstitutionID, 8);
	SELECT @educationalStateID = SCOPE_IDENTITY();
	PRINT 'INFO: [core].[EducationalState] INSERTED successfully with id=' + CAST(@educationalStateID AS VARCHAR(12));

	SELECT @studentID AS studentid, @educationalStateID AS educationalStateID; -- return back to the caller i.e. front-end
	END
END
/* ############################## Start OperationType = 2 -> UPDATE StudentClass data ############################## */
ELSE IF ((@OperationType = 2) AND (@instID IS NOT NULL) AND (@studentID IS NOT NULL) AND (@classKindID IS NOT NULL) AND (@personid IS NOT NULL) AND (@classid IS NOT NULL) AND (@schoolYear IS NOT NULL) AND (@forceOperation IS NOT NULL)) 
BEGIN
	PRINT 'INFO: OperationType = 2 -> Will check state of StudentClass.IsIndividualCurriculum before and after data submission for studentID=' + CAST(@studentID AS VARCHAR(12)) + ' and personid=' + CAST(@personid AS VARCHAR(12));
	DECLARE @isIndividualCurriculumBeforeUpdate bit;
	SELECT @isIndividualCurriculumBeforeUpdate = (SELECT IsIndividualCurriculum FROM [student].[StudentClass] 
													WHERE [student].[StudentClass].PersonId = @personid AND 
														  [student].[StudentClass].ClassId = @classid AND
														  [student].[StudentClass].SchoolYear = @schoolYear AND 
														  [student].[StudentClass].Status = 1);

	IF (((@isIndividualCurriculum = 1) AND (@isIndividualCurriculumBeforeUpdate = 0)) OR
			((@isIndividualCurriculum = 0) AND (@isIndividualCurriculumBeforeUpdate = 1)))
	BEGIN 
		/* FIRST, check for referenced data */
		PRINT 'INFO: OperationType = 2 -> There is IsIndividualCurriculum transition (1->0 or 0->1) before and after data submission!';
		PRINT 'INFO: Will check if there are references in: [inst_year].[CurriculumStudent] for studentID=' + CAST(@studentID AS VARCHAR(12));
		
		SET @hasRefDataCount = @hasRefDataCurriculumStudent;

		IF (@hasRefDataCount > 0) -- there is referenced data, will ask for confirmation with specific question for referral data
		BEGIN
			PRINT 'INFO: There are in total: ' + CAST(@hasRefDataCount AS VARCHAR(12)) + ' references in [inst_year].[CurriculumStudent] for studentID=' + CAST(@studentID AS VARCHAR(12));
			IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
			BEGIN
				PRINT 'INFO: @forceOperation = 0 => Will ask User for operation confirmation with specific message. Do nothing now!';
				SET @operationResultType = 0;
				SET @messageCode = 1010;

				SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @studentID AS studentID; -- return back to the caller i.e. front-end
		
				COMMIT TRANSACTION

				RETURN -- exit procedure
			END
			ELSE IF (@forceOperation = 1) -- confirmation is done, do specific operations based on ref. data
			BEGIN
				PRINT 'INFO: @forceOperation = 1 => Will SET IsValid = 0 [inst_year].[CurriculumStudent] for studentID=' + CAST(@studentID AS VARCHAR(12));
				
				SELECT @curriculumDeletedString = (SELECT STRING_AGG(CurriculumID, ',')  
				FROM [inst_year].[CurriculumStudent]
				WHERE [inst_year].[CurriculumStudent].StudentID = @studentID);
				
				
				UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0
					WHERE [inst_year].[CurriculumStudent].StudentID = @studentID;
				PRINT 'INFO: [CurriculumStudent] records SET IsValid = 0 for studentID=' + CAST(@studentID AS VARCHAR(12));
				SET @operationResultType = 1;
				SET @messageCode = 1;
				
				SELECT @curriculumDeletedString AS curriculumDeletedString;
			END
		END

		ELSE
		BEGIN
			PRINT 'INFO: There are NO references in [inst_year].[CurriculumStudent] for studentID=' + CAST(@studentID AS VARCHAR(12));
			SET @operationResultType = 1;
			SET @messageCode = 1;
		END
		PRINT 'INFO: Transition of [StudentClass].isIndividualCurriculum 0->1 OR 1->0 done successfully!';
	END

		


	IF ((@classKindID = 1) AND (@operationResultType <> 0))-- if [ClassKind] = Групи/Класове
	BEGIN
		PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object: [StudentClass] with studentID=' + CAST(@studentID AS VARCHAR(12));
		UPDATE top (1) [student].[StudentClass]
		SET 
			 [IsIndividualCurriculum] = JSC.isIndividualCurriculum
			,[IsHourlyOrganization] = JSC.isHourlyOrganization
			,[RepeaterId] = JSC.repeaterReasonId
			,[CommuterTypeId] = JSC.commuterTypeId
			,[ORESTypeID] = JSC.oresType
			,[ClassTypeID] = JSC.classTypeID
			,[StudentEduFormId] = JSC.studentEduFormId
		FROM OPENJSON(@_json)
		WITH (   -- names below shoul match JSON fields
			isIndividualCurriculum bit,
			isHourlyOrganization bit,
			repeaterReasonId int,
			commuterTypeId int,
			oresType int,
			classTypeID int,
			studentEduFormId int
			) JSC				 
		WHERE
			[student].[StudentClass].ID = @studentID;

		SET @operationResultType = 1;
		SET @messageCode = 1;

		PRINT 'INFO: [StudentClass] UPDATED successfully!';
	END

	/* ###### UPDATE CurriculumStudent >> CurriculumListA, CurriculumListB, CurriculumListD, CurriculumListV ######## */
	PRINT 'Will UPDATE Detail object: [CurriculumStudent] >> CurriculumListA, CurriculumListB, CurriculumListD, CurriculumListV for studentID=' + CAST(@studentID AS VARCHAR(12));

	IF (@operationResultType <> 0)
	BEGIN
		/* *********************** CREATE newly added [CurriculumStudent] >> CurriculumListA objects in collection ******************************** */ 
		INSERT INTO [inst_year].[CurriculumStudent]
		(
		   [CurriculumID]
		  ,[SysUserID]
		  ,[StudentID]
		  ,[PersonID]
		  ,[SchoolYear]
		  ,[ExternalID]
		)
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListACreatedVar
		SELECT *, @sysuserid, @studentID, @personid, @schoolYear, @ExternalID
		FROM OPENJSON(@_json, '$.studentCurriculumACreated')
		WITH (
			curriculumID int			'$.curriculumID'
		);
		SET @CurriculumListACreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListACreatedVar);
		PRINT 'INFO: [CurriculumStudent] >> CurriculumListA INSERTED with ids=' + @CurriculumListACreatedString;
		/* *********************** UPDATE existing/changed [CurriculumStudent] >> CurriculumListA objects in collection ******************************** */ 
		UPDATE [inst_year].[CurriculumStudent]
		SET
		   [CurriculumID] = JCS.curriculumID
		  ,[SysUserID] = @sysuserid
		  ,[StudentID] = @studentID
		  ,[PersonID] = @personid
		  ,[SchoolYear] = @schoolYear
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListACreatedVar
		FROM OPENJSON(@_json, '$.studentCurriculumAUpdated')
		WITH (   
			 curriculumStudentID int	'$.curriculumStudentID'
			,curriculumID int			'$.curriculumID'
			) JCS
		WHERE
			[inst_year].[CurriculumStudent].CurriculumStudentID = JCS.curriculumStudentID;
		SET @CurriculumListACreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListACreatedVar);
		PRINT 'INFO: [CurriculumStudent] UPDATED with CurriculumStudentIDs=' + @CurriculumListACreatedString;
		/* *********************** SET IsValid = 0 [CurriculumStudent] >> CurriculumListA objects in collection **************************** */
		SELECT @CurriculumListADeletedString = (SELECT STRING_AGG(curriculumListADeletedIDs, ',')  
			FROM OPENJSON(@_json, '$.studentCurriculumADeleted')
			WITH (   
				curriculumListADeletedIDs int			'$.curriculumStudentID'
			));
		UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0
			WHERE [inst_year].[CurriculumStudent].CurriculumStudentID IN (			
				SELECT curriculumListADeletedIDs FROM OPENJSON(@_json, '$.studentCurriculumADeleted')
					WITH (   
						curriculumListADeletedIDs int			'$.id'
					)
				);
		PRINT 'INFO: [CurriculumStudent] SET IsValid = 0 with CurriculumStudentIDs=' + CAST(@CurriculumListADeletedString AS VARCHAR(12)); 
	
		/* *********************** CREATE newly added [CurriculumStudent] >> CurriculumListB objects in collection ******************************** */ 
		INSERT INTO [inst_year].[CurriculumStudent]
		(
		   [CurriculumID]
		  ,[SysUserID]
		  ,[StudentID]
		  ,[PersonID]
		  ,[SchoolYear]
		  ,[ExternalID]
		)
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListBCreatedVar
		SELECT *, @sysuserid, @studentID, @personid, @schoolYear, @ExternalID
		FROM OPENJSON(@_json, '$.studentCurriculumBCreated')
		WITH (
			curriculumID int			'$.curriculumID'
		);
		SET @CurriculumListBCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListBCreatedVar);
		PRINT 'INFO: [CurriculumStudent] >> CurriculumListB INSERTED with ids=' + @CurriculumListBCreatedString;
		/* *********************** UPDATE existing/changed [CurriculumStudent] >> CurriculumListB objects in collection ******************************** */ 
		UPDATE [inst_year].[CurriculumStudent]
		SET
		   [CurriculumID] = JCS.curriculumID
		  ,[SysUserID] = @sysuserid
		  ,[StudentID] = @studentID
		  ,[PersonID] = @personid
		  ,[SchoolYear] = @schoolYear
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListBCreatedVar
		FROM OPENJSON(@_json, '$.studentCurriculumBUpdated')
		WITH (   
			 curriculumStudentID int	'$.curriculumStudentID'
			,curriculumID int			'$.curriculumID'
			) JCS
		WHERE
			[inst_year].[CurriculumStudent].CurriculumStudentID = JCS.curriculumStudentID;
		SET @CurriculumListBCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListBCreatedVar);
		PRINT 'INFO: [CurriculumStudent] UPDATED with CurriculumStudentIDs=' + @CurriculumListBCreatedString;
		/* *********************** SET IsValid = 0 [CurriculumStudent] >> CurriculumListB objects in collection **************************** */
		SELECT @CurriculumListBDeletedString = (SELECT STRING_AGG(curriculumListBDeletedIDs, ',')  
			FROM OPENJSON(@_json, '$.studentCurriculumBDeleted')
			WITH (   
				curriculumListBDeletedIDs int			'$.curriculumStudentID'
			));
		UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0
			WHERE [inst_year].[CurriculumStudent].CurriculumStudentID IN (			
				SELECT curriculumListBDeletedIDs FROM OPENJSON(@_json, '$.studentCurriculumBDeleted')
					WITH (   
						curriculumListBDeletedIDs int	'$.id'
					)
				);
		PRINT 'INFO: [CurriculumStudent] SET IsValid = 0 with CurriculumStudentIDs=' + CAST(@CurriculumListBDeletedString AS VARCHAR(12)); 

		/* *********************** CREATE newly added [CurriculumStudent] >> CurriculumListV objects in collection ******************************** */ 
		INSERT INTO [inst_year].[CurriculumStudent]
		(
		   [CurriculumID]
		  ,[SysUserID]
		  ,[StudentID]
		  ,[PersonID]
		  ,[SchoolYear]
		  ,[ExternalID]
		)
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListVCreatedVar
		SELECT *, @sysuserid, @studentID, @personid, @schoolYear, @ExternalID
		FROM OPENJSON(@_json, '$.studentCurriculumVCreated')
		WITH (
			curriculumID int			'$.curriculumID'
		);
		SET @CurriculumListVCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListVCreatedVar);
		PRINT 'INFO: [CurriculumStudent] >> CurriculumListV INSERTED with ids=' + @CurriculumListVCreatedString;
		/* *********************** UPDATE existing/changed [CurriculumStudent] >> CurriculumListV objects in collection *************************** */ 
		UPDATE [inst_year].[CurriculumStudent]
		SET
		   [CurriculumID] = JCS.curriculumID
		  ,[SysUserID] = @sysuserid
		  ,[StudentID] = @studentID
		  ,[PersonID] = @personid
		  ,[SchoolYear] = @schoolYear
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListVCreatedVar
		FROM OPENJSON(@_json, '$.studentCurriculumVUpdated')
		WITH (   
			 curriculumStudentID int	'$.curriculumStudentID'
			,curriculumID int			'$.curriculumID'
			) JCS
		WHERE
			[inst_year].[CurriculumStudent].CurriculumStudentID = JCS.curriculumStudentID;
		SET @CurriculumListVCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListVCreatedVar);
		PRINT 'INFO: [CurriculumStudent] UPDATED with CurriculumStudentIDs=' + @CurriculumListVCreatedString;
		/* *********************** SET IsValid = 0 [CurriculumStudent] >> CurriculumListV objects in collection **************************** */
		SELECT @CurriculumListVDeletedString = (SELECT STRING_AGG(curriculumListVDeletedIDs, ',')  
			FROM OPENJSON(@_json, '$.studentCurriculumVDeleted')
			WITH (   
				curriculumListVDeletedIDs int			'$.curriculumStudentID'
			));
		UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0
			WHERE [inst_year].[CurriculumStudent].CurriculumStudentID IN (			
				SELECT curriculumListVDeletedIDs FROM OPENJSON(@_json, '$.studentCurriculumVDeleted')
					WITH (   
						curriculumListVDeletedIDs int			'$.id'
					)
				);
		PRINT 'INFO: [CurriculumStudent] SET IsValid = 0 with CurriculumStudentIDs=' + CAST(@CurriculumListVDeletedString AS VARCHAR(12)); 

		/* *********************** CREATE newly added [CurriculumStudent] >> CurriculumListD objects in collection ******************************** */ 
		INSERT INTO [inst_year].[CurriculumStudent]
		(
		   [CurriculumID]
		  ,[SysUserID]
		  ,[StudentID]
		  ,[PersonID]
		  ,[SchoolYear]
		  ,[ExternalID]
		)
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListDCreatedVar
		SELECT *, @sysuserid, @studentID, @personid, @schoolYear, @ExternalID
		FROM OPENJSON(@_json, '$.studentCurriculumDCreated')
		WITH (
			curriculumID int			'$.curriculumID'
		);
		SET @CurriculumListDCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListDCreatedVar);
		PRINT 'INFO: [CurriculumStudent] >> CurriculumListD INSERTED with ids=' + @CurriculumListDCreatedString;
		/* *********************** UPDATE existing/changed [CurriculumStudent] >> CurriculumListD objects in collection ******************************** */ 
		UPDATE [inst_year].[CurriculumStudent]
		SET
		   [CurriculumID] = JCS.curriculumID
		  ,[SysUserID] = @sysuserid
		  ,[StudentID] = @studentID
		  ,[PersonID] = @personid
		  ,[SchoolYear] = @schoolYear
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListDCreatedVar
		FROM OPENJSON(@_json, '$.studentCurriculumDUpdated')
		WITH (   
			 curriculumStudentID int	'$.curriculumStudentID'
			,curriculumID int			'$.curriculumID'
			) JCS
		WHERE
			[inst_year].[CurriculumStudent].CurriculumStudentID = JCS.curriculumStudentID;
		SET @CurriculumListDCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListDCreatedVar);
		PRINT 'INFO: [CurriculumStudent] UPDATED with CurriculumStudentIDs=' + @CurriculumListDCreatedString;
		/* *********************** SET IsValid = 0 [CurriculumStudent] >> CurriculumListD objects in collection **************************** */
		SELECT @CurriculumListDDeletedString = (SELECT STRING_AGG(curriculumListDDeletedIDs, ',')  
			FROM OPENJSON(@_json, '$.studentCurriculumDDeleted')
			WITH (   
				curriculumListDDeletedIDs int			'$.curriculumStudentID'
			));
		UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0
			WHERE [inst_year].[CurriculumStudent].CurriculumStudentID IN (			
				SELECT curriculumListDDeletedIDs FROM OPENJSON(@_json, '$.studentCurriculumDDeleted')
					WITH (   
						curriculumListDDeletedIDs int			'$.id'
					)
				);
		PRINT 'INFO: [CurriculumStudent] SET IsValid = 0 with CurriculumStudentIDs=' + CAST(@CurriculumListDDeletedString AS VARCHAR(12)); 

		/* *********************** CREATE newly added [CurriculumStudent] >> CurriculumListE objects in collection ******************************** */ 
		INSERT INTO [inst_year].[CurriculumStudent]
		(
		   [CurriculumID]
		  ,[SysUserID]
		  ,[StudentID]
		  ,[PersonID]
		  ,[SchoolYear]
		  ,[ExternalID]
		)
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListECreatedVar
		SELECT *, @sysuserid, @studentID, @personid, @schoolYear, @ExternalID
		FROM OPENJSON(@_json, '$.studentCurriculumECreated')
		WITH (
			curriculumID int			'$.curriculumID'
		);
		SET @CurriculumListECreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListECreatedVar);
		PRINT 'INFO: [CurriculumStudent] >> CurriculumListE INSERTED with ids=' + @CurriculumListECreatedString;
		/* *********************** UPDATE existing/changed [CurriculumStudent] >> CurriculumListE objects in collection ******************************** */ 
		UPDATE [inst_year].[CurriculumStudent]
		SET
		   [CurriculumID] = JCS.curriculumID
		  ,[SysUserID] = @sysuserid
		  ,[StudentID] = @studentID
		  ,[PersonID] = @personid
		  ,[SchoolYear] = @schoolYear
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListECreatedVar
		FROM OPENJSON(@_json, '$.studentCurriculumEUpdated')
		WITH (   
			 curriculumStudentID int	'$.curriculumStudentID'
			,curriculumID int			'$.curriculumID'
			) JCS
		WHERE
			[inst_year].[CurriculumStudent].CurriculumStudentID = JCS.curriculumStudentID;
		SET @CurriculumListECreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListECreatedVar);
		PRINT 'INFO: [CurriculumStudent] UPDATED with CurriculumStudentIDs=' + @CurriculumListECreatedString;
		/* *********************** SET IsValid = 0 [CurriculumStudent] >> CurriculumListE objects in collection **************************** */
		SELECT @CurriculumListEDeletedString = (SELECT STRING_AGG(curriculumListEDeletedIDs, ',')  
			FROM OPENJSON(@_json, '$.studentCurriculumEDeleted')
			WITH (   
				curriculumListEDeletedIDs int			'$.curriculumStudentID'
			));
		UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0
			WHERE [inst_year].[CurriculumStudent].CurriculumStudentID IN (			
				SELECT curriculumListEDeletedIDs FROM OPENJSON(@_json, '$.studentCurriculumEDeleted')
					WITH (   
						curriculumListEDeletedIDs int			'$.id'
					)
				);
		PRINT 'INFO: [CurriculumStudent] SET IsValid = 0 with CurriculumStudentIDs=' + CAST(@CurriculumListEDeletedString AS VARCHAR(12)); 

		/* *********************** CREATE newly added [CurriculumStudent] >> CurriculumListF objects in collection ******************************** */ 
		INSERT INTO [inst_year].[CurriculumStudent]
		(
		   [CurriculumID]
		  ,[SysUserID]
		  ,[StudentID]
		  ,[PersonID]
		  ,[SchoolYear]
		  ,[ExternalID]
		)
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListFCreatedVar
		SELECT *, @sysuserid, @studentID, @personid, @schoolYear, @ExternalID
		FROM OPENJSON(@_json, '$.studentCurriculumFCreated')
		WITH (
			curriculumID int			'$.curriculumID'
		);
		SET @CurriculumListFCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListFCreatedVar);
		PRINT 'INFO: [CurriculumStudent] >> CurriculumListF INSERTED with ids=' + @CurriculumListFCreatedString;
		/* *********************** UPDATE existing/changed [CurriculumStudent] >> CurriculumListF objects in collection ******************************** */ 
		UPDATE [inst_year].[CurriculumStudent]
		SET
		   [CurriculumID] = JCS.curriculumID
		  ,[SysUserID] = @sysuserid
		  ,[StudentID] = @studentID
		  ,[PersonID] = @personid
		  ,[SchoolYear] = @schoolYear
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumListFCreatedVar
		FROM OPENJSON(@_json, '$.studentCurriculumFUpdated')
		WITH (   
			 curriculumStudentID int	'$.curriculumStudentID'
			,curriculumID int			'$.curriculumID'
			) JCS
		WHERE
			[inst_year].[CurriculumStudent].CurriculumStudentID = JCS.curriculumStudentID;
		SET @CurriculumListFCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumListFCreatedVar);
		PRINT 'INFO: [CurriculumStudent] UPDATED with CurriculumStudentIDs=' + @CurriculumListFCreatedString;
		/* *********************** SET IsValid = 0 [CurriculumStudent] >> CurriculumListF objects in collection **************************** */
		SELECT @CurriculumListFDeletedString = (SELECT STRING_AGG(curriculumListFDeletedIDs, ',')  
			FROM OPENJSON(@_json, '$.studentCurriculumFDeleted')
			WITH (   
				curriculumListFDeletedIDs int			'$.curriculumStudentID'
			));
		UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0
			WHERE [inst_year].[CurriculumStudent].CurriculumStudentID IN (			
				SELECT curriculumListFDeletedIDs FROM OPENJSON(@_json, '$.studentCurriculumFDeleted')
					WITH (   
						curriculumListFDeletedIDs int			'$.id'
					)
				);
		PRINT 'INFO: [CurriculumStudent] SET IsValid = 0 with CurriculumStudentIDs=' + CAST(@CurriculumListFDeletedString AS VARCHAR(12)); 
	
		SET @operationResultType = 1;
		SET @messageCode = 1;	
	END
	
	/* *********************** START UPDATE [Curriculum] StudentCount************************************ */
	DECLARE @studentCountCurriculum1 table (currId int, countStudents int)
	INSERT INTO @studentCountCurriculum1 (currId,countStudents)
	SELECT CurriculumID, COUNT(CurriculumStudentID) 
	FROM [inst_year].[CurriculumStudent]
	WHERE CurriculumID IN (SELECT currId FROM @curriculumIds)
	GROUP BY CurriculumID

	DECLARE @indLesson table (indLesson bit, currId int)
	INSERT INTO @indLesson (indLesson, currId)
	SELECT IsIndividualLesson,CurriculumID FROM inst_year.Curriculum WHERE CurriculumID IN (SELECT currId FROM @curriculumIds)


	UPDATE c SET [StudentsCount] = cid.countStudents, [TotalTermHours] = IIF(il.indLesson=1,
				/*true*/(((WeeksFirstTerm*HoursWeeklyFirstTerm)+(WeeksSecondTerm*HoursWeeklySecondTerm))*cid.countStudents),
				/*false*/((WeeksFirstTerm*HoursWeeklyFirstTerm)+(WeeksSecondTerm*HoursWeeklySecondTerm)))
	FROM [inst_year].[Curriculum] c
	INNER JOIN @studentCountCurriculum1 cid ON cid.currId = c.CurriculumID
	LEFT JOIN @indLesson il ON il.currId = c.CurriculumID;

	/* *********************** END UPDATE [Curriculum] StudentCount************************************ */

	SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID, @studentID AS studentid, 
		@CurriculumListACreatedString AS curriculumListACreatedIDs, @CurriculumListAUpdatedString AS curriculumListAUpdatedIDs, @CurriculumListADeletedString AS curriculumListADeletedIDs, 
		@CurriculumListBCreatedString AS curriculumListBCreatedIDs, @CurriculumListBUpdatedString AS curriculumListBUpdatedIDs, @CurriculumListBDeletedString AS curriculumListBDeletedIDs, 
		@CurriculumListVCreatedString AS curriculumListVCreatedIDs, @CurriculumListVUpdatedString AS curriculumListVUpdatedIDs, @CurriculumListVDeletedString AS curriculumListVDeletedIDs, 
		@CurriculumListDCreatedString AS curriculumListDCreatedIDs, @CurriculumListDUpdatedString AS curriculumListDUpdatedIDs, @CurriculumListDDeletedString AS curriculumListDDeletedIDs, 
		@CurriculumListECreatedString AS curriculumListECreatedIDs, @CurriculumListEUpdatedString AS curriculumListEUpdatedIDs, @CurriculumListEDeletedString AS curriculumListEDeletedIDs,
		@CurriculumListFCreatedString AS curriculumListFCreatedIDs, @CurriculumListFUpdatedString AS curriculumListFUpdatedIDs, @CurriculumListFDeletedString AS curriculumListFDeletedIDs;
END  /* End OperationType = 2 -> UPDATE Student data *************** */

/* ############################## Start OperationType = 3 -> REMOVE Student from Group ############################## */
ELSE IF ((@OperationType = 3) AND (@instID IS NOT NULL) AND (@studentID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 3 -> Will REMOVE Student from Group with studentID=' + CAST(@studentID AS VARCHAR(12));
	DECLARE @studentCount smallint;
	SELECT @studentCount = (SELECT COUNT(1) FROM [student].[StudentClass] WHERE [student].[StudentClass].ID = @studentID);
	IF (@studentCount = 1)
	BEGIN 
		UPDATE top (1) [student].[StudentClass]
		SET 
			[IsCurrent] = 0,
			[Status] = 2
		WHERE
			[student].[StudentClass].ID = @studentID;
		PRINT 'INFO: [StudentClass] UPDATED successfully!';
	END
	ELSE
		THROW 99010, 'SYSTEM ERROR: [StudentClass] not found or found more than one record with this studentID. Received invalid master record param value during execution of OperationType = 3', 1;
	
	DECLARE @curriculumStudentCount smallint;
	SELECT @curriculumStudentCount = (SELECT COUNT(1) FROM [inst_year].[CurriculumStudent] WHERE [inst_year].[CurriculumStudent].[StudentID] = @studentID);
	IF (@curriculumStudentCount > 0)
	BEGIN 
		
		SELECT @curriculumDeletedString = (SELECT STRING_AGG(CurriculumID, ',')  
				FROM [inst_year].[CurriculumStudent]
				WHERE [inst_year].[CurriculumStudent].StudentID = @studentID);
		
		DELETE [inst_year].[CurriculumStudent] OUTPUT deleted.* INTO [inst_year].[CurriculumStudentTemp]
		WHERE
			[inst_year].[CurriculumStudent].[StudentID] = @studentID;
		PRINT 'INFO: [CurriculumStudent] records DELETED successfully!';
	END

	/* *********************** START UPDATE [Curriculum] StudentCount************************************ */
	DECLARE @studentCountCurriculum table (currId int, countStudents int)
	INSERT INTO @studentCountCurriculum (currId,countStudents)
	SELECT CurriculumID, COUNT(CurriculumStudentID) 
	FROM [inst_year].[CurriculumStudent]
	WHERE CurriculumID IN (SELECT currId FROM @curriculumIds)
	GROUP BY CurriculumID

	DECLARE @indLesson1 table (indLesson bit, currId int)
	INSERT INTO @indLesson1 (indLesson, currId)
	SELECT IsIndividualLesson, CurriculumID FROM inst_year.Curriculum WHERE CurriculumID IN (SELECT currId FROM @curriculumIds)


	UPDATE c SET [StudentsCount] = cid.countStudents, [TotalTermHours] = IIF(il.indLesson=1,
				/*true*/(((WeeksFirstTerm*HoursWeeklyFirstTerm)+(WeeksSecondTerm*HoursWeeklySecondTerm))*cid.countStudents),
				/*false*/((WeeksFirstTerm*HoursWeeklyFirstTerm)+(WeeksSecondTerm*HoursWeeklySecondTerm)))
	FROM [inst_year].[Curriculum] c
	INNER JOIN @studentCountCurriculum cid ON cid.currId = c.CurriculumID
	LEFT JOIN @indLesson1 il ON il.currId = c.CurriculumID;

	/* *********************** END UPDATE [Curriculum] StudentCount************************************ */


	SELECT @curriculumDeletedString AS curriculumDeletedString;
END


/* ############################################################ */
ELSE
BEGIN
	DECLARE @ERR_MSG NVARCHAR(4000);
	SELECT @ERR_MSG = 'Illegal CONTEXT or MASTER Obejects params! Sent params are: ' + 
		'OperationType=' + ISNULL(CAST(@OperationType AS VARCHAR(12)),'') + 
		', instID=' + ISNULL(CAST(@instID AS VARCHAR(12)),'') +
		', personid=' + ISNULL(CAST(@personid AS VARCHAR(12)),'') +
		', studentID=' + ISNULL(CAST(@studentID AS VARCHAR(12)),'') +
		', classid=' + ISNULL(CAST(@classid AS VARCHAR(12)),'') +
		', schoolYear=' + ISNULL(CAST(@schoolYear AS VARCHAR(12)),'') +
		', classKindID=' + ISNULL(CAST(@classKindID AS VARCHAR(12)),'') +
		', forceOperation=' + ISNULL(CAST(@forceOperation AS VARCHAR(12)),'');

	THROW 99000, @ERR_MSG, 1;
END

EXEC [logs].logEvent @_json, @OperationType, 103, 'StudentClass', @studentID, @schoolYear;

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'StudentClass', @studentID, @schoolYear;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
	DECLARE @ErrorNumber INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(),
		@ErrorNumber = ERROR_NUMBER(); 

	PRINT 'INFO: [studentClassCUD] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
/* ************ END OF PROCEDURE ************ */
