USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_year].[createClassRUP]    Script Date: 8/30/2022 10:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [inst_year].[createClassRUP] 
	@classId int,
	@instId int,
	@schoolYear int,
	@sysUserID int
AS

BEGIN TRY
	DECLARE @tbClassCurric TABLE (ClassID INT,BasicClassID INT,ClassTypeID INT, isCombined BIT, ClassKind INT,SubjectID INT,SubjectTypeID INT,
			WeeksFirstTerm SMALLINT,HoursWeeklyFirstTerm REAL,WeeksSecondTerm SMALLINT,HoursWeeklySecondTerm REAL,NormaS INT,InstitutionDepartmentID INT,SortOrder INT);
	
			-- УЧЕБЕН ПЛАН
		WITH A AS (
			SELECT CG.ClassID, CG.BasicClassID, CG.ClassTypeID, CG.IsCombined, CT.ClassKind, CurrL.ClassEduFormID, --CG.ClassEduFormID, CurrL.ClassEduFormID, --BCL.BasicClassLimitID, --CurrL.CurriculumLimitID, 
				CurrCat.CurriculumCatalogID, CurrLib.CurriculumLibraryID, CurrL.DetailedSchoolTypeID, IIF(CurrL.FLTypeID = CG.FLTypeID, 1, 0) AS rr,
				CurrLib.SubjectID, CurrLib.SubjectTypeID, CurrLib.WeeksFirstTerm, CurrLib.HoursWeeklyFirstTerm, CurrLib.WeeksSecondTerm, CurrLib.HoursWeeklySecondTerm,
				CurrLib.NormaS, CG.InstitutionDepartmentID, CurrLib.SortOrder--,
				--ROW_NUMBER() OVER (PARTITION BY CG.ClassID ORDER BY CurrL.DetailedSchoolTypeID DESC, CurrL.ClassEduFormID) AS rn
			FROM inst_year.ClassGroup AS CG
				LEFT JOIN core.Institution AS I ON I.InstitutionID = CG.InstitutionID
				LEFT JOIN inst_nom.ClassType AS CT 
					ON CT.ClassTypeID = CG.ClassTypeID 
				LEFT JOIN inst_nom.BasicClassLimit AS BCL 
					ON BCL.BasicClassID = CG.BasicClassID AND BCL.DetailedSchoolTypeID = I.DetailedSchoolTypeID-- AND 1=2
					AND BCL.ClassKind = CT.ClassKind 
				LEFT JOIN inst_nom.CurriculumCatalogLimit AS CurrL
					ON CurrL.BasicClassID = BCL.BasicClassID 
					AND NOT(CurrL.DetailedSchoolTypeID IS NOT NULL AND CurrL.DetailedSchoolTypeID != BCL.DetailedSchoolTypeID)
					AND CurrL.ClassTypeID = CG.ClassTypeID --AND CurrL.ClassEduFormID = CG.ClassEduFormID --AND 1=2
					AND NOT(CurrL.ClassEduFormID IS NOT NULL AND CurrL.ClassEduFormID != CG.ClassEduFormID)
					AND NOT(CurrL.FLTypeID IS NOT NULL AND CurrL.FLTypeID != CG.FLTypeID)
				LEFT JOIN inst_nom.CurriculumCatalog AS CurrCat
					ON CurrL.CurriculumCatalogID = CurrCat.CurriculumCatalogID 
				LEFT JOIN inst_nom.CurriculumLibrary AS CurrLib 
					ON CurrLib.CurriculumCatalogID = CurrCat.CurriculumCatalogID 
					AND CurrLib.BasicClassID = CG.BasicClassID 
			WHERE CG.ClassID = @classId OR @classId IS NULL
				AND CG.SchoolYear = @SchoolYear
				AND CG.InstitutionId = @instID
				AND CG.IsValid = 1
				AND CG.ParentClassID IS NULL
				AND CurrLib.CurriculumLibraryID IS NOT NULL
		)
		INSERT INTO @tbClassCurric
			(ClassID,BasicClassID,ClassTypeID,isCombined,ClassKind,
			SubjectID,SubjectTypeID,WeeksFirstTerm,HoursWeeklyFirstTerm,WeeksSecondTerm,HoursWeeklySecondTerm,
			NormaS,InstitutionDepartmentID,SortOrder)
		SELECT ClassID,BasicClassID,ClassTypeID,IsCombined,ClassKind,
			--CurriculumCatalogID,CurriculumLibraryID,DetailedSchoolTypeID,
			SubjectID,SubjectTypeID,WeeksFirstTerm,HoursWeeklyFirstTerm,WeeksSecondTerm,HoursWeeklySecondTerm,
			NormaS,InstitutionDepartmentID,SortOrder
		FROM A
			CROSS APPLY(SELECT TOP 1 CurriculumCatalogID 
						FROM A AS CCid 
						WHERE CCid.ClassID = A.ClassID 
						ORDER BY DetailedSchoolTypeID DESC, ClassEduFormID DESC, rr DESC) AS CC
		WHERE A.CurriculumCatalogID = CC.CurriculumCatalogID
			AND rr = 1; 
		;
	
		-- CustomVarValue
		-- ако даден предмет липсва в CustomVarValue, той трябва първо да се добави
		MERGE INTO inst_nom.CustomVarValue AS Trg USING (
				SELECT C.SubjectID
				FROM @tbClassCurric AS C
				GROUP BY C.SubjectID
			) AS Src ON Trg.InstitutionID = @instID
					AND Trg.CustomVarID = 1
					AND Trg.CustomVarValue = Src.SubjectID 
    	WHEN MATCHED AND Trg.IsValid != 1 THEN
    		UPDATE SET IsValid = 1
		WHEN NOT MATCHED THEN
			INSERT (InstitutionID, CustomVarID, CustomVarValue, CustomVarValueAdd1, CustomVarValueAdd2, IsValid)
    		VALUES (@instID, 1, SubjectID, NULL, NULL, 1);
	
    	DECLARE @curriculum TABLE (classId INT, curriculumId INT, subjectID INT, subjectTypeID INT, sortOrder INT, curriculumPartID INT, 
    								WeeksFirstTerm SMALLINT, HoursWeeklyFirstTerm REAL, WeeksSecondTerm SMALLINT, HoursWeeklySecondTerm REAL,
									NormaS INT, InstitutionDepartmentID INT);
    	-- Curriculum
		INSERT INTO inst_year.Curriculum
					(SchoolYear, InstitutionID, 
					CurriculumGroupNum, SubjectID, SubjectTypeID, WeeksFirstTerm, HoursWeeklyFirstTerm, WeeksSecondTerm, HoursWeeklySecondTerm, 
					IsFL, IsIndividualLesson, NormaS, 
					InstitutionDepartmentID, CurriculumPartID, SortOrder, 
					IsIndividualCurriculum, ValidFrom, ValidTo, SysUserID, IsWholeClass, IsAllStudents, TotalTermHours, PrevYearID)
		OUTPUT INSERTED.PrevYearID, 
					INSERTED.CurriculumID, INSERTED.SubjectID, INSERTED.SubjectTypeID, INSERTED.SortOrder, INSERTED.CurriculumPartID,
					INSERTED.WeeksFirstTerm, INSERTED.HoursWeeklyFirstTerm, INSERTED.WeeksSecondTerm, INSERTED.HoursWeeklySecondTerm,
					INSERTED.NormaS, INSERTED.InstitutionDepartmentID
				INTO @curriculum
		SELECT @SchoolYear, @instID, 
					1, SubjectID, SubjectTypeID, WeeksFirstTerm, HoursWeeklyFirstTerm, WeeksSecondTerm, HoursWeeklySecondTerm,
					0, 0, NormaS,
					InstitutionDepartmentID, 1, SortOrder,
					0, GETDATE(), '9999-12-31 23:59', @SysUserID, 1, 0, 
					(ISNULL(WeeksFirstTerm,0)*ISNULL(HoursWeeklyFirstTerm,0))+(ISNULL(WeeksSecondTerm,0)*ISNULL(HoursWeeklySecondTerm,0)),
					ClassID
		FROM (SELECT CC.ClassID, CC.SubjectID, CC.SubjectTypeID, CC.WeeksFirstTerm, CC.HoursWeeklyFirstTerm, CC.WeeksSecondTerm, CC.HoursWeeklySecondTerm,
					CC.NormaS,
					CC.InstitutionDepartmentID, CC.SortOrder
				FROM @tbClassCurric AS CC
				GROUP BY CC.ClassID, CC.SubjectID, CC.SubjectTypeID, CC.WeeksFirstTerm, CC.HoursWeeklyFirstTerm, CC.WeeksSecondTerm, CC.HoursWeeklySecondTerm,
					CC.NormaS, CC.InstitutionDepartmentID, CC.SortOrder
			) AS Src  
    	
    	--CurriculumClass за всеки предмет от т. ii без такива за слетите паралелки (ClassGroup.IsCombined=1)
		INSERT INTO inst_year.CurriculumClass
			(CurriculumID, ClassID, ValidFrom, ValidTo, SysUserID, SchoolYear)
		SELECT C.CurriculumID, CC.ClassID, GETDATE(), '9999-12-31 23:59', @SysUserID, @SchoolYear
		FROM @tbClassCurric AS CC
			LEFT JOIN @curriculum AS C 
				ON C.ClassID = CC.ClassID
				AND C.subjectID = CC.SubjectID
				AND C.subjectTypeID = CC.SubjectTypeID
				AND C.sortOrder = CC.SortOrder 
				AND C.curriculumPartID = 1
				AND C.WeeksFirstTerm = CC.WeeksFirstTerm
				AND C.HoursWeeklyFirstTerm = CC.HoursWeeklyFirstTerm
				AND C.WeeksSecondTerm = CC.WeeksSecondTerm
				AND C.HoursWeeklySecondTerm = CC.HoursWeeklySecondTerm
				AND C.NormaS = CC.NormaS
				AND C.InstitutionDepartmentID = CC.InstitutionDepartmentID
		WHERE CC.IsCombined = 0;
		
END TRY
BEGIN CATCH
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [CreateClassRUP] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
