USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[SchoolYearChangeHeader]    Script Date: 7/8/2022 11:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER PROCEDURE [inst_basic].[SchoolYearChangeHeader]

		-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int

AS

BEGIN TRANSACTION
BEGIN TRY

/************** Setup initial params ******************/

DECLARE @instID int;
SELECT @instID = institutionID FROM OPENJSON(@_json)
WITH (   
		institutionID int			'$.instid'

)

-- ---------- define global variable: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = [inst_year].[getSchoolYearByInstID](@instID)

-- ---------- define Master object: [ChangeYearData] ID param --------------
DECLARE @changeYearDataID int;
SELECT @changeYearDataID = changeYearDataID FROM OPENJSON(@_json)
WITH (   
		changeYearDataID int				'$.changeYearDataID'
);

-- ---------- define context param: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'

)

-- ---------- define context param: status --------------
DECLARE @status int;
SELECT @status = changeYearDataStatus FROM OPENJSON(@_json)
WITH (   
		changeYearDataStatus int			'$.changeYearStatus'
)

-- ---------- define context param: changeYearDataStudentAmendatory --------------

DECLARE @changeYearDataStudentAmendatoryCreatedVar TABLE  
(  
	id INT
);

DECLARE @changeYearDataStudentAmendatoryString NVARCHAR(4000);


PRINT 'INFO: PROCEDURE changeYear started! Initial data gathered. changeYearDataID=' + CAST(@instID AS VARCHAR(12));

DECLARE @ERR_MSG NVARCHAR(4000); 
	DECLARE @finalSO TINYINT = 0;
	
SELECT @finalSO = COUNT(1), @schoolYear = AVG(ICD.schoolYear)
	FROM core.InstitutionConfData AS ICD
		INNER JOIN sob.SubmissionData AS SD 
			ON ICD.InstitutionID = SD.InstitutionID AND ICD.SchoolYear = SD.SchoolYear 
			AND SD.IsFinal = 1
	WHERE ICD.InstitutionID = @instID;

IF (@OperationType = 1) AND (@finalSO = 0) AND (@changeYearDataID IS NULL) --check SO for load final data
		BEGIN 
			DECLARE @operationResultType int, @messageCode int;
			SET @operationResultType = 2;
			SET @messageCode = 1025;

			SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode;
			COMMIT TRANSACTION
			RETURN
		END
	
ELSE IF (@OperationType = 1) AND (@finalSO <> 0) AND (@changeYearDataID IS NULL)
		BEGIN
			INSERT INTO [inst_year].[ChangeYearData]
				(
				[InstitutionID]
				,[FromSchoolYear]
				,[ToSchoolYear]
				,[ChangeYearStatusID]
				,[CreatedOn]
				,[ModifiedOn]
				,[SysUserID]
				)
	SELECT @instID, *, 0, SYSDATETIME(), SYSDATETIME(), @sysuserid
	FROM OPENJSON(@_json)
	WITH (
			fromSchoolYear smallint		'$.fromSchoolYear'
		,	toSchoolYear smallint		'$.toSchoolYear'
	);

	SELECT @changeYearDataID = SCOPE_IDENTITY();

	PRINT 'INFO: [inst_year].[ChangeYearData] INSERTED with ids=' + CAST(@changeYearDataID AS VARCHAR(12));

	/* *********************** START INSERT INTO ChangeYearDataStudentAmendatory************************************ */ 
	INSERT INTO [inst_year].[ChangeYearDataStudentAmendatory]
	(
	  [ChangeYearDataID]
	  ,[StudentClassID]
	)
	OUTPUT INSERTED.ChangeYearDataStudentAmendatoryID INTO @changeYearDataStudentAmendatoryCreatedVar
	SELECT @changeYearDataID, *
	FROM OPENJSON(@_json, '$.studentsAmendatoryList')
	WITH (
		id int	'$.id'
	);
	SET @changeYearDataStudentAmendatoryString = (SELECT STRING_AGG(id, ',') FROM @changeYearDataStudentAmendatoryCreatedVar);
	PRINT 'INFO: [ChangeYearDataStudentAmendatory] INSERTED with ids=' + @changeYearDataStudentAmendatoryString;
	/* *********************** END INSERT INTO [ChangeYearDataStudentAmendatory] ************************************ */


	SELECT @changeYearDataID AS changeYearDataID; -- return back to the caller i.e. front-end
	
	EXEC inst_basic.SchoolYearChange @changeYearDataID;
	
	END

ELSE IF (@OperationType = 2) AND (@status=1) AND (@changeYearDataID IS NOT NULL)
		BEGIN
			UPDATE inst_year.ChangeYearData
			SET ChangeYearStatusID = 2
			WHERE ChangeYearDataID = @changeYearDataID; 
		END

ELSE
	THROW 99004, 'Procedure [inst_basic].[SchoolYearChangeHeader] - Error! Illegal CONTEXT or MASTER Obejects params! Please contact DEV/support team.', 1;

	EXEC [logs].logEvent @_json, @OperationType, 103, 'InstitutionChangeData', @instID, NULL;

--ROLLBACK TRANSACTION
COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	UPDATE inst_year.ChangeYearData
		SET ChangeYearStatusID = 99
	WHERE ChangeYearDataID = @changeYearDataID;

	EXEC [logs].logError @_json, @OperationType, 103, 'ChangeYearData', @instID, NULL;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [inst_year].[ChangeYearData] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH




/* ************ END OF PROCEDURE ************ */


