USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[SchoolYearChangeEduStateJob]    Script Date: 8/26/2022 8:36:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [inst_basic].[SchoolYearChangeEduStateJob]
AS

BEGIN TRANSACTION
BEGIN TRY
DECLARE @rcU int, @rcD int;
	-- за завършващи - ъпдейтваме EducationalState с PositionID = 9 за тези ученици, които са от завършващи паралелки 
	--DECLARE @pos9Output table (eduStateId int)

	--UPDATE ES
	--	SET PositionID = 9
	--OUTPUT inserted.EducationalStateID INTO @pos9Output (eduStateId)
	--FROM core.EducationalState AS ES
	--INNER JOIN [inst_basic].[changeYearEduStateTemp] eduStTemp
	--	ON eduStTemp.EduStateID = ES.EducationalStateID
	--		AND eduStTemp.personId = ES.PersonID
	--		AND eduStTemp.institutionID = ES.InstitutionID
	--WHERE eduStTemp.Status = 1 -- данните, които не са наляти в ES
	--	AND eduStTemp.OperationTypeID = 1; --данните, които трябва да ъпдейтна

	--SET @rcU = @@ROWCOUNT;

	--UPDATE [inst_basic].[changeYearEduStateTemp]
	--	SET Status = 2 --сетваме данните на отразени вече в ES
	--WHERE EduStateID IN (SELECT eduStateId FROM @pos9Output)


	--завършващи ученици от BаsicClass>=12 се изтриват от EducationalState
	DECLARE @delOutput table (eduStateId int)

	DELETE ES 
	OUTPUT deleted.EducationalStateID INTO @delOutput (eduStateId)
	FROM core.EducationalState ES
	INNER JOIN [inst_basic].[changeYearEduStateTemp] eduStTemp
		ON eduStTemp.EduStateID = ES.EducationalStateID
			AND eduStTemp.personId = ES.PersonID
			AND eduStTemp.institutionID = ES.InstitutionID
	WHERE eduStTemp.Status = 1 -- данните, които не са наляти в ES
		AND eduStTemp.OperationTypeID = 2; --данните, които трябва да изтрия
	
	SET @rcD = @@ROWCOUNT;

	UPDATE [inst_basic].[changeYearEduStateTemp]
		SET Status = 2
	WHERE EduStateID IN (SELECT eduStateId FROM @delOutput)

	--свършена работа
	INSERT INTO [inst_basic].[changeYearJobTemp]
	([Timestamp], RowCountUpdated, RowCountDeleted)
	VALUES (GETDATE(), /*@rcU*/ 0, @rcD)

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError '', 0, 0, '[inst_basic].[SchoolYearChangeEduStateJob]', 0, NULL;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH


