@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';
@import '~@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/mixins';

footer {
  background-color: $white;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1030;
  box-shadow: $box-shadow-top;
}

@include media-breakpoint-down(sm) {
  footer {
    height: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
