// .l-radio-container {
//   display: flex;
//   flex-direction: column;
//   border: 1px solid rgb(0 0 0 / 12%);
//   border-radius: 5px;
//   padding: 5px 10px;
//   margin-top: 5px !important;
//   margin: 0 5px;
//   .l-radio-label {
//     color: rgba(0, 0, 0, 0.6);
//     transform: translateY(-1.59375em) scale(0.75);
//     width: 133.3333333333%;
//     width: fit-content;
//     padding: 1px 5px;
//     position: absolute;
//     margin-top: 1px;
//     background-color: white;
//     margin-left: -10px;
//   }
// }
.l-container-component {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 10px;
    margin-right: 25px;
    
    .container-radio {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(0 0 0 / 12%);
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 10px;
    }
    .l-input {
        margin: 0 10px;
    }
}