@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';
@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/mixins';

.report-builder-content {
  height: calc(100vh - 200px); // header height + second-nav height + footer height = 200px
  margin-top: calc(4rem + 64px + var(--info-strip-height));
  margin-left: 355px;
  transition: all 0.5s ease, margin-top 0.3s ease;
  overflow: hidden;
  &.toggled {
    margin-left: 0;
  }
}

@include media-breakpoint-down(lg) {
  .report-builder-content {
    margin-left: 0px;
    .backdrop {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(31, 35, 41, 0.5);
      transition: background-color 0.5s ease;
      z-index: 3;
    }
  }
}

@include media-breakpoint-down(sm) {
  .report-builder-content {
    height: calc(100vh - 241px); // header height + second-nav height + footer height = 200px
  }
}
