<form [formGroup]="form" autocomplete="off" novalidate>
  <sb-tab-card>
    <ng-container card-title>
      {{ modeTitle }}
    </ng-container>
    <sb-editor-panel
      card-buttons
      [isNew]="true"
      (save)="onSave($event)"
      [backBtnRouteCommands]="['../../../']"
    ></sb-editor-panel>
    <ng-container card-body>
      <div class="sm:flex justify-between items-end mb-2.5">
        <sb-paginator [items]="weekPaginatorItems"></sb-paginator>

        <ng-container *ngIf="data.individualCurriculumStudents.length">
          <div class="hidden md:block w-[400px]">
            <mat-select
              placeholder="Разписание"
              class="sb-form-control mb-2.5 max-w-full truncate"
              [formControl]="individualCurriculumStudentControl"
            >
              <mat-option [value]="''">Разписание на паралелката</mat-option>
              <mat-option *ngFor="let student of data.individualCurriculumStudents" [value]="student.id">
                Разписание ИУП {{ student.name }}
                <span *ngIf="student.badge" class="sb-badge text-sm">{{ student.badge }}</span>
              </mat-option>
            </mat-select>
          </div>

          <div class="block md:hidden mt-2.5">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Разписание</mat-label>
              <mat-select [formControl]="individualCurriculumStudentControl">
                <mat-option value="class">Разписание на паралелката</mat-option>
                <mat-option *ngFor="let student of data.individualCurriculumStudents" [value]="student.id">
                  Разп. ИУП {{ student.name }} {{ student.badge }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
      </div>

      <sb-banner *ngIf="hasPastMonthLockMessage" class="mb-2.5" type="info">
        {{ hasPastMonthLockMessage }}
      </sb-banner>

      <div class="sb-table-container">
        <table class="sb-table sb-schedule-table">
          <thead>
            <tr>
              <th class="p-0 w-px whitespace-nowrap text-center">Ден</th>
              <th class="sb-schedule-subject">Час/Предмет</th>
              <th>{{ isAbsence ? 'Отсъствали' : 'Присъствали' }}</th>
              <th *ngIf="data.mode === ABSENCES_EDIT_MODE_NEW" class="p-0 w-px"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let day of scheduleByDay; index as j">
              <ng-container *ngIf="day.hours.length && !day.isOffDay">
                <tr *ngFor="let hour of day.hours; index as i">
                  <td
                    class="sb-schedule-day w-px whitespace-nowrap"
                    *ngIf="i === 0"
                    [attr.rowspan]="day.hours.length + 1"
                  >
                    <div>
                      <div>{{ day.dayString }}</div>
                      <div class="text-sm">{{ day.dateString }}</div>
                    </div>
                  </td>
                  <td class="sb-schedule-subject">
                    <div>
                      <span>{{ hour.hourNumber }}.</span>
                      <ng-container *ngIf="hour.curriculumId">
                        <span class="inline sm:hidden">
                          {{ hour.subjectShort }}
                          {{ hour.teacherShort ? ' - ' + hour.teacherShort : '' }}
                        </span>
                        <span class="hidden sm:inline">
                          {{ hour.subject }}
                          {{ hour.teacher ? ' - ' + hour.teacher : '' }}
                        </span>
                      </ng-container>
                    </div>
                  </td>
                  <td class="p-0.5">
                    <sb-absence-chips
                      *ngIf="!hour.isEmptyHour"
                      [absenceChips]="hour.absenceChips"
                      [disableInput]="data.mode !== ABSENCES_EDIT_MODE_NEW || !hour.canEdit"
                      (selected)="absenceSelected(hour, $event)"
                      (added)="absenceAdded(hour, $event)"
                      (removedLast)="removeLastAbsence(hour)"
                    ></sb-absence-chips>
                  </td>
                  <td *ngIf="data.mode === ABSENCES_EDIT_MODE_NEW" class="p-0.5">
                    <button
                      *ngIf="hour.curriculumId && !hour.isEmptyHour"
                      title="Отвори списък с ученици"
                      aria-label="Отвори списък с ученици"
                      class="flex-none min-w-0 leading-8 h-8 px-1.5 ml-0.5"
                      mat-raised-button
                      type="button"
                      (click)="openAbsencesEditDialog(hour)"
                      [disabled]="!hour.canEdit"
                    >
                      <fa-icon [icon]="fasAlignJustify"></fa-icon>
                    </button>
                  </td>
                </tr>
                <tr class="bg-gray-100 h-2">
                  <td class="p-1" colspan="3"></td>
                </tr>
              </ng-container>
              <tr *ngIf="!day.hours.length || day.isOffDay">
                <td class="sb-schedule-day w-px p-2 whitespace-nowrap">
                  <div>
                    <div>{{ day.dayString }}</div>
                    <div class="text-sm">{{ day.dateString }}</div>
                  </div>
                </td>
                <td
                  colspan="3"
                  class="text-center align-middle bg-gray-100 text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  {{ !day.isOffDay ? 'Няма въведена програма за деня' : 'Неучебен ден' }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
  </sb-tab-card>
</form>
