@import "@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables.scss";

:host ::ng-deep {
    @media (min-width: 200px) {
        .p-dialog {
            min-width: 50%;

            &.p-confirm-dialog .p-confirm-dialog-icon {
                margin-right: 0.625rem;
                color: $yellow;
            }
        }
    }
}

.posititon-right {
    float: right;
}