@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';

.modal {
  &-body {
    color: $gray-700;
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  &.show {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 35, 41, 0.5);
  }
}
