<form class="dynamic-form" *ngIf="form" [formGroup]="formGroup"
    [ngClass]="{'view-mode': mode === modes.View, 'new-inst': isNew, 'history-mode': isHistoryActive && historyPosition !== 0, 'history-mode-last-version': isHistoryActive && historyPosition === 0}">
    <div class="wrapper-card different-view">
        <div class="l-container-card">
            <ng-container *ngFor="let section of form?.sections">
                <mat-card class="section-card" color="primary" *ngIf="!section.hidden && section.rendered !== false">
                    <mat-card-header class="bg-cornflower-blue">
                        <mat-card-title>{{ section.label }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="wrapper-body">
                            <ng-container *ngFor="let subsection of section?.subsections">
                                <app-subsection *ngIf="!subsection.hidden && subsection.rendered !== false && hasNonHiddenField(subsection)"
                                    [instid]="instid" [instKind]="instKind" [subsection]="subsection" [formGroup]="getFormGroup(subsection)"
                                    [wholeFormGroup]="formGroup" [mode]="mode" (sectionChanged)="onSectionChanged($event, section)"
                                    (influenceChanged)="onInfluenceChanged($event)" (selectionChange)="onSelectionChange($event)"></app-subsection>
                            </ng-container>
                        </div>
                        <ng-container *ngIf="section.table">
                            <app-table [table]="section.table" [mode]="mode" [parentGroup]="formGroup"
                                (addRecordActive)="(addRecordActive = $event)"></app-table>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </div>
    <div class="l-footer-control-container" *ngIf="mode !== modes.View">
        <button type="button" mat-raised-button color="secondary" class="back-button"
            (click)="navigate()"><mat-icon>cancel</mat-icon><span>Отказ</span></button>
        <button type="button" mat-raised-button color="primary" onclick="window.print()" class="print-button"
            [disabled]="addRecordActive"><mat-icon>print</mat-icon><span>Печат</span></button>
        <button type="button" mat-raised-button color="primary" *ngIf="form.isDraft" [disabled]="!formGroup.valid || addRecordActive"
            (click)="onSubmit($event, false)"><mat-icon>save</mat-icon><span>Запази чернова</span></button>
        <button type="button" mat-raised-button color="primary" *ngIf="form.isDraft === false" [disabled]="!formGroup.valid || !statusFinal()"
            (click)="onSubmit($event, true)"><mat-icon>save</mat-icon><span>Запази и приключи</span></button>
    </div>
</form>