.accordion {
  &-body {
    padding: $accordion-body-padding-y * 0.5 $accordion-body-padding-x
      $accordion-body-padding-y;
  }
  &-button {
    box-shadow: $accordion-box-shadow;
    &:not(.collapsed) {
      color: $accordion-button-active-color;
      background-color: $accordion-button-active-bg;
      box-shadow: none;
    }

    &:focus {
      box-shadow: $accordion-button-focus-box-shadow;
    }
  }

  &-item {
    box-shadow: $accordion-box-shadow;
  }

  &-header {
    i {
      z-index: 6;
      margin-right: 1rem;
      font-size: 2.375rem;
    }
    &.header-with-icon {
      position: relative;
      > button {
        padding-left: 4.5rem;
      }
      &::before {
        content: "\F431";
        font-family: "bootstrap-icons";
        position: absolute;
        z-index: 6;
        font-weight: normal;
        left: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2.375rem;
      }
    }
  }

  &-subtext {
    color: $accordion-subtext-color;
  }
}
