.boreder-radius-sm {
    border-radius: $border-radius-sm;
}

.boreder-radius-md {
    border-radius: $border-radius;
}

.boreder-radius-lg {
    border-radius: $border-radius-lg;
}

.boreder-radius-pill {
    border-radius: $border-radius-pill;
}