.color-blue-100 {
    color: $blue-100;
}
.bg-color-blue-100 {
    background-color: $blue-100;
}
.color-blue-200 {
    color: $blue-200;
}
.bg-color-blue-200{
    background-color: $blue-200;
}
.color-blue-300 {
    color: $blue-300;
}
.bg-color-blue-300 {
    background-color: $blue-300;
}
.color-blue-400 {
    color: $blue-400;
}
.bg-color-blue-400 {
    background-color: $blue-400;
}
.color-blue-500 {
    color: $blue-500;
}
.bg-color-blue-500 {
    background-color: $blue-500;
}

.color-white {
    color: $white;
}
.bg-color-white {
    background-color: $white;
}
.color-gray-100 {
    color: $gray-100;
}
.bg-color-gray-100 {
    background-color: $gray-100;
}
.color-gray-200 {
    color: $gray-200;
}
.bg-color-gray-200 {
    background-color: $gray-200;
}
.color-gray-300 {
    color: $gray-300;
}
.bg-color-gray-300 {
    background-color: $gray-300;
}
.color-gray-400 {
    color: $gray-400;
}
.bg-color-gray-400 {
    background-color: $gray-400;
}
.color-gray-500 {
    color: $gray-500;
}
.bg-color-gray-500 {
    background-color: $gray-500;
}
.color-gray-600 {
    color: $gray-600;
}
.bg-color-gray-600 {
    background-color: $gray-600;
}
.color-gray-700 {
    color: $gray-700;
}
.bg-color-gray-700 {
    background-color: $gray-700;
}
.color-gray-800 {
    color: $gray-800;
}
.bg-color-gray-800 {
    background-color: $gray-800;
}
.color-gray-900 {
    color: $gray-900;
}
.bg-color-gray-900 {
    background-color: $gray-900;
}


.color-green-100 {
    color: $green-100;
}
.bg-color-green-100 {
    background-color: $green-100;
}
.color-green-200 {
    color: $green-200;
}
.bg-color-green-200{
    background-color: $green-200;
}
.color-green-300 {
    color: $green-300;
}
.bg-color-green-300 {
    background-color: $green-300;
}
.color-green-400 {
    color: $green-400;
}
.bg-color-green-400 {
    background-color: $green-400;
}
.color-green-500 {
    color: $green-500;
}
.bg-color-green-500 {
    background-color: $green-500;
}


.color-yellow-100 {
    color: $yellow-100;
}
.bg-color-yellow-100 {
    background-color: $yellow-100;
}
.color-yellow-200 {
    color: $yellow-200;
}
.bg-color-yellow-200{
    background-color: $yellow-200;
}
.color-yellow-300 {
    color: $yellow-300;
}
.bg-color-yellow-300 {
    background-color: $yellow-300;
}
.color-yellow-400 {
    color: $yellow-400;
}
.bg-color-yellow-400 {
    background-color: $yellow-400;
}
.color-yellow-500 {
    color: $yellow-500;
}
.bg-color-yellow-500 {
    background-color: $yellow-500;
}

.color-red-100 {
    color: $red-100;
}
.bg-color-red-100 {
    background-color: $red-100;
}
.color-red-200 {
    color: $red-200;
}
.bg-color-red-200{
    background-color: $red-200;
}
.color-red-300 {
    color: $red-300;
}
.bg-color-red-300 {
    background-color: $red-300;
}
.color-red-400 {
    color: $red-400;
}
.bg-color-red-400 {
    background-color: $red-400;
}
.color-red-500 {
    color: $red-500;
}
.bg-color-red-500 {
    background-color: $red-500;
}


.color-chart-mono-1 {
    color: $chart-mono-1;
}
.bg-color-chart-mono-1 {
    background-color: $chart-mono-1;
}
.color-chart-mono-2 {
    color: $chart-mono-2;
}
.bg-color-chart-mono-2 {
    background-color: $chart-mono-2;
}
.color-chart-mono-3 {
    color: $chart-mono-3;
}
.bg-color-chart-mono-3 {
    background-color: $chart-mono-3;
}
.color-chart-mono-4 {
    color: $chart-mono-4;
}
.bg-color-chart-mono-4 {
    background-color: $chart-mono-4;
}
.color-chart-mono-5 {
    color: $chart-mono-5;
}
.bg-color-chart-mono-5 {
    background-color: $chart-mono-5;
}
.color-chart-mono-6 {
    color: $chart-mono-6;
}
.bg-color-chart-mono-6 {
    background-color: $chart-mono-6;
}


.color-chart-1 {
    color: $chart-1;
}
.bg-color-chart-1 {
    background-color: $chart-1;
}
.color-chart-2 {
    color: $chart-2;
}
.bg-color-chart-2 {
    background-color: $chart-2;
}
.color-chart-3 {
    color: $chart-3;
}
.bg-color-chart-3 {
    background-color: $chart-3;
}
.color-chart-4 {
    color: $chart-4;
}
.bg-color-chart-4 {
    background-color: $chart-4;
}
.color-chart-5 {
    color: $chart-5;
}
.bg-color-chart-5 {
    background-color: $chart-5;
}
.color-chart-6 {
    color: $chart-6;
}
.bg-color-chart-6 {
    background-color: $chart-6;
}