.shadow-low {
    box-shadow: $box-shadow-sm;
}

.shadow-med {
    box-shadow: $box-shadow;
}

.shadow-high {
    box-shadow: $box-shadow-lg;
}

.shadow-top {
    box-shadow: $box-shadow-top;
}

.shadow-left {
    box-shadow: $box-shadow-left;
}

.shadow-right {
    box-shadow: $box-shadow-right;
}