// To be able to use a tooltip, it must be enabled using the following code in app.component.ts
//
// for (let tooltipNode of Array.from(
//   document.querySelectorAll('button[data-bs-toggle="tooltip"]')
// )) {
//   new Tooltip(tooltipNode);
// }
//

.tooltip {
  &-inner {
    text-align: left;
    width: 13rem;
    i {
      color: $green;
      margin-right: 0.5rem;
      font-size: 0.75rem;
    }
  }
}
