.p-small {
  font-size: $font-size-sm;
  line-height: $p-small-line-height;
}

.xsmall {
  font-size: $font-size-xs;
  line-height: $xsmall-line-height;
}

.tiny {
  font-size: $font-size-tiny;
  line-height: $tiny-line-height;
}
