@import './variables/variables';
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.scss';
@import 'bootstrap-avatar/scss/avatar';
@import './functions';
@import './mixin';
@import './reboot';
@import './forms/common-classes';
@import './typography';
@import './border-radius';
@import './colors';
@import './avatar';
@import './forms/radio';
@import './avatar';
@import './badge';
@import './nav';
@import './tooltip';
@import './shadow';
@import './forms/forms';
@import './forms/checkbox';
@import './forms/switch';
@import './forms/dropdown';
@import './buttons';
@import './modal';
@import './alert';
@import './table';
@import './card';
@import './accordion';
