.l-custom-main-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  transition: 0.3s all;
  position: absolute;
  min-width: 212px;
  z-index: 1000;
  .button-item {
    &.active {
      &:hover {
        transition: 0.3s all;
        color: #2f73da;
        cursor: pointer;
      }
      color: #2f73da;
    }
    &:hover {
      transition: 0.3s all;
      cursor: pointer;
      color: #2f73da;
    }
    &:focus {
      outline: none;
    }
    &:active {
      transition: 0.3s all;
      outline: none;
    }
    height: auto;
    min-height: 35px;
    padding: 10px 12px !important;
    transition: 0.3s all;
    font-size: 13px;
    line-height: 14px;
    font-weight: 700;
    color: #121417;
    text-decoration: none;
    border-bottom: 1px solid #cdd3dd;
    border-radius: 0;
    width: calc(212px - 20px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    .material-icons{
      margin-right: 10px;
      width: 24px;
    }
    .span-name {
      flex-grow: 100;
    }
    .custom-icon {
      width: 24px;
      height: 24px;
    }
    transition: 0.3s all;
  }
}
.save-all-btn {
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  margin-right: 7px;
  width: 185px;
  white-space: normal;
  line-height: normal;
  font-size: 14px;
  padding: 5px 5px 7px 5px;
  border-radius: 10px !important;
  position: fixed;
  bottom: 15px;
  margin-left: 12px;
  z-index: 1;
  mat-icon {
    margin-right: 5px;
  }
}