.body-footer-container {
    background-color: white;
    padding: 7px !important;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    .span-footer-body {
      font-size: 11px;
      line-height: 14px;
    }
  }