<div class="center">
    <div class="full-wrapper">
        <span>Регистърът на институциите се поддържа от Министерството на образованието и науката на основание чл.345 от Закона за предучилищното и училищното образование и Наредба №2 от 24 януари 2017г. Регистъра на институциите в системата на предучилищното и училищното образование.</span>
        <span class="m-t-30">Регистъра съдържа информация за институциите в системата на предучилищното и училищното образование в Република България:</span>
        <ul>
            <li>Държавни детски градини, държавни и общински училища и държавните и общински центрове за специална образователна подкрепа</li>
            <li>Специализирани обслужващи звена</li>
            <li>Духовни училища</li>
            <li>Частни детски градини и училища</li>
        </ul>
        <span>За да получите информация, относно данните за действащи институции в Регистъра, моля натиснете бутона "Действащи институции", ако искате да получите информация за институции, които са заличени или закрити, моля натиснете бутона "Закрити институции".</span>
        <div class="button-wrapper">
            <button mat-raised-button color="primary" class="btn-add-institution" [routerLink]="['/', menu.Active]" (click)="clear()"><span>Действащи институции</span></button>
            <button mat-raised-button color="primary" class="btn-add-institution" [routerLink]="['/', menu.Inactive]" (click)="clear()"><span>Закрити институции</span></button>
        </div>
    </div>
</div>