    .center {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        .full-wrapper {
            max-height: calc(100vh - 202px);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 20px 20px 15px 20px;
            max-width: 1500px;
            overflow: auto;
            .btn-add-institution {
                margin: 15px 25px;
            }
            .max-width-none {
                max-width: none !important;
            }
            .button-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                width: 100%;
            }
        }
    }
    
    .m-t-30 {
        margin-top: 30px;
    }
    
    @media screen and (min-width: 570px) and (max-width: 839px) {
        .center {
            .full-wrapper {
                max-height: calc(100vh - 150px);
            }
        }
    }
    
    @media screen and (min-width: 529px) and (max-width: 569px) {
        .center {
            .full-wrapper {
                max-height: calc(100vh - 170px);
            }
        }
    }
    
    @media screen and (min-width: 300px) and (max-width: 528px) {
        .center {
            .full-wrapper {
                max-height: calc(100vh - 188px);
            }
        }
    }