@use './_variables.scss' as variables;
@use "@material/theme" with (
  $primary: black,
  $secondary: variables.$gray,
  $on-primary: variables.$lucky-point,
  $on-secondary: variables.$silver,
);
@use "@material/button";

.full-width {
  width: auto;
  display: block;
}
.success-message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  color: #28a745;
}
.error-msg {
  margin: 1em 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #e7141e;
  background-color: #ffbaba;
  font-size: 0.8em;
}
.forgot-password-page {
  height: 100vh;
  width: 100%;
  background: transparent;
  position: relative;
  .overlay-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(25, 25, 112, 0.75), rgba(25, 25, 112, 0.75));
  }
  &-wrapper {
    height: inherit;
    align-items: center;
    .mon-logo img {
      height: 65px;
      width: auto;
    }
    .left-col {
      z-index: 3;
      .mon-logo {
        margin-bottom: 50px;
      }
      .page-title {
        color: variables.$white;
        h1 {
          line-height: 1;
        }
      }
    }
    .right-col {
      .form-wrapper {
        padding: 50px;
        .form-title {
          text-align: center;
          // margin-bottom: 65px;
          h2 {
            color: variables.$stratos;
            margin-bottom: 0.25em;
          }
          p {
            &.subtitle {
              font-size: 1.625em;
              color: variables.$gray;
            }

            &.info-text {
              font-style: italic;
            }
          }
        }
        .azure-info {
          font-size: 0.8em;
          font-style: italic;
          margin: 0;
        }
        .email-input {
          width: auto;
          display: flex;
          margin: 1.5em 0 0.5em 0;
        }
        .mdc-form-field .mdc-checkbox {
          margin-left: -10px;
        }
        .mdc-form-field
          .mdc-checkbox
          .mdc-checkbox__native-control:enabled:checked
          ~ .mdc-checkbox__background {
          border-color: #4f419f;
          background-color: #4f419f;
        }
        .forgot-password-actions {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          line-height: 1;
          margin-top: 10px;
          a {
            color: #4f419f;
            padding: 0;
            text-decoration: none;
            position: relative;
            &:hover {
              cursor: pointer;
            }
            &:hover::before {
              visibility: visible;
              width: 100%;
            }
            &::before {
              content: '';
              position: absolute;
              width: 0;
              height: 1px;
              bottom: 0;
              left: 0;
              background-color: #4f419f;
              visibility: hidden;
              transition: all 0.3s ease-in-out 0s;
            }
          }
          .mat-checkbox {
            padding-bottom: 2px;
          }
          .mdc-form-field {
            width: 100%;
          }
        }
        .submit-btn-wrapper {
          margin-top: 25px;
          width: 100%;

          &.integration-form {
            margin-top: 0;
          }

          button {
            width: 100%;
            background-color: #4f419f;
            border-radius: 20px;
            &:hover {
              background-color: #191970;
            }
          }
          > div {
            text-align: center;
            margin-top: 0.75em;
            span {
              color: white;
              font-weight: bold;
            }
            a {
              padding: 0;
              line-height: 1;
              color: #4f419f;
              text-decoration: none;
              position: relative;
              &:hover {
                cursor: pointer;
              }
              &:hover::before {
                visibility: visible;
                width: 95%;
              }
              &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: #4f419f;
                visibility: hidden;
                transition: all 0.3s ease-in-out 0s;
              }
            }
          }

          .forgot-password-integration-text {
            margin: 0.75em;
          }
        }

        .success-button-wrapper {
          margin-top: 2em;
          display: block;
          text-align: center;

          a,
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  @include variables.respond-below(sm) {
    overflow: auto;
    &-wrapper {
      overflow: auto;
      padding-top: 3em;
      padding-bottom: 3em;
      .left-col {
        .mon-logo {
          display: none;
        }
        .page-title {
          text-align: center;
        }
      }
      .right-col {
        .form-wrapper {
          padding: 40px 16px;
          .form-title {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}
