<div class="l-focused-element fake-table-element display-none-element" (click)="focus()" [ngClass]="{'focused': updateJsonService.focusedElement.index === table.idntfr}">
    <span class="l-custom-info-span">таблица</span>
    <div>
      <mat-card-header class="flex-column color-label-table">
        <mat-card-title *ngIf="table.label"><span>{{ table.pseudoLabel }}</span></mat-card-title>
      </mat-card-header>
      <div class="table-fake-grid opacity-error">
        <app-help *ngIf="table.help" [helpText]="table.help"></app-help>
        <div class="l-focused-element fake-row-focused-element display-none-element" [style.width.%]="calcColumnWidth(field.width)" *ngFor="let field of table.fields" [ngClass]="{'focused': updateJsonService.focusedElement.index === field.idntfr}" (click)="focusField(field)">
          <span class="l-custom-info-span">колона</span>
          <div class="fake-row">
            <span class="fake-row-header">
              <span class="flex-100">
                <span class="span-100">{{ field.pseudoLabel }}</span>
              </span>
              <div class="search-field-th" *ngIf="table.searchable !== false && table.searchType === 'column'">
                <mat-icon class="search-custom-icon">search</mat-icon>
                <mat-form-field class="block-field default-field padding-0 mat-form-field-search-container" floatLabel="never">
                  <input matInput disabled />
                </mat-form-field>
              </div>
            </span>
            <span class="fake-row-body"></span>
          </div>
        </div>
      </div>
    </div>
</div>
  