<div class="page" style="text-align: center; max-width: 800px; margin: 0 auto;">

  <h1 style="margin-bottom: 30px;">Права и задължения на ученика</h1>

  <h2>Учениците имат следните права:</h2>
  <ol style="text-align: left;">
    <li>да бъдат обучавани и възпитавани в здравословна, безопасна и сигурна среда;</li>
    <li>да бъдат зачитани като активни участници в образователния процес;</li>
    <li>да избират профила и професията;</li>
    <li>да избират между учебните предмети или модули, предложени от училището за изучаване в раздел Б и В от учебния план;</li>
    <li>да получават библиотечно-информационно обслужване;</li>
    <li>да получават информация относно обучението, възпитанието, правата и задълженията си;</li>
    <li>да получават обща и допълнителна подкрепа за личностно развитие;</li>
    <li>да бъдат информирани и консултирани във връзка с избора на образование и/или професия;</li>
    <li>да участват в проектни дейности;</li>
    <li>да дават мнения и предложения за училищните дейности, включително за избираемите и за факултативните учебни часове;</li>
    <li>чрез формите на ученическо самоуправление да участват в обсъждането при решаване на въпроси, засягащи училищния живот и училищната общност, в т.ч. училищния учебен план;</li>
    <li>да получават съдействие от училището и от органите на местното самоуправление при изразяване на мнението си по въпроси, които пряко ги засягат, както и при участие в живота на общността;</li>
    <li>да бъдат поощрявани с материални и морални награди.</li>
  </ol>

  <h2>Учениците имат следните задължения:</h2>
  <ol style="text-align: left;">
    <li>да присъстват и участват в учебните часове и занимания;</li>
    <li>да съхраняват авторитета на училището и училищната общност и да допринасят за развитие на добрите традиции;</li>
    <li>да зачитат правата, честта и достойнството на другите, както и да не прилагат физическо или психическо насилие;</li>
    <li>да носят училищната униформа и другите отличителни знаци на училището, когато такива са предвидени, или да се явяват в училището в облекло и във вид съгласно изискванията на училищния правилник;</li>
    <li>да не участват в хазартни игри, да не употребяват тютюн и тютюневи изделия, алкохол и наркотични вещества;</li>
    <li>да не носят оръжие, както и други предмети, които са източник на повишена опасност;</li>
    <li>да носят ученическата си лична карта в училище и извън него;</li>
    <li>да представят на своите родители и на педагогическите специалисти ученическата си книжка;</li>
    <li>да спазват правилата за поведение в паралелката и в училище;</li>
    <li>да спазват правилника за дейността на институцията;</li>
    <li>да не възпрепятстват със своето поведение и постъпки нормалното протичане на учебните часове;</li>
    <li>да не ползват мобилните си телефони по време на учебните часове.</li>
  </ol>

  <p style="margin-top: 30px;"><em>Правилникът за дейността на институцията може да предвиди и други права и задължения на учениците.</em></p>

  <p style="font-weight: bold; margin-top: 40px;">Тел. 116 111 – Национална телефонна линия за деца</p>

</div>
