.l-container-component {
    min-height: 15px;
    .fake-container-mat-form-field {
        min-height: 15px;
        display: flex;
        .value-label {
            font: inherit;
            font-size: inherit;
            font-weight: 400;
            line-height: 1.125;
            font-family: Lato, sans-serif;
            letter-spacing: normal;
            border: 0;
        }
    }
}