@import '~@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';

.msg-wrapper {
    height: calc(100vh - 153px);
    padding: 2rem 8.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $gray-700;
    background-color: $gray-100;
    .icon {
        margin-bottom: 2rem;
        i {
            font-size: 4rem;
        }
    }
}
