<div class="check-up">
    <ul>
        <li (click)="exportExcel(checkup[0])">Справка за брой действащи институции по видове и области</li>
        <li (click)="exportExcel(checkup[1])">Справка за брой вписани, преобразувани и закрити/заличени институции по видове и области през последната учебна година</li>
        <li (click)="exportExcel(checkup[2])">Списък на вписани, преобразувани и закрити/заличени институции през последната учебна година</li>
        <li (click)="exportExcel(checkup[3])">Списък на действащи институции и данни за контакт</li>
    </ul>
</div>