.container-scroll-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  .btn-components {
    &:hover {
      transition: 0.3s all;
      box-shadow: 0px 0px 7px 0px #00000085;
      background-color: #ececec;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px;
    text-align: left;
    font-size: 15px;
    width: 167px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #656565;
    transition: 0.3s all;
    cursor: pointer;
    span {
      margin-right: 10px;
      &.r-90 {
        transform: rotate(180deg);
      }
    }
  }
}
.custom-navigation-json {
  margin: 0;
  padding: 5px 7px;
  list-style-type: none;
  overflow: auto;
  height: calc(100% - 50px);
  box-sizing: border-box;
  .li-item-json {
    white-space: normal;
    background-color: #54379f63;
    color: black;
    padding: 3px 5px;
    border-radius: 4px;
    margin-bottom: 7px;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    word-break: break-word;
    font-size: 15px;
    line-height: 15px;
    border: 1px solid #08004447;
    transition: 0.2s all;
    &:hover {
      background-color: #080044;
      color: white;
      transition: 0.2s all;
    }
    &.active-json {
      background-color: #080044;
      color: white;
      transition: 0.2s all;
    }
  }
}
.block-field {
  display: block;
  width: 177px;
  height: 30px;
  margin: 10px 0 10px 15px;
  mat-icon {
    width: auto;
    height: auto;
    line-height: normal;
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.623);
  }
}
.search-container {
  display: inline-block;
  width: fit-content;
  position: relative;
  margin: 5px;
  mat-icon {
    position: absolute;
    color: #2f73da;
    padding-top: 2px;
  }
  input {
    width: 162px;
    height: 25px;
    padding-left: 25px;
    border: 1px solid #657285;
    border-radius: 0.25rem;
    background-color: white;
  }
}
