.container-control {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid #0800446e;
    padding: 15px;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    .btn-edit {
        &[disabled] {
            opacity: 0.3;
        }
        width: 150px;
        white-space: normal;
        line-height: 1;
        padding-top: 3px;
        padding-bottom: 5px;
        margin-right: 10px;
    }
    .btn-delete {
        &[disabled] {
            opacity: 0.3;
        }
        width: 150px;
        white-space: normal;
        line-height: 1;
        padding-top: 3px;
        padding-bottom: 5px;
    }
    .btn-document {
        &[disabled] {
            opacity: 0.3;
        }
        height: 38px;
        width: 150px;
        white-space: normal;
        line-height: 1;
        padding-top: 3px;
        padding-bottom: 5px;
        margin-left: 10px;
    }
    .more-options {
        margin-left: 10px;
    }
    .btn-current {
        &.active {
            background-color: #4f419f;
            color: white;
            // height: 48px;
            // font-size: 19px;
            // line-height: 18px;
        }
        &:hover {
            background-color: #4f419f;
            color: white;
        }
        height: 40px;
        position: absolute;
        right: 150px;
        margin-right: 10px;
        margin-left: 10px;
        transition: 0.1s all;
        border: 1px solid #00000036;
        mat-icon {
            margin-right: 5px;
        }
    }
    .btn-history {
        &.active {
            background-color: #4f419f !important;
            color: white;
            // height: 48px;
            // font-size: 19px;
            // line-height: 18px;
        }
        &:hover {
            background-color: #4f419f;
            color: white;
        }
        margin-right: 10px;
        background-color: #80808061;
        transition: 0.1s all;
        border: 1px solid #00000036;
        position: absolute;
        right: 0;
        height: 40px;
        mat-icon {
            margin-right: 5px;
        }
    }
}

.btn-corection {
    &:hover {
        background-color: #a75526;
        transition: 0.3s all;
    }
    &[disabled] {
        opacity: 0.3;
    }
    background-color: #c7662d;
    color: white;
    text-shadow: 1px 1px 3px black;
    line-height: 15px;
    height: 38px;
    width: 155px;
    white-space: normal;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1px;
    transition: 0.3s all;
}

.btn-renewal {
    &:hover {
        background-color: rgb(36, 139, 23);
        transition: 0.3s all;
    }
    &[disabled] {
        opacity: 0.3;
    }
    background-color: #39b828;
    color: white;
    text-shadow: 1px 1px 3px black;
    line-height: 15px;
    height: 38px;
    width: 155px;
    white-space: normal;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1px;
    transition: 0.3s all;
}

.btn-cancellation {
    &:hover {
        background-color: rgb(94, 94, 94);
        transition: 0.3s all;
    }
    &[disabled] {
        opacity: 0.3;
    }
    background-color: #818181;
    color: white;
    text-shadow: 1px 1px 3px black;
    line-height: 15px;
    height: 38px;
    width: 155px;
    white-space: normal;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1px;
    transition: 0.3s all;
}