:host ::ng-deep .sb-fa-rotate-135 svg {
  transform: rotate(135deg);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: theme('colors.blue.500');
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: theme('colors.blue.500');
}

.bold-text {
  font-weight: bold;
}
