@{

    ViewBag.Tittle = "Грешка";
    ViewBag.Error = "Не е намерен сертификат!";
}

<div class="row page-header">
    <h2 class="text-danger">Не е намерен сертификат!</h2>
    <h4>Моля уверете се, че електронният подпис е включен и е правилно конфигуриран за работа с текущия браузър!</h4>
    <p>
        Браузърите, които поддържат подписване, са Internet Explorer версия 8 и по-висока (с инсталирана приставка CAPICOM) или Mozilla
        Firefox версия 45 или по-висока (с инсталирана приставка SignTextJS Plus).
    </p>
    <p>
        Локален сървър за достъп до електронни сертификати от сайта на <a href="https://students.mon.bg/software/localServer" target=_blank>НЕИСПУО</a>
    </p>
</div>

