@{
    ViewBag.Tittle = "Грешка";
    ViewBag.Error = "Няма връзка с НЕИСПУО, моля опитайте отново по късно!";
}

<div class="row page-header">
    <h2 class="text-danger">@ViewBag.Error</h2>
</div>

