@import "@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables.scss";

.dropdown {
  &::before {
    content: '';
    width: 1px;
    height: 32px;
    background-color: $white;
    position: absolute;
    left: 0;
    opacity: 0.5;
  }
  &::after {
    display: none;
  }
  &-toggle {
    height: 32px;
    font-size: $font-size-sm;
    padding: 0 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-size: 0;
    &-content {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0.5rem;
      max-width: 15rem;
      width: 100%;
      line-height: 1.25;
      overflow: hidden;
      > span {
        overflow: hidden;
        text-overflow: ellipsis;
        color: $white;
        width: inherit;
        &:nth-child(1) {
          text-transform: uppercase;
          font-weight: bold;
        }
        &:nth-child(2) {
          font-size: 10px;
          font-weight: normal;
        }
      }
    }
    &::after {
      content: '\F282';
      font-family: 'bootstrap-icons';
      border: none;
      margin-left: 0.5rem;
      color: $white;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      text-decoration: none;
    }
    &.show {
      &::after {
        content: '\F286';
      }
    }
  }
  .mobile-avatar {
    display: none;
    font-size: 1.125rem;
  }
  .dropdown-menu-end {
    right: -1rem;
  }
  .user-menu {
    width: max-content;
    padding: 1.5rem;
    margin-top: 0.5rem;
    z-index: 1001;
    .user-info-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 1.75rem;
      .user-avatar {
        height: 42px;
        min-width: 42px;
        width: 42px;
        font-size: 1.25rem;
        font-weight: 700;
      }
      .user-name {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .btn-link {
      width: fit-content;
    }
  }
}

@media (max-width: 768px) {
  .dropdown-toggle {
    display: none;
  }
  .dropdown .mobile-avatar {
    display: inline-block;
  }
}
