.sb-left-side {
  transition: transform 0.2s ease-in-out;
  transform: translate3d(-100%, 0, 0);
}

.sb-left-side.sb-left-side-open {
  transform: translateZ(0);
}

.mat-badge .mat-badge-content {
  right: 5%;
  top: 10%;
}
