.l-container-component {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: 10px;
  margin-right: 25px;
  margin-bottom: 15px;
  align-items: center;
  padding-bottom: 1.34375em;
  .wrap {
    border: 1px solid #00000017;
    border-radius: 3px;
    padding: 0 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &.upload-file-container {
      flex-direction: row;
      .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .required-span {
          font-size: 14px;
        }
        .icon-pdf {
          height: 28px;
          width: 26px;
          cursor: pointer;
        }
      }
      .btn-container {
        margin-left: 15px;
        .upload-button {
          border-radius: 50% !important;
          width: 30px;
          height: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-width: 30px;
          background-color: #15b25f;
          color: white;
          text-shadow: 1px 1px 3px black;
          line-height: normal;
        }
      }
    }
  }
  &.preview-mode {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 0;
    .wrap {
      border: 0;
      box-shadow: none;
      padding-bottom: 2px;
      cursor: default;
      &:hover{
        background-color: transparent;
      }
      .l-custom-span-label {
        color: rgba(0, 0, 0, 0.6);
        padding: 0;
        margin: 0;
        padding-left: 0;
        font-family: Avenir, Helvetica, Arial, sans-serif;
        font-size: 12px;
        display: inline-block;
      }
    }
    .icon-pdf {
      height: 28px;
      width: 26px;
      cursor: pointer;
    }
  }
}
