// Main colors
$thunder: #231f20;
$stratos: #000044;
$lucky-point: #191970;
$gigas: #4f419f;
$cornflower-blue: #e7eef9;

// Secondary colors
$gray: #8f8f8f;
$silver: #bfbfbf;
$concrete: #f2f2f2;
$white: #ffffff;

// State colors
$green: #00bb9a;
$yellow: #ffb400;
$red: #ec1d24;

// Backgrounds
$selago: #f1f1fe;

$primary: $gigas;
$success: $green;
$warning: $yellow;
$error: $red;
