.l-custom-main-tab {
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #080044;
  list-style: none;
  text-decoration: none;
  margin-top: -5px !important;
  .button-item {
    &.active {
      &:hover {
        background-color: #3f51b5;
        cursor: pointer;
      }
      background-color: #3f51b5;
    }
    &:hover {
      background-color: #3f51b594;
      cursor: pointer;
    }
    margin-right: 8px;
    height: auto;
    padding: 10px 10px !important;
    transition: 0.4s all;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-decoration: none;
  }
}
