<div class="block-container" [ngClass]="{'mon-ruo': isMonRuo}">
  <div class="filter-wrapper">
    <span class="l-custom-span-label">
      <span class="required-span">*</span>
      <span class="label-label">Година:</span>
    </span>
    <div class="l-select new-design-select" appearance="outline" matTooltipClass="l-custom-tooltip"
      [matTooltip]="s.selectedItems && s.selectedItems[0] ? s.selectedItems[0].label : ''">
      <ng-select #s [items]="years" virtualScroll="true" [clearable]="false" [(ngModel)]="year" [searchable]="false"
        notFoundText="Няма намерени резултати" (change)="onYearChange($event.code)">
      </ng-select>
    </div>
  </div>
  <div class="filter-wrapper">
    <span class="l-custom-span-label">
      <span class="required-span">*</span>
      <span class="label-label">Период:</span>
    </span>
    <div class="l-select new-design-select" appearance="outline" matTooltipClass="l-custom-tooltip"
      [matTooltip]="p.selectedItems && p.selectedItems[0] ? p.selectedItems[0].label : ''">
      <ng-select #p [items]="periods" virtualScroll="true" [clearable]="false" [(ngModel)]="period" [searchable]="false"
        notFoundText="Няма намерени резултати" (change)="onPeriodChange($event.code)">
      </ng-select>
    </div>
  </div>
</div>