@import "../../node_modules/@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/bootstrap-theme.scss";
@import "../../node_modules/@dssbg/neispuo-style-guide/neispuo-primeng-theme-styles/primeng-theme.scss";

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  border-radius: 25px;
  background-clip: padding-box;
  border: 0 solid $gray-200;
  color: $gray-500;
  background-color: $gray-200;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 1rem;
}