<ul class="l-custom-main-tab">
    <li class="button-item" [ngClass]="{'active': tabIndex === 0}" (click)="onPathChanged(0)">Училище</li>
    <li class="button-item" [ngClass]="{'active': tabIndex === 1}" (click)="onPathChanged(1)">Детска градина</li>
    <li class="button-item" [ngClass]="{'active': tabIndex === 2}" (click)="onPathChanged(2)">ЦПЛР</li>
    <li class="button-item" [ngClass]="{'active': tabIndex === 3}" (click)="onPathChanged(3)">ЦСОП</li>
    <li class="button-item" [ngClass]="{'active': tabIndex === 4}" (click)="onPathChanged(4)">СОЗ</li>
</ul>