USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[classGroupCUD]    Script Date: 9/8/2022 12:02:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [inst_basic].[classGroupCUD] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS
BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param: institutionID --------------
DECLARE @instID int;
SELECT @instID = institutionID FROM OPENJSON(@_json)
WITH (   
		institutionID int			'$.instid'
)
-- ---------- define context param: institutionType --------------
DECLARE @instType int;
SELECT @instType = instType FROM OPENJSON(@_json)
WITH (   
		instType int			'$.instType'
)
-- ---------- define context param: schoolYear --------------
DECLARE @schoolYear int;
SET @schoolYear = [inst_year].[getSchoolYearByInstID](@instID)

-- ---------- define Master object: Parent class [ClassGroup] ID param --------------
DECLARE @parentClassID int;
SELECT @parentClassID = parentClassID FROM OPENJSON(@_json)
WITH (   
		parentClassID int			'$.parentclassid'
)

-- ---------- define Master object: Child class [ClassGroup] ID param --------------
DECLARE @childClassID int;
SELECT @childClassID = classID FROM OPENJSON(@_json)
WITH (   
		classID int					'$.classid'
)

-- ---------- 1.define check params (UPDATE with new value in studentClass if the user changes the value on ClassGroup table) --------------
DECLARE @classTypeID int, @classEduFormID int, @classSpecialityID int, @basicClassID int;
SELECT @classTypeID = classTypeID
	,@classEduFormID = classEduFormID
	,@classSpecialityID = classSpecialityID
	,@basicClassID = basicClassID FROM OPENJSON(@_json)
WITH (   
		classTypeID int					'$.classTypeID'
		,classEduFormID int				'$.classEduFormID'
		,classSpecialityID int			'$.SPPOOSpeciality'
		,basicClassID int				'$.basicClassID'
)
-- ---------- 2.define check params - old values (UPDATE with new value in studentClass if the user changes the value on ClassGroup table) --------------
DECLARE @oldClassTypeID int, @oldClassEduFormID int, @oldClassSpecialityID int, @oldBasicClassID int;
SELECT @oldClassTypeID = classTypeID
		,@oldClassEduFormID = ClassEduFormID
		,@oldClassSpecialityID = ClassSpecialityID 
		,@oldBasicClassID = BasicClassID
FROM inst_year.ClassGroup
WHERE ClassID = @childClassID;

-- ---------- 3.define studentsData (UPDATE with new value in studentClass if the user changes the value on ClassGroup table) --------------
DECLARE @studentsData table (Id int, classTypeId int, studentEduFormId int, studentSpecialityId int, basicClassId int);
INSERT INTO @studentsData
SELECT ID, ClassTypeID, StudentEduFormId, StudentSpecialityId, BasicClassID
FROM student.StudentClass 
WHERE ClassId = @childClassID;

/* ---------- define Details object: [ProfileClass] ID and string params 
DECLARE @profileSubjects nvarchar(max);
SELECT @profileSubjects = ProfileSubjects FROM OPENJSON(@_json, '$.classGroups')
WITH (
		ProfileSubjects nvarchar(max) AS JSON		
); 

DECLARE @ProfileClassVar TABLE  
(  
	id INT
);
DECLARE @ProfileClassString NVARCHAR(4000); */

-- ---------- define context param: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)

-- ---------- define Additional params --------------
DECLARE @operationResultType int; -- (0) Warning. It is sent only if forceOperation = 0; (-1) Error; (1) Successfully completed operation
DECLARE @forceOperation int; -- (0) no force action required, send warning to the customer; (1) operation is forced to be executed
DECLARE @hasRefDataCountStopperSchoolBooks int; -- sum of found referenced record (could be more tan one source)
DECLARE @messageCode int;

SELECT @forceOperation = ForceOperation FROM OPENJSON(@_json)
WITH (   
		forceOperation int			'$.forceOperation'
)

-- ---------- check for Ref Data - stopper >> School_books --------------
DECLARE @hasRefDataCountStopperSchoolBooksGrade int;
SET @hasRefDataCountStopperSchoolBooksGrade = (SELECT COUNT(1) FROM [school_books].[Grade]
	WHERE [school_books].[Grade].ClassId = @parentClassID);

DECLARE @hasRefDataCountStopperSchoolBooksAttendance int;
SET @hasRefDataCountStopperSchoolBooksAttendance = (SELECT COUNT(1) FROM [school_books].[Attendance]
	WHERE [school_books].[Attendance].ClassId = @parentClassID);

DECLARE @hasRefDataCountStopperSchoolBooksAbsence int;
SET @hasRefDataCountStopperSchoolBooksAbsence = (SELECT COUNT(1) FROM [school_books].[Absence]
	WHERE [school_books].[Absence].ClassId = @parentClassID);

DECLARE @hasRefDataCountStopperSchoolBooksClassBook int;
SET @hasRefDataCountStopperSchoolBooksClassBook = (SELECT COUNT(1) FROM [school_books].[ClassBook]
	WHERE [school_books].[ClassBook].ClassId = @parentClassID);

-- ---------- check for Ref Data - stopper >> StudentClass >> проверка дали в класа има активни деца 
DECLARE @hasRefDataCountStopperStudentClassActive int;
SET @hasRefDataCountStopperStudentClassActive = (SELECT COUNT(1) FROM [inst_year].[ClassGroup] c, [student].[StudentClass] s
												WHERE s.ClassId = c.ClassID AND (c.ParentClassID = @parentClassID OR c.ClassID = @parentClassID) AND s.IsCurrent = 1);

-- ---------- check for Ref Data - stopper >> StudentClass >> проверка дали в класа има деца 
DECLARE @hasRefDataCountStopperStudentClassWithoutStudents int;
SET @hasRefDataCountStopperStudentClassWithoutStudents = (SELECT COUNT(1) FROM [inst_year].[ClassGroup] c, [student].[StudentClass] s
												WHERE s.ClassId = c.ClassID AND (c.ParentClassID = @parentClassID OR c.ClassID = @parentClassID));

-- ---------- check for Ref Data - stopper >> StudentClass >> проверка дали в групата има деца 
DECLARE @hasRefDataCountStopperStudentClassChildWithoutStudents int;
SET @hasRefDataCountStopperStudentClassChildWithoutStudents = (SELECT COUNT(1) FROM [inst_year].[ClassGroup] c, [student].[StudentClass] s
												WHERE s.ClassId = c.ClassID AND c.ClassID = @childClassID);

-- ---------- check for Ref Data - stopper >> StudentClass >> проверка дали в групата има активни деца 
DECLARE @hasRefDataCountStopperStudentClassChildActive int;
SET @hasRefDataCountStopperStudentClassChildActive = (SELECT COUNT(1) FROM [inst_year].[ClassGroup] c, [student].[StudentClass] s
												WHERE s.ClassId = c.ClassID AND c.ClassID = @childClassID AND s.IsCurrent = 1);

-- ---------- check for Ref Data >> CurriculumClass -- проверка дали класа се цитира в учебния план (връзката е само към parent)
DECLARE @hasRefDataCountCurriculumClass int;
SET @hasRefDataCountCurriculumClass = (SELECT COUNT(1) FROM [inst_year].[CurriculumClass]
											WHERE [inst_year].[CurriculumClass].ClassId = @parentClassID);

-- ---------- check for Ref Data >> StaffPositionMainClass 
DECLARE @hasRefDataCountStaffPositionMainClass int;
SET @hasRefDataCountStaffPositionMainClass = (SELECT COUNT(1) FROM [inst_year].[StaffPositionMainClass]
											WHERE [inst_year].[StaffPositionMainClass].MainClassID = @parentClassID);

DECLARE @classKind NVARCHAR(10);
SELECT @classKind = classKind FROM OPENJSON(@_json)
WITH (   
		classKind NVARCHAR(10)			'$.classKind'
);

DECLARE @isCombined bit;
SELECT @isCombined = isCombined FROM OPENJSON(@_json)
WITH (   
		isCombined bit 			'$.isCombined'
);
DECLARE @className NVARCHAR(255)
SELECT @className = className FROM OPENJSON(@_json)
WITH (   
		className NVARCHAR(255)			'$.className'
);

DECLARE @institutionDepartmentID int;
SELECT @institutionDepartmentID = institutionDepartmentID FROM OPENJSON(@_json)
WITH (   
		institutionDepartmentID int 			'$.institutionDepartmentID'
);

DECLARE @createRUP bit;
SELECT @createRUP = createRUP FROM OPENJSON(@_json)
WITH (   
		createRUP bit 			'$.createRUP'
);

DECLARE @paralellClassName NVARCHAR(255);

SET   @paralellClassName = (SELECT CASE
										WHEN ((@classKind = '1') AND (@basicClassID between 1 and 12) AND (@isCombined = 0)) THEN 
											[inst_year].[getAlphabets](@className) 
										ELSE
										    NULL
										END )
DECLARE @ExternalID NVARCHAR(100) = NULL;

DECLARE @BudgetingClassTypeID int;
SELECT @BudgetingClassTypeID = BudgetingSchoolTypeID FROM core.Institution WHERE InstitutionID = @instID

DECLARE @ParentClassName NVARCHAR(255);
DECLARE @ParentParalellClassName NVARCHAR(255);
SELECT @ParentClassName = ClassName, @ParentParalellClassName = ParalellClassName 
FROM inst_year.ClassGroup 
WHERE ClassID = @parentClassID;

--define param: if this values in column are different in same records
DECLARE @DifferentBasicClass int; 
DECLARE @DifferentClassType int; 
DECLARE @DifferentClassEduForm int; 
DECLARE @DifferentClassEduDuration int; 
DECLARE @DifferentClassShift int; 
DECLARE @DifferentBudgetingClassType int; 
DECLARE @DifferentEntranceLevel int; 
DECLARE @DifferentClassSpeciality int; 
DECLARE @DifferentFLType int; 
DECLARE @DifferentFLID int; 

	--if the school used external data provider --- then it cannot write to the database
	DECLARE @isExtDataProvider bit;
	SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
	FROM [core].[InstitutionConfData] 
	WHERE InstitutionID = @instID 
		AND SchoolYear = @schoolYear

	IF @isExtDataProvider = 1
	BEGIN	
		SET @operationResultType = 2;
		SET @messageCode = 1023;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;

		COMMIT TRANSACTION
		RETURN
	END

PRINT 'INFO: PROCEDURE classGroupCreateUpdateDRAFT started! Initial data gathered. InstitutionID=' + CAST(@instID AS VARCHAR(12));

/* ************ OperationType = 1 -> CREATE NEW Class and Group *************** */
IF ((@OperationType = 1) AND (@instID IS NOT NULL) AND (@parentClassID IS NULL))
BEGIN
	PRINT 'INFO: OperationType: 1 - CREATE NEW [ClassGroup]. First, create parent object...';
	INSERT INTO [inst_year].[ClassGroup]
           ([InstitutionID]
		   ,[SysUserID]
		   ,[ParentClassID]
		   ,[IsWholeClass] -- If parent (class) and if no groups: 1 , if has groups: 0 ; If child (group): 0
           ,[ClassGroupNum] -- If parent (class): 0 ; If child (group) - sequential group number: 1, 2, 3
		   ,[SchoolYear]
		   ,[ParalellClassName]
           ,[InstitutionDepartmentID]
           ,[ClassName]          
           ,[BasicClassID]
           ,[ClassTypeID]
           ,[AreaID]
           ,[ClassEduFormID]
           ,[ClassEduDurationID]
           ,[ClassShiftID]
           ,[BudgetingClassTypeID]
           ,[EntranceLevelID]
           ,[ClassSpecialityID]
           ,[FLTypeID]
           ,[FLID]
           ,[IsProfModule]
           ,[StudentCountPlaces]
           ,[Notes]
           ,[IsCombined]
           ,[IsNoList]
           ,[IsSpecNeed]
           ,[IsNotPresentForm]
		   ,[ExternalID]
		   ,[IsValid]
		   )
	SELECT @instID, @sysuserid, NULL, 1, 0, @schoolYear,  @paralellClassName
	--start json value
	,InstitutionDepartmentID
	,ClassName
	,BasicClassID
	,ClassTypeID
	,IIF(@InstType in (1,2,4),-1,AreaID)
	,IIF((@classKind = 1 AND @instType IN (1,4) AND BasicClassID < 0 OR BasicClassID in (21,32) OR @classKind = 2 OR @instType = 2),-1,ClassEduFormID)  
	,IIF((@instType = 1 AND BasicClassID < 8 OR BasicClassID in (21,32) OR @instType IN (2,3,4,5)),-1,ClassEduDurationID)
	,IIF((@classKind = 1 AND @instType IN (1,4) AND BasicClassID < 0 OR BasicClassID in (21,32) OR @classKind IN (2,3) OR @instType IN (2,3,5)),-1,ClassShiftID)
	,IIF(@classKind IN (2,3) OR @instType IN (3,5),@BudgetingClassTypeID,BudgetingClassTypeID)
	,IIF((@classKind = 1 AND @instType = 1 AND BasicClassID < 8 OR @classKind in (2,3) OR @instType IN (2,3,4)),-1,EntranceLevelID)
	,IIF(@classKind = 1 AND @InstType IN (1,4) AND ClassTypeID NOT IN (20,90) OR @classKind in (2,3) OR @instType IN (2,3,5),-1,ClassSpecialityID)
	,IIF(@classKind = 1 AND @InstType = 1 AND ClassTypeID NOT IN (20,21,22,23,24,25,26,27,28,29,30,31,32,33) AND BasicClassID NOT BETWEEN 8 AND 15 OR @classKind in (2,3) OR @instType IN (2,3,4,5),-1,FLTypeID)
	,IIF(@classKind = 1 AND @InstType = 1 AND ClassTypeID NOT IN (20,21,22,23,24,25,26,27,28,29,30,31,32,33) AND BasicClassID NOT BETWEEN 8 AND 15 OR @classKind in (2,3) OR @instType IN (2,3,4,5),-1,FLID)
	,IsProfModule
	,IIF(BasicClassID < 0 OR BasicClassID IN (21,32),ISNULL(StudentCountPlaces,0),0)
	,Notes
	,IIF(@InstType IN (1,2) AND BasicClassID = 21,1,IsCombined)
	,IIF(@instType IN (3,5),IsNoList,0)
	,IIF(@ClassKind = 1,IsSpecNeed,0)
	--end json value
	, 0, @ExternalID, 1
	FROM OPENJSON(@_json)
	WITH (   
		InstitutionDepartmentID int		'$.institutionDepartmentID'
		,ClassName nvarchar(255)			'$.className'		
		-- ,ParalellClassName nvarchar(255)
		,BasicClassID int					'$.basicClassID'
		,ClassTypeID int					'$.classTypeID'
		,AreaID int							'$.educationArea'
		,ClassEduFormID int					'$.classEduFormID'
		,ClassEduDurationID int				'$.classEduDurationID'
		,ClassShiftID int					'$.classShiftID'
		,BudgetingClassTypeID int			'$.budgetingClassTypeID'
		,EntranceLevelID int				'$.entranceLevelID'
		,ClassSpecialityID int				'$.SPPOOSpeciality'
		,FLTypeID int						'$.flStudyTypeID'
		,FLID int							'$.flID'
		,IsProfModule bit					'$.isProfModule'
		,StudentCountPlaces int				'$.studentCountPlaces'
		,Notes nvarchar(1024)				'$.notes'
		,IsCombined bit						'$.isCombined'
		,IsNoList bit						'$.isNoList'
		,IsSpecNeed bit						'$.isSpecNeed'

		); 

	-- GET INSERTED Parent Class ID (autoincrement)
	SELECT @parentClassID = SCOPE_IDENTITY();
	PRINT 'INFO: [ClassGroup] parent was created with id=' + CAST(@parentClassID AS VARCHAR(12));

	PRINT 'INFO: OperationType: 1 - CREATE NEW [ClassGroup]. Now create child object...';
	INSERT INTO [inst_year].[ClassGroup]
           ([InstitutionID]
		   ,[SysUserID]
		   ,[ParentClassID]
		   ,[IsWholeClass] -- If parent (class) and if no groups: 1 , if has groups: 0 ; If child (group): 0
		   ,[SchoolYear]
		   ,[ParalellClassName]
		   ,[ClassGroupNum] -- If parent (class): 0 ; If child (group) - sequential group number: 1, 2, 3
           ,[InstitutionDepartmentID]
           ,[ClassName]
           ,[BasicClassID]
           ,[ClassTypeID]
           ,[AreaID]
           ,[ClassEduFormID]
           ,[ClassEduDurationID]
           ,[ClassShiftID]
           ,[BudgetingClassTypeID]
           ,[EntranceLevelID]
           ,[ClassSpecialityID]
           ,[FLTypeID]
           ,[FLID]
           ,[IsProfModule]
           ,[StudentCountPlaces]
           ,[Notes]
           ,[IsCombined]
           ,[IsNoList]
           ,[IsSpecNeed]
           ,[IsNotPresentForm]
		   ,[ExternalID]
		   ,[IsValid]
		   )
	SELECT @instID, @sysuserid, @parentClassID, 0, @schoolYear, @paralellClassName
	--start json value
	--,ClassGroupID
	,1 --classgroupnum
	,InstitutionDepartmentID
	,ClassName
	--,IIF(BasicClassID=21,NULL,BasicClassID) --only for child when BC is 21 and this statment is insert
	,BasicClassID
	,ClassTypeID
	,IIF(@InstType in (1,2,4),-1,AreaID)
	,IIF((@classKind = 1 AND @instType IN (1,4) AND BasicClassID < 0 OR BasicClassID in (21,32) OR @classKind = 2 OR @instType = 2),-1,ClassEduFormID)  
	,IIF((@instType = 1 AND BasicClassID < 8 OR BasicClassID in (21,32) OR @instType IN (2,3,4,5)),-1,ClassEduDurationID)
	,IIF((@classKind = 1 AND @instType IN (1,4) AND BasicClassID < 0 OR BasicClassID in (21,32) OR @classKind IN (2,3) OR @instType IN (2,3,5)),-1,ClassShiftID)
	,IIF(@classKind IN (2,3) OR @instType IN (3,5),@BudgetingClassTypeID,BudgetingClassTypeID)
	,IIF((@classKind = 1 AND @instType = 1 AND BasicClassID < 8 OR @classKind IN (2,3) OR @instType IN (2,3,4,5)),-1,EntranceLevelID)
	,IIF(@classKind = 1 AND @InstType IN (1,4) AND ClassTypeID NOT IN (20,90) OR @classKind IN (2,3) OR @instType IN (2,3,5),-1,ClassSpecialityID)
	,IIF(@classKind = 1 AND @InstType = 1 AND ClassTypeID NOT IN (20,21,22,23,24,25,26,27,28,29,30,31,32,33) AND BasicClassID NOT BETWEEN 8 AND 15 OR @classKind IN (2,3) OR @instType IN (2,3,4,5),-1,FLTypeID)
	,IIF(@classKind = 1 AND @InstType = 1 AND ClassTypeID NOT IN (20,21,22,23,24,25,26,27,28,29,30,31,32,33) AND BasicClassID NOT BETWEEN 8 AND 15 OR @classKind IN (2,3) OR @instType IN (2,3,4,5),-1,FLID)
	,IsProfModule
	,IIF(BasicClassID < 0 OR BasicClassID IN (21,32),ISNULL(StudentCountPlaces,0),0)
	,Notes
	,IIF(@InstType IN (1,2) AND BasicClassID = 21,1,IsCombined)
	,IIF(@instType IN (3,5),IsNoList,0)
	,IIF(@ClassKind = 1,IsSpecNeed,0)
	--end json value
	, 0,@ExternalID, 1
	FROM OPENJSON(@_json)
	WITH (   
			 ClassGroupID int					'$.classGroupID'
			,InstitutionDepartmentID int		'$.institutionDepartmentID'
			,ClassName nvarchar(255)			'$.className'		
			-- ,ParalellClassName nvarchar(255)
			,BasicClassID int					'$.basicClassID'
			,ClassTypeID int					'$.classTypeID'
			,AreaID int							'$.educationArea'
			,ClassEduFormID int					'$.classEduFormID'
			,ClassEduDurationID int				'$.classEduDurationID'
			,ClassShiftID int					'$.classShiftID'
			,BudgetingClassTypeID int			'$.budgetingClassTypeID'
			,EntranceLevelID int				'$.entranceLevelID'
			,ClassSpecialityID int				'$.SPPOOSpeciality'
			,FLTypeID int						'$.flStudyTypeID'
			,FLID int							'$.flID'
			,IsProfModule bit					'$.isProfModule'
			,StudentCountPlaces int				'$.studentCountPlaces'
			,Notes nvarchar(1024)				'$.notes'
			,IsCombined bit						'$.isCombined'
			,IsNoList bit						'$.isNoList'
			,IsSpecNeed bit						'$.isSpecNeed'

		);


		-- GET INSERTED @ClassGroupID (autoincrement)
		SELECT @childClassID = SCOPE_IDENTITY();
		PRINT 'INFO: [ClassGroup] child was created with id=' + CAST(@childClassID AS VARCHAR(12));

END  /* End of OperationType = 1 -> CREATE NEW Class and Group *************** */

/* ************ OperationType = 1 -> CREATE NEW Group *************** */
ELSE IF ((@OperationType = 1) AND (@instID IS NOT NULL) AND (@parentClassID IS NOT NULL) AND (@childClassID IS NULL))
BEGIN
	PRINT 'INFO: OperationType: 1 - CREATE NEW [ClassGroup] child object...';
	INSERT INTO [inst_year].[ClassGroup]
           ([InstitutionID]
		   ,[SysUserID]
		   ,[ParentClassID]
		   ,[IsWholeClass] -- If parent (class) and if no groups: 1 , if has groups: 0 ; If child (group): 0
		   ,[SchoolYear]
		   ,[ParalellClassName]
		   ,[ClassGroupNum] -- If parent (class): 0 ; If child (group) - sequential group number: 1, 2, 3
           ,[InstitutionDepartmentID]
           ,[ClassName]
           ,[BasicClassID]
           ,[ClassTypeID]
           ,[AreaID]
           ,[ClassEduFormID]
           ,[ClassEduDurationID]
           ,[ClassShiftID]
           ,[BudgetingClassTypeID]
           ,[EntranceLevelID]
           ,[ClassSpecialityID]
           ,[FLTypeID]
           ,[FLID]
           ,[IsProfModule]
           ,[StudentCountPlaces]
           ,[Notes]
           ,[IsCombined]
           ,[IsNoList]
           ,[IsSpecNeed]
           ,[IsNotPresentForm]
		   ,[ExternalID]
		   ,[IsValid]
		   )
	SELECT @instID, @sysuserid, @parentClassID, 0, @schoolYear, @ParentParalellClassName--because the names of all the records must be the same
		,MAX(CG.[ClassGroupNum])+1
		--start json value
		,IIF(@institutionDepartmentID IS NULL,(SELECT top 1 InstitutionDepartmentID FROM [inst_year].[ClassGroup] WHERE ClassID = @ParentClassID), OJCG.InstitutionDepartmentID)
		--,OJCG.ClassName
		,@ParentClassName --because the names of all the records must be the same 
		,IIF(OJCG.BasicClassID=21,NULL,OJCG.BasicClassID) --only for child when BC is 21 and this statment is insert
		,OJCG.ClassTypeID
		,IIF(@InstType in (1,2,4),-1,OJCG.AreaID)
		,IIF((@classKind = 1 AND @instType IN (1,4) AND OJCG.BasicClassID < 0 OR OJCG.BasicClassID in (21,32) OR @classKind = 2 OR @instType = 2),-1,OJCG.ClassEduFormID) 
		,IIF((@instType = 1 AND OJCG.BasicClassID < 8 OR OJCG.BasicClassID in (21,32) OR @instType IN (2,3,4,5)),-1,OJCG.ClassEduDurationID)
		,IIF((@classKind = 1 AND @instType IN (1,4) AND OJCG.BasicClassID < 0 OR OJCG.BasicClassID in (21,32) OR @classKind IN (2,3) OR @instType IN (2,3,5)),-1,OJCG.ClassShiftID)
		,IIF(@classKind IN (2,3) OR @instType IN (3,5),@BudgetingClassTypeID,OJCG.BudgetingClassTypeID)
		,IIF((@classKind = 1 AND @instType = 1 AND OJCG.BasicClassID < 8 OR @classKind IN (2,3) OR @instType IN (2,3,4,5)),-1,OJCG.EntranceLevelID)
		,IIF(@classKind = 1 AND @InstType IN (1,4) AND OJCG.ClassTypeID NOT IN (20,90) OR @classKind IN (2,3) OR @instType IN (2,3,5),-1,OJCG.ClassSpecialityID)
		,IIF(@classKind = 1 AND @InstType = 1 AND OJCG.ClassTypeID NOT IN (20,21,22,23,24,25,26,27,28,29,30,31,32,33) AND OJCG.BasicClassID NOT BETWEEN 8 AND 15 OR @classKind IN (2,3) OR @instType IN (2,3,4,5),-1,OJCG.FLTypeID)
		,IIF(@classKind = 1 AND @InstType = 1 AND OJCG.ClassTypeID NOT IN (20,21,22,23,24,25,26,27,28,29,30,31,32,33) AND OJCG.BasicClassID NOT BETWEEN 8 AND 15 OR @classKind IN (2,3) OR @instType IN (2,3,4,5),-1,OJCG.FLID)
		,OJCG.IsProfModule
		,IIF(OJCG.BasicClassID < 0 OR OJCG.BasicClassID IN (21,32),ISNULL(OJCG.StudentCountPlaces,0),0)
		,OJCG.Notes
		,IIF(@InstType IN (1,2) AND OJCG.BasicClassID = 21,1,OJCG.IsCombined)
		,IIF(@instType IN (3,5),OJCG.IsNoList,0)
		,IIF(@ClassKind = 1,OJCG.IsSpecNeed,0)
		--end json value
		, 0,@ExternalID, 1
	FROM OPENJSON(@_json)
	WITH (   
			 ClassGroupID int					'$.classGroupID'
			,InstitutionDepartmentID int		'$.institutionDepartmentID'
			,ClassName nvarchar(255)			'$.className'		
			-- ,ParalellClassName nvarchar(255)
			,BasicClassID int					'$.basicClassID'
			,ClassTypeID int					'$.classTypeID'
			,AreaID int							'$.educationArea'
			,ClassEduFormID int					'$.classEduFormID'
			,ClassEduDurationID int				'$.classEduDurationID'
			,ClassShiftID int					'$.classShiftID'
			,BudgetingClassTypeID int			'$.budgetingClassTypeID'
			,EntranceLevelID int				'$.entranceLevelID'
			,ClassSpecialityID int				'$.SPPOOSpeciality'
			,FLTypeID int						'$.flStudyTypeID'
			,FLID int							'$.flID'
			,IsProfModule bit					'$.isProfModule'
			,StudentCountPlaces int				'$.studentCountPlaces'
			,Notes nvarchar(1024)				'$.notes'
			,IsCombined bit						'$.isCombined'
			,IsNoList bit						'$.isNoList'
			,IsSpecNeed bit						'$.isSpecNeed'

		) OJCG JOIN [inst_year].[ClassGroup] CG ON CG.ParentClassID = @parentClassID WHERE CG.IsValid = 1
				GROUP BY OJCG.InstitutionDepartmentID
		,OJCG.ClassName
		,OJCG.BasicClassID,OJCG.ClassTypeID
		,OJCG.AreaID
		,OJCG.ClassEduFormID
		,OJCG.ClassEduDurationID
		,OJCG.ClassShiftID
		,OJCG.BudgetingClassTypeID
		,OJCG.EntranceLevelID
		,OJCG.ClassTypeID
		,OJCG.ClassSpecialityID
		,OJCG.FLTypeID
		,OJCG.FLID
		,OJCG.IsProfModule
		,OJCG.StudentCountPlaces
		,OJCG.Notes
		,OJCG.IsCombined
		,OJCG.IsNoList
		,OJCG.IsSpecNeed;

	-- GET INSERTED @ClassGroupID (autoincrement)
	SELECT @childClassID = SCOPE_IDENTITY();

	-- UPDATE parent object [IsWholeClass] = 0
	UPDATE top (1) [inst_year].[ClassGroup]
	SET [IsWholeClass] = 0
	WHERE [inst_year].[ClassGroup].ClassID = @parentClassID; 
	
	-- UPDATE parent object StudentCountPlaces = values from all child records
	UPDATE top (1) [inst_year].[ClassGroup] 
	SET StudentCountPlaces = (SELECT SUM(StudentCountPlaces) 
								FROM [inst_year].[ClassGroup]
								WHERE [inst_year].[ClassGroup].ParentClassID = @parentClassID)
	WHERE [inst_year].[ClassGroup].ClassID = @parentClassID; 



	--UPDATE if one of these values is different for all records for that parentClassid 
	SELECT @DifferentBasicClass = COUNT(DISTINCT BasicClassID)
		,@DifferentClassType = COUNT(DISTINCT ClassTypeID)
		,@DifferentClassEduForm = COUNT(DISTINCT ClassEduFormID)
		,@DifferentClassEduDuration = COUNT(DISTINCT ClassEduDurationID)
		,@DifferentClassShift = COUNT(DISTINCT ClassShiftID)
		,@DifferentBudgetingClassType = COUNT(DISTINCT BudgetingClassTypeID)
		,@DifferentEntranceLevel = COUNT(DISTINCT EntranceLevelID)
		,@DifferentClassSpeciality = COUNT(DISTINCT ClassSpecialityID)
		,@DifferentFLType = COUNT(DISTINCT FLTypeID)
		,@DifferentFLID = COUNT(DISTINCT FLID)
	FROM inst_year.ClassGroup 
	WHERE (ClassID = @parentClassID OR ParentClassID = @parentClassID) AND IsValid = 1;

	IF @DifferentBasicClass <> 1 OR @DifferentClassType <> 1 OR @DifferentClassEduForm <> 1 
		OR @DifferentClassEduDuration <> 1 OR @DifferentClassShift <> 1 OR @DifferentBudgetingClassType <> 1
		OR @DifferentEntranceLevel <> 1 OR @DifferentClassSpeciality <> 1 OR @DifferentFLType <> 1 
		OR @DifferentFLID <> 1
	BEGIN
		UPDATE top (1) [inst_year].[ClassGroup]
		SET BasicClassID = IIF(@DifferentBasicClass <> 1,NULL,BasicClassID)
			,ClassTypeID = IIF(@DifferentClassType <> 1,NULL,ClassTypeID)
			,ClassEduFormID = IIF(@DifferentClassEduForm <> 1,NULL,ClassEduFormID)
			,ClassEduDurationID = IIF(@DifferentClassEduDuration <> 1,NULL,ClassEduDurationID)
			,ClassShiftID = IIF(@DifferentClassShift <> 1,NULL,ClassShiftID)
			,BudgetingClassTypeID = IIF(@DifferentBudgetingClassType <> 1,NULL,BudgetingClassTypeID)
			,EntranceLevelID = IIF(@DifferentEntranceLevel <> 1,NULL,EntranceLevelID)
			,ClassSpecialityID = IIF(@DifferentClassSpeciality <> 1,NULL,ClassSpecialityID)
			,FLTypeID = IIF(@DifferentFLType <> 1,NULL,FLTypeID)
			,FLID = IIF(@DifferentFLID <> 1,NULL,FLID)
		WHERE [inst_year].[ClassGroup].ClassID = @parentClassID AND IsValid = 1;
	END
	--END UPDATE different values

	-- UPDATE if basicClass are different -> the class is combined and reverse logic
		UPDATE inst_year.ClassGroup SET IsCombined = IIF(@DifferentBasicClass<>1,1,0)
		WHERE (ClassID = @parentClassID OR ParentClassID = @parentClassID) AND IsValid = 1;

	PRINT 'INFO: parent [ClassGroup] object UPDATED successfully [IsWholeClass] = 0 for parent ClassGroup ='+ CAST(@parentClassID AS VARCHAR(12));
	
	PRINT 'INFO: [ClassGroup] child was created with id=' + CAST(@childClassID AS VARCHAR(12));

END  /* End of OperationType = 1 -> CREATE NEW ClassGroup *************** */

/* ############################## Start OperationType = 2 -> UPDATE ClassGroup ############################## */
ELSE IF ((@OperationType = 2) AND (@instID IS NOT NULL) AND  (@parentClassID IS NOT NULL) AND (@childClassID IS NOT NULL))
BEGIN

	DECLARE @flStudyTypeID int;
	
	SELECT @flStudyTypeID = flStudyTypeID FROM OPENJSON(@_json)
	    WITH ( 
				flStudyTypeID int			'$.flStudyTypeID'  
			 );
    
	DECLARE @flID int = ( SELECT  CASE @flStudyTypeID 
										WHEN 3 THEN NULL 
										ELSE flID END
						    FROM OPENJSON(@_json)
					        WITH ( flID int			'$.flID' )
								);

	PRINT 'INFO: OperationType = 2 -> Will UPDATE parent ClassGroup object with ClassID=' + CAST(@parentClassID AS VARCHAR(12));
	UPDATE top (1) [inst_year].[ClassGroup]
	SET 
			--[ClassGroupNum] 			= JPCG.classGroupID
		   [SchoolYear]				= @schoolYear
		   ,[SysUserID]					= @sysuserid
           ,[InstitutionDepartmentID]	= JPCG.institutionDepartmentID
          -- ,[ClassName]					= JPCG.className
          -- ,[ParalellClassName]		    = @paralellClassName	   
           ,[BasicClassID]				= JPCG.basicClassID
           ,[ClassTypeID]				= JPCG.classTypeID
           ,[AreaID]					= IIF(@instType IN (1,2,4),-1,JPCG.educationArea)   
           ,[ClassEduFormID]			= IIF((@classKind = 1 AND @instType IN (1,4) AND JPCG.BasicClassID < 0 OR JPCG.BasicClassID in (21,32) OR @classKind = 2 OR @instType = 2),-1,JPCG.ClassEduFormID) 
           ,[ClassEduDurationID]		= IIF((@instType = 1 AND JPCG.BasicClassID < 8 OR JPCG.BasicClassID in (21,32) OR @instType IN (2,3,4,5)),-1,JPCG.ClassEduDurationID)
           ,[ClassShiftID]				= IIF((@classKind = 1 AND @instType IN (1,4) AND JPCG.BasicClassID < 0 OR JPCG.BasicClassID in (21,32) OR @classKind IN (2,3) OR @instType IN (2,3,5)),-1,JPCG.ClassShiftID)	
           ,[BudgetingClassTypeID]		= IIF(@classKind IN (2,3) OR @instType IN (3,5),@BudgetingClassTypeID,JPCG.BudgetingClassTypeID)
           ,[EntranceLevelID]			= IIF((@classKind = 1 AND @instType = 1 AND JPCG.BasicClassID < 8 OR @classKind IN (2,3) OR @instType IN (2,3,4,5)),-1,JPCG.EntranceLevelID)
           ,[ClassSpecialityID]			= IIF(@classKind = 1 AND @InstType IN (1,4) AND JPCG.ClassTypeID NOT IN (20,90) OR @classKind IN (2,3) OR @instType IN (2,3,5),-1,JPCG.SPPOOSpeciality)	
           ,[FLTypeID]					= IIF(@classKind = 1 AND @InstType = 1 AND JPCG.ClassTypeID NOT IN (20,21,22,23,24,25,26,27,28,29,30,31,32,33) AND JPCG.BasicClassID NOT BETWEEN 8 AND 15 OR @classKind IN (2,3) OR @instType IN (2,3,4,5),-1,JPCG.flStudyTypeID)		
           ,[FLID]						= IIF(@classKind = 1 AND @InstType = 1 AND JPCG.ClassTypeID NOT IN (20,21,22,23,24,25,26,27,28,29,30,31,32,33) AND JPCG.BasicClassID NOT BETWEEN 8 AND 15 OR @classKind IN (2,3) OR @instType IN (2,3,4,5),-1,@flID)		
           ,[IsProfModule]				= JPCG.isProfModule		
           ,[StudentCountPlaces]		= IIF(JPCG.BasicClassID < 0 OR JPCG.BasicClassID IN (21,32),ISNULL(JPCG.StudentCountPlaces,0),0)		   
           ,[Notes]						= JPCG.notes	   
           ,[IsCombined]				= IIF(@InstType IN (1,2) AND JPCG.BasicClassID = 21,1,JPCG.isCombined)
           ,[IsNoList]					= IIF(@instType IN (3,5),JPCG.IsNoList,0)
           ,[IsSpecNeed]				= IIF(@ClassKind = 1,JPCG.IsSpecNeed,0)
           -- ,[IsNotPresentForm]			   
	FROM OPENJSON(@_json)
	WITH (   
		 classGroupID int
		--,currentYear smallint				
		,institutionDepartmentID int		
		--,className nvarchar(255)			
		-- ,paralellClassName nvarchar(255)
		,basicClassID int					
		,classTypeID int					
		,educationArea int
		,classEduFormID int					
		,classEduDurationID int				
		,classShiftID int					
		,budgetingClassTypeID int			
		,entranceLevelID int				
		,SPPOOSpeciality int				
		,flStudyTypeID int					
		,flID int							
		,isProfModule bit					
		,studentCountPlaces int			
		,notes nvarchar(1024)
		,isCombined bit						
		,isNoList bit
		,isSpecNeed bit						
		-- ,isNotPresentForm bit
		) JPCG				 
	WHERE
		[inst_year].[ClassGroup].ClassID = @parentClassID;
	PRINT 'INFO: parent [ClassGroup] object UPDATED successfully!';

	PRINT 'INFO: OperationType = 2 -> Will UPDATE child ClassGroup object with ClassID=' + CAST(@childClassID AS VARCHAR(12));
	UPDATE top (1) [inst_year].[ClassGroup]
	SET 
			--[ClassGroupNum] 			= JCCG.classGroupID
		   [SchoolYear]				= @schoolYear
		   ,[SysUserID]					= @sysuserid
           ,[InstitutionDepartmentID]	= JCCG.institutionDepartmentID
           --,[ClassName]					= JCCG.className
           --,[ParalellClassName]			= @paralellClassName  
           ,[BasicClassID]				= JCCG.basicClassID
           ,[ClassTypeID]				= JCCG.classTypeID
           ,[AreaID]					= IIF(@instType IN (1,2,4),-1,JCCG.educationArea)   	   
           ,[ClassEduFormID]			= IIF((@classKind = 1 AND @instType IN (1,4) AND JCCG.BasicClassID < 0 OR JCCG.BasicClassID in (21,32) OR @classKind = 2 OR @instType = 2),-1,JCCG.ClassEduFormID) 
           ,[ClassEduDurationID]		= IIF((@instType = 1 AND JCCG.BasicClassID < 8 OR JCCG.BasicClassID in (21,32) OR @instType IN (2,3,4,5)),-1,JCCG.ClassEduDurationID)
           ,[ClassShiftID]				= IIF((@classKind =1 AND @instType IN (1,4) AND JCCG.BasicClassID < 0 OR JCCG.BasicClassID in (21,32) OR @classKind IN (2,3) OR @instType IN (2,3,5)),-1,JCCG.ClassShiftID)	
           ,[BudgetingClassTypeID]		= IIF(@classKind IN (2,3) OR @instType IN (3,5),@BudgetingClassTypeID,JCCG.BudgetingClassTypeID)
           ,[EntranceLevelID]			= IIF((@classKind = 1 AND @instType = 1 AND JCCG.BasicClassID < 8 OR @classKind IN (2,3) OR @instType IN (2,3,4,5)),-1,JCCG.EntranceLevelID)
           ,[ClassSpecialityID]			= IIF(@classKind = 1 AND @InstType IN (1,4) AND JCCG.ClassTypeID NOT IN (20,90) OR @classKind IN (2,3) OR @instType IN (2,3,5),-1,JCCG.SPPOOSpeciality)		
           ,[FLTypeID]					= IIF(@classKind = 1 AND @InstType = 1 AND JCCG.ClassTypeID NOT IN (20,21,22,23,24,25,26,27,28,29,30,31,32,33) AND JCCG.BasicClassID NOT BETWEEN 8 AND 15 OR @classKind IN (2,3) OR @instType IN (2,3,4,5),-1,JCCG.flStudyTypeID)				
           ,[FLID]						= IIF(@classKind = 1 AND @InstType = 1 AND JCCG.ClassTypeID NOT IN (20,21,22,23,24,25,26,27,28,29,30,31,32,33) AND JCCG.BasicClassID NOT BETWEEN 8 AND 15 OR @classKind IN (2,3) OR @instType IN (2,3,4,5),-1,@flID)				
           ,[IsProfModule]				= JCCG.isProfModule		
           ,[StudentCountPlaces]		= IIF(JCCG.BasicClassID < 0 OR JCCG.BasicClassID IN (21,32),ISNULL(JCCG.StudentCountPlaces,0),0)		   
           ,[Notes]						= JCCG.notes	   
           ,[IsCombined]				= IIF(@InstType IN (1,2) AND JCCG.BasicClassID = 21,1,JCCG.isCombined)
           ,[IsNoList]					= IIF(@instType IN (3,5),JCCG.IsNoList,0)	   
           ,[IsSpecNeed]				= IIF(@ClassKind = 1,JCCG.IsSpecNeed,0)
           -- ,[IsNotPresentForm]			   
	FROM OPENJSON(@_json)
	WITH (   
			 classGroupID int
			--,currentYear smallint				
			,institutionDepartmentID int		
			--,className nvarchar(255)			
			-- ,paralellClassName nvarchar(255)
			,basicClassID int					
			,classTypeID int					
			,educationArea int
			,classEduFormID int					
			,classEduDurationID int				
			,classShiftID int					
			,budgetingClassTypeID int			
			,entranceLevelID int				
			,SPPOOSpeciality int				
			,flStudyTypeID int					
			,flID int							
			,isProfModule bit					
			,studentCountPlaces int			
			,notes nvarchar(1024)
			,isCombined bit						
			,isNoList bit
			,isSpecNeed bit						
			-- ,isNotPresentForm bit
		) JCCG				 
	WHERE
		[inst_year].[ClassGroup].ClassID = @childClassID;

	PRINT 'INFO: child [ClassGroup] object UPDATED successfully!';

	-- UPDATE parent object StudentCountPlaces = values from all child records
	UPDATE top (1) [inst_year].[ClassGroup] 
	SET StudentCountPlaces = (SELECT SUM(StudentCountPlaces) 
								FROM [inst_year].[ClassGroup]
								WHERE [inst_year].[ClassGroup].ParentClassID = @parentClassID)
	WHERE [inst_year].[ClassGroup].ClassID = @parentClassID; 



	--UPDATE if the user changes className
	IF @className <> @ParentClassName 
		BEGIN
			UPDATE [inst_year].[ClassGroup] 
			SET ClassName = @className, ParalellClassName = @paralellClassName
			WHERE (ClassID = @parentClassID OR ParentClassID = @parentClassID) AND IsValid = 1;
		END

	--UPDATE if one of these values is different for all records for that parentClassid 
	SELECT @DifferentBasicClass = COUNT(DISTINCT BasicClassID)
		,@DifferentClassType = COUNT(DISTINCT ClassTypeID)
		,@DifferentClassEduForm = COUNT(DISTINCT ClassEduFormID)
		,@DifferentClassEduDuration = COUNT(DISTINCT ClassEduDurationID)
		,@DifferentClassShift = COUNT(DISTINCT ClassShiftID)
		,@DifferentBudgetingClassType = COUNT(DISTINCT BudgetingClassTypeID)
		,@DifferentEntranceLevel = COUNT(DISTINCT EntranceLevelID)
		,@DifferentClassSpeciality = COUNT(DISTINCT ClassSpecialityID)
		,@DifferentFLType = COUNT(DISTINCT FLTypeID)
		,@DifferentFLID = COUNT(DISTINCT FLID)
	FROM inst_year.ClassGroup 
	WHERE (ClassID = @parentClassID OR ParentClassID = @parentClassID) AND IsValid = 1;

	IF @DifferentBasicClass <> 1 OR @DifferentClassType <> 1 OR @DifferentClassEduForm <> 1 
		OR @DifferentClassEduDuration <> 1 OR @DifferentClassShift <> 1 OR @DifferentBudgetingClassType <> 1
		OR @DifferentEntranceLevel <> 1 OR @DifferentClassSpeciality <> 1 OR @DifferentFLType <> 1 
		OR @DifferentFLID <> 1
	BEGIN
		UPDATE top (1) [inst_year].[ClassGroup]
		SET BasicClassID = IIF(@DifferentBasicClass <> 1,NULL,BasicClassID)
			,ClassTypeID = IIF(@DifferentClassType <> 1,NULL,ClassTypeID)
			,ClassEduFormID = IIF(@DifferentClassEduForm <> 1,NULL,ClassEduFormID)
			,ClassEduDurationID = IIF(@DifferentClassEduDuration <> 1,NULL,ClassEduDurationID)
			,ClassShiftID = IIF(@DifferentClassShift <> 1,NULL,ClassShiftID)
			,BudgetingClassTypeID = IIF(@DifferentBudgetingClassType <> 1,NULL,BudgetingClassTypeID)
			,EntranceLevelID = IIF(@DifferentEntranceLevel <> 1,NULL,EntranceLevelID)
			,ClassSpecialityID = IIF(@DifferentClassSpeciality <> 1,NULL,ClassSpecialityID)
			,FLTypeID = IIF(@DifferentFLType <> 1,NULL,FLTypeID)
			,FLID = IIF(@DifferentFLID <> 1,NULL,FLID)
		WHERE [inst_year].[ClassGroup].ClassID = @parentClassID AND IsValid = 1;
	END
	--END UPDATE different values

	-- UPDATE if basicClass are different -> the class is combined and reverse logic
		UPDATE inst_year.ClassGroup SET IsCombined = IIF(@DifferentBasicClass<>1,1,0)
		WHERE (ClassID = @parentClassID OR ParentClassID = @parentClassID) AND IsValid = 1;

	--START UPDATE with new value in studentClass if the user changes the value on ClassGroup table
	--1.check classType
	IF @classTypeID <> @oldClassTypeID
		BEGIN
			UPDATE student.StudentClass 
			SET ClassTypeID = @classTypeID
			WHERE ID IN (
						SELECT ID FROM @studentsData WHERE classTypeId = @oldClassTypeID
						) AND IsCurrent = 1;
		END
	--2.check classEduForm
	IF @classEduFormID <> @oldClassEduFormID
		BEGIN
			UPDATE student.StudentClass 
			SET StudentEduFormId = @classEduFormID
			WHERE ID IN (
						SELECT ID FROM @studentsData WHERE StudentEduFormId = @oldClassEduFormID
						) AND IsCurrent = 1;
	
	END
	--3.check classSpeciality
	IF @classTypeID NOT IN (20,90)
		BEGIN
			UPDATE student.StudentClass 
			SET StudentSpecialityId = -1
			WHERE ID IN (
						SELECT ID FROM @studentsData WHERE studentSpecialityId = @oldClassSpecialityID
						) AND IsCurrent = 1;
		END
	IF @classSpecialityID <> @oldClassSpecialityID
			BEGIN
				UPDATE student.StudentClass 
				SET StudentSpecialityId = @classSpecialityID
				WHERE ID IN (
							SELECT ID FROM @studentsData WHERE studentSpecialityId = @oldClassSpecialityID
							) AND IsCurrent = 1;
			END

	--4. check basicClass
	IF @basicClassID <> @oldBasicClassID
		BEGIN
			UPDATE student.StudentClass 
			SET BasicClassID = @basicClassID
			WHERE ID IN (
						SELECT ID FROM @studentsData WHERE basicClassId = @oldBasicClassID
						) AND IsCurrent = 1;
		END
	--END UPDATE with new value in studentClass if the user changes the value on ClassGroup table
	
	
END  /* End OperationType = 2 -> UPDATE parent/child ClassGroup *************** */

/* ############################## Start OperationType = 2 -> UPDATE ClassName AND InstitutionDepartmentID IN ClassGroup ############################## */
ELSE IF ((@OperationType = 2) AND (@instID IS NOT NULL) AND (@parentClassID IS NOT NULL))
BEGIN
	UPDATE [inst_year].[ClassGroup] 
	SET ClassName = @className, ParalellClassName = @paralellClassName, InstitutionDepartmentID = @institutionDepartmentID
	WHERE ([inst_year].[ClassGroup].ClassID = @parentClassID 
				OR [inst_year].[ClassGroup].ParentClassID = @parentClassID)
			AND IsValid = 1; 

	--start create RUP
	IF @createRUP = 1
		BEGIN
		IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
				BEGIN
					SET @operationResultType = 0;
					SET @messageCode = 1037;
					SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;

					COMMIT TRANSACTION
					RETURN 
				END
			ELSE -- confirmation is done, do specific operations based on ref. data
				BEGIN
					EXEC [inst_year].[createClassRUP] @parentClassID, @instID, @schoolYear, @sysUserId;
					
					SET @operationResultType = 1;
					SET @messageCode = 1;
					SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;

					COMMIT TRANSACTION
					RETURN

				END
		END

END  /* End OperationType = 2 -> UPDATE ClassName AND InstitutionDepartmentID IN ClassGroup *************** */

/* ############################## Start OperationType = 3 -> DELETE [ClassGroup] parent and all children objects, вкл. ЦДО и др. ############# */
ELSE IF ((@OperationType = 3) AND (@instID IS NOT NULL) AND (@parentClassID IS NOT NULL))
BEGIN

	SET @hasRefDataCountStopperSchoolBooks = @hasRefDataCountStopperSchoolBooksAbsence + @hasRefDataCountStopperSchoolBooksAttendance + 
												@hasRefDataCountStopperSchoolBooksGrade + @hasRefDataCountStopperSchoolBooksClassBook;

	IF @hasRefDataCountStopperSchoolBooks > 0  
		BEGIN			
			SET @operationResultType = 2;
			SET @messageCode = 1005;
			SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;

			PRINT '@hasRefDataCountStopperSchoolBooks > 0'
			COMMIT TRANSACTION 
			RETURN
		END
	ELSE IF @hasRefDataCountStopperSchoolBooks = 0 
			AND @hasRefDataCountStopperStudentClassActive > 0	
		BEGIN
			SET @operationResultType = 2;
			SET @messageCode = 1006;
			SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;

			PRINT '@hasRefDataCountStopperStudentClassActive > 0'
			COMMIT TRANSACTION 
			RETURN
		END
	ELSE IF @hasRefDataCountStopperSchoolBooks = 0 
			AND (@hasRefDataCountStopperStudentClassActive = 0 OR @hasRefDataCountStopperStudentClassWithoutStudents = 0)
			AND @hasRefDataCountCurriculumClass > 0
		BEGIN
			IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
				BEGIN
					SET @operationResultType = 0;
					SET @messageCode = 1007;
					SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;

					PRINT '@hasRefDataCountCurriculumClass > 0 AND @forceOperation = 0'
					COMMIT TRANSACTION
					RETURN 
				END
			ELSE -- confirmation is done, do specific operations based on ref. data
				BEGIN
					PRINT '@hasRefDataCountCurriculumClass > 0 AND @forceOperation = 1'
					DECLARE @curricID table (curricID int);

					PRINT 'INFO: @forceOperation = 1 => Will delete [inst_year].[CurriculumClass] for parentClassID=' + CAST(@parentClassID AS VARCHAR(12));			
					UPDATE [inst_year].[CurriculumClass] SET IsValid = 0 
					OUTPUT DELETED.CurriculumID INTO @curricID
					WHERE [inst_year].[CurriculumClass].ClassId = @parentClassID 
						AND IsValid = 1;

					PRINT 'INFO: delete all [inst_year].[CurriculumStudent] for parentClassID=' + CAST(@parentClassID AS VARCHAR(12));			
					UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0 
					WHERE [inst_year].[CurriculumStudent].CurriculumID IN (
																	SELECT curricID FROM @curricID) 
						AND IsValid = 1;

					PRINT 'INFO: delete all [inst_year].[StaffPositionMainClass] for parentClassID=' + CAST(@parentClassID AS VARCHAR(12));			
					UPDATE [inst_year].[StaffPositionMainClass] SET IsValid = 0 WHERE [inst_year].[StaffPositionMainClass].MainClassID = @parentClassID AND IsValid = 1;

					PRINT 'INFO: DELETE all [ClassGroup] child elements with parentClassID=' + CAST(@parentClassID AS VARCHAR(12));
					UPDATE [inst_year].[ClassGroup] SET IsValid = 0 
					WHERE [inst_year].[ClassGroup].ParentClassID = @parentClassID 
						AND IsValid = 1;

					PRINT 'INFO: DELETE parent [ClassGroup] element with parentClassID=' + CAST(@parentClassID AS VARCHAR(12));
					UPDATE [inst_year].[ClassGroup]  SET IsValid = 0 
					WHERE [inst_year].[ClassGroup].ClassID = @parentClassID
						AND IsValid = 1;

					PRINT 'INFO: delete all [inst_year].[CurriculumTeacher] for parentClassID=' + CAST(@parentClassID AS VARCHAR(12));			
					UPDATE  [inst_year].[CurriculumTeacher] SET IsValid = 0
					WHERE CurriculumID IN(
					SELECT CurriculumID FROM (
									SELECT CurriculumID, COUNT(CurriculumID) cc 
									FROM inst_year.CurriculumClass 
									WHERE CurriculumID IN (SELECT CurricID FROM @curricID) --AND IsValid = 1
									GROUP BY CurriculumID) t 
					WHERE cc = 1);
					
					PRINT 'INFO: delete all [inst_year].[Curriculum] for parentClassID=' + CAST(@parentClassID AS VARCHAR(12));			
					UPDATE  [inst_year].[Curriculum] SET IsValid = 0
					WHERE CurriculumID IN(
					SELECT CurriculumID FROM (
									SELECT CurriculumID, COUNT(CurriculumID) cc 
									FROM inst_year.CurriculumClass 
									WHERE CurriculumID IN (SELECT CurricID FROM @curricID) --AND IsValid = 1
									GROUP BY CurriculumID) t 
					WHERE cc = 1);
					
					SET @operationResultType = 1;
					SET @messageCode = 1;
					SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;

					COMMIT TRANSACTION
					RETURN
				END
			END
		--ELSE IF @hasRefDataCountStopperSchoolBooks = 0 
		--			AND @hasRefDataCountStopperStudentClassActive = 0 
		--			AND @hasRefDataCountCurriculumClass = 0
		--	BEGIN
		--		IF @hasRefDataCountStaffPositionMainClass > 0
		--			BEGIN
		--				IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
		--					BEGIN
		--						SET @operationResultType = 0;
		--						SET @messageCode = 1007;
		--						SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;

		--						PRINT '@hasRefDataCountStaffPositionMainClass > 0 AND @forceOperation = 0'
		--						COMMIT TRANSACTION
		--						RETURN 
		--					END
		--				ELSE -- confirmation is done, do specific operations based on ref. data
		--					BEGIN
		--						PRINT '@hasRefDataCountStaffPositionMainClass > 0 AND @forceOperation = 1'
		--						PRINT 'INFO: @forceOperation = 1 => Will delete [inst_year].[StaffPositionMainClass] for parentClassID=' + CAST(@parentClassID AS VARCHAR(12));			
		--						UPDATE [inst_year].[StaffPositionMainClass] SET IsValid = 0 WHERE [inst_year].[StaffPositionMainClass].MainClassID = @parentClassID AND IsValid = 1;

		--						PRINT 'INFO: DELETE all [ClassGroup] child elements with parentClassID=' + CAST(@parentClassID AS VARCHAR(12));
		--						UPDATE [inst_year].[ClassGroup] SET IsValid = 0 WHERE [inst_year].[ClassGroup].ParentClassID = @parentClassID AND IsValid = 1;

		--						PRINT 'INFO: DELETE parent [ClassGroup] element with parentClassID=' + CAST(@parentClassID AS VARCHAR(12));
		--						UPDATE [inst_year].[ClassGroup] SET IsValid = 0 WHERE [inst_year].[ClassGroup].ClassID = @parentClassID AND IsValid = 1;
					
		--						SET @operationResultType = 1;
		--						SET @messageCode = 1;
		--						SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;
								
		--						COMMIT TRANSACTION
		--						RETURN
		--					END
		--				END	
				ELSE IF @hasRefDataCountStopperStudentClassWithoutStudents = 0 AND @hasRefDataCountCurriculumClass = 0
					BEGIN
						PRINT '@hasRefDataCountStopperStudentClassWithoutStudents = 0'
				
						PRINT 'INFO: DELETE all [ClassGroup] child elements with parentClassID=' + CAST(@parentClassID AS VARCHAR(12));
						DELETE [inst_year].[ClassGroup] 
						WHERE (ParentClassID = @parentClassID OR ClassID = @parentClassID);
			
						SET @operationResultType = 1;
						SET @messageCode = 1;
						SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;

						COMMIT TRANSACTION
						RETURN
					END
				ELSE IF @hasRefDataCountStopperStudentClassActive = 0 AND @hasRefDataCountCurriculumClass = 0
					BEGIN
						PRINT '@hasRefDataCountStopperStudentClassWithoutStudents = 0'
				
						PRINT 'INFO: DELETE all [ClassGroup] child elements with parentClassID=' + CAST(@parentClassID AS VARCHAR(12));
						UPDATE [inst_year].[ClassGroup] SET IsValid = 0
						WHERE (ParentClassID = @parentClassID OR ClassID = @parentClassID);
			
						SET @operationResultType = 1;
						SET @messageCode = 1;
						SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;

						COMMIT TRANSACTION
						RETURN
					END
	ELSE
		BEGIN		
			SET @operationResultType = 0;
			SET @messageCode = 0;
			SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @parentClassID AS parentClassID;
			
			PRINT 'ELSE Operation 3'
			ROLLBACK TRANSACTION
			RETURN
		END

		COMMIT TRANSACTION
END /* End OperationType = 3 -> DELETE [ClassGroup] parent and all children objects *************** */

ELSE IF ((@OperationType = 3) AND (@instID IS NOT NULL) AND (@childClassID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 3 -> Will DELETE child ClassGroup object with childClassID=' + CAST(@childClassID AS VARCHAR(12));

	IF (@hasRefDataCountStopperStudentClassChildActive > 0) -- there is stopper >> found StudentClass referenced data => will refuse delete operation with specific message
		BEGIN
			SET @operationResultType = 2;
			SET @messageCode = 1006;
			SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @childClassID AS childClassID; -- return back to the caller i.e. front-end
			
			PRINT '@hasRefDataCountStopperStudentClassChildActive > 0';
			COMMIT TRANSACTION
			RETURN 
		END
	ELSE
		BEGIN
			-- не може да се изтрива група, която е само една в класа
			DECLARE @parentChildClassID int;
			SET @parentChildClassID = (SELECT ParentClassID FROM [inst_year].[ClassGroup] 
				WHERE [inst_year].[ClassGroup].ClassID = @childClassID AND IsValid = 1);

			DECLARE @childClassCount smallint;
			SET @childClassCount = (SELECT COUNT(ClassID) FROM [inst_year].[ClassGroup] 
				WHERE [inst_year].[ClassGroup].ParentClassID = @parentChildClassID AND IsValid = 1);
		
			IF (@childClassCount = 1)
				BEGIN
					SET @operationResultType = 2;
					SET @messageCode = 1008;
					SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @childClassID AS childClassID; -- return back to the caller i.e. front-end
					
					PRINT '@childClassCount = 1';  
					COMMIT TRANSACTION
					RETURN 
				END	
			ELSE IF (@childClassCount > 1)
				BEGIN 
				IF @hasRefDataCountStopperStudentClassChildWithoutStudents = 0
					BEGIN
						DELETE TOP(1) [inst_year].[ClassGroup] 
						WHERE [inst_year].[ClassGroup].ClassID = @childClassID AND IsValid = 1;
						PRINT 'INFO: [ClassGroup] Child Class DELETED with ClassID=' + CAST(@childClassID AS VARCHAR(12));
					END
				ELSE IF @hasRefDataCountStopperStudentClassChildWithoutStudents > 0
					BEGIN
						UPDATE TOP(1) [inst_year].[ClassGroup] SET IsValid = 0 
						WHERE [inst_year].[ClassGroup].ClassID = @childClassID AND IsValid = 1;
						PRINT 'INFO: [ClassGroup] Child Class DELETED with ClassID=' + CAST(@childClassID AS VARCHAR(12));
					END

					-- check if it is the last child....
					SET @childClassCount = (SELECT COUNT(ClassID) FROM [inst_year].[ClassGroup] 
						WHERE [inst_year].[ClassGroup].ParentClassID = @parentChildClassID AND IsValid = 1);
					
					DECLARE @basicClassEx int, @ClassTypeEx int, @ClassEduFormEx int, @ClassEduDurationEx int
						,@ClassShiftEx int, @BudgetingClassTypeEx int, @EntranceLevelEx int, @ClassSpecialityEx int
						,@FLTypeEx int, @FLEx int

					IF (@childClassCount = 1)
						BEGIN
							--update IsWholeClass
							UPDATE TOP(1) [inst_year].[ClassGroup] SET [inst_year].[ClassGroup].IsWholeClass = 1
							WHERE [inst_year].[ClassGroup].ClassID = @parentChildClassID;

							--update ClassGroupNum renumbering
							UPDATE [inst_year].[ClassGroup] SET ClassGroupNum = t.rown
							FROM inst_year.ClassGroup CG
							JOIN (SELECT ROW_NUMBER() OVER (PARTITION BY ParentClassID ORDER BY ClassID) rown, ClassID
									FROM inst_year.ClassGroup 
									WHERE ParentClassID = @parentChildClassID and IsValid = 1) t 
								ON CG.ClassID = t.ClassID
							WHERE ParentClassID = @parentChildClassID AND IsValid = 1

							--UPDATE if one of these values is different for all records for that parentClassid 
							SELECT @DifferentBasicClass = COUNT(DISTINCT BasicClassID)
								,@DifferentClassType = COUNT(DISTINCT ClassTypeID)
								,@DifferentClassEduForm = COUNT(DISTINCT ClassEduFormID)
								,@DifferentClassEduDuration = COUNT(DISTINCT ClassEduDurationID)
								,@DifferentClassShift = COUNT(DISTINCT ClassShiftID)
								,@DifferentBudgetingClassType = COUNT(DISTINCT BudgetingClassTypeID)
								,@DifferentEntranceLevel = COUNT(DISTINCT EntranceLevelID)
								,@DifferentClassSpeciality = COUNT(DISTINCT ClassSpecialityID)
								,@DifferentFLType = COUNT(DISTINCT FLTypeID)
								,@DifferentFLID = COUNT(DISTINCT FLID)
							FROM inst_year.ClassGroup 
							WHERE (ClassID = @parentChildClassID OR ParentClassID = @parentChildClassID) AND IsValid = 1;

							IF @DifferentBasicClass = 1 OR @DifferentClassType = 1 OR @DifferentClassEduForm = 1 
								OR @DifferentClassEduDuration = 1 OR @DifferentClassShift = 1 OR @DifferentBudgetingClassType = 1
								OR @DifferentEntranceLevel = 1 OR @DifferentClassSpeciality = 1 OR @DifferentFLType = 1 
								OR @DifferentFLID = 1
							BEGIN
								SELECT TOP 1 @basicClassEx = BasicClassID, @ClassTypeEx = ClassTypeID, @ClassEduFormEx = ClassEduFormID
										,@ClassEduDurationEx = ClassEduDurationID ,@ClassShiftEx = ClassShiftID
										,@BudgetingClassTypeEx = BudgetingClassTypeID, @EntranceLevelEx = EntranceLevelID
										,@ClassSpecialityEx = ClassSpecialityID ,@FLTypeEx = FLTypeID, @FLEx = FLID 
								FROM [inst_year].[ClassGroup] WHERE ParentClassID = @parentChildClassID AND IsValid = 1

								UPDATE top (1) [inst_year].[ClassGroup]
								SET BasicClassID = @basicClassEx
									,ClassTypeID = @ClassTypeEx
									,ClassEduFormID = @ClassEduFormEx
									,ClassEduDurationID = @ClassEduDurationEx
									,ClassShiftID = @ClassShiftEx
									,BudgetingClassTypeID = @BudgetingClassTypeEx
									,EntranceLevelID = @EntranceLevelEx
									,ClassSpecialityID = @ClassSpecialityEx
									,FLTypeID = @FLTypeEx
									,FLID = @FLEx		 
								WHERE ([inst_year].[ClassGroup].ClassID = @parentChildClassID) AND IsValid = 1;
							END
							--END UPDATE different values

							-- UPDATE if basicClass are different -> the class is combined and reverse logic
								UPDATE inst_year.ClassGroup SET IsCombined = IIF(@DifferentBasicClass<>1,1,0)
								WHERE (ClassID = @parentChildClassID OR ParentClassID = @parentChildClassID) AND IsValid = 1;

						END
					ELSE
						BEGIN
							--update ClassGroupNum renumbering
							UPDATE [inst_year].[ClassGroup] SET ClassGroupNum = t.rown
							FROM inst_year.ClassGroup CG
							JOIN (SELECT ROW_NUMBER() OVER (PARTITION BY ParentClassID ORDER BY ClassID) rown, ClassID
									FROM inst_year.ClassGroup 
									WHERE ParentClassID = @parentChildClassID and IsValid = 1) t 
								ON CG.ClassID = t.ClassID
							WHERE ParentClassID = @parentChildClassID AND IsValid = 1
						
							--UPDATE if one of these values is different for all records for that parentClassid 
							SELECT @DifferentBasicClass = COUNT(DISTINCT BasicClassID)
								,@DifferentClassType = COUNT(DISTINCT ClassTypeID)
								,@DifferentClassEduForm = COUNT(DISTINCT ClassEduFormID)
								,@DifferentClassEduDuration = COUNT(DISTINCT ClassEduDurationID)
								,@DifferentClassShift = COUNT(DISTINCT ClassShiftID)
								,@DifferentBudgetingClassType = COUNT(DISTINCT BudgetingClassTypeID)
								,@DifferentEntranceLevel = COUNT(DISTINCT EntranceLevelID)
								,@DifferentClassSpeciality = COUNT(DISTINCT ClassSpecialityID)
								,@DifferentFLType = COUNT(DISTINCT FLTypeID)
								,@DifferentFLID = COUNT(DISTINCT FLID)
							FROM inst_year.ClassGroup 
							WHERE (ClassID = @parentChildClassID OR ParentClassID = @parentChildClassID) AND IsValid = 1;

							IF @DifferentBasicClass = 1 OR @DifferentClassType = 1 OR @DifferentClassEduForm = 1 
								OR @DifferentClassEduDuration = 1 OR @DifferentClassShift = 1 OR @DifferentBudgetingClassType = 1
								OR @DifferentEntranceLevel = 1 OR @DifferentClassSpeciality = 1 OR @DifferentFLType = 1 
								OR @DifferentFLID = 1
							BEGIN
								SELECT TOP 1 @basicClassEx = BasicClassID, @ClassTypeEx = ClassTypeID, @ClassEduFormEx = ClassEduFormID
										,@ClassEduDurationEx = ClassEduDurationID ,@ClassShiftEx = ClassShiftID
										,@BudgetingClassTypeEx = BudgetingClassTypeID, @EntranceLevelEx = EntranceLevelID
										,@ClassSpecialityEx = ClassSpecialityID ,@FLTypeEx = FLTypeID, @FLEx = FLID 
								FROM [inst_year].[ClassGroup] WHERE ParentClassID = @parentChildClassID AND IsValid = 1

								UPDATE top (1) [inst_year].[ClassGroup]
								SET BasicClassID = @basicClassEx
									,ClassTypeID = @ClassTypeEx
									,ClassEduFormID = @ClassEduFormEx
									,ClassEduDurationID = @ClassEduDurationEx
									,ClassShiftID = @ClassShiftEx
									,BudgetingClassTypeID = @BudgetingClassTypeEx
									,EntranceLevelID = @EntranceLevelEx
									,ClassSpecialityID = @ClassSpecialityEx
									,FLTypeID = @FLTypeEx
									,FLID = @FLEx		 
								WHERE ([inst_year].[ClassGroup].ClassID = @parentChildClassID) AND IsValid = 1;
							END
							--END UPDATE different values

							-- UPDATE if basicClass are different -> the class is combined and reverse logic
								UPDATE inst_year.ClassGroup SET IsCombined = IIF(@DifferentBasicClass<>1,1,0)
								WHERE (ClassID = @parentChildClassID OR ParentClassID = @parentChildClassID) AND IsValid = 1;
					
						END
						
						SET @operationResultType = 1;
						SET @messageCode = 1;
				END		
		END

	SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @childClassID AS childClassGroupID, @parentChildClassID AS parentClassGroupID; -- return back to the caller i.e. front-end
END /* End OperationType = 3 -> DELETE [ClassGroup] child object *************** */

/* ############################################################ */
ELSE
	THROW 99001, '[classGroupCUD] Illegal CONTEXT or MASTER Obejects params! Please contact DEV/support team.', 1;

EXEC [logs].logEvent @_json, @OperationType, 103, 'ClassGroup', @childClassID, @schoolYear;

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	DECLARE @objectId INT;
	IF (@parentClassID IS NOT NULL)
	BEGIN
		SET @objectId = @parentClassID;
	END
	ELSE
		SET @objectId = @childClassID;

	EXEC [logs].logError @_json, @OperationType, 103, 'ClassGroup', @objectId, @schoolYear;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [inst_basic].[classGroupCUD] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
