USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[institutionSchoolBoardCUD]    Script Date: 8/1/2022 12:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [inst_basic].[institutionSchoolBoardCUD]
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS

BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param: institutionID --------------
DECLARE @instid int;
SELECT @instid = instid FROM OPENJSON(@_json)
WITH (   
		instid int			'$.instid'
)

-- ---------- define Master object: [InstitutionSchoolBoard] ID param --------------
DECLARE @institutionSchoolBoardID int;
SELECT @institutionSchoolBoardID = institutionSchoolBoardID FROM OPENJSON(@_json)
WITH (   
			institutionSchoolBoardID int			'$.institutionSchoolBoardID'
)

-- ---------- define context param: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)

-- ---------- define context param: helpStudentGovernment --------------
DECLARE @helpStudentGovernment bit;
SELECT @helpStudentGovernment = helpStudentGovernment FROM OPENJSON(@_json)
WITH (   
		helpStudentGovernment bit			'$.helpStudentGovernment'
)

-- ---------- define context param2: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = inst_year.getSchoolYearByInstID(@instID)

DECLARE @ExternalID NVARCHAR(100) = NULL;


	--if the school used external data provider --- then it cannot write to the database
	DECLARE @isExtDataProvider bit;
	SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
	FROM [core].[InstitutionConfData] 
	WHERE InstitutionID = @instID 
		AND SchoolYear = @schoolYear

	IF @isExtDataProvider = 1
	BEGIN	
		DECLARE @operationResultType int,  @messageCode int;
		SET @operationResultType = 2;
		SET @messageCode = 1023;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID; 

		COMMIT TRANSACTION
		RETURN
	END

PRINT 'INFO: PROCEDURE institutionSchoolBoardCUD started! Initial data gathered. InstitutionID=' + CAST(@instID AS VARCHAR(12));

/* ************ OperationType = 1 -> CREATE NEW InstitutionSchoolBoard *************** */
IF ((@OperationType = 1) AND (@instID IS NOT NULL) AND (@institutionSchoolBoardID IS NULL))
BEGIN
	PRINT 'INFO: OperationType: 1 - CREATE NEW [InstitutionSchoolBoard]...';
	
	INSERT INTO [inst_basic].[InstitutionSchoolBoard]
           (
				[InstitutionID]
				,[FirstName]
				,[MiddleName]
				,[FamilyName]
				,[SchoolBoardRoleID]
				,[Email]
				,[PhoneNumber]
				,[HelpStudentGovernment]
				,[SysUserID]
				,[ExternalID]
			)
	SELECT @instid, *, @sysuserid, @ExternalID
	FROM OPENJSON(@_json)
	WITH (   
		firstName nvarchar(255)
		,middleName nvarchar(255)
		,familyName nvarchar(255)
		,schoolBoardRole int
		,email nvarchar(50)
		,phone nvarchar(50)
		,helpStudentGovernment bit
		); 

	SELECT @institutionSchoolBoardID = SCOPE_IDENTITY();

	-- GET INSERTED @institutionSchoolBoardID (autoincrement)
	PRINT 'INFO: [institutionSchoolBoard] created with id=' + CAST(@institutionSchoolBoardID AS VARCHAR(12));


	IF (@helpStudentGovernment = 1)
	BEGIN
		INSERT INTO [student].[SelfGovernment]
			VALUES (@schoolYear, NULL, 10, 4, NULL, NULL, @instid, @sysuserid, GETDATE(), NULL, NULL, @institutionSchoolBoardID, NULL, NULL);
		PRINT 'INFO: [student].[SelfGovernment] INSERTED for institutionSchoolBoardID=' + CAST(@institutionSchoolBoardID AS VARCHAR(12));
	END

	SELECT @institutionSchoolBoardID AS institutionSchoolBoardID; -- return back to the caller i.e. front-end


END  /* End of OperationType = 1 -> CREATE NEW institutionSchoolBoard *************** */


/* ############################## Start OperationType = 2 -> UPDATE institutionSchoolBoard ############################## */
ELSE IF ((@OperationType = 2) AND (@instid IS NOT NULL) AND (@institutionSchoolBoardID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object: [InstitutionSchoolBoard] with InstitutionPublicCouncilID=' + CAST(@institutionSchoolBoardID AS VARCHAR(12));

	DECLARE @helpStudentGovernmentBeforeUpdate bit;
	SELECT @helpStudentGovernmentBeforeUpdate = (SELECT HelpStudentGovernment FROM [inst_basic].[InstitutionSchoolBoard] WHERE [inst_basic].[InstitutionSchoolBoard].InstitutionSchoolBoardID = @institutionSchoolBoardID) 

	UPDATE top (1) [inst_basic].[InstitutionSchoolBoard]
	SET 
		[FirstName] = JIPC.firstName
		,[MiddleName]= JIPC.middleName
		,[FamilyName] = JIPC.familyName
		,[SchoolBoardRoleID]=JIPC.schoolBoardRole
		,[Email]=JIPC.email
		,[PhoneNumber]=JIPC.phone
		,[HelpStudentGovernment]=JIPC.helpStudentGovernment
		,[SysUserID]=@sysuserid
	FROM OPENJSON(@_json)
	WITH (   
		firstName nvarchar(255)
		,middleName nvarchar(255)
		,familyName nvarchar(255)
		,schoolBoardRole int
		,email nvarchar(50)
		,phone nvarchar(50)
		,helpStudentGovernment bit
		) JIPC				 
	WHERE
		[inst_basic].[InstitutionSchoolBoard].InstitutionSchoolBoardID = @institutionSchoolBoardID;

	PRINT 'INFO: [InstitutionSchoolBoard] UPDATED successfully!';

	IF ((@helpStudentGovernment = 1) AND (@helpStudentGovernmentBeforeUpdate = 0))
	BEGIN 
		INSERT INTO [student].[SelfGovernment]
			VALUES (@schoolYear, NULL, 10, 4, NULL, NULL, @instid, @sysuserid, GETDATE(), NULL, NULL, @institutionSchoolBoardID, NULL, NULL);
		PRINT 'INFO: [student].[SelfGovernment] INSERTED for transition helpStudentGovernment 0->1 AND institutionSchoolBoardID=' + CAST(@institutionSchoolBoardID AS VARCHAR(12));
	END
	ELSE IF ((@helpStudentGovernment = 0) AND (@helpStudentGovernmentBeforeUpdate = 1))
	BEGIN 
		DELETE FROM [student].[SelfGovernment]
			WHERE [student].[SelfGovernment].InstitutionSchoolBoardId = @institutionSchoolBoardID;
		PRINT 'INFO: [student].[SelfGovernment] DELETED for transition helpStudentGovernment 1->0 AND institutionSchoolBoardID=' + CAST(@institutionSchoolBoardID AS VARCHAR(12));
	END

END  /* End OperationType = 2 -> UPDATE institutionSchoolBoard *************** */

/* ############################## Start OperationType = 3 -> DELETE InstitutionSchoolBoard ############################## */
ELSE IF ((@OperationType = 3) AND (@instid IS NOT NULL) AND (@institutionSchoolBoardID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 3 -> DELETE [institutionSchoolBoard] with institutionSchoolBoardID=' + CAST(@institutionSchoolBoardID AS VARCHAR(12));

	DELETE FROM [student].[SelfGovernment]
		WHERE [student].[SelfGovernment].InstitutionSchoolBoardId = @institutionSchoolBoardID;
	
	DELETE FROM [inst_basic].[InstitutionSchoolBoard]
		WHERE [inst_basic].[InstitutionSchoolBoard].InstitutionSchoolBoardID = @institutionSchoolBoardID;


	PRINT 'INFO: [InstitutionSchoolBoard] DELETED with InstitutionSchoolBoardID=' + CAST(@institutionSchoolBoardID AS VARCHAR(12));

	SELECT @institutionSchoolBoardID AS id;
END /* End OperationType = 3 -> DELETE [institutionSchoolBoard] *************** */
ELSE
	THROW 99004, 'Procedure [institutionSchoolBoardCUD] - Error! Illegal CONTEXT or MASTER Obejects params! Please contact DEV/support team.', 1;

EXEC [logs].logEvent @_json, @OperationType, 103, 'InstitutionSchoolBoard', @institutionSchoolBoardID, NULL

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'InstitutionSchoolBoard', @institutionSchoolBoardID, NULL;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [institutionPublicCouncilCUD] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
/* ************ END OF PROCEDURE ************ */

