USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_year].[pedStaffDataCUD]    Script Date: 8/18/2022 3:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [inst_year].[pedStaffDataCUD] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS

BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param: personid --------------
DECLARE @personid int;
SELECT @personid = PersonID FROM OPENJSON(@_json)
WITH (   
		personid int			'$.personid'
)

-- ---------- define context param1: instid --------------
DECLARE @instID int;
SELECT @instID = institutionID FROM OPENJSON(@_json)
WITH (   
		institutionID int			'$.instid'
)

-- ---------- define context param2: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)

-- ---------- define Master object: [InstitutionPublicCouncil] ID param --------------
DECLARE @staffPositionID int;
SELECT @staffPositionID = StaffPositionID FROM OPENJSON(@_json)
WITH (   
			staffPositionID int			'$.staffPositionID'
)
-- ---------- define Detail object 2: [inst_year].[PedStaffData] (i.e. 'norma') ID (SINGLE OBJECT, not a collection) ---
DECLARE @normaCreatedVar TABLE  
(  
	id INT
);
DECLARE @normaCreatedString NVARCHAR(4000);

DECLARE @normaUpdatedVar TABLE  
(  
	id INT
);
DECLARE @normaUpdatedString NVARCHAR(4000);

-- ---------- define Detail object 3: [inst_year].[CurriculumTeacher] (i.e. 'staffPositionHorarium') ID and string params ---
DECLARE @curriculumTeacherCreatedVar TABLE  
(  
	id INT
);
DECLARE @curriculumTeacherCreatedString NVARCHAR(4000);

DECLARE @curriculumTeacherUpdatedVar TABLE  
(  
	id INT
);
DECLARE @curriculumTeacherUpdatedString NVARCHAR(4000);

DECLARE @curriculumTeacherDeletedString NVARCHAR(4000);

DECLARE @curriculumDeletedString NVARCHAR(4000);


-- ---------- define global variable: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = [inst_year].[getSchoolYearByInstID](@instID)

-- ---------- define Additional params --------------
DECLARE @operationResultType int; -- (0) Warning. It is sent only if forceOperation = 0; (-1) Error; (1) Successfully completed operation
DECLARE @forceOperation int; -- (0) no force action required, send warning to the customer; (1) operation is forced to be executed
DECLARE @hasRefDataCount int; -- sum of found referenced record (could be more tan one source)
DECLARE @messageCode int;

SELECT @forceOperation = ForceOperation FROM OPENJSON(@_json)
WITH (   
		forceOperation int			'$.forceOperation'
)

DECLARE @ExternalID NVARCHAR(100) = NULL;

	--if the school used external data provider --- then it cannot write to the database
	DECLARE @isExtDataProvider bit;
	SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
	FROM [core].[InstitutionConfData] 
	WHERE InstitutionID = @instID 
		AND SchoolYear = @schoolYear

	IF @isExtDataProvider = 1
	BEGIN	
		SET @operationResultType = 2;
		SET @messageCode = 1023;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID; 

		COMMIT TRANSACTION
		RETURN
	END


PRINT 'INFO: PROCEDURE StaffDataCUD started! Initial data gathered. PersonID=' + CAST(@personid AS VARCHAR(12));

/* ************ OperationType = 1 -> CREATE NEW staffPosition *************** */
IF ((@OperationType = 2) AND (@personid IS NOT NULL) AND (@staffPositionID IS NOT NULL))
BEGIN
			/* *********************** UPDATE [inst_year].[PedStaffData] i.e. 'norma'  ************************ */ 
			UPDATE top (1) [inst_year].[PedStaffData]
			SET [Norma]=JPSD.norma
				,[NormaT]=JPSD.normaT
				,[SysUserID]=@sysuserid
			FROM OPENJSON(@_json, '$.normaUpdated')
			WITH (   
				norma float,
				normaT float
				) JPSD				 
			WHERE
				[inst_year].[PedStaffData].[StaffPositionID] = @staffPositionID 
					AND [inst_year].[PedStaffData].[SchoolYear] = @schoolYear;
			PRINT 'INFO: [PedStaffData] UPDATED successfully!';
			/* *********************** END UPDATE [inst_year].[PedStaffData] i.e. 'norma'  *************************** */

	
	/* *********************** CREATE newly added [CurriculumTeacher] objects in collection ******************************** */ 
	INSERT INTO [inst_year].[CurriculumTeacher]
	(
	   [StaffPositionID]
	  ,[CurriculumID]
	  ,[IsNotRegularTeacher]
	  ,[NormaTS]
	  ,[SchoolYear]
	  ,[SysUserID]
	  ,[ExternalID]
	)
	OUTPUT INSERTED.CurriculumTeacherID INTO @curriculumTeacherCreatedVar
	SELECT @staffPositionID,id,notRegularTeacher,ISNULL(normaTS,normaS),@schoolYear, @sysuserid, @ExternalID
	FROM OPENJSON(@_json, '$.staffPositionHorariumCreated')
	WITH (
		id int,
		notRegularTeacher bit,
		normaS int,
		normaTS int
	);
	SET @curriculumTeacherCreatedString = (SELECT STRING_AGG(id, ',') FROM @curriculumTeacherCreatedVar);
	PRINT 'INFO: [CurriculumTeacher] INSERTED with CurriculumTeacherIDs=' + @curriculumTeacherCreatedString;

	/* *********************** UPDATE existing/changed [CurriculumTeacher] objects in collection ******************************** */ 
	UPDATE [inst_year].[CurriculumTeacher]
	SET
	   [StaffPositionID] = @staffPositionID
	  ,[CurriculumID] = JCT.id
	  ,[IsNotRegularTeacher] = JCT.notRegularTeacher
	  ,[NormaTS] = ISNULL(JCT.normaTS, normaS)
	  ,[SchoolYear] = @schoolYear
	  ,[SysUserID] = @sysuserid
	OUTPUT INSERTED.CurriculumTeacherID INTO @curriculumTeacherUpdatedVar
	FROM OPENJSON(@_json, '$.staffPositionHorariumUpdated')
	WITH (   
		id int					 '$.id'
		,curriculumTeacherID int '$.curriculumTeacherID'
		,notRegularTeacher bit	 '$.notRegularTeacher'
		,normaS int				 '$.normaS'
		,normaTS int			 '$.normaTS'
		) JCT
	WHERE
		[inst_year].[CurriculumTeacher].CurriculumTeacherID = JCT.curriculumTeacherID;
	SET @curriculumTeacherUpdatedString = (SELECT STRING_AGG(id, ',') FROM @curriculumTeacherUpdatedVar);
	PRINT 'INFO: [CurriculumTeacher] UPDATED with CurriculumTeacherIDs=' + @curriculumTeacherUpdatedString;

	/* *********************** DELETE removed [CurriculumTeacher] objects in collection **************************** */
	SELECT @curriculumTeacherDeletedString = (SELECT STRING_AGG(curriculumTeacherDeletedIDs, ',')  
		FROM OPENJSON(@_json, '$.staffPositionHorariumDeleted')
		WITH (   
			curriculumTeacherDeletedIDs int			'$.curriculumTeacherID'
		));

	UPDATE [inst_year].[CurriculumTeacher] SET IsValid = 0
		WHERE [inst_year].[CurriculumTeacher].CurriculumTeacherID IN (			
			SELECT curriculumTeacherDeletedIDs FROM OPENJSON(@_json, '$.staffPositionHorariumDeleted')
				WITH (   
					curriculumTeacherDeletedIDs int			'$.curriculumTeacherID'
				)
			);
	PRINT 'INFO: [CurriculumTeacher] DELETED with CurriculumTeacherIDs=' + CAST(@curriculumTeacherDeletedString AS VARCHAR(12)); 
	/* *********************** END INSERT INTO [inst_year].[CurriculumTeacher] i.e. staffPositionHorarium **************** */
		
	EXEC [inst_year].[calculationCRec] @staffPositionID,@schoolYear,@sysuserid,@instID, @_json, @operationType


END	

ELSE
BEGIN
	DECLARE @ERR_MSG NVARCHAR(4000);
	SELECT @ERR_MSG = 'Illegal CONTEXT or MASTER Obejects params! Sent params are: ' + 
		'OperationType=' + ISNULL(CAST(@OperationType AS VARCHAR(12)),'') + 
		', personid=' + ISNULL(CAST(@personid AS VARCHAR(12)),'') +
		', staffPositionID=' + ISNULL(CAST(@staffPositionID AS VARCHAR(12)),'');
	THROW 99000, @ERR_MSG, 1;
END

EXEC [logs].logEvent @_json, @OperationType, 103, 'StaffData', @staffPositionID, @schoolYear;

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'StaffData', @staffPositionID, @schoolYear;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [personStaffPositionCUD] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
/* ************ END OF PROCEDURE ************ */