USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[checkSubjectInstitution]    Script Date: 7/27/2022 3:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER  
 PROCEDURE [inst_basic].[checkSubjectInstitution]
	-- Add the parameters here
	@_json NVARCHAR(MAX),
	@OperationType int
AS
BEGIN

	/************** Setup initial params ******************/
	-- ---------- define context param: institutionID --------------
	DECLARE @instid int;
	SELECT @instid = instid FROM OPENJSON(@_json)
	WITH (   
			instid int			'$.instid'

	)

	-- ---------- define context param: subjectName --------------
	DECLARE @subjectName nvarchar(255);
	SELECT @subjectName = subjectName FROM OPENJSON(@_json)
	WITH (   
			subjectName nvarchar(max)			'$.subjectName'

	)
	-- ---------- define context param: resultType --------------
	DECLARE @status int;
	DECLARE @messageCode int;

	-- 
	DECLARE @translateString NVARCHAR(255) = '0123456789~!@#$%^&*()_+={}[]\|,.<>/?';
	DECLARE @replaceString   NVARCHAR(255) = '                                    ';

	DECLARE @nomSubjectName Nvarchar(255);
	DECLARE @subjectId INT;
	DECLARE @isValid BIT;
	DECLARE @complMachRows INT = 0;
	DECLARE @partMachRows INT = 0;

	SELECT @subjectId = cvv.CustomVarValue,
		   @isValid = cvv.IsValid,
		   @nomSubjectName = sub.SubjectName,
		   @complMachRows = count(*) over()
	  FROM inst_nom.CustomVarValue cvv
	  JOIN inst_nom.Subject sub on (cvv.CustomVarID = 1 and cvv.CustomVarValue = sub.SubjectID)
	  where cvv.InstitutionID = @instid
		and trim (sub.SubjectName) = trim(translate(@subjectName, @translateString, @replaceString ));

	IF @complMachRows > 0 
		BEGIN
			IF  @subjectId between 0 and 199 
				BEGIN 
					SET @status = 1;
					SET @messageCode = 1027;
				END;
			ELSE
				IF @isValid = 1
					BEGIN
						SET @status = 2;
						SET @messageCode = 1028;
					END;
				ELSE 
					BEGIN 
						SET @status = 3;
						SET @messageCode = 1
					END;
		
		END; 
	ELSE 
		BEGIN 
			SELECT top(1)
					   @subjectId = cvv.CustomVarValue,
					   @isValid = cvv.IsValid,
					   @nomSubjectName = sub.SubjectName,
					   @partMachRows = count(*) over()
				  FROM inst_nom.CustomVarValue cvv
				  JOIN inst_nom.Subject sub on (cvv.CustomVarID = 1 and cvv.CustomVarValue = sub.SubjectID)
				  where cvv.InstitutionID = @instid
					and trim (sub.SubjectName) like concat('%', trim(translate(@subjectName, @translateString, @replaceString )), '%');
			IF @partMachRows > 0
				SET @status = 4;
				
			ELSE 
				SET @status = 5;
		END;

		SELECT @status AS Status, @messageCode As MessageCode 

		If @status = 3 
			SELECT sub.SubjectID, sub.SubjectName, sub.SubjectNameShort, sub.IsValid				  
			  FROM inst_nom.Subject sub 
			  WHERE sub.SubjectID = @subjectId;
		
		IF @status = 4
				SELECT sub.SubjectID, sub.SubjectName, sub.SubjectNameShort, sub.IsValid
				  FROM inst_nom.Subject sub
				  where  trim (sub.SubjectName) like concat('%', trim(translate(@subjectName, @translateString, @replaceString )), '%');
				
END
