USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[personStaffPositionCUD]    Script Date: 8/23/2022 1:16:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [inst_basic].[personStaffPositionCUD] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS

BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param: personid --------------
DECLARE @personid int;
SELECT @personid = PersonID FROM OPENJSON(@_json)
WITH (   
		personid int			'$.personid'
)

-- ---------- define context param1: instid --------------
DECLARE @instID int;
SELECT @instID = institutionID FROM OPENJSON(@_json)
WITH (   
		institutionID int			'$.instid'
)

-- ---------- define context param2: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)

-- ---------- define Master object: [InstitutionPublicCouncil] ID param --------------
DECLARE @staffPositionID int;
SELECT @staffPositionID = StaffPositionID FROM OPENJSON(@_json)
WITH (   
			staffPositionID int			'$.staffPositionID'
)
-- ---------- define Master object: terminationReasonID ID param --------------
DECLARE @terminationReasonID int;
SELECT @terminationReasonID = terminationReasonID FROM OPENJSON(@_json)
WITH (   
			terminationReasonID int			'$.terminationReasonID'
)
-- ---------- define Master object: terminationDate --------------
DECLARE @terminationDate date;
SELECT @terminationDate = terminationDate FROM OPENJSON(@_json)
WITH (   
			terminationDate date			'$.terminationDate'
)

-- ---------- define Detail object 2: [inst_year].[PedStaffData] (i.e. 'norma') ID (SINGLE OBJECT, not a collection) ---
DECLARE @normaCreatedString NVARCHAR(4000);

DECLARE @normaUpdatedVar TABLE  
(  
	id INT
);
DECLARE @normaUpdatedString NVARCHAR(4000);

-- ---------- define Detail object 3: [inst_year].[CurriculumTeacher] (i.e. 'staffPositionHorarium') ID and string params ---
DECLARE @curriculumTeacherCreatedVar TABLE  
(  
	id INT
);
DECLARE @curriculumTeacherCreatedString NVARCHAR(4000);

DECLARE @curriculumTeacherUpdatedVar TABLE  
(  
	id INT
);
DECLARE @curriculumTeacherUpdatedString NVARCHAR(4000);

DECLARE @curriculumTeacherDeletedString NVARCHAR(4000);

DECLARE @curriculumDeletedString NVARCHAR(4000);


-- ---------- define global variable: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = [inst_year].[getSchoolYearByInstID](@instID)

-- ---------- define Additional params --------------
DECLARE @operationResultType int; -- (0) Warning. It is sent only if forceOperation = 0; (-1) Error; (1) Successfully completed operation
DECLARE @forceOperation int; -- (0) no force action required, send warning to the customer; (1) operation is forced to be executed
DECLARE @hasRefDataCount int; -- sum of found referenced record (could be more tan one source)
DECLARE @messageCode int;

SELECT @forceOperation = ForceOperation FROM OPENJSON(@_json)
WITH (   
		forceOperation int			'$.forceOperation'
)

-- ---------- define context param: helpStudentGovernment --------------
DECLARE @helpStudentGovernment bit = 0;
SELECT @helpStudentGovernment = helpStudentGovernment FROM OPENJSON(@_json)
WITH (   
		helpStudentGovernment bit			'$.helpStudentGovernment'
)
-- ---------- define context param: currentlyValid --------------
DECLARE @currentlyValid bit;
SELECT @currentlyValid = currentlyValid FROM OPENJSON(@_json)
WITH (   
		currentlyValid bit			'$.currentlyValid'
)
-- ---------- define context param: @isValid --------------
DECLARE @isValid bit;
SELECT @isValid = isValid FROM OPENJSON(@_json)
WITH (   
		isValid bit			'$.isValid'
)
-- ---------- define context param: @isArchived --------------
DECLARE @isArchived bit;
SELECT @isArchived = isArchived FROM OPENJSON(@_json)
WITH (   
		isArchived bit			'$.isArchived'
)

-- ---------- define context param: @staffTypeId --------------
DECLARE @staffTypeId int;
SELECT @staffTypeId = staffTypeID FROM OPENJSON(@_json)
WITH (   
		staffTypeID int			'$.staffTypeID'
)

DECLARE @hasRefDataPedStaffData int;
SET @hasRefDataPedStaffData = (SELECT COUNT(StaffPositionID) FROM [inst_year].[PedStaffData]
	WHERE [inst_year].[PedStaffData].[StaffPositionID] = @staffPositionID); --AND [inst_year].[PedStaffData].[SchoolYear] = @schoolYear);

DECLARE @hasRefDataCurriculumTeacher int;
SET @hasRefDataCurriculumTeacher = (SELECT COUNT(StaffPositionID) FROM [inst_year].[CurriculumTeacher]
	WHERE [inst_year].[CurriculumTeacher].[StaffPositionID] = @staffPositionID);

DECLARE @ExternalID NVARCHAR(100) = NULL;

DECLARE @IsValidBeforeUpdate bit;
SELECT @IsValidBeforeUpdate = ISNULL(IsValid,0) FROM inst_basic.StaffPosition WHERE StaffPositionID = @staffPositionID



	--if the school used external data provider --- then it cannot write to the database
	DECLARE @isExtDataProvider bit;
	SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
	FROM [core].[InstitutionConfData] 
	WHERE InstitutionID = @instID 
		AND SchoolYear = @schoolYear

	IF @isExtDataProvider = 1
	BEGIN	
		SET @operationResultType = 2;
		SET @messageCode = 1023;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID; 

		COMMIT TRANSACTION
		RETURN
	END

PRINT 'INFO: PROCEDURE personStaffPositionCUD started! Initial data gathered. PersonID=' + CAST(@personid AS VARCHAR(12));

/* ************ OperationType = 1 -> CREATE NEW staffPosition *************** */
IF ((@OperationType = 1) AND (@personid IS NOT NULL) AND (@staffPositionID IS NULL))
BEGIN
	PRINT 'INFO: OperationType: 1 - CREATE NEW [staffPosition]...';
	INSERT INTO [inst_basic].[StaffPosition] (
		 [PersonID]
		,[InstitutionID]
		,[IsValid]
		,[SysUserID]
		,[StaffOrd]
		,[StaffPositionNo]
		,[ContractTypeID]
		,[ContractReasonID]
		,[ContractNo]
		,[ContractYear]
		,[ContractNotes]
		,[ContractWithID]
		,[IsAccountablePerson]
		,[StaffTypeID]
		,[CategoryStaffTypeID]
		,[NKPDPositionID]
		,[PositionKindID]
		,[PositionNotes]
		,[PositionCount]
	    --,[ExperienceYear]
        ,[WorkStartYear]
        ,[WorkExpTotalYears]
        ,[WorkExpSpecYears]
        ,[WorkExpTeachYears]
        ,[MainPersonOKSID]
		--,[Notes]
        ,[IsTravel]
        ,[TeachStageID]
		,[PositionSubjectGroupID]
        ,[IsHospital]
        ,[IsMentor]
        ,[IsTrainee]
        ,[IsNotMeetReq]
		,[HasTELK]
        ,[CurrentlyValid]
		,[HelpStudentGovernment]
		,[MainClassID]
		,[ExternalID]
	)
	SELECT @personid, @instid, 1,  @sysuserid, *, @ExternalID
	FROM OPENJSON(@_json)
	WITH (   
		 staffOrd int
		,staffPositionNo int
		,contractTypeID int
		,contractReasonID int
		,contractNo nvarchar(50)
		,contractYear int
		,contractNotes nvarchar(1024)
		,contractWithID int
		,isAccountablePerson bit
		,staffTypeID int
		,categoryStaffTypeID int
		,NKPDPositionID int
		,positionKindID int
		,positionNotes nvarchar(1024)
		,positionCount real
		--,experienceYear int
		,workStartYear int
		,workExpTotalYears int
		,workExpSpecYears int
		,workExpTeachYears int
		,mainPersonOKSID int
		--,notes nvarchar(1024)
		,isTravel bit
		,teachStageID int
		,positionSubjectGroupID int
		,isHospital bit
		,isMentor bit
		,isTrainee bit
		,isNotMeetReq bit
		,hasTELK bit
		,currentlyValid bit	
		,helpStudentGovernment bit
		,mainClassID int
		); 

	-- GET INSERTED @staffPosition (autoincrement)
	SELECT @staffPositionID = SCOPE_IDENTITY();
	PRINT 'INFO: [staffPosition] created with id=' + CAST(@staffPositionID AS VARCHAR(12));

		--/* *********************** START INSERT INTO [inst_year].[PedStaffData] i.e. 'norma'  ************************ */ 
	IF @staffTypeId = 1
	BEGIN
		INSERT INTO [inst_year].[PedStaffData]
		(
			[StaffPositionID]
			,[Norma]
			,[NormaT]
			,[SysUserID]
			,[SchoolYear]
		)
		SELECT @staffPositionID, 0, 0, @sysuserid, @schoolYear;
	
		PRINT 'INFO: [inst_year].[PedStaffData] INSERTED with ids=' + CONVERT(nvarchar(255),@staffPositionID);
	END
	/* *********************** END INSERT INTO [inst_year].[PedStaffData] i.e. 'norma'  *************************** */


	/* *********************** START INSERT INTO [student].[SelfGovernment] ************************************ */ 
	IF (@helpStudentGovernment = 1)
	BEGIN
		INSERT INTO [student].[SelfGovernment]
		   ([SchoolYear]
           ,[PersonId]
           ,[ParticipationId]
           ,[PositionId]
           ,[ParticipationAdditionalInformation]
           ,[AdditionalInformation]
           ,[InstitutionId]
           ,[CreatedBySysUserID]
           ,[CreateDate]
           ,[ModifiedBySysUserId]
           ,[ModifyDate]
           ,[InstitutionSchoolBoardId]
           ,[StaffPositionID]
           ,[ExternalID])
		VALUES (
			@schoolYear, 
			@personid, 
			9, -- ParticipationID = 9 (представител на педагогически съвет)
			4, -- PositionID = 4 (подпомагащ ученическия съвет на училището)
			NULL, -- ParticipationAdditionalInformation
			NULL, -- AdditionalInformation
			@instid, 
			@sysuserid, 
			GETDATE(), 
			NULL, -- ModifiedBySysUserId
			NULL, -- ModifyDate
			NULL, -- InstitutionSchoolBoardId
			@staffPositionID,
			@ExternalID)
	END
	PRINT 'INFO: [student].[SelfGovernment] INSERTED for staffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
	/* *********************** END INSERT INTO [student].[SelfGovernment] ************************************ */
		
END  /* End of OperationType = 1 -> CREATE NEW *************** */

/* ############################## Start OperationType = 2 -> UPDATE personStaffPosition ############################## */
ELSE IF ((@OperationType = 2) AND (@staffPositionID IS NOT NULL) AND @terminationDate IS NULL AND @IsValidBeforeUpdate = 1)
BEGIN

	DECLARE @helpStudentGovernmentBeforeUpdate bit;
	SELECT @helpStudentGovernmentBeforeUpdate = (SELECT HelpStudentGovernment FROM [inst_basic].[StaffPosition] 
					WHERE [inst_basic].[StaffPosition].StaffPositionID = @staffPositionID) 
	
	PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object: [StaffPosition] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
	UPDATE top (1) [inst_basic].[StaffPosition]
	SET 
		 [StaffOrd]=JSP.staffOrd
		,[StaffPositionNo]=JSP.staffPositionNo
		,[ContractTypeID]=JSP.contractTypeID
		,[ContractReasonID]=JSP.contractReasonID
		,[ContractNo]=JSP.contractNo
		,[ContractYear]=JSP.contractYear
		,[ContractNotes]=JSP.contractNotes
		,[ContractWithID]=JSP.contractWithID
		,[IsAccountablePerson]=JSP.isAccountablePerson
		--,[StaffTypeID]=JSP.staffTypeID
		,[CategoryStaffTypeID]=JSP.categoryStaffTypeID
		,[NKPDPositionID]=JSP.NKPDPositionID
		,[PositionKindID]=JSP.positionKindID
		,[PositionNotes]=JSP.positionNotes
		,[PositionCount]=JSP.positionCount
	    --,[ExperienceYear]=JSP.experienceYear
        ,[WorkStartYear]=JSP.workStartYear
        ,[WorkExpTotalYears]=JSP.workExpTotalYears
        ,[WorkExpSpecYears]=JSP.workExpSpecYears
        ,[WorkExpTeachYears]=JSP.workExpTeachYears
		,[MainPersonOKSID]=JSP.mainPersonOKSID
        --,[Notes]=JSP.notes
        ,[IsTravel]=JSP.isTravel
        ,[TeachStageID]=JSP.teachStageID
		,[PositionSubjectGroupID]=JSP.positionSubjectGroupID
        ,[IsHospital]=JSP.isHospital
        ,[IsMentor]=JSP.isMentor
        ,[IsTrainee]=JSP.isTrainee
        ,[IsNotMeetReq]=JSP.isNotMeetReq
		,[HasTELK]=JSP.hasTELK
        ,[CurrentlyValid]=JSP.currentlyValid
		,[HelpStudentGovernment]=JSP.helpStudentGovernment
		,[SysUserID]=@sysuserid
		,[MainClassID] = JSP.mainClassID
	FROM OPENJSON(@_json)
	WITH (   
		 staffOrd int
		,staffPositionNo int
		,contractTypeID int
		,contractReasonID int
		,contractNo nvarchar(50)
		,contractYear int
		,contractNotes nvarchar(1024)
		,contractWithID int
		,isAccountablePerson bit
		--,staffTypeID int
		,categoryStaffTypeID int
		,NKPDPositionID int
		,positionKindID int
		,positionNotes nvarchar(1024)
		,positionCount real
		--,experienceYear int
		,workStartYear int
		,workExpTotalYears int
		,workExpSpecYears int
		,workExpTeachYears int
		,mainPersonOKSID int
		--,notes nvarchar(1024)
		,isTravel bit
		,teachStageID int
		,positionSubjectGroupID int
		,isHospital bit
		,isMentor bit
		,isTrainee bit
		,isNotMeetReq bit
		,hasTELK bit
		,currentlyValid bit
		,helpStudentGovernment bit
		,mainClassID int
		) JSP				 
	WHERE
		[inst_basic].[staffPosition].[StaffPositionID] = @staffPositionID;
	PRINT 'INFO: [staffPosition] UPDATED successfully!';

	PRINT 'INFO: [student].[SelfGovernment] params are: @helpStudentGovernmentBeforeUpdate=' + CAST(@helpStudentGovernmentBeforeUpdate AS VARCHAR(12)) + ' AND helpStudentGovernment=' + CAST(@helpStudentGovernment AS VARCHAR(12)); 
	IF ( (@helpStudentGovernment = 1) AND (@helpStudentGovernmentBeforeUpdate = 0) )
	BEGIN 
		INSERT INTO [student].[SelfGovernment] 
		   ([SchoolYear]
           ,[PersonId]
           ,[ParticipationId]
           ,[PositionId]
           ,[ParticipationAdditionalInformation]
           ,[AdditionalInformation]
           ,[InstitutionId]
           ,[CreatedBySysUserID]
           ,[CreateDate]
           ,[ModifiedBySysUserId]
           ,[ModifyDate]
           ,[InstitutionSchoolBoardId]
           ,[StaffPositionID]
           ,[ExternalID])
		   VALUES (
			@schoolYear, 
			@personid, 
			9, -- ParticipationID = 9 (представител на педагогически съвет)
			4, -- PositionID = 4 (подпомагащ ученическия съвет на училището)
			NULL, -- ParticipationAdditionalInformation
			NULL, -- AdditionalInformation
			@instid, 
			@sysuserid, 
			GETDATE(), 
			NULL, -- ModifiedBySysUserId
			NULL, -- ModifyDate
			NULL, -- InstitutionSchoolBoardId
			@staffPositionID,
			@ExternalID);
		PRINT 'INFO: [student].[SelfGovernment] INSERTED for transition helpStudentGovernment 0->1 AND staffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
	END
	ELSE IF ( (@helpStudentGovernment = 0) AND (@helpStudentGovernmentBeforeUpdate = 1) )
	BEGIN 
		DELETE FROM [student].[SelfGovernment]
			WHERE [student].[SelfGovernment].StaffPositionID = @staffPositionID;
		PRINT 'INFO: [student].[SelfGovernment] DELETED for transition helpStudentGovernment 1->0 AND staffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
	END
	

	--ако не е водещ за текущата учебна година, тогава премахваме всичките възложени часове на учителя
	IF @currentlyValid = 0
		BEGIN
			DELETE [inst_year].[CurriculumTeacher]	OUTPUT deleted.* INTO [inst_year].[CurriculumTeacherTemp]
				WHERE StaffPositionID = @staffPositionID AND SchoolYear = @schoolYear
			PRINT 'INFO: [inst_year].[CurriculumTeacher] DELETED for staffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
		END
END  /* End OperationType = 2 -> UPDATE *************** */

/* ############################## Start OperationType = 2 -> DELETE staffPosition ############################## */
--ELSE IF ((@OperationType = 3) AND (@staffPositionID IS NOT NULL) AND (@forceOperation IS NOT NULL))
ELSE IF @OperationType = 2 AND @terminationDate IS NOT NULL AND @terminationReasonID IS NOT NULL
BEGIN
	PRINT 'INFO: OperationType = 3 -> DELETE [StaffPosition] with StaffPositionID=' + CAST(@StaffPositionID AS VARCHAR(12));

	/* FIRST, check for referenced data */
	PRINT 'INFO: Will calculate referenced data records in: [CurriculumTeacher], [PedStaffData] for StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
		
	SET @hasRefDataCount = @hasRefDataCurriculumTeacher + @hasRefDataPedStaffData;

	PRINT 'INFO: CHECK for referenced data found in [CurriculumTeacher], [PedStaffData] in total: ' + CAST(@hasRefDataCount AS VARCHAR(12)) + ' records';
	
	IF (@hasRefDataCount = 0) -- there is NO referenced data => NO delete, ONLY update 
	BEGIN
		PRINT 'INFO: There are no references to [CurriculumTeacher], [PedStaffData] for StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' [CurriculumTeacher] records will be deleted...';
		
		PRINT 'INFO: @forceOperation = 0 => StaffPosition, PedStaffData records will be set to isValid=0 for StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
			
		UPDATE [inst_basic].[StaffPosition] SET IsValid=0
												,TerminationDate = @terminationDate
												,TerminationReasonID = @terminationReasonID
			WHERE [inst_basic].[StaffPosition].StaffPositionID = @staffPositionID;
		PRINT 'INFO: [inst_basic].[StaffPosition] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' set to isValid=0 successfully';	

		UPDATE [inst_year].[PedStaffData] SET [inst_year].[PedStaffData].IsValid=0
			WHERE [inst_year].[PedStaffData].StaffPositionID = @staffPositionID AND [inst_year].[PedStaffData].[SchoolYear] = @schoolYear;
		PRINT 'INFO: [inst_year].[PedStaffData] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' set to isValid=0 successfully';	

		BEGIN 
			DELETE FROM [student].[SelfGovernment]
				WHERE [student].[SelfGovernment].StaffPositionID = @staffPositionID;
			PRINT 'INFO: [student].[SelfGovernment] DELETED for deleted record StaffPosition with staffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
		END

		SET @operationResultType = 1;
		SET @messageCode = 1;
	END
	ELSE IF (@hasRefDataCount > 0) -- there is referenced data, will ask for confirmation with specific question for referral data
	BEGIN
		PRINT 'INFO: There are references to [CurriculumTeacher], [PedStaffData] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
		IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
		BEGIN
			PRINT 'INFO: @forceOperation = 0 => Will ask User for operation confirmation with specific message. Do nothing now!';
			SET @operationResultType = 0;
			SET @messageCode = 1002;

			SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @staffPositionID AS StaffPositionID;	

			COMMIT TRANSACTION
			RETURN -- exit procedure
		END
		ELSE IF (@forceOperation = 1) -- confirmation is done ; first update , then delete
		BEGIN
			PRINT 'INFO: @forceOperation = 1 => StaffPosition, PedStaffData records will be set to isValid=0 for personid=' + CAST(@personid AS VARCHAR(12));
			
			UPDATE [inst_basic].[StaffPosition] SET IsValid=0
													,TerminationDate = @terminationDate
													,TerminationReasonID = @terminationReasonID
				WHERE [inst_basic].[StaffPosition].StaffPositionID = @staffPositionID;
			PRINT 'INFO: [inst_basic].[StaffPosition] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' set to isValid=0 successfully';	

			UPDATE [inst_year].[PedStaffData] SET [inst_year].[PedStaffData].IsValid=0
				WHERE [inst_year].[PedStaffData].StaffPositionID = @staffPositionID AND [inst_year].[PedStaffData].[SchoolYear] = @schoolYear;
			PRINT 'INFO: [inst_year].[PedStaffData] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' set to isValid=0 successfully';
		
			-- ------------------------------------- DELETE records [EducationalState] and [CurriculumTeacher] --------------------------
			PRINT 'INFO: @forceOperation = 1 => [CurriculumTeacher] records will be deleted...';

			
			SELECT @curriculumDeletedString = (SELECT STRING_AGG(CurriculumID, ',')  
				FROM [inst_year].[CurriculumTeacher]
				WHERE [inst_year].[CurriculumTeacher].[StaffPositionID] = @staffPositionID);

			
			UPDATE [inst_year].[CurriculumTeacher] SET IsValid = 0
				WHERE [inst_year].[CurriculumTeacher].[StaffPositionID] = @staffPositionID;
			PRINT 'INFO: [inst_year].[CurriculumTeacher] DELETED for StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));

			BEGIN 
				DELETE FROM [student].[SelfGovernment]
					WHERE [student].[SelfGovernment].StaffPositionID = @staffPositionID;
				PRINT 'INFO: [student].[SelfGovernment] DELETED for deleted record StaffPosition with staffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
			END

			SET @operationResultType = 1;
			SET @messageCode = 1;

		END
	END
		
	SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @staffPositionID AS StaffPositionID, @curriculumDeletedString AS curriculumDeletedString;
END /* End OperationType = 3 -> DELETE *************** */


/* ############################## Start OperationType = 2 -> return staffPosition to active ############################## */
ELSE IF @OperationType = 2 AND @IsValidBeforeUpdate = 0 AND @isArchived = 0 AND @terminationDate IS NULL
	BEGIN
	PRINT 'INFO: OperationType = 2 -> return inactive [StaffPosition] with StaffPositionID=' + CAST(@StaffPositionID AS VARCHAR(12));
		
			IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
				BEGIN
					PRINT 'INFO: @forceOperation = 0 => Will ask User for operation confirmation with specific message. Do nothing now!';
					SET @operationResultType = 0;
					SET @messageCode = 1026;

					SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @staffPositionID AS StaffPositionID;	

					COMMIT TRANSACTION
					RETURN -- exit procedure
				END
			ELSE IF (@forceOperation = 1) -- confirmation is done ; first update , then delete
				BEGIN
					PRINT 'INFO: @forceOperation = 1 => StaffPosition, PedStaffData records will be set to isValid=0 for personid=' + CAST(@personid AS VARCHAR(12));
			
					UPDATE [inst_basic].[StaffPosition] SET IsValid = 1, TerminationDate = NULL, TerminationReasonID = NULL
						WHERE [inst_basic].[StaffPosition].StaffPositionID = @staffPositionID AND IsValid = 0;
					PRINT 'INFO: [inst_basic].[StaffPosition] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' set to isValid=0 successfully';	

					UPDATE [inst_year].[PedStaffData] SET IsValid = 1
						WHERE [inst_year].[PedStaffData].StaffPositionID = @staffPositionID 
						AND [inst_year].[PedStaffData].[SchoolYear] = @schoolYear 
						AND IsValid = 0;
					PRINT 'INFO: [inst_year].[PedStaffData] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' set to isValid=0 successfully';
		
					UPDATE [inst_year].[CurriculumTeacher] SET IsValid = 1
						WHERE [inst_year].[CurriculumTeacher].[StaffPositionID] = @staffPositionID AND IsValid = 0;
					PRINT 'INFO: [inst_year].[CurriculumTeacher] DELETED for StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));


					SET @operationResultType = 1;
					SET @messageCode = 1;
				
				END

				SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @staffPositionID AS StaffPositionID
	END


/* ############################## Start OperationType = 3 -> DELETE staffPosition ############################## */
ELSE IF @OperationType = 3 AND @IsValidBeforeUpdate = 0 
BEGIN
	PRINT 'INFO: OperationType = 3 -> DELETE inactive [StaffPosition] with StaffPositionID=' + CAST(@StaffPositionID AS VARCHAR(12));

	/* FIRST, check for referenced data */
	PRINT 'INFO: Will calculate referenced data records in: [CurriculumTeacher], [PedStaffData] for StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
		
	--SET @hasRefDataCount = @hasRefDataCurriculumTeacher + @hasRefDataPedStaffData + @hasRefDataStaffPositionMainClass;

	--PRINT 'INFO: CHECK for referenced data found in [CurriculumTeacher], [PedStaffData] in total: ' + CAST(@hasRefDataCount AS VARCHAR(12)) + ' records';
	
	--IF (@hasRefDataCount = 0) -- there is NO referenced data => NO delete, ONLY update 
	--	BEGIN
	--		PRINT 'INFO: There are no references to [CurriculumTeacher], [PedStaffData] for StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' [CurriculumTeacher] records will be deleted...';
		
	--		PRINT 'INFO: @forceOperation = 0 => StaffPosition, StaffPositionMainClass and PedStaffData records will be set to isValid=0 for StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
			
	--		DELETE [inst_basic].[StaffPosition] 
	--			WHERE [inst_basic].[StaffPosition].StaffPositionID = @staffPositionID;
	--		PRINT 'INFO: [inst_basic].[StaffPosition] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' deleted successfully';	

	--		SET @operationResultType = 1;
	--		SET @messageCode = 1;
	--	END
	--ELSE IF (@hasRefDataCount > 0) -- there is referenced data, will ask for confirmation with specific question for referral data
	--	BEGIN
			PRINT 'INFO: There are references to [CurriculumTeacher], [PedStaffData] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
			
			IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
				BEGIN
					PRINT 'INFO: @forceOperation = 0 => Will ask User for operation confirmation with specific message. Do nothing now!';
					SET @operationResultType = 0;
					SET @messageCode = 1024;

					SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @staffPositionID AS StaffPositionID;	

					COMMIT TRANSACTION
					RETURN -- exit procedure
				END
			ELSE IF (@forceOperation = 1) -- confirmation is done ; first update , then delete
				BEGIN
					PRINT 'INFO: @forceOperation = 1 => StaffPosition, PedStaffData records will be set to isValid=0 for personid=' + CAST(@personid AS VARCHAR(12));
			
					DELETE [inst_year].[PedStaffData] 
						WHERE [inst_year].[PedStaffData].StaffPositionID = @staffPositionID; --AND [inst_year].[PedStaffData].[SchoolYear] = @schoolYear;
					PRINT 'INFO: [inst_year].[PedStaffData] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' set to isValid=0 successfully';
			
					DELETE [inst_year].[CurriculumTeacher] OUTPUT deleted.* INTO [inst_year].[CurriculumTeacherTemp]
						WHERE [inst_year].[CurriculumTeacher].[StaffPositionID] = @staffPositionID;
					PRINT 'INFO: [inst_year].[CurriculumTeacher] DELETED for StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12));
					
					DELETE [inst_basic].[StaffPosition] 
						WHERE [inst_basic].[StaffPosition].StaffPositionID = @staffPositionID;
					PRINT 'INFO: [inst_basic].[StaffPosition] with StaffPositionID=' + CAST(@staffPositionID AS VARCHAR(12)) + ' set to isValid=0 successfully';	


			SET @operationResultType = 1;
			SET @messageCode = 1;

		--END
	END
		
	SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @staffPositionID AS StaffPositionID, @curriculumDeletedString AS curriculumDeletedString;
END

ELSE
BEGIN
	DECLARE @ERR_MSG NVARCHAR(4000);
	SELECT @ERR_MSG = 'Illegal CONTEXT or MASTER Obejects params! Sent params are: ' + 
		'OperationType=' + ISNULL(CAST(@OperationType AS VARCHAR(12)),'') + 
		', personid=' + ISNULL(CAST(@personid AS VARCHAR(12)),'') +
		', staffPositionID=' + ISNULL(CAST(@staffPositionID AS VARCHAR(12)),'');
	THROW 99000, @ERR_MSG, 1;
END

EXEC [logs].logEvent @_json, @OperationType, 103, 'StaffPosition', @staffPositionID, @schoolYear;

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'StaffPosition', @staffPositionID, @schoolYear;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [personStaffPositionCUD] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
/* ************ END OF PROCEDURE ************ */