USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[institutionVechicleCUD]    Script Date: 8/1/2022 12:52:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [inst_basic].[institutionVechicleCUD] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS

BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param: institutionID --------------
DECLARE @instID int;
SELECT @instID = institutionID FROM OPENJSON(@_json)
WITH (   
		institutionID int			'$.instid'

)

-- ---------- define context param1: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)

-- ---------- define Master object: [InstitutionVechicle] ID param --------------
DECLARE @instVechicleID int;
SELECT @instVechicleID = instVechicleID FROM OPENJSON(@_json)
WITH (   
		instVechicleID int			'$.institutionVehicleID'
)
-- ---------- define context param: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = inst_year.getSchoolYearByInstID(@instID)



DECLARE @ExternalID NVARCHAR(100) = NULL;

	--if the school used external data provider --- then it cannot write to the database
	DECLARE @isExtDataProvider bit;
	SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
	FROM [core].[InstitutionConfData] 
	WHERE InstitutionID = @instID 
		AND SchoolYear = @schoolYear

	IF @isExtDataProvider = 1
	BEGIN	
		DECLARE @operationResultType int,  @messageCode int;
		SET @operationResultType = 2;
		SET @messageCode = 1023;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID; 

		COMMIT TRANSACTION
		RETURN
	END


PRINT 'INFO: PROCEDURE institutionVechicleCUD started! Initial data gathered. InstitutionID=' + CAST(@instID AS VARCHAR(12));

/* ************ OperationType = 1 -> CREATE NEW InstitutionVechicle *************** */
IF ((@OperationType = 1) AND (@instID IS NOT NULL) AND (@instVechicleID IS NULL))
BEGIN
	PRINT 'INFO: OperationType: 1 - CREATE NEW [InstitutionVechicle]...';
	INSERT INTO [inst_basic].[InstitutionVehicle]
           (
			[InstitutionID]
			,[AcquisitionWayTypeID]
			,[DocumentTypeID]
			,[DocumentNum]
			,[DocumentDate]
			,[RegistrationNum]
			,[ProducedYear]
			,[PlaceCountTypeID]
			,[SysUserID]
			,ExternalID)
	SELECT @instID, *, @sysuserid, @ExternalID
	FROM OPENJSON(@_json)
	WITH (   
			acquisitionWayTypeID int
			,documentTypeID int
			,documentNum nvarchar(50)
			,documentDate date
			,registrationNum nvarchar(50)
			,producedYear int
			,placeCountTypeID int
		); 

	-- GET INSERTED @InstitutionVechicleID (autoincrement)
	SELECT @instVechicleID = SCOPE_IDENTITY();
	PRINT 'INFO: [InstitutionVechicle] created with id=' + CAST(@instVechicleID AS VARCHAR(12));

	SELECT @instVechicleID AS institutionVehicleID; -- return back to the caller i.e. front-end
		
END  /* End of OperationType = 1 -> CREATE NEW InstitutionVechicle *************** */

/* ############################## Start OperationType = 2 -> UPDATE InstitutionVechicle ############################## */
ELSE IF ((@OperationType = 2) AND (@instID IS NOT NULL) AND (@instVechicleID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object: [InstitutionVechicle] with InstitutionVechicleID=' + CAST(@instVechicleID AS VARCHAR(12));
	UPDATE top (1) [inst_basic].[InstitutionVehicle]
	SET 
		[AcquisitionWayTypeID]=JV.acquisitionWayTypeID
		,[DocumentTypeID]=JV.documentTypeID
		,[DocumentNum]=JV.documentNum
		,[DocumentDate]=JV.documentDate
		,[RegistrationNum]=JV.registrationNum
		,[ProducedYear]=JV.producedYear
		,[PlaceCountTypeID]=JV.placeCountTypeID
		,[SysUserID]=@sysuserid
	FROM OPENJSON(@_json)
	WITH (   
			acquisitionWayTypeID int
			,documentTypeID int
			,documentNum nvarchar(50)
			,documentDate date
			,registrationNum nvarchar(50)
			,producedYear int
			,placeCountTypeID int
		) JV				 
	WHERE
		 [inst_basic].[InstitutionVehicle].InstitutionVehicleID = @instVechicleID;
	PRINT 'INFO: [InstitutionVechicle] UPDATED successfully!';


END  /* End OperationType = 2 -> UPDATE InstitutionVechicle *************** */

/* ############################## Start OperationType = 3 -> DELETE InstitutionVechicle ############################## */
ELSE IF ((@OperationType = 3) AND (@instID IS NOT NULL) AND (@instVechicleID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 3 -> DELETE [InstitutionVechicle] with InstitutionVechicleID=' + CAST(@instVechicleID AS VARCHAR(12));

		DELETE FROM [inst_basic].[InstitutionVehicle]
			WHERE [inst_basic].[InstitutionVehicle].InstitutionVehicleID = @instVechicleID;
		PRINT 'INFO: [InstitutionVehicle] DELETED with InstitutionPublicCouncilID=' + CAST(@instVechicleID AS VARCHAR(12));


	SELECT @instVechicleID AS id;
END /* End OperationType = 3 -> DELETE [InstitutionVechicle] *************** */
ELSE
	THROW 99003, 'Procedure [institutionVechicleCUD] - Error! Illegal CONTEXT or MASTER Obejects params! Please contact DEV/support team.', 1;

EXEC [logs].logEvent @_json, @OperationType, 103, 'InstitutionVechicle', @instVechicleID, NULL;

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'InstitutionVechicle', @instVechicleID, NULL;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [institutionVechicleCUD] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
/* ************ END OF PROCEDURE ************ */
