USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_year].[vacantStaffCUD]    Script Date: 8/1/2022 12:55:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [inst_year].[vacantStaffCUD] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS

BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param1: instid --------------
DECLARE @instID int;
SELECT @instID = instid FROM OPENJSON(@_json)
WITH (   
		instid int			'$.instid'
)

-- ---------- define context param2: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)

-- ---------- define Master object: [InstitutionPublicCouncil] ID param --------------
DECLARE @vacantStaffID int;
SELECT @vacantStaffID = vacantStaffID FROM OPENJSON(@_json)
WITH (   
			vacantStaffID int			'$.vacantStaffID'
)

-- ---------- define global variable: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = [inst_year].[getSchoolYearByInstID](@instID)

-- ---------- define Additional params --------------
DECLARE @operationResultType int; -- (0) Warning. It is sent only if forceOperation = 0; (-1) Error; (1) Successfully completed operation
DECLARE @forceOperation int; -- (0) no force action required, send warning to the customer; (1) operation is forced to be executed
DECLARE @messageCode int;

SELECT @forceOperation = ForceOperation FROM OPENJSON(@_json)
WITH (   
		forceOperation int			'$.forceOperation'
)

	--if the school used external data provider --- then it cannot write to the database
	DECLARE @isExtDataProvider bit;
	SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
	FROM [core].[InstitutionConfData] 
	WHERE InstitutionID = @instID 
		AND SchoolYear = @schoolYear

	IF @isExtDataProvider = 1
	BEGIN	
		SET @operationResultType = 2;
		SET @messageCode = 1023;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID; 

		COMMIT TRANSACTION
		RETURN
	END


PRINT 'INFO: PROCEDURE VacantStaffCUD started! Initial data gathered. PersonID=';

/* ************ OperationType = 1 -> CREATE NEW VacantStaff *************** */
IF @OperationType = 1 AND @vacantStaffID IS NULL
BEGIN
	PRINT 'INFO: OperationType: 1 - CREATE NEW [VacantStaff]...';
	INSERT INTO [inst_year].[VacantStaff]
           ([InstitutionID]
           ,[StaffTypeID]
           ,[NKPDPositionID]
           ,[PositionCount]
           ,[PositionSubjectGroupID]
           ,[SysUserID]
           ,[SchoolYear])
	SELECT *
	FROM OPENJSON(@_json)
	WITH ( instid int
			,staffTypeID int
			,nkpdPositionID int
			,positionCount real
			,positionSubjectGroupID int
			,sysUserID int
			,schoolYear int		
		); 

	SELECT @vacantStaffID = SCOPE_IDENTITY();
	PRINT 'INFO: [VacantStaff] created with id=' + CAST(@vacantStaffID AS VARCHAR(12));
	SELECT @vacantStaffID AS vacantStaffID; -- return back to the caller i.e. front-end	

END  /* End of OperationType = 1 -> CREATE NEW *************** */

/* ############################## Start OperationType = 2 -> UPDATE VacantStaff ############################## */
ELSE IF @OperationType = 2 AND @vacantStaffID IS NOT NULL
BEGIN
	PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object:[VacantStaff] with vacantStaffID=' + CAST(@vacantStaffID AS VARCHAR(12));

	UPDATE [inst_year].[VacantStaff]
	   SET 
		   [StaffTypeID] = jsn.staffTypeID
		  ,[NKPDPositionID] = jsn.nkpdPositionID
		  ,[PositionCount] = jsn.PositionCount
		  ,[PositionSubjectGroupID] = jsn.positionSubjectGroupID
		  ,[SysUserID] = jsn.sysUserID
		  ,[SchoolYear] = jsn.schoolYear
	FROM OPENJSON(@_json)
	WITH ( instid int
			,staffTypeID int
			,nkpdPositionID int
			,positionCount real
			,positionSubjectGroupID int
			,sysUserID int
			,schoolYear int
		) jsn				 
	WHERE [VacantStaff].VacantStaffID = @vacantStaffID
	PRINT 'INFO: [VacantStaff] UPDATED successfully!';


END  /* End OperationType = 2 -> UPDATE *************** */

/* ############################## Start OperationType = 3 -> DELETE VacantStaff ############################## */
ELSE IF @OperationType = 3 AND @vacantStaffID IS NOT NULL
BEGIN
	PRINT 'INFO: OperationType = 3 -> DELETE inactive [VacantStaff] with VacantStaffID=' + CAST(@vacantStaffID AS VARCHAR(12));
			
			IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
				BEGIN
					PRINT 'INFO: @forceOperation = 0 => Will ask User for operation confirmation with specific message. Do nothing now!';
					SET @operationResultType = 0;
					SET @messageCode = 1000;

					SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @vacantStaffID AS vacantStaffID;	

					COMMIT TRANSACTION
					RETURN -- exit procedure
				END
			ELSE IF (@forceOperation = 1) -- confirmation is done
				BEGIN					
					DELETE [inst_year].[VacantStaff] 
						WHERE [inst_year].[VacantStaff].VacantStaffID = @vacantStaffID;
					PRINT 'INFO: [inst_year].[VacantStaff]  with VacantStaffID =' + CAST(@vacantStaffID AS VARCHAR(12)) + ' set to isValid=0 successfully';	

				SET @operationResultType = 1;
				SET @messageCode = 1;

				END
		
	SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @vacantStaffID AS VacantStaffID;
END

ELSE
BEGIN
	DECLARE @ERR_MSG NVARCHAR(4000);
	SELECT @ERR_MSG = 'Illegal CONTEXT or MASTER Objects params! Sent params are: ' + 
		'OperationType=' + ISNULL(CAST(@OperationType AS VARCHAR(12)),'') + 
		', vacantStaffID=' + ISNULL(CAST(@vacantStaffID AS VARCHAR(12)),'');
	THROW 99000, @ERR_MSG, 1;
END

EXEC [logs].logEvent @_json, @OperationType, 103, 'VacantStaff', @vacantStaffID, @schoolYear;

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'VacantStaff', @vacantStaffID, @schoolYear;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [VacantStaffCUD] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
/* ************ END OF PROCEDURE ************ */