USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[SchoolYearChangeSchool]    Script Date: 8/30/2022 10:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [inst_basic].[SchoolYearChangeSchool] 
	@changeYearDataID INT
AS
BEGIN TRY

	DECLARE @ERR_MSG NVARCHAR(4000); 
	
	DECLARE @instID int, @FromSchoolYear int, @ToSchoolYear int, @sysuserid INT;
	
	SELECT @instID = InstitutionID, @FromSchoolYear = FromSchoolYear, @ToSchoolYear = ToSchoolYear, @sysuserid = SysUserID
	FROM [inst_year].[ChangeYearData]
	WHERE ChangeYearDataID = @changeYearDataID;

	DECLARE @DetailedSchoolTypeID SMALLINT, @bcCompleteType TINYINT;
	
	SELECT @DetailedSchoolTypeID = DetailedSchoolTypeID,
		@bcCompleteType = 
		CASE WHEN DetailedSchoolTypeID = 151 THEN 1
			WHEN DetailedSchoolTypeID = 121 THEN 1
			WHEN DetailedSchoolTypeID IN (122, 134) THEN 2
			WHEN DetailedSchoolTypeID = 123 THEN 3
			WHEN DetailedSchoolTypeID = 124 THEN 4
			WHEN DetailedSchoolTypeID IN (125, 126) THEN 5
			WHEN DetailedSchoolTypeID IN (111, 113, 112, 131, 132, 133, 141, 114, 162) THEN 6
		END
	FROM core.Institution AS I
	WHERE I.InstitutionID = @instID;

	DECLARE @instType TINYINT = (SELECT InstType FROM noms.DetailedSchoolType WHERE DetailedSchoolTypeID = @DetailedSchoolTypeID);
	/*SELECT * 
	FROM (VALUES(1,-1),(1, 4),
				(2,-1),(2, 7),
				(3,-1),(3, 7),(3,10),
				(4,-1),(4, 7),(4,12),
				(5, 7),(5,12),(5,13),(5,15),
				(6,12),(6,15)
	) AS x(t,bc)
	WHERE t = @bcCompleteType;*/
;		
	DECLARE @tbClasses TABLE(ClassID INT, SchoolYear SMALLINT, InstitutionID INT, InstitutionDepartmentID INT, ClassGroupNum INT, ClassName NVARCHAR(255), ParalellClassName NVARCHAR(255), 
			ParentClassID INT, BasicClassID INT, ClassTypeID INT, AreaID INT, ClassEduFormID INT, ClassEduDurationID INT, ClassShiftID INT, 
			BudgetingClassTypeID INT, EntranceLevelID INT, ClassSpecialityID INT, FLTypeID INT, FLID INT, IsProfModule BIT, 
			StudentCountPlaces INT, Notes NVARCHAR(1024), IsCombined BIT, IsNoList BIT, IsSpecNeed BIT, IsWholeClass BIT, IsNotPresentForm BIT,
			--ValidFrom DATETIME2, ValidTo DATETIME2, --SysUserID INT, tmp_ClassID INT, ExternalID NVARCHAR(100), 
			isValid BIT, 
			NewBC SMALLINT, cnGroups TINYINT);
	DECLARE @classParents TABLE(ParentClassID INT, NewParentClassID INT, t TINYINT);
	DECLARE @classIds TABLE(OldClassID INT, NewClassID INT, NewBC SMALLINT, ClassTypeID SMALLINT);
	DECLARE @specialNeedsYear TABLE(OldID INT, NewID INT);
	DECLARE @tbClassCurric TABLE (ClassID INT,BasicClassID INT,ClassTypeID INT, isCombined BIT, ClassKind INT,SubjectID INT,SubjectTypeID INT,
			WeeksFirstTerm SMALLINT,HoursWeeklyFirstTerm REAL,WeeksSecondTerm SMALLINT,HoursWeeklySecondTerm REAL,NormaS INT,InstitutionDepartmentID INT,SortOrder INT);
	
	DECLARE @tbTransNames TABLE(OldBasicClass SMALLINT, OldName NVARCHAR(255), NewBasicClass SMALLINT, NewName NVARCHAR(255));
	WITH A AS (
		SELECT BasicClassID, Name, RomeName, SortOrd
		FROM inst_nom.BasicClass 
		WHERE BasicClassID < 0 AND IsValid = 1
			AND @instType != 4
	)
	INSERT INTO @tbTransNames
	SELECT OldBC.BasicClassID AS OldBasicClass, OldBC.Name AS OldName, NewBC.BasicClassID AS NewBasicClass, NewBC.Name AS NewName
	FROM A AS OldBC
		LEFT JOIN A AS NewBC ON OldBC.SortOrd = NewBC.SortOrd -1
	WHERE NewBC.Name IS NOT NULL;

	DECLARE @Amen TABLE(StudentClassID INT);
		
	--BEGIN TRANSACTION
		-- ic/r,dke
		INSERT INTO @Amen
		SELECT StudentClassID 
		FROM inst_year.ChangeYearDataStudentAmendatory WHERE ChangeYearDataID =  @changeYearDataID;

		
		
		-- за завършващи - ъпдейтваме EducationalState с PositionID = 9 за тези ученици, които са от завършващи паралелки 
		DECLARE @classIdFinished table (classId int);
		INSERT INTO @classIdFinished (classId)
		OUTPUT @instID,inserted.classId, @ToSchoolYear INTO inst_basic.changeYearClassesFinishedTemp --добавено заради задача NEISPUONEW-941
		SELECT CG.ClassID
		FROM inst_year.ClassGroup AS CG
			LEFT JOIN inst_nom.ClassType AS CT ON CG.ClassTypeID = CT.ClassTypeID 
			LEFT JOIN (VALUES(1,-1),(1, 4),
							(2,-1),(2, 7),
							(3,-1),(3, 7),(3,10),
							(4,-1),(4, 7),(4,12),
							(5, 7),(5,12),(5,13),(5,14),(5,15),
							(6,12),(6,14),(6,15)
				) AS x(t,bc)
					ON t = @bcCompleteType
					AND bc = CG.BasicClassID
		WHERE CG.InstitutionID = @instID
			AND CG.SchoolYear = @FromSchoolYear
			AND CG.ParentClassID IS NOT NULL
			AND NOT(CT.ClassKind != 1 AND CG.ClassTypeID NOT IN (39,49))
			AND CG.isValid = 1 --GETDATE() BETWEEN CG.ValidFrom AND CG.ValidTo
			AND x.t IS NOT NULL
		GROUP BY CG.ClassID


		DECLARE @studentIdsFinished table (personId int);
		INSERT INTO @studentIdsFinished (personId)
		OUTPUT @instID,inserted.personId, @ToSchoolYear INTO inst_basic.changeYearStudentsFinishedTemp --добавено заради задача NEISPUONEW-941
		SELECT PersonID 
		FROM student.StudentClass
		LEFT JOIN @Amen AS Amen ON Amen.StudentClassID = StudentClass.ID 
		WHERE ClassId IN (SELECT ClassId FROM @classIdFinished)
			AND InstitutionID = @instID
			AND IsCurrent = 1
			AND Amen.StudentClassID IS NULL

		UPDATE ES
			SET PositionID = 9
		OUTPUT inserted.EducationalStateID, inserted.InstitutionID, inserted.PersonID,@ToSchoolYear,deleted.PositionID, inserted.PositionID, NULL, NULL INTO [inst_basic].[changeYearEduStateTemp]--добавено заради задача NEISPUONEW-941
		FROM core.EducationalState AS ES
		INNER JOIN @studentIdsFinished st
			ON st.personId = ES.PersonID
		WHERE ES.InstitutionID = @instID
			AND ES.PositionID IN (3,7,10);
			
		
		--завършващи ученици от BаsicClass>=12 се изтриват от EducationalState
		DECLARE @StudentOver11 table (personId int);
		INSERT INTO @StudentOver11
		SELECT PersonID 
		FROM student.StudentClass
		LEFT JOIN @Amen AS Amen ON Amen.StudentClassID = StudentClass.ID 
		WHERE InstitutionId = @instID
			AND IsNotPresentForm = 1
			AND BasicClassID IN (12,13,14,15)
			AND Amen.StudentClassID IS NULL

		--DELETE ES FROM core.EducationalState ES
		--INNER JOIN @StudentOver11 s 
		--	ON s.personId = ES.PersonID
		--WHERE ES.InstitutionID = @instID
		
		INSERT INTO [inst_basic].[changeYearEduStateTemp]
           ([EduStateID]
           ,[InstitutionID]
           ,[PersonID]
           ,[NewSchoolYear]
           ,[PositionIDBeforeUpdate]
           ,[PositionIDAfterUpdate]
		   ,[Status]
		   ,[OperationTypeID])
		SELECT ES.EducationalStateID, ES.InstitutionID, ES.PersonID, @ToSchoolYear,ES.PositionID, NULL, 1, 2
		FROM core.EducationalState ES
		INNER JOIN @StudentOver11 s 
			ON s.personId = ES.PersonID
		WHERE ES.InstitutionID = @instID
		
		
		--ако BasicClass =12, 15 и има приключен ЛОД (има приключен ЛОД-това не се прави за уч.година 2021) и има качена диплома ([document].[Diploma].IsPublic=1)
		--трием записа от core.EducationalState за това училище
		
		
		
		
		
		---- ПАРАЛЕЛКИ
		INSERT INTO @tbClasses
		SELECT ClassID, SchoolYear, InstitutionID, InstitutionDepartmentID, ClassGroupNum, 
				IIF(NewName IS NOT NULL, REPLACE(ClassName, OldName, NewName), ClassName) AS ClassName, 
				ParalellClassName,
				ParentClassID, BasicClassID, 
				CASE --WHEN BasicClassID = 7 AND @bcCompleteType != 6 THEN NULL --в никой случай не искаме ClassType да е NULL, за да не се разминава с StudentClass.ClassType и да не може потребителя да промени данните за учениците
					WHEN BasicClassID = -1 AND @DetailedSchoolTypeID IN (111,113,112,114) THEN 6
					WHEN BasicClassID = -1 AND @DetailedSchoolTypeID IN (131,132,133,144) THEN 5
					ELSE ClassTypeID
				END AS ClassTypeID, 
				AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
				BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
				StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm,
				isValid, NewBC, cnGroups
		FROM (
			SELECT ClassID, SchoolYear, InstitutionID, InstitutionDepartmentID, ClassGroupNum, ClassName, ParalellClassName,
				ParentClassID, BasicClassID, ClassTypeID, AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
				BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
				StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm, 
				--ValidFrom, ValidTo, --SysUserID, tmp_ClassID, ExternalID, 
				isValid,
				CASE WHEN BasicClassID = -6 THEN -1
					WHEN BasicClassID = -3 THEN -6
					WHEN BasicClassID = -1 THEN 1
					WHEN BasicClassID IN (1,2,3,4,5,6,7,8,9,10,11,12,14, -5, -4) THEN BasicClassID + 1 --допълнено с 14 на 2022-08-19
					WHEN BasicClassID IN (22, 25, 27, 28, 29, 32, 21) THEN BasicClassID 
				END AS NewBC,
				COUNT(1) OVER(PARTITION BY ParentClassID) AS cnGroups
			FROM (
				SELECT CG.ClassID, CG.SchoolYear, CG.InstitutionID, CG.InstitutionDepartmentID, CG.ClassGroupNum, 
					IIF(@instType != 4 AND CG.IsCombined = 0 AND CT.ClassKind = 1 AND CG.BasicClassID BETWEEN 1 AND 12, 
						CONCAT(CG.BasicClassID + 1, IIF(CG.BasicClassID > 9, '. ',' '), CG.ParalellClassName),
						CG.ClassName
					) AS ClassName, 
					CG.ParalellClassName, CG.ParentClassID, 
					CG.BasicClassID, CG.ClassTypeID, CG.AreaID, CG.ClassEduFormID, CG.ClassEduDurationID, CG.ClassShiftID, 
					CG.BudgetingClassTypeID, CG.EntranceLevelID, CG.ClassSpecialityID, CG.FLTypeID, CG.FLID, CG.IsProfModule, 
					CG.StudentCountPlaces, CG.Notes, CG.IsCombined, CG.IsNoList, CG.IsSpecNeed, CG.IsWholeClass, CG.IsNotPresentForm, 
					--CG.ValidFrom, CG.ValidTo, --CG.SysUserID, CG.tmp_ClassID, CG.ExternalID, 
					CG.isValid,
					CT.ClassKind, COUNT(SC.id) AS hasStudents--, SC.Status, SC.IsCurrent 
				FROM inst_year.ClassGroup AS CG
					LEFT JOIN inst_nom.ClassType AS CT ON CG.ClassTypeID = CT.ClassTypeID 
					LEFT JOIN (VALUES(1,-1),(1, 4),
									(2,-1),(2, 7),
									(3,-1),(3, 7),(3,10),
									(4,-1),(4, 7),(4,12),
									(5, 7),(5,12),(5,13),(5,14),(5,15),
									(6,12),(6,14),(6,15)
						) AS x(t,bc)
							ON t = @bcCompleteType
							AND bc = CG.BasicClassID
					LEFT JOIN student.StudentClass AS SC 
						ON SC.ClassId = CG.ClassID 
						AND SC.SchoolYear = CG.SchoolYear 
						AND SC.Status !=2 AND SC.IsCurrent !=0
					LEFT JOIN @Amen AS Amen ON Amen.StudentClassID = SC.ID 
				WHERE CG.InstitutionID = @instID
					AND CG.SchoolYear = @FromSchoolYear
					AND CG.ParentClassID IS NOT NULL
					AND NOT(CT.ClassKind != 1 AND CG.ClassTypeID NOT IN (39,49))
					AND CG.isValid = 1 --GETDATE() BETWEEN CG.ValidFrom AND CG.ValidTo
					AND x.t IS NULL
					AND Amen.StudentClassID IS NULL
				GROUP BY CG.ClassID, CG.SchoolYear, CG.InstitutionID, CG.InstitutionDepartmentID, CG.ClassGroupNum, CG.ClassName, CG.ParalellClassName, CG.ParentClassID, 
					CG.BasicClassID, CG.ClassTypeID, CG.AreaID, CG.ClassEduFormID, CG.ClassEduDurationID, CG.ClassShiftID, 
					CG.BudgetingClassTypeID, CG.EntranceLevelID, CG.ClassSpecialityID, CG.FLTypeID, CG.FLID, CG.IsProfModule, 
					CG.StudentCountPlaces, CG.Notes, CG.IsCombined, CG.IsNoList, CG.IsSpecNeed, CG.IsWholeClass, CG.IsNotPresentForm, 
					CG.ValidFrom, CG.ValidTo, --CG.SysUserID, CG.tmp_ClassID, CG.ExternalID, 
					CG.isValid,
					CT.ClassKind
			) S 
			WHERE hasStudents > 0
		) AS S
			LEFT JOIN @tbTransNames AS NewNames 
				ON S.BasicClassID < 0
				AND S.BasicClassID = NewNames.OldBasicClass AND S.NewBC = NewNames.NewBasicClass;
	
		--SELECT * FROM @tbClasses;
		
		-- insert на паренти за класове с 1 чайлд
		INSERT INTO inst_year.ClassGroup
				(SchoolYear, InstitutionID, InstitutionDepartmentID, ClassGroupNum, ClassName, ParalellClassName, ParentClassID, 
				BasicClassID, ClassTypeID, AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
				BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
				StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm, 
				ValidFrom, ValidTo, isValid, SysUserID, PrevYearId)
		OUTPUT Inserted.PrevYearId, INSERTED.ClassID, 1 INTO @classParents
 		SELECT @ToSchoolYear, InstitutionID, InstitutionDepartmentID, 0, ClassName, ParalellClassName, NULL, 
				NewBC, ClassTypeID, AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
				BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
				StudentCountPlaces, Notes, 0, IsNoList, IsSpecNeed, 1, IsNotPresentForm, 
				GETDATE(), '9999-12-31 23:59:59.999', 1, @sysuserid, ParentClassID
		FROM  @tbClasses AS Src 
		WHERE Src.cnGroups != 1
		    
	   
		-- insert на паренти за класове с повече от 1 чайлд
		INSERT INTO inst_year.ClassGroup 
				(SchoolYear, InstitutionID, InstitutionDepartmentID, ClassGroupNum, ClassName, ParalellClassName, ParentClassID, 
				BasicClassID, ClassTypeID, AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
				BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
				StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm, 
				ValidFrom, ValidTo, isValid, SysUserID, PrevYearID) 
		OUTPUT INSERTED.PrevYearID, INSERTED.ClassID, 2 INTO @classParents
		SELECT @ToSchoolYear, InstitutionID, InstitutionDepartmentID, 0, ClassName, ParalellClassName, NULL, 
				COALESCE(t21,NewBC), ClassTypeID, AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
				BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
				StudentCountPlaces, Notes, IIF(BasicClassID IS NULL, 1, 0), IsNoList, IsSpecNeed, 0, IsNotPresentForm, 
				GETDATE(), '9999-12-31 23:59:59.999', 1, @sysuserid, ParentClassID
		FROM (
			SELECT ClassID, SchoolYear, InstitutionID, ParentClassID,
					IIF(MIN(IIF(InstitutionDepartmentID IS NULL,-99,InstitutionDepartmentID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(InstitutionDepartmentID IS NULL,-99,InstitutionDepartmentID)) OVER (PARTITION BY ParentClassID), InstitutionDepartmentID, NULL) AS InstitutionDepartmentID,
					--IIF(MIN(IIF(ClassGroupNum IS NULL,-99,ClassGroupNum)) OVER (PARTITION BY ParentClassID) = MAX(IIF(ClassGroupNum IS NULL,-99,ClassGroupNum)) OVER (PARTITION BY ParentClassID), ClassGroupNum, NULL) AS ClassGroupNum,
					ClassName, 
					ParalellClassName,
					IIF(MIN(IIF(BasicClassID IS NULL,-99,BasicClassID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(BasicClassID IS NULL,-99,BasicClassID)) OVER (PARTITION BY ParentClassID), BasicClassID, NULL) AS BasicClassID,
					IIF(MIN(IIF(ClassTypeID IS NULL,-99,ClassTypeID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(ClassTypeID IS NULL,-99,ClassTypeID)) OVER (PARTITION BY ParentClassID), ClassTypeID, NULL) AS ClassTypeID, 
					IIF(MIN(IIF(AreaID IS NULL,-99,AreaID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(AreaID IS NULL,-99,AreaID)) OVER (PARTITION BY ParentClassID), AreaID, NULL) AS AreaID,
					IIF(MIN(IIF(ClassEduFormID IS NULL,-99,ClassEduFormID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(ClassEduFormID IS NULL,-99,ClassEduFormID)) OVER (PARTITION BY ParentClassID), ClassEduFormID, NULL) AS ClassEduFormID,
					IIF(MIN(IIF(ClassEduDurationID IS NULL,-99,ClassEduDurationID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(ClassEduDurationID IS NULL,-99,ClassEduDurationID)) OVER (PARTITION BY ParentClassID), ClassEduDurationID, NULL) AS ClassEduDurationID,
					IIF(MIN(IIF(ClassShiftID IS NULL,-99,ClassShiftID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(ClassShiftID IS NULL,-99,ClassShiftID)) OVER (PARTITION BY ParentClassID), ClassShiftID, NULL) AS ClassShiftID,
					IIF(MIN(IIF(BudgetingClassTypeID IS NULL,-99,BudgetingClassTypeID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(BudgetingClassTypeID IS NULL,-99,BudgetingClassTypeID)) OVER (PARTITION BY ParentClassID), BudgetingClassTypeID, NULL) AS BudgetingClassTypeID,
					IIF(MIN(IIF(EntranceLevelID IS NULL,-99,EntranceLevelID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(EntranceLevelID IS NULL,-99,EntranceLevelID)) OVER (PARTITION BY ParentClassID), EntranceLevelID, NULL) AS EntranceLevelID,
					IIF(MIN(IIF(ClassSpecialityID IS NULL,-99,ClassSpecialityID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(ClassSpecialityID IS NULL,-99,ClassSpecialityID)) OVER (PARTITION BY ParentClassID), ClassSpecialityID, NULL) AS ClassSpecialityID,
					IIF(MIN(IIF(FLTypeID IS NULL,-99,FLTypeID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(FLTypeID IS NULL,-99,FLTypeID)) OVER (PARTITION BY ParentClassID), FLTypeID, NULL) AS FLTypeID,
					IIF(MIN(IIF(FLID IS NULL,-99,FLID)) OVER (PARTITION BY ParentClassID) = MAX(IIF(FLID IS NULL,-99,FLID)) OVER (PARTITION BY ParentClassID), FLID, NULL) AS FLID,
					IIF(MIN(IsProfModule+0) OVER (PARTITION BY ParentClassID) = MAX(IsProfModule+0) OVER (PARTITION BY ParentClassID), IsProfModule, NULL) AS IsProfModule,
					IIF(MIN(IIF(StudentCountPlaces IS NULL,-99,StudentCountPlaces)) OVER (PARTITION BY ParentClassID) = MAX(IIF(StudentCountPlaces IS NULL,-99,StudentCountPlaces)) OVER (PARTITION BY ParentClassID), StudentCountPlaces, NULL) AS StudentCountPlaces,
					Notes,
					--IIF(MIN(IsCombined+0) OVER (PARTITION BY ParentClassID) = MAX(IsCombined+0) OVER (PARTITION BY ParentClassID), IsCombined, NULL) AS IsCombined,
					IIF(MIN(IsNoList+0) OVER (PARTITION BY ParentClassID) = MAX(IsNoList+1) OVER (PARTITION BY ParentClassID), IsNoList, NULL) AS IsNoList,
					IIF(MIN(IsSpecNeed+0) OVER (PARTITION BY ParentClassID) = MAX(IsSpecNeed+0) OVER (PARTITION BY ParentClassID), IsSpecNeed, NULL) AS IsSpecNeed,
					--IIF(MIN(IsWholeClass+0) OVER (PARTITION BY ParentClassID) = MAX(IsWholeClass+0) OVER (PARTITION BY ParentClassID), IsWholeClass, NULL AS IsWholeClass),
					IIF(MIN(IsNotPresentForm+0) OVER (PARTITION BY ParentClassID) = MAX(IsNotPresentForm+0) OVER (PARTITION BY ParentClassID), IsNotPresentForm, NULL) AS IsNotPresentForm,
					IIF(MIN(isValid+0) OVER (PARTITION BY ParentClassID) = MAX(isValid+0) OVER (PARTITION BY ParentClassID), isValid, NULL) AS isValid,
					IIF(MIN(IIF(NewBC IS NULL,-99,NewBC)) OVER (PARTITION BY ParentClassID) = MAX(IIF(NewBC IS NULL,-99,NewBC)) OVER (PARTITION BY ParentClassID), NewBC, NULL) AS NewBC,
					cnGroups, ROW_NUMBER() OVER (PARTITION BY ParentClassID ORDER BY ClassGroupNum) AS rn,
					AVG(IIF(BasicClassID < 0, 21, null)) OVER (PARTITION BY ParentClassID) AS t21
				FROM @tbClasses AS C
				WHERE cnGroups > 1
			) AS Src WHERE rn > 1
		;;
   
		--SELECT * FROM @classParents;
		
		-- insert на чайлдове
		INSERT INTO inst_year.ClassGroup 
					(SchoolYear, InstitutionID, InstitutionDepartmentID, ClassGroupNum, ClassName, ParalellClassName, ParentClassID, 
					BasicClassID, ClassTypeID, AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
					BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
					StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm, 
					ValidFrom, ValidTo, isValid, SysUserID, PrevYearID)--, tmp_ClassID, ExternalID)
		OUTPUT INSERTED.PrevYearID, INSERTED.ClassID, INSERTED.BasicClassID, INSERTED.ClassTypeID INTO @classIds
		SELECT @ToSchoolYear, InstitutionID, InstitutionDepartmentID, rn, ClassName, ParalellClassName, NewParentClassID,
					NewBC, ClassTypeID, AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
					BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
					StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm, 
					GETDATE(), '9999-12-31 23:59:59.999', 1, @sysuserid, ClassID
		FROM (SELECT ClassID, SchoolYear, InstitutionID, InstitutionDepartmentID, ClassGroupNum, ClassName, ParalellClassName, P.NewParentClassID,
					NewBC, ClassTypeID, AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
					BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
					StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm,
					ROW_NUMBER() OVER (PARTITION BY P.ParentClassID ORDER BY ClassGroupNum) AS rn
				FROM @tbClasses AS C
					INNER JOIN @classParents AS P ON C.ParentClassID = P.ParentClassID
						) AS Src 
		
		--служебната паралелка
		INSERT INTO inst_year.ClassGroup
			(SchoolYear,InstitutionID,InstitutionDepartmentID,ClassGroupNum,ClassName,IsNotPresentForm,ValidFrom,ValidTo,IsValid,SysUserID)
		SELECT @ToSchoolYear,InstitutionID,InstitutionDepartmentID,ClassGroupNum,ClassName,IsNotPresentForm,ValidFrom,ValidTo,1,@sysuserid
		FROM inst_year.ClassGroup
		WHERE InstitutionID = @instID
			AND SchoolYear = @FromSchoolYear
			AND IsNotPresentForm = 1;

	--start update ClassName and BasicClass is null when basicClassID = 21
		DECLARE @classIds21 table (classId int)
		INSERT INTO @classIds21 (classId)
		SELECT ClassID FROM inst_year.ClassGroup 
		WHERE InstitutionID = @instID
		AND SchoolYear = @ToSchoolYear
		AND BasicClassID = 21
		
		UPDATE cg SET ClassName = 'Моля, въведете'
		FROM inst_year.ClassGroup cg
		INNER JOIN @classIds21 c21 ON c21.classId = IIF(ParentClassID IS NULL, cg.ClassID, ParentClassID)
		
		UPDATE cg SET BasicClassID = NULL
		FROM inst_year.ClassGroup cg
		INNER JOIN @classIds21 c21 ON c21.classId = cg.ClassID		
	--end update ClassName and BasicClass is null when basicClassID = 21




		---- УЧЕНИЦИ
		-- продължаващи - инсърт нови записи StudentClass
		INSERT INTO student.StudentClass
			(SchoolYear, ClassId, PersonId, StudentSpecialityId, StudentEduFormId, ClassNumber, Status, IsIndividualCurriculum, IsForSubmissionToNRA,
			IsHourlyOrganization, IsCurrent, RepeaterId, CommuterTypeId, PositionId, BasicClassID, ClassTypeID, InstitutionId, IsNotPresentForm, EnrollmentDate)
		SELECT @ToSchoolYear, CG.NewClassID, SC.PersonId, SC.StudentSpecialityId, SC.StudentEduFormId, SC.ClassNumber, SC.Status, SC.IsIndividualCurriculum, SC.IsForSubmissionToNRA,
			SC.IsHourlyOrganization, 1, IIF(SC.RepeaterId > 1, 1, SC.RepeaterId), SC.CommuterTypeId, SC.PositionId, CG.NewBC, CG.ClassTypeID/*SC.ClassTypeID*/, SC.InstitutionId, SC.IsNotPresentForm, /*SC.EnrollmentDate*/GETDATE()
		FROM @classIds AS CG
			INNER JOIN student.StudentClass AS SC 
				ON SC.ClassId = CG.OldClassID 
				AND SC.SchoolYear = @FromSchoolYear
				AND SC.InstitutionId = @instID
				AND SC.Status !=2 AND SC.IsCurrent = 1
			LEFT JOIN @Amen AS Amen ON Amen.StudentClassID = SC.ID 
		WHERE Amen.StudentClassID IS NULL;
			
		-- продължаващи - инсърт на ученици служебната паралелка
		INSERT INTO student.StudentClass
			(SchoolYear, ClassId, PersonId, StudentSpecialityId, StudentEduFormId, ClassNumber, Status, IsIndividualCurriculum, IsForSubmissionToNRA,
			IsHourlyOrganization, IsCurrent, RepeaterId, CommuterTypeId, PositionId, 
			BasicClassID, 
			ClassTypeID, InstitutionId, IsNotPresentForm, EnrollmentDate)
		SELECT NewCl.SchoolYear, NewCl.ClassID, SC.PersonId, SC.StudentSpecialityId, SC.StudentEduFormId, SC.ClassNumber, SC.Status, SC.IsIndividualCurriculum, SC.IsForSubmissionToNRA,
			SC.IsHourlyOrganization, 1, IIF(SC.RepeaterId > 1, 1, SC.RepeaterId), SC.CommuterTypeId, SC.PositionId, 
			IIF(SC.BasicClassID IN (12,14,15,22,25,27,28,29,32,21), --допълнен с 14 и 15 на 2022-08-19
					SC.BasicClassID, 
					CASE WHEN SC.BasicClassID = -6 THEN -1
						WHEN SC.BasicClassID = -3 THEN -6
						WHEN SC.BasicClassID IN (1,2,3,4,5,6,7,8,9,10,11, -5, -4) THEN SC.BasicClassID + 1 
					END) AS NewBC, 
			SC.ClassTypeID, SC.InstitutionId, SC.IsNotPresentForm, /*SC.EnrollmentDate*/GETDATE()
		FROM inst_year.ClassGroup AS NewCl
			LEFT JOIN inst_year.ClassGroup AS CG
				ON CG.InstitutionID = NewCl.InstitutionId 
				AND CG.IsNotPresentForm = 1
				AND CG.SchoolYear = @FromSchoolYear
			LEFT JOIN student.StudentClass AS SC
				ON CG.InstitutionID = SC.InstitutionId 
				AND CG.SchoolYear = SC.SchoolYear
				AND CG.ClassID = SC.ClassID 
				AND SC.Status != 2 AND SC.IsCurrent = 1
			LEFT JOIN @Amen AS Amen ON Amen.StudentClassID = SC.ID 
			LEFT JOIN (VALUES(1,-1),(1, 4),
								(2,-1),(2, 7),
								(3,-1),(3, 7),(3,10),
								(4,-1),(4, 7),(4,12),
								(5, 7),(5,12),(5,13),(5,14),(5,15),
								(6,12),(6,14),(6,15)
					) AS x(t,bc)
						ON t = @bcCompleteType
						AND bc = SC.BasicClassID
		WHERE SC.InstitutionId = @instID
			AND NewCl.IsNotPresentForm = 1
			AND NewCl.SchoolYear = @ToSchoolYear 
			AND x.t IS NULL
			AND Amen.StudentClassID IS NULL
			AND SC.ClassId IS NOT NULL;
		
		-- деца, които ще остават на поправка, се прехвърлят в служебната паралелка
		INSERT INTO student.StudentClass
			(SchoolYear, ClassId, PersonId, StudentSpecialityId, StudentEduFormId, ClassNumber, Status, IsIndividualCurriculum, IsForSubmissionToNRA,
			IsHourlyOrganization, IsCurrent, RepeaterId, CommuterTypeId, PositionId, 
			BasicClassID, 
			ClassTypeID, InstitutionId, IsNotPresentForm, EnrollmentDate)
		SELECT NewCl.SchoolYear, NewCl.ClassID, SC.PersonId, SC.StudentSpecialityId, IIF(@instType=2,-1,0) AS StudentEduFormId, SC.ClassNumber, SC.Status, SC.IsIndividualCurriculum, SC.IsForSubmissionToNRA,
			SC.IsHourlyOrganization, 1, IIF(SC.RepeaterId > 1, 1, SC.RepeaterId), SC.CommuterTypeId, SC.PositionId, 
			SC.BasicClassID, 
			SC.ClassTypeID, SC.InstitutionId, 1 AS IsNotPresentForm, /*SC.EnrollmentDate */GETDATE()
		FROM @Amen AS Amen
			LEFT JOIN student.StudentClass AS SC 
				ON Amen.StudentClassID = SC.ID AND SC.SchoolYear = @FromSchoolYear AND SC.InstitutionId = @instID
			LEFT JOIN inst_year.ClassGroup AS NewCl
				ON NewCl.InstitutionId = SC.InstitutionId 
				AND NewCl.IsNotPresentForm = 1
				AND NewCl.SchoolYear = @ToSchoolYear;
		
		-- ъпдейт стари записи StudentClass за преминаващи в следващ клас
		UPDATE student.StudentClass
			SET IsCurrent = 0
		FROM @classIds AS CG
		WHERE StudentClass.InstitutionId = @instID
			AND StudentClass.SchoolYear = @ToSchoolYear
			AND StudentClass.ClassId = CG.OldClassID 
			AND StudentClass.isCurrent = 1;
		
		-- ъпдейт стари записи StudentClass за служебната паралелка
		UPDATE SC
			SET IsCurrent = 0, Status = IIF(NewSC.PersonId IS NULL, 2, SC.Status)
		FROM inst_year.ClassGroup AS CG
			LEFT JOIN student.StudentClass AS SC
				ON CG.InstitutionID = SC.InstitutionId 
				AND CG.SchoolYear = SC.SchoolYear
				AND CG.ClassID = SC.ClassID
			LEFT JOIN inst_year.ClassGroup AS NewCG
				ON NewCG.InstitutionID = CG.InstitutionID
				AND NewCG.SchoolYear = @ToSchoolYear
				AND NewCG.IsNotPresentForm = 1
			LEFT JOIN student.StudentClass AS NewSC
				ON NewCG.ClassID = NewSC.ClassId 
				AND NewCG.InstitutionID = NewSC.InstitutionId 
				AND NewSC.PersonId = SC.PersonId 
		WHERE CG.InstitutionID = @instID
			AND CG.SchoolYear = @FromSchoolYear
			AND CG.IsNotPresentForm = 1
			AND SC.IsCurrent = 1;
		
		-- ъпдейт стари записи StudentClass - би трябвало да остават само за завършващите паралелки !! + оставащи
		UPDATE student.StudentClass
			SET IsCurrent = 0, Status = 2
		WHERE InstitutionID = @instID
			AND SchoolYear = @FromSchoolYear
			AND IsCurrent = 1;
		
		
		-- за продължаващи - 
		--[student].[SpecialNeedsYear] 
		--DECLARE @specialNeedsYear TABLE(OldID INT, NewID INT);
		MERGE INTO student.SpecialNeedsYear AS Trg USING (
					SELECT NY.Id, NY.PersonId, SC.SchoolYear, NY.HasSuportiveEnvironment, NY.SupportiveEnvironment, NY.CreatedBySysUserID, NY.CreateDate, NY.ModifiedBySysUserId, NY.ModifyDate
					FROM student.StudentClass AS SC
						LEFT JOIN student.SpecialNeedsYear AS NY
							ON NY.SchoolYear = @FromSchoolYear
							AND SC.PersonId = NY.PersonId 
					WHERE SC.InstitutionId = @instID
						AND SC.SchoolYear = @ToSchoolYear
						AND SC.IsCurrent = 1
						AND NY.Id IS NOT NULL
			) AS Src ON Src.PersonId = Trg.PersonId AND Src.SchoolYear = Trg.SchoolYear 
		WHEN NOT MATCHED THEN
		    INSERT (PersonId, SchoolYear, HasSuportiveEnvironment, SupportiveEnvironment, CreatedBySysUserID, CreateDate, ModifiedBySysUserId, ModifyDate)
    		VALUES (PersonId, SchoolYear, HasSuportiveEnvironment, SupportiveEnvironment, CreatedBySysUserID, CreateDate, ModifiedBySysUserId, ModifyDate)
		    OUTPUT SRC.Id, INSERTED.id INTO @specialNeedsYear;
		
		--[student].[SpecialNeeds] 
		INSERT INTO [student].[SpecialNeeds]
			(SpecialNeedsYearID, SpecialNeedsTypeId, SpecialNeedsSubTypeId, CreatedBySysUserID, CreateDate, ModifiedBySysUserId, ModifyDate)
		SELECT SNY.NewID, SN.SpecialNeedsTypeId, SN.SpecialNeedsSubTypeId, SN.CreatedBySysUserID, SN.CreateDate, SN.ModifiedBySysUserId, SN.ModifyDate
		FROM @specialNeedsYear AS SNY
			INNER JOIN [student].[SpecialNeeds] AS SN
				ON SN.SpecialNeedsYearID = SNY.OldID;
	
		--[student].[SpecialEquipment]
		INSERT INTO student.SpecialEquipment
			(EquipmentTypeId, StudentClassID, IsAvailable, PersonId, CreatedBySysUserID, CreateDate)
		SELECT SE.EquipmentTypeId, CG.NewClassID, SE.IsAvailable, SE.PersonId, SE.CreatedBySysUserID, SE.CreateDate
		FROM @classIds AS CG
			LEFT JOIN [student].[SpecialEquipment] AS SE
				ON SE.StudentClassID = CG.OldClassID
		WHERE SE.Id IS NOT NULL;
		
		-- Персонал (StaffPosition) - полетата за трудовия стаж се увеличават с една година:
		--	[WorkExpTotalYears], [WorkExpSpecYears]
		--	за педагогически персонал + [WorkExpTeachYears]
		DECLARE @staffPositionIds table (id int)
		UPDATE inst_basic.StaffPosition
			SET WorkExpTotalYears = ISNULL(WorkExpTotalYears, 0) + 1, 
				WorkExpSpecYears = ISNULL(WorkExpSpecYears, 0) + 1, 
				WorkExpTeachYears = IIF(StaffTypeID = 1, ISNULL(WorkExpTeachYears, 0) + 1, WorkExpTeachYears)
		OUTPUT inserted.StaffPositionID INTO @staffPositionIds
		WHERE InstitutionID = @instID
			AND IsValid = 1;
	

		--в PedStaffData се въвежда кух запис за новата учебна година за StaffTypeID = 1
		INSERT INTO [inst_year].[PedStaffData]
		(
			[StaffPositionID]
			,[Norma]
			,[NormaT]
			,[SysUserID]
			,[SchoolYear]
		)
		SELECT StaffPosition.StaffPositionID, 0, 0, @sysuserid, @ToSchoolYear
		FROM inst_basic.StaffPosition
		LEFT JOIN inst_year.PedStaffData
			ON PedStaffData.StaffPositionID = StaffPosition.StaffPositionID
				AND PedStaffData.SchoolYear = @ToSchoolYear
				AND PedStaffData.IsValid = 1
		WHERE StaffPosition.StaffTypeID = 1
			AND StaffPosition.InstitutionID = @instID
			AND StaffPosition.IsValid = 1
			AND PedStaffData.PedStaffDataID IS NULL;



		-- УЧЕБЕН ПЛАН
		EXEC [inst_year].[createClassRUP] null, @instID, @ToSchoolYear, @sysuserid;

	SELECT CurriculumID AS curriculumCreated FROM inst_year.Curriculum WHERE InstitutionID = @instID AND SchoolYear = @ToSchoolYear;

	--COMMIT TRANSACTION;
	--ROLLBACK TRANSACTION; --COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [SchoolYearChangeSchool] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
