USE [neispuo]
GO
/****** Object:  StoredProcedure [logs].[logError]    Script Date: 1.3.2022 г. 9:59:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [logs].[logError] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int,
	@ModuleId int,
	@ObjectName NVARCHAR(50),
	@ObjectId int,
	@SchoolYear int

AS

/************** Setup initial params ******************/
DECLARE @instID int;
SELECT @instID = instID FROM OPENJSON(@_json)
WITH (instID int '$.instid')

DECLARE @personid int;
SELECT @personid = personID FROM OPENJSON(@_json)
WITH (personid int '$.personid')

DECLARE @forceOperation int;
SELECT @forceOperation = forceOperation FROM OPENJSON(@_json)
WITH (forceOperation int '$.forceOperation')

DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (sysuserid int '$.sysuserid')

DECLARE @sysroleid int;
SELECT @sysroleid = sysroleid FROM OPENJSON(@_json)
WITH (sysroleid int '$.sysroleid')

DECLARE @sessionId NVARCHAR(1000);
SELECT @sessionId = sessionId FROM OPENJSON(@_json)
WITH (sessionId NVARCHAR(1000) '$.audit.sessionId')

DECLARE @remoteIpAddress NVARCHAR(50);
SELECT @remoteIpAddress = remoteIpAddress FROM OPENJSON(@_json, '$.audit')
WITH (remoteIpAddress NVARCHAR(50) '$.remoteIpAddress')
-- TEMPORARY HACK
IF (@remoteIpAddress IS NULL) SET @remoteIpAddress = '0.0.0.0';

DECLARE @userAgent NVARCHAR(MAX);
SELECT @userAgent = userAgent FROM OPENJSON(@_json, '$.audit')
WITH (userAgent NVARCHAR(MAX) '$.userAgent')
-- TEMPORARY HACK
IF (@userAgent IS NULL) SET @userAgent = 'N/A';


/************** Insert data in DB ******************/

INSERT INTO [logs].[DB_Errors]
    ([ErrorDateTime]
    ,[UserName]
    ,[ModuleId]
    ,[ErrorProcedure]
    ,[OperationType]
    ,[ForceOperation]
    ,[ErrorMessage]
    ,[SchoolYear]
    ,[InstId]
    ,[PersonId]
    ,[ObjectName]
    ,[ObjectId]
    ,[SysUserId]
    ,[SysRoleId]
    ,[LoginSessionId]
    ,[RemoteIpAddress]
    ,[UserAgent]
    ,[ErrorNumber]
    ,[ErrorState]
    ,[ErrorSeverity]
    ,[ErrorLine]
    ,[Data])
VALUES
    (GETDATE(),
    SUSER_SNAME(), -- [UserName]
    @ModuleId,
    ERROR_PROCEDURE(),
    @OperationType,
    @forceOperation, -- [ForceOperation]
    ERROR_MESSAGE(),
    @SchoolYear, -- [SchoolYear]
    @instID,
    @personid, -- [PersonId]
    @ObjectName,
    @ObjectId, -- [ObjectId]
    @sysuserid,
    @sysroleid, -- [SysRoleId]
    @sessionId, -- [LoginSessionId]
    @remoteIpAddress, -- [RemoteIpAddress]
    @userAgent, -- [UserAgent]
	ERROR_NUMBER(),
	ERROR_STATE(),
	ERROR_SEVERITY(),
	ERROR_LINE(),
	@_json);
