//
// Override bootstrap variables
//
$dropdown-link-active-color:   $blue-400;
$dropdown-link-active-bg:      $blue-100;
$dropdown-link-disabled-color: $gray-500;
$dropdown-item-padding-y: 0.813rem;
$dropdown-item-padding-x:  0.5rem;

//
// Custom variables
//