//
// Override bootstrap variables
//

//form text variables
$form-text-color: #657285;

//form control variables
$input-border-color: $gray-600;
$input-disabled-bg: #f7f9fc8c;
$input-disabled-border-color: #cbd3df8c;
$input-focus-border-color: $blue;
$input-padding-y: 0.813rem;
$input-line-height: 1;
$input-border-color-enabled: #657285;

//lable variables
$form-label-color: #657285;

//
// Custom variables
//
