//
// Override bootstrap variables
//
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$blue}'/></svg>");
$form-check-input-disabled-opacity: 1;

//
// Custom variables
//
$form-check-radio-checked-bg-image-disabled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$gray-500}'/></svg>");