.title-form {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 25px;
}

.wrap-modal-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    .table-container-modal {
        width: 60%;
    }
    .result-add-container {
        &.no-result {
            border: 0 !important;
            box-shadow: none !important;
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: calc(100vh - 205px);
        overflow: auto;
        width: 40%;
        overflow-y: hidden;
        margin-left: 10px;
        border-radius: 6px !important;
        box-shadow: 0px 1px 6px 0px #00000052 !important;
        border: 1px solid #00000038 !important;
        .title-list {
            background-color: var(--background-color-header);
            color: var(--header-font-color);
            font-size: 14px;
            width: 100%;
            text-align: center;
            padding-bottom: 5px;
        }
        .container-add-result {
            display: flex;
            flex-direction: column;
            max-height: calc(100vh - 230px);
            overflow: auto;
            overflow-x: hidden;
            padding: 5px 0px;
            box-shadow: 0px 1px 6px 0px #00000052 !important;
            justify-content: flex-start;
            align-items: center;
            .container-data {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin: 3px;
                padding: 3px;
                font-size: 15px;
                padding-left: 5px;
                box-shadow: 0px 1px 6px 0px #00000052 !important;
                border-radius: 6px !important;
                border: 1px solid #00000038 !important;
                width: calc(100% - 15px);
                box-sizing: border-box;
                .data-span {
                    flex-grow: 100;
                    line-height: normal;
                }
                mat-icon {
                    margin-left: 5px;
                    font-size: 14px;
                    width: auto;
                    height: auto;
                    color: #b51212;
                    cursor: pointer;
                    transition: 0.3s all;
                    &:hover {
                        color: black;
                        transition: 0.3s all;
                    }
                    &::before {
                        content: "\F78B";
                        font-family: "bootstrap-icons";
                        font-size: 15px;
                        color: #231f20;
                    }
                }
            }
        }
        .delete-btn-multiadd {
            &:hover {
                background-color: #c53034;
            }
            background-color: #C61A0B !important;
            color: white;
            text-shadow: 1px 1px 3px #000000bd;
            border-radius: 0.25rem !important;
            padding: 4px 6px;
            line-height: normal;
            width: 50%;
            margin: 4px 0;
        }
    }
}

.footer-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    button {
        margin-left: 10px;
        margin-right: 10px;
        mat-icon {
            margin-right: 5px;
        }
    }
}