<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- Consider moving out of cdn -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/neispuo-theme-styles/theme.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/css/global.min.css" />
  </head>

  <body>
    <%- body %>
  </body>
</html>
