<link rel="stylesheet" type="text/css" href="/css/forgot_password.min.css" />

<% if (CHECK_RECAPTCHA) { %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  function onSubmit(token) {
    document.getElementById("recaptcha-form").submit();
  }
</script>
<% } %>

<div class="forgot-password-page container-fluid">
  <div class="forgot-password-page-wrapper row">
    <div class="left-col col-sm-12 col-md-5 offset-md-1 col-xl-4 offset-xl-2">
      <div class="mon-logo">
        <img src="/images/mon.png" alt="mon-logo" />
      </div>
      <div class="page-title">
        <strong>Вход към</strong>
        <h1>НЕИСПУО</h1>
      </div>
    </div>
    <div class="right-col col-sm-12 col-md-5 col-xl-4">
      <% if (!emailRequested) { %>
      <div class="mdc-card" style="background-color: white">
        <div class="form-wrapper">
          <form id='recaptcha-form' autocomplete="off" action="/forgot-password/request-email" method="post">
            <div class="form-title">
              <div class="mon-logo">
                <img src="/images/mon-logo.png" alt="" />
              </div>
              <h2>НЕИСПУО</h2>
              <p class="subtitle">Забравена Парола</p>
              <p class="mdc-typography mdc-typography--body1">Моля въведете вашата електронна поща, за да
                получите съобщение с инструкции за промяна на паролата.</p>
            </div>

            <label class="mdc-text-field mdc-text-field--outlined email-input">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="emailLabel">Имейл</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
              <input name="email" required class="mdc-text-field__input" aria-labelledby="emailLabel" />
            </label>

            <p class="mdc-typography mdc-typography--body1 azure-info">Ако ползвате вашят Microsoft акаунт моля посетете
              <a href="https://login.microsoftonline.com/">този линк</a>.</p>

            <div style="width: auto; display: block">
              <span id="errorMsg" class="error-msg" style="display: none">
                <i class="fa fa-times-circle"></i>
                <span class="error-text">
                </span>
              </span>
            </div>
            <div class="forgot-password-actions">
              <div class="submit-btn-wrapper">
                <div class="mdc-touch-target-wrapper">
                  <button type="submit" class="mdc-button mdc-button--raised g-recaptcha"
                    data-sitekey="<%= recaptchaSiteKey %> " data-callback='onSubmit'>
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Изпрати</span>
                    <div class="mdc-button__touch"></div>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <% } else { %>
      <div class="mdc-card" style="background-color: white">
        <div class="form-wrapper">
          <div class="form-title">
            <div class="mon-logo">
              <img src="/images/mon-logo.png" alt="" />
            </div>
            <h2>НЕИСПУО</h2>
            <p class="subtitle">Забравена Парола</p>
            <div style="width: auto; display: block">
              <span id="success-message" class="success-message">
                <i class="fa fa-check-circle"></i>
                <span>
                  В следващите минути ще получите електронна поща с
                  инструкции за промяна на вашата парола.
                </span>
              </span>
            </div>
          </div>

          <div class="mdc-touch-target-wrapper success-button-wrapper">
            <a href="<%= MAIN_PORTAL_URL %> ">
              <button type="button" class="mdc-button mdc-card__action mdc-card__action--button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Към портала</span>
                <div class="mdc-button__touch"></div>
              </button>
            </a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
<script src="/js/material-components-web.min.js"></script>
<script src="/js/forgot_password.js"></script>