BaseSchoolType.sql linguist-generated
BudgetingInstitution.sql linguist-generated
DetailedSchoolType.sql linguist-generated
ExtSystemType.sql linguist-generated
FinancialSchoolType.sql linguist-generated
Gender.sql linguist-generated
PersonalIDType.sql linguist-generated
