<sb-breadcrumb class="block mb-3" [icon]="fadBook" text="Дневници"></sb-breadcrumb>

<sb-card>
  <ng-container card-title>Дневници</ng-container>
  <ng-container card-buttons>
    <button
      *ngIf="canCreate"
      [routerLink]="['./new']"
      [relativeTo]="route.firstChild"
      mat-raised-button
      color="primary"
    >
      <fa-icon [icon]="fasPlus" size="lg"></fa-icon>
      <span>Създай дневници</span>
    </button>
    <button
      *ngIf="canCreate"
      [routerLink]="['./combine']"
      [relativeTo]="route.firstChild"
      mat-raised-button
      color="primary"
    >
      <fa-icon [icon]="fasArrowAltUp" size="lg"></fa-icon>
      <span>Обедини дневници</span>
    </button>
    <button
      *ngIf="canCreate"
      [routerLink]="['./separate']"
      [relativeTo]="route.firstChild"
      mat-raised-button
      color="primary"
    >
      <fa-icon [icon]="fasArrowAltDown" size="lg"></fa-icon>
      <span>Раздели дневници</span>
    </button>
  </ng-container>
  <ng-container card-body>
    <div class="md:grid grid-cols-4 gap-4">
      <div>
        <sb-vertical-tabs [tabs]="tabs" ariaLabel="Видове паралелки/групи"></sb-vertical-tabs>
      </div>
      <div class="col-span-3 mt-2.5 md:mt-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>
</sb-card>
