@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';
@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/mixins';

:host ::ng-deep {
  .p-multiselect,
  .p-dropdown {
    width: 100%;
  }

  .p-calendar {
    .p-datepicker {
      right: 0;
      left: auto !important;
    }
    .p-monthpicker,
    .p-yearpicker {
      display: flex;
    }
  }

  .p-datatable {
    font-size: $font-size-sm;
    height: calc(100vh - 267px - var(--table-height-offset));
    transition: height 0.3s ease;
    &.recalculate {
      height: calc(100vh - 327px - var(--table-height-offset));
    }
    table {
      width: max-content;
    }
    &-thead {
      tr:first-of-type > th {
        position: relative;
        &:hover {
          cursor: move;
        }
        i:hover {
          cursor: pointer;
        }
      }
    }
    &-tbody {
      > tr {
        color: $gray-700;
        > td {
          white-space: nowrap;
          overflow: hidden;
          span {
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &.measure {
            background: $gray-100;
            cursor: pointer;
            &:hover {
              background: $gray-200;
            }
          }
        }
      }
    }

    &-footer {
      background: $white;
      color: $gray-700;
      height: 67px;
      border-top: 1px solid $gray-200;
      border-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      .load-next {
        cursor: pointer;
        color: $gray-600;
        &:hover {
          color: $gray-700;
        }
      }
    }
  }
  .p-datatable-resizable {
    .p-datatable-thead > tr > th {
      overflow: inherit;
      white-space: normal;
    }
  }
  .p-datepicker-calendar {
    tr:first-of-type > th {
      &:hover {
        cursor: default;
        &::after {
          content: '';
        }
      }
    }
  }
  .p-column-filter-menu-button.p-column-filter-menu-button {
    margin-left: 0.5rem;
    &-open {
      color: $blue;
    }
    &-active,
    &-active:hover {
      background: darken($blue-100, 5%);
      color: $blue;
    }
  }

  @include media-breakpoint-down(sm) {
    .p-datatable {
      height: calc(100vh - 308px - var(--table-height-offset));
      &.recalculate {
        height: calc(100vh - 368px - var(--table-height-offset));
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .sidebar-toggle {
      &.mobile {
        display: none;
      }
    }
  }
}
