.custom-tab-wrapper {
  position: relative;
  height: 100%;
  .back-btn {
    position: absolute;
    left: 8px;
    top: 7px;
    line-height: normal;
    padding: 2px 10px 2px 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .material-icons {
      width: auto;
      height: auto;
      font-size: 20px;
    }
  }
  .custom-mat-tab-l {
    width: 100%;
  }
}
.l-custom-body-mat-tab {
  overflow: auto;
  height: 100%;
  padding-top: 10px;
  &.switch-control {
    margin-top: 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    .switch-control-wrapper {
      position: absolute;
      margin-top: -60px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
.l-custom-wrapper-mat-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}