@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';

.title {
  margin-bottom: 1.25rem;
}

:host ::ng-deep {
  p-accordion {
    overflow: hidden;
    margin-left: 1.875rem;
    width: 100%;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0;
    border: 1px solid transparent;
    color: $gray-700;
    background: transparent;
    font-weight: normal;
    border-radius: 0;
    transition: none;
    width: 100%;
  }

  .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
    background: transparent;
    border-color: transparent;
    color: $gray-700;
    width: 100%;
    cursor: move;
  }
  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: none;
  }

  .p-accordion-header-link {
    display: inline-flex;
  }

  .p-accordion-header-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    display: none;
  }

  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background: transparent;
    border-color: transparent;
    color: $gray-700;
    width: 100%;
    cursor: move;
  }

  .p-accordion .p-accordion-content {
    display: none;
  }

  a.p-accordion-header-link:hover {
    background-size: 0;
    color: $gray-900 !important;
  }

  .filter-dropdown {
    border-color: $primary;
    .p-dropdown-trigger {
      color: $primary;
    }
    .p-dropdown-label.p-placeholder {
      color: $blue-400;
    }
    &:not(.p-disabled):hover {
      border: $border-width * 2 solid $blue-200;
      .p-dropdown-trigger {
        color: $blue-200;
      }
    }
  }

  .p-fieldset {
    margin-bottom: 1rem;
  }
  .p-fieldset .p-fieldset-legend {
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    background: $white;
    margin-bottom: 0;
    a {
      justify-content: flex-start;
      padding: 0.5rem;
      color: $gray-700;
      &:hover {
        background-size: 0 !important;
        color: $gray-900;
      }
      &:focus {
        box-shadow: none;
      }
    }
    button {
      padding: 0.25rem 0.313rem;
    }
    &:hover {
      background: $white;
      color: $gray-900;
    }
  }
  .p-fieldset .p-fieldset-legend {
    margin-left: -1px;
    min-width: 101%;
    font-weight: bold;
  }
}

.cdk-drop-list.drop-list {
  min-height: 6rem;
  display: block;
  .box {
    display: flex;
    position: relative;
    padding: 0.75rem 1rem;
    color: $gray-700;
    background-color: $white;
    border-radius: $border-radius-lg;
    cursor: move;
    font-size: $font-size-sm;
    border: 1px dashed $gray-700;
    margin-bottom: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &::before {
      content: '\F14E';
      font-family: 'bootstrap-icons';
      position: absolute;
      font-size: 1rem;
      vertical-align: bottom;
      margin-right: 0.5rem;
    }
    &-placeholder {
      padding: 0.75rem 1rem;
      min-height: 2.875rem;
      background: $gray-200;
      border: 1px dashed $gray-300;
      border-radius: $border-radius-lg;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      margin: 1rem 0;
    }
  }
  &.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drag {
  &-disabled {
    opacity: 0.65;
  }
  &-preview {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    font-size: $font-size-sm;
    color: $gray-700;
    background-color: $white;
    border-radius: $border-radius-lg;
    border: 1px solid $gray-500;
    box-shadow: $box-shadow;
    &::before {
      content: '\F14E';
      position: absolute;
      top: 0.75rem;
      font-family: 'bootstrap-icons';
      font-size: 1rem;
      vertical-align: bottom;
      margin-right: 0.5rem;
    }
  }
  &-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

::ng-deep .cdk-drag-preview {
  p-accordion {
    margin-left: 1.875rem;
    width: 100%;
  }

  .p-accordion p-accordiontab:last-child .p-accordion-header:not(.p-highlight) .p-accordion-header-link {
    background: $white;
    color: $gray-700;
    font-weight: normal;
    padding: 0;
    border: none;
  }

  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background: transparent;
    border-color: transparent;
    color: $gray-700;
    width: 100%;
    padding: 0;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    display: none;
  }

  .p-accordion .p-accordion-content {
    display: none;
  }
}
