<form [formGroup]="form" novalidate (ngSubmit)="onSave()" class="sm:w-[700px]">
  <div class="sb-btn-wrapper sb-btn-wrapper-right">
    <button mat-raised-button color="primary" type="submit" [disabled]="saving">
      <fa-icon [icon]="saving ? fasSpinnerThird : fasCheck" [spin]="saving" size="lg"></fa-icon>
      <span>Запази</span>
    </button>
    <button mat-raised-button mat-dialog-close>Затвори</button>
  </div>

  <sb-textarea-field
    class="sb-single-row-mat-field"
    label="Допълнителни дейности и индивидуална работа"
    formControlName="activity"
    [textareaMaxSize]="10000"
  ></sb-textarea-field>
</form>
