<body style="margin: 0; padding: 0; width: 100%; background-color: #f4f4f4;">
    <table style="width: 600px; margin: auto; background-color: #ffffff; text-align: center; border-collapse: collapse; padding: 0;">
        <tr>
            <td>
                <div style="background-color: #002966; height: 60px; padding: 10px; text-align: center;">
                    <table style="width: 100%; border-collapse: collapse; padding: 0; margin: 0;">
                        <tr>
                            <td style="text-align: center;">
                                <p style="color: white; font-size: 24px; margin: 0; padding: 0;">
                                    НЕИСПУО
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h1 style="font-size: 16px; margin: 20px 0; padding: 0;">
                    Уважаеми господине/госпожо,
                </h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; text-align: center;">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td style="color: rgb(182, 182, 182); text-align: center; font-size: 12px; padding: 10px; margin: 30px 0 0;">
                Моля, не отговаряйте на този имейл, той е изпратен автоматично.
                Получавате този имейл, тъй като сте регистриран потребител на
                neispuo.mon.bg
            </td>
        </tr>
    </table>
</body>
