<div class="sidebar px-0 side-menu flex-shrink-0 bg-white" [ngClass]="{ shown: displaySidemenu }">
    <ul class="ps-0 side-menu-scrollable">
        <ng-container *ngFor="let menuList of sideMenuList">
            <li *ngIf="!(hasRights(menuList.hidden) | async)">
                <button
                    class="btn btn-toggle align-items-center"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#id-' + menuList.id"
                    aria-expanded="true"
                    role="button"
                    [attr.aria-controls]="'id-' + menuList.id"
                >
                    {{ menuList.label | translate }}
                </button>
                <div class="collapse" id="{{ 'id-' + menuList.id }}" [ngClass]="{ show: true }">
                    <ul class="btn-toggle-nav list-unstyled fw-normal small" [id]="menuList.id">
                        <li *ngFor="let listItem of menuList.items">
                            <a
                                *ngIf="hasRights(listItem.authRoles, listItem.data?.isLeadTeacher) | async"
                                routerLink="{{ listItem.routerLink }}"
                                routerLinkActive="active"
                                class="px-0"
                                (click)="sideMenuData.changeSideMenuVisibility(false)"
                            >
                                <span class="d-sm-inline">{{ listItem.label | translate }}</span></a
                            >
                        </li>
                    </ul>
                </div>
                <hr />
            </li>
        </ng-container>
    </ul>
</div>
