.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.l-header-global-section {
    margin: 0;
    background-color: white;
    width: auto;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 4px;
    margin-top: 18px;
    font-size: 28px;
    color: #4e4e4e;
    margin-bottom: -5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}