@import '~@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';
@import '~@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/mixins';

.fixed-top {
  z-index: 1000;
}

.navbar {
  padding: 1rem 0.75rem;
  box-shadow: -2px 0 5px $chart-mono-6;
  &-container {
    .logo {
      display: flex;
      align-items: center;
      color: $white;
      a {
        background-size: 0;
      }
      i {
        display: none;
        margin-right: 1rem;
        font-size: 2rem;
      }
      .mon-logo {
        height: 32px;
        width: auto;
        margin-right: 1rem;
      }
      .mon-title {
        margin: 0;
      }
    }
    .btn-tour-icon {
      color: $white;
      padding: 0;
      font-size: 1.5rem;
    }
  }
}

a {
  text-decoration: none;
}
.sidebar {
  top: 64px;
  height: calc(100vh - 64px - 89px);
  position: fixed;
  width: 320px;
  box-shadow: $box-shadow-right;
  transition: 0.5s ease;
  z-index: 999;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($gray-400, 0.5);
    border-radius: 3px;

    &:hover {
      background-color: rgba($gray-500, 0.5);
    }
  }

  scrollbar-width: thin;
  scrollbar-color: rgba($gray-400, 0.5) transparent;

  &.shown {
    visibility: visible;
    transform: none;
    transition: 0.5s ease;
  }
  .side-menu {
    &-scrollable {
      height: calc(100vh - 153px);
      overflow-y: auto;
      margin-bottom: 0;
      .btn-toggle {
        position: relative;
        font-size: 1.125rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 1.25rem 1.75rem;
        width: 100%;
        color: $gray-900;
        background-color: transparent;
        border: 0;
        pointer-events: none; // Currently, all submenus are open
        &:not(.collapsed),
        &:focus,
        &:hover {
          color: $blue-400;
          background-color: $blue-100;
        }
        &-nav {
          a {
            display: flex;
            padding: 1.25rem 1.75rem;
            margin-left: 3.75rem;
            background-size: 0;
            font-size: 1rem;
            color: $gray-700;
            &.active,
            &:hover {
              color: $blue-400;
            }
          }
        }
      }
    }
  }
}

.sidebar.show-sidemenu {
  visibility: visible;
  transform: none;
  transition: 0.5s;
}
hr {
  width: 90%;
  color: $gray-400;
  margin: auto;
}

.btn-toggle {
  position: relative;
  font-size: 1.125rem;
  font-weight: bold;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 1.25rem 1.75rem;
  font-weight: 600;
  color: $gray-900;
  background-color: transparent;
  border: 0;
  text-align: start;
}
.btn-toggle:focus {
  color: $blue-400;
  background-color: $blue-100;
}
.btn-toggle:hover {
  color: $blue-400;
  ::after {
    color: $blue-400;
  }
}
.btn-toggle.active {
  color: $blue-400;
}

.icon::before {
  font-family: 'bootstrap-icons';
  margin-right: 1rem;
}

.content-container {
  margin-left: 320px;
  padding-top: 64px;
  padding-bottom: 89px;

  .backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 35, 41, 0.5);
    transition: background-color 0.5s ease;
    z-index: 2;
  }
  .content {
    margin-top: 4.5rem;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: $white;
  box-shadow: $box-shadow-top;
  z-index: 1030;
  .app-version {
    margin-top: 0.3125rem;
    color: $gray-700;
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    &-container {
      .logo {
        .mon-title {
          display: none;
        }
      }
    }
  }

  .sidebar {
    height: calc(100vh - 64px - 140px);
    .side-menu {
      &-scrollable {
        height: calc(100vh - 204px);
      }
    }
  }

  footer {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include media-breakpoint-up(lg) {
  .backdrop {
    visibility: hidden;
  }
}

@media (max-width: 620px) {
  .mon-title {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    &-container {
      .logo {
        i {
          display: block;
        }
      }
    }
  }

  .sidebar {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
  .content-container {
    margin-left: 0;
  }
  .btn-tour-icon {
    display: none;
  }
}

@media (max-width: 300px) {
  .sidebar {
    width: 270px;
    .side-menu {
      &-scrollable {
        .btn-toggle {
          font-size: 1rem;
          &-nav {
            a {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}

.admin-panel-toggle {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 1.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $gray-900;
    transition: transform 0.3s ease;
  }

  &.expanded::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.admin-panel-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

  &.show {
    max-height: 18.75rem;
  }

  .admin-panel-item {
    padding-left: 3.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: $gray-700;

    &:hover {
      color: $blue-400;
    }

    &.active-link {
      color: $blue-400;
      background-color: $blue-100;
    }
  }
}
