.btn-menu-profile {
    background-color: #54379f;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffffb8;
    padding: 0;
    line-height: 40px;
    margin-right: 0px;
    color: white;
}

.container-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 280px;
    .like-btn-item {
        background-color: #e4e8ee;
        color: #19212c;
        font-size: 1.25rem;
        font-weight: 700;
        height: 35px;
        width: 35px;
        line-height: 32px;
        border-radius: 50%;
        padding: 2px;
        text-align: center;
    }
    .name-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 15px;
        .name-span {
            color: #121417;
            font-size: 0.875rem;
            line-height: 1rem;
        }
        .mail-span {
            color: #121417;
            font-size: 0.875rem;
            line-height: 1rem;
        }
    }
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0 !important;
    .sign-out-btn {
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
        margin-top: 10px;
        background-color: transparent;
        border: none;
        position: relative;
        width: fit-content;
        font-size: 0.875rem;
        color: #2f73da;
        outline: none;
        &::after {
            content: "";
            font-family: "bootstrap-icons";
            padding-left: 0.5rem;
            line-height: 0;
            position: absolute;
            right: -18px;
            bottom: 10px;
        }
    }
}
.user-profile {
    position: relative;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    cursor: pointer;
    .name-span {
        text-transform: uppercase;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #FFFFFF;
        width: inherit;
        line-height: 1.25;
        font-size: 0.875rem;
    }
    .email-span {
        font-size: 10px;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #FFFFFF;
        width: inherit;
        line-height: 1.25;
    }
    &::before {
        content: "";
        width: 1px;
        height: 32px;
        background-color: #FFFFFF;
        position: absolute;
        left: 0;
        opacity: 0.5;
    }
    &::after {
        content: "";
        font-family: "bootstrap-icons";
        border: none;
        margin-left: 0.5rem;
        color: #FFFFFF;
        position: absolute;
        right: -13px;
        top: 50%;
        transform: translateY(-50%);
    }
}