.mat-dialog-title {
    margin-top: 10px;
}

.footer-container-with-two-buttons {
    text-align: center;
    button {
        margin: 0 10px;
        width: 120px !important;
    }
}

h1 {
    font-size: 30px;
    line-height: normal;
    text-align: center;
}