.btn-dashboard {
    &:hover {
        background-color: #4f419f;
        transition: 0.3s all;
    }
    width: 26px;
    height: 26px;
    border-radius: 50%;
    color: white;
    transition: 0.3s all;
    line-height: 26px;
    margin-right: 15px;
    cursor: pointer;
}

.container-dashboard {
    display: flex;
    flex-direction: column;
    .dashboard-menu-title {
        color: #6a7381;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        line-height: 1.25rem;
    }
    .link-custom {
        color: #002966;
        font-size: 14px;
        line-height: normal;
        text-decoration: none;
        border-bottom: 1px solid #19197000;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 10px;
        transition: 0.3s all;
        padding: 0;
        &::after {
            content: "ïŠ…";
            font-family: "bootstrap-icons";
            padding-left: 0.5rem;
            line-height: 0;
        }
    }
}
.mat-button-wrapper {
    background-image: linear-gradient(180deg, transparent 93%, rgba(79, 65, 159, 0.5) 0) !important;
}
.icon-dot-container {
    cursor: pointer;
    width: 27px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 1rem !important;
    .dot {
        background-color: #FFFFFF;
        padding: 3px;
        margin: 1px;
    }
}