<div class="l-container-component" [ngClass]="{'error-field' : group.get(field.name).invalid && group.get(field.name).touched}"
    *ngIf="mode===modes.Edit" [style.width.px]="field.width">
    <span class="l-custom-span-label" *ngIf="showLabel">
        <span class="required-span" *ngIf="required">*</span>
        <span class="label-label">{{field.label}}</span>
        <app-info-tooltip *ngIf="field.info" [info]="field.info"></app-info-tooltip>
    </span>
    <div class="l-select" [formGroup]="group" appearance="outline" matTooltipClass="l-custom-tooltip"
        [matTooltip]="s.selectedItems && s.selectedItems[0] ? s.selectedItems[0].label: ''">
        <ng-select #s [appendTo]="appendClass" [items]="field.options" virtualScroll="true" bindLabel="label" bindValue="code" [clearable]="false"
            [formControlName]="field.name" notFoundText="Няма намерени резултати"
            (change)="onSelectionChange({value: $event.code, label: $event.label})">
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" *ngIf="field.options && field.options.length">
                <span [ngOptionHighlight]="search">{{ item.label }}</span>
            </ng-template>
        </ng-select>
        <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
            <div *ngIf="group.get(field.name).hasError(validation.name) && group.get(field.name).touched" class="l-custom-error-select">
                {{validation.message}}</div>
        </ng-container>
    </div>
</div>
<div class="l-container-component preview-mode" *ngIf="mode===modes.View">
    <span class="l-custom-span-label" *ngIf="showLabel">{{field.label}}<app-info-tooltip *ngIf="field.info" [info]="field.info"></app-info-tooltip>
    </span>
    <label class="value-label">{{optionLabel}}</label>
</div>