<div class="grid fluid">
  <div class="col-12">
      <app-detach-mi-preview-ri-document
        [displayDocument]="true"
        [displayRIPremInstitution]="false"
        [resp]="miToUpdate$ | async"
      ></app-detach-mi-preview-ri-document>
    </div>
  <div class="col-12">
      <app-stepper-actions
         [showBack]="true"
         [backLabel]="'Назад'"
         [backRouterLink]="['..', 'mis-to-create']"
         [showForward]="true"
         [forwardLabel]="'Напред'"
         [forwardCallback]="forwardCallback"
         [showSubmit]="false"
      ></app-stepper-actions>
  </div>
</div>