.wrapper-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 15px;
  page-break-inside: avoid;
  .l-container-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    .section-card {
      margin: 8px;
      border: 1px solid #0000002e;
    }
  }
}

.l-footer-control-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 30px;
  background-color: transparent;
  border: 0;
  padding: 0;
  z-index: 997;
  height: 40px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    margin-right: 7px;
    mat-icon {
      margin-right: 5px;
    }
  }
}

.new-inst {
  .wrapper-card {
    .l-container-card {
      height: calc(100% - 65px);
      padding-bottom: 55px;
      justify-content: center;
    }
  }
}

.new-inst.edit {
  .l-container-card {
    height: calc(100vh - 123px) !important;
    padding-bottom: 20px !important;
  }
}

.view-mode {
  .wrapper-card {
    .l-container-card {
      height: 100%;
    }
  }
}

.inactive-inst {
  .wrapper-card {
    .l-container-card {
      height: calc(100vh - 134px);
    }
  }
}

.history-mode-last-version {
  .wrapper-card {
    .l-container-card {
      height: calc(100vh - 199px);
    }
  }
}
.mat-card {
  page-break-after: avoid;
  page-break-inside: avoid;
}
.history-mode {
  .wrapper-card {
    .l-container-card {
      height: calc(100vh - 199px);
      .mat-card {
        background: white;
        border: 1px solid #c1c1c1;
      }
      .mat-card-header {
        background-color: #c1c1c1;
        mat-card-title {
          color: #383838;
        }
      }
      .l-custom-table thead {
        background-color: #c1c1c1;
        th {
          color: #383838;
          text-shadow: none;
          .mat-sort-header-button {
            text-shadow: none;
          }
        }
      }
      .mat-paginator {
        background: transparent;
      }
    }
  }
}

.wrapper-card.different-view {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  &.view-mode {
    &.register {
      .l-container-card {
        height: calc(100vh - 65px);
      }
    }
    .l-container-card {
      height: calc(100vh - 150px);
      padding-bottom: 0;
      .section-card {
        .wrapper-body {
          .duplicate-subsection-container {
            &:first-of-type {
              border-top: 0 !important;
            }
            border: 0 !important;
          }
        }
      }
    }
  }
  &.register {
    .l-container-card {
      height: calc(100vh - 124px);
    }
  }
  .l-container-card {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
    // overflow-y: auto !important;
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    border-radius: 0;
    padding-bottom: 0px;
    box-sizing: border-box;
    // overflow: hidden;
    .section-top-card {
      display: block;
      width: 100%;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 5px;
      position: relative;
    }
    .subsection-span-card {
      padding-left: 10px;
      font-size: 15px;
      margin: 0 !important;
      display: block;
      width: 100%;
    }
    .section-card {
      margin: 5px;
      border-bottom: 1px solid #0000002e;
      max-width: calc(100vw - 49px) !important;
      border: 1px solid #00000038 !important;
      display: block;
      box-sizing: border-box;
      padding: 0;
      border-radius: 4px;
      // overflow: hidden;
      box-shadow: 0px 1px 6px 0px #00000052 !important;
      border-radius: 6px !important;
      min-height: 25px;
      .bg-cornflower-blue {
        border: 0 !important;
        // background-color: #7476f7;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px 5px 0 0 !important;
        mat-card-title {
        }
      }
      mat-card-content {
        padding: 5px 10px;
      }
      .wrapper-body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        & > * {
          margin: 5px 0;
        }
        .subsection-container {
          &:first-of-type {
            border-top: 0 !important;
          }
          width: 100%;
          border-top: 1px solid #00000014;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
        .duplicate-subsection-container {
          &:first-of-type {
            border-top: 1px solid #00000026 !important;
            .add-btn-section {
              right: 8px;
            }
          }
          border: 1px solid #00000026 !important;
          border-radius: 5px;
          position: relative;
          .add-btn-section {
            &:hover {
              background-color: #191970 !important;
            }
            position: absolute;
            right: 35px;
            top: -10px;
            border-radius: 50%;
            border: 1px solid #ffffff42;
            box-shadow: 1px 1px 3px #00000085;
            color: white;
            background-color: #4f419f !important;
            text-align: center;
            cursor: pointer;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px !important;
            height: 20px;
            transition: 0.4s all;
            mat-icon {
              width: auto;
              height: auto;
              font-size: 12px;
              line-height: normal;
            }
          }
          .delete-btn-section {
            position: absolute;
            right: 8px;
            top: -10px;
            border-radius: 50%;
            border: 1px solid #ffffff42;
            box-shadow: 1px 1px 3px #00000085;
            color: white;
            background-color: #c71d1d;
            text-align: center;
            cursor: pointer;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px !important;
            height: 20px;
            mat-icon {
              width: auto;
              height: auto;
              font-size: 12px;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}
