USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_year].[instConfData]    Script Date: 9.5.2022 г. 20:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [inst_year].[instConfData]
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType INT
AS
BEGIN TRY
	BEGIN TRANSACTION

	/************** Setup initial params ******************/
	-- ---------- define context param: institutionID --------------
	DECLARE @instID INT;

	SELECT @instID = institutionID
	FROM OPENJSON(@_json) WITH (institutionID INT '$.instid')

	-- ---------- define context param: extSystemID --------------
	DECLARE @extSystemID INT;

	SELECT @extSystemID = extSystemID
	FROM OPENJSON(@_json) WITH (extSystemID INT '$.extSystemID')

	-- ---------- define context param: extSystemTypeID --------------
	DECLARE @extSystemTypeID INT;

	SELECT @extSystemTypeID = extSystemTypeID
	FROM OPENJSON(@_json) WITH (extSystemTypeID INT '$.extSystemTypeID')

	-- ---------- define Master object param: instExtSystemID --------------
	DECLARE @instExtSystemID INT;

	SELECT @instExtSystemID = instExtSystemID
	FROM OPENJSON(@_json) WITH (instExtSystemID INT '$.instExtSystemID')

	-- ---------- define context param: sysuserid --------------
	DECLARE @sysuserid INT;

	SELECT @sysuserid = sysuserid
	FROM OPENJSON(@_json) WITH (sysuserid INT '$.sysuserid')

	-- --------- define if exist 
	DECLARE @IfExistsExtSystemTypeID INT = (
			SELECT count(ExtSystemTypeID)
			FROM core.InstitutionExtSystem
			WHERE ExtSystemTypeID = @extSystemTypeID
				AND InstitutionID = @instID
			);
	DECLARE @ERR_MSG NVARCHAR(4000);

	PRINT 'INFO: PROCEDURE instConfData started! Initial data gathered. instExtSystemID=' + CAST(@instExtSystemID AS VARCHAR(12));

	IF (
			(@OperationType = 1)
			AND (@instID IS NOT NULL)
			AND (@extSystemID IS NOT NULL)
			AND (@extSystemTypeID IS NOT NULL)
			)
	BEGIN
		PRINT 'INFO: OperationType = 1 -> Will INSERT object: core.InstitutionConfData with InstitutionID =' + CAST(@instID AS VARCHAR(12));

		IF (@IfExistsExtSystemTypeID = 0)
		BEGIN
			INSERT INTO core.InstitutionExtSystem (
				InstitutionID,
				ExtSystemID,
				ExtSystemTypeID,
				SysUserID
				)
			VALUES (
				@instID,
				@extSystemID,
				@extSystemTypeID,
				@sysUserID
				)

			SELECT @instExtSystemID = SCOPE_IDENTITY();

			IF (@extSystemTypeID = 1)
			BEGIN
				UPDATE core.InstitutionConfData
				SET CBExtProviderID = @extSystemID
				WHERE InstitutionID = @instID
			END

			IF ((@extSystemTypeID = 2))
			BEGIN
				UPDATE core.InstitutionConfData
				SET SOExtProviderID = @extSystemID
				WHERE InstitutionID = @instID
			END

			SELECT @instExtSystemID AS instExtSystemID
		END
		ELSE
		BEGIN
			IF (@extSystemTypeID = 1)
			BEGIN
				SELECT @ERR_MSG = 'Вече имате избран доставчик на външна система за електронен дневник';

				THROW 99000,
					@ERR_MSG,
					1;
			END

			IF (@extSystemTypeID = 2)
			BEGIN
				SELECT @ERR_MSG = 'Вече имате избран доставчик на външна система за списък-образец';

				THROW 99000,
					@ERR_MSG,
					1;
			END
		END
	END
	ELSE IF (
			(@OperationType = 3)
			AND (@instExtSystemID IS NOT NULL)
			)
	BEGIN
		PRINT 'INFO: OperationType = 3 -> Will DELETE object: core.InstitutionConfData with @instExtSystemID =' + CAST(@instExtSystemID AS VARCHAR(12));

		BEGIN
			-- define @delExtSystemTypeID needed for deleting
			DECLARE @delExtSystemTypeID INT = (
					SELECT ExtSystemTypeID
					FROM core.InstitutionExtSystem
					WHERE core.InstitutionExtSystem.InstitutionExtSystemID = @instExtSystemID
					);
			-- define @schoolYear needed for deleting
			DECLARE @schoolYear INT = (
					SELECT SchoolYear
					FROM core.InstitutionConfData
					WHERE InstitutionID = @instID
					);

			IF (@delExtSystemTypeID = 1)
			BEGIN
				UPDATE core.InstitutionConfData
				SET CBExtProviderID = NULL
				WHERE InstitutionID = @instID;
			END

			IF ((@delExtSystemTypeID = 2))
			BEGIN
				UPDATE core.InstitutionConfData
				SET SOExtProviderID = NULL
				WHERE InstitutionID = @instID;

				UPDATE inst_year.InstitutionOtherData
				SET ExternalID = NULL
				WHERE inst_year.InstitutionOtherData.InstitutionID = @instID
					AND SchoolYear = @schoolYear;

				UPDATE inst_basic.InstitutionInnovation
				SET ExternalID = NULL
				WHERE inst_basic.InstitutionInnovation.InstitutionID = @instID;

				UPDATE inst_basic.InstitutionProject
				SET ExternalID = NULL
				WHERE inst_basic.InstitutionProject.InstitutionID = @instID;

				UPDATE inst_basic.InstitutionProjectPartner
				SET ExternalID = NULL
				WHERE InstitutionProjectID IN (
						SELECT InstitutionProjectID
						FROM inst_basic.InstitutionProject
						WHERE inst_basic.InstitutionProject.InstitutionID = @instID
						);

				UPDATE inst_basic.InstitutionProjectPriorityArea
				SET ExternalID = NULL
				WHERE ProjectID IN (
						SELECT InstitutionProjectID
						FROM inst_basic.InstitutionProject
						WHERE inst_basic.InstitutionProject.InstitutionID = @instID
						);

				UPDATE inst_basic.InstitutionPublicCouncil
				SET ExternalID = NULL
				WHERE inst_basic.InstitutionPublicCouncil.InstitutionID = @instID;

				UPDATE inst_basic.InstitutionVehicle
				SET ExternalID = NULL
				WHERE inst_basic.InstitutionVehicle.InstitutionID = @instID;

				UPDATE inst_year.ClassGroup
				SET ExternalID = NULL
				WHERE inst_year.ClassGroup.InstitutionID = @instID
					AND SchoolYear = @schoolYear;

				UPDATE inst_basic.StaffPosition
				SET ExternalID = NULL
				WHERE inst_basic.StaffPosition.InstitutionID = @instID;

				UPDATE inst_year.PedStaffData
				SET ExternalID = NULL
				WHERE StaffPositionID IN (
						SELECT StaffPositionID
						FROM inst_basic.StaffPosition
						WHERE inst_basic.StaffPosition.InstitutionID = @instID
						);

				UPDATE inst_year.StaffPositionMainClass
				SET ExternalID = NULL
				WHERE StaffPositionID IN (
						SELECT StaffPositionID
						FROM inst_basic.StaffPosition
						WHERE inst_basic.StaffPosition.InstitutionID = @instID
						);

				UPDATE inst_basic.InstitutionSchoolBoard
				SET ExternalID = NULL
				WHERE inst_basic.InstitutionSchoolBoard.InstitutionID = @instID;

				UPDATE student.StudentClass
				SET ExternalID = NULL
				WHERE student.StudentClass.InstitutionID = @instID;

				UPDATE student.SelfGovernment
				SET ExternalID = NULL
				WHERE student.SelfGovernment.InstitutionID = @instID;

				UPDATE inst_year.Curriculum
				SET ExternalID = NULL
				WHERE inst_year.Curriculum.InstitutionID = @instID
					AND SchoolYear = @schoolYear;

				UPDATE inst_year.CurriculumClass
				SET ExternalID = NULL
				WHERE CurriculumID IN (
						SELECT CurriculumID
						FROM inst_year.Curriculum
						WHERE inst_year.Curriculum.InstitutionID = @instID
							AND SchoolYear = @schoolYear
						)
					AND SchoolYear = @schoolYear;

				UPDATE inst_year.CurriculumStudent
				SET ExternalID = NULL
				WHERE CurriculumID IN (
						SELECT CurriculumID
						FROM inst_year.Curriculum
						WHERE inst_year.Curriculum.InstitutionID = @instID
							AND SchoolYear = @schoolYear
						)
					AND SchoolYear = @schoolYear;

				UPDATE inst_year.CurriculumTeacher
				SET ExternalID = NULL
				WHERE CurriculumID IN (
						SELECT CurriculumID
						FROM inst_year.Curriculum
						WHERE inst_year.Curriculum.InstitutionID = @instID
							AND SchoolYear = @schoolYear
						)
					AND SchoolYear = @schoolYear;
			END

			DELETE
			FROM core.InstitutionExtSystem
			WHERE core.InstitutionExtSystem.InstitutionExtSystemID = @instExtSystemID;
		END
		-- returning id to front end
		SELECT @instExtSystemID AS instExtSystemID;
	END
	ELSE
	BEGIN
		SELECT @ERR_MSG = 'Illegal CONTEXT! Sent params are: ' + '@instExtSystemID=' + ISNULL(CAST(@instExtSystemID AS VARCHAR(12)), '');

		THROW 99000,
			@ERR_MSG,
			1;
	END

	EXEC logs.logEvent @_json,
		@OperationType,
		103,
		'InstitutionConfData',
		@instID,
		NULL;

	COMMIT TRANSACTION
END TRY

BEGIN CATCH
	ROLLBACK TRANSACTION

	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC logs.logError @_json,
		@OperationType,
		103,
		'InstitutionConfData',
		@instID,
		NULL;

	DECLARE @ErrorMessage NVARCHAR(4000);
	DECLARE @ErrorSeverity INT;
	DECLARE @ErrorState INT;

	SELECT @ErrorMessage = ERROR_MESSAGE(),
		@ErrorSeverity = ERROR_SEVERITY(),
		@ErrorState = ERROR_STATE();

	PRINT 'INFO: core.InstitutionConfData failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (
			@ErrorMessage,
			@ErrorSeverity,
			@ErrorState
			)
END CATCH
	/* ************ END OF PROCEDURE ************ */
