USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[institutionProjectCUD]    Script Date: 8/1/2022 12:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [inst_basic].[institutionProjectCUD] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS

BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param --------------
DECLARE @instID int;
SELECT @instID = institutionID FROM OPENJSON(@_json)
WITH (   
			institutionID int			'$.instid'
)


-- ---------- define context param2: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)

-- ---------- define context param: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = inst_year.getSchoolYearByInstID(@instID);

-- ---------- Define Master object ID param --------------
DECLARE @instProjectID int;
SELECT @instProjectID = institutionProjectID FROM OPENJSON(@_json)
WITH (   
			institutionProjectID int			'$.projectid'
)

-- ---------- Define Details object 1: InstitutionProjectPartner ID and string params ---
DECLARE @InstitutionProjectPartnerVar TABLE  
(  
	id INT
);
DECLARE @InstitutionProjectPartnerString NVARCHAR(4000);

-- ---------- Define Details object 2: InstitutionProjectPriorityArea ID and string params ---
DECLARE @InstitutionProjectPriorityAreaVar TABLE  
(  
	id INT
);
DECLARE @InstitutionProjectPriorityAreaString NVARCHAR(4000);


-- ---------- define Detail object 1 (update): [InstitutionProjectPartner] ID and string params ---
DECLARE @institutionProjectPartnersCreatedVar TABLE  
(  
	id INT
);
DECLARE @institutionProjectPartnersCreatedString NVARCHAR(4000);

DECLARE @institutionProjectPartnersUpdatedVar TABLE  
(  
	id INT
);
DECLARE @institutionProjectPartnersUpdatedString NVARCHAR(4000);

DECLARE @institutionProjectPartnersDeletedString NVARCHAR(4000);

-- ---------- define Detail object 1 (update): [InstitutionProjectPriorityArea] ID and string params ---
DECLARE @institutionProjectPriorityAreasCreatedVar TABLE  
(  
	id INT
);
DECLARE @institutionProjectPriorityAreasCreatedString NVARCHAR(4000);

DECLARE @institutionProjectPriorityAreasUpdatedVar TABLE  
(  
	id INT
);
DECLARE @institutionProjectPriorityAreasUpdatedString NVARCHAR(4000);

DECLARE @institutionProjectPriorityAreasDeletedString NVARCHAR(4000);

DECLARE @ExternalID NVARCHAR(100) = NULL;

PRINT 'INFO: PROCEDURE institutionProjectCUD started! Initial data gathered. InstitutionID=' + CAST(@instID AS VARCHAR(12));
	
	--if the school used external data provider --- then it cannot write to the database
	DECLARE @isExtDataProvider bit;
	SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
	FROM [core].[InstitutionConfData] 
	WHERE InstitutionID = @instID 
		AND SchoolYear = @schoolYear

	IF @isExtDataProvider = 1
	BEGIN	
		DECLARE @operationResultType int,  @messageCode int;
		SET @operationResultType = 2;
		SET @messageCode = 1023;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID; 

		COMMIT TRANSACTION
		RETURN
	END

/* ************ OperationType = 1 -> CREATE NEW institutionProject *************** */
IF ((@OperationType = 1) AND (@instID IS NOT NULL) AND (@instProjectID IS NULL))
BEGIN
	PRINT 'INFO: OperationType: 1 - CREATE NEW [InstitutionProject]...';
	INSERT INTO [inst_basic].[InstitutionProject]
           ([InstitutionID]
		   ,[ExternalID]
           ,[ProjectTypeID]
           ,[ProjectProgramTypeID]
           ,[Name]
           ,[Description]
           ,[Website]
           ,[StartDate]
           ,[EndDate]
           ,[PlanPreSchoolCount]
           ,[PlanPrimarySchoolCount]
           ,[PlanSecondarySchoolCount]
           ,[PlanHighSchoolCount]
           ,[ActualPreSchoolCount]
           ,[ActualPrimarySchoolCount]
           ,[ActualSecondarySchoolCount]
           ,[ActualHighSchoolCount]
           ,[InterPreSchoolCount]
           ,[InterPrimarySchoolCount]
           ,[InterSecondarySchoolCount]
           ,[InterHighSchoolCount]
           ,[Goals]
		   ,[PlanCountAll]
		   ,[ActualCountAll]
		   ,[InterCountAll]
		   ,[SysUserID])
	SELECT @instID, @ExternalID, *, 
			PlanCountAll = ISNULL(PlanPreSchoolCount,0) + ISNULL(PlanPrimarySchoolCount,0) + ISNULL(PlanSecondarySchoolCount,0) + ISNULL(PlanHighSchoolCount,0),
			ActualCountAll = ISNULL(ActualPreSchoolCount,0) + ISNULL(ActualPrimarySchoolCount,0) + ISNULL(ActualSecondarySchoolCount,0) + ISNULL(ActualHighSchoolCount,0),
			InterCountAll = ISNULL(InterPreSchoolCount,0) + ISNULL(InterPrimarySchoolCount,0) + ISNULL(InterSecondarySchoolCount,0) + ISNULL(InterHighSchoolCount,0)
			, @sysuserid
	FROM OPENJSON(@_json)
	WITH (   
		ProjectTypeID int				'$.projectTypeID'
        ,ProjectProgramTypeID int		'$.programTypeID'
        ,Name nvarchar(255)				'$.projectName'
        ,Description nvarchar(3000)		'$.projectDescription'
        ,Website nvarchar(50)			'$.projectWebsite'
        ,StartDate datetime				'$.startDate'
        ,EndDate datetime				'$.endDate'
        ,PlanPreSchoolCount int			'$.planPreSchoolCount'
        ,PlanPrimarySchoolCount int		'$.planPrimarySchoolCount'
        ,PlanSecondarySchoolCount int	'$.planSecondarySchoolCount'
        ,PlanHighSchoolCount int		'$.planHighSchoolCount'
        ,ActualPreSchoolCount int		'$.actualPreSchoolCount'
        ,ActualPrimarySchoolCount int	'$.actualPrimarySchoolCount'
        ,ActualSecondarySchoolCount int	'$.actualSecondarySchoolCount'
        ,ActualHighSchoolCount int		'$.actualHighSchoolCount'
        ,InterPreSchoolCount int		'$.interPreSchoolCount'
        ,InterPrimarySchoolCount int	'$.interPrimarySchoolCount'
        ,InterSecondarySchoolCount int	'$.interSecondarySchoolCount'
        ,InterHighSchoolCount int		'$.interHighSchoolCount'
        ,Goals nvarchar(3000)			'$.goals'
		); 

	-- GET INSERTED @instProjectID ID (autoincrement)
	SELECT @instProjectID = SCOPE_IDENTITY();
	PRINT 'INFO: [InstitutionProject] created with id=' + CAST(@instProjectID AS VARCHAR(12));

	/* *********************** START INSERT INTO [InstitutionProjectPartner] ************************************ */ 
	INSERT INTO [inst_basic].[InstitutionProjectPartner]
				([InstitutionProjectID]
				,[ExternalID]
				,[ProjectPartnerTypeID]
				,[Eik]
				,[Name]
				,[IsCoordinator]
				,[SysUserID])
	OUTPUT INSERTED.InstitutionProjectPartnerID INTO @InstitutionProjectPartnerVar
	SELECT @instProjectID, @ExternalID, *, @sysuserid
	FROM OPENJSON(@_json, '$.institutionProjectPartners')
	WITH (   
		ProjectPartnerTypeID int	'$.partnerTypeID'
        ,Eik nvarchar(50)			'$.eik'
        ,Name nvarchar(255)			'$.name'
        ,IsCoordinator bit			'$.isCoordinator'
		); 
	
	SET @InstitutionProjectPartnerString = (SELECT STRING_AGG(id, ',') FROM @InstitutionProjectPartnerVar);
	PRINT 'INFO: [InstitutionProjectPartner] created with ids=' + @InstitutionProjectPartnerString;
	/* *********************** END INSERT INTO [InstitutionProjectPartner] ************************************ */

	/* ********** START INSERT INTO [InstitutionProjectPriorityArea] WITH @instProjectID ********** */
	INSERT INTO [inst_basic].[InstitutionProjectPriorityArea]
				([ProjectID]
				,[ExternalID]
				,[ProjectPriorityAreaTypeID]
				,[SysUserID])
	OUTPUT INSERTED.InstitutionProjectPriorityAreaID INTO @InstitutionProjectPriorityAreaVar
	SELECT @instProjectID, @ExternalID, *, @sysuserid
	FROM OPENJSON(@_json, '$.institutionProjectPriorityAreas')
	WITH (   
		ProjectPriorityAreaTypeID int	'$.projectPriorityAreaTypeID'
		); 
	
	SET @InstitutionProjectPriorityAreaString = (SELECT STRING_AGG(id, ',') FROM @InstitutionProjectPriorityAreaVar);
	PRINT 'INFO: [InstitutionProjectPartner] created with ids=' + @InstitutionProjectPriorityAreaString;
	/* *********************** END INSERT INTO [InstitutionProjectPriorityArea] ************************************ */

	SELECT @instProjectID AS id, @instID AS instID, @InstitutionProjectPartnerString AS institutionProjectPartnerIDs, @InstitutionProjectPriorityAreaString AS institutionProjectPriorityAreaIDs; -- return back to the caller i.e. front-end

END  /* End of OperationType = 1 -> CREATE NEW institutionProject *************** */

/* ############################## Start OperationType = 2 -> UPDATE institutionProject ############################## */
ELSE IF ((@OperationType = 2) AND (@instID IS NOT NULL) AND (@instProjectID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 2 -> UPDATE [InstitutionProject] for InstitutionProject with id=' + CAST(@instProjectID AS VARCHAR(12));
	UPDATE top (1) [inst_basic].[InstitutionProject]
	SET 
		[ProjectTypeID] = JIP.projectTypeID
		,[ProjectProgramTypeID] = JIP.programTypeID
		,[Name] = JIP.projectName
		,[Description] = JIP.projectDescription
		,[Website] = JIP.projectWebsite
		,[StartDate] = JIP.startDate
		,[EndDate] = JIP.endDate
		,[PlanPreSchoolCount] = JIP.planPreSchoolCount
		,[PlanPrimarySchoolCount] = JIP.planPrimarySchoolCount
		,[PlanSecondarySchoolCount] = JIP.planSecondarySchoolCount
		,[PlanHighSchoolCount] = JIP.planHighSchoolCount
		,[ActualPreSchoolCount] = JIP.actualPreSchoolCount
		,[ActualPrimarySchoolCount] = JIP.actualPrimarySchoolCount
		,[ActualSecondarySchoolCount] = JIP.actualSecondarySchoolCount
		,[ActualHighSchoolCount] = JIP.actualHighSchoolCount
		,[InterPreSchoolCount] = JIP.interPreSchoolCount
		,[InterPrimarySchoolCount] = JIP.interPrimarySchoolCount
		,[InterSecondarySchoolCount] = JIP.interSecondarySchoolCount
		,[InterHighSchoolCount] = JIP.interHighSchoolCount
		,[Goals] = JIP.goals
		,[PlanCountAll] = ISNULL(JIP.planPreSchoolCount,0) + ISNULL(JIP.planPrimarySchoolCount,0) + ISNULL(JIP.planSecondarySchoolCount,0) + ISNULL(JIP.planHighSchoolCount,0)
		,[ActualCountAll] = ISNULL(JIP.actualPreSchoolCount,0) + ISNULL(JIP.actualPrimarySchoolCount,0) + ISNULL(JIP.actualSecondarySchoolCount,0) + ISNULL(JIP.actualHighSchoolCount,0)
		,[InterCountAll] = ISNULL(JIP.interPreSchoolCount,0) + ISNULL(JIP.interPrimarySchoolCount,0) + ISNULL(JIP.interSecondarySchoolCount,0) + ISNULL(JIP.interHighSchoolCount,0)
		,[SysUserID]=@sysuserid
	FROM OPENJSON(@_json)
	WITH (   
		projectTypeID int						 
        ,programTypeID int						
        ,projectName nvarchar(255)				
        ,projectDescription nvarchar(3000)		
        ,projectWebsite nvarchar(50)			
        ,startDate datetime						 
        ,endDate datetime						 
        ,planPreSchoolCount int					 
        ,planPrimarySchoolCount int				 
        ,planSecondarySchoolCount int			 
        ,planHighSchoolCount int				 
        ,actualPreSchoolCount int				 
        ,actualPrimarySchoolCount int			 
        ,actualSecondarySchoolCount int			 
        ,actualHighSchoolCount int				 
        ,interPreSchoolCount int				 
        ,interPrimarySchoolCount int			 
        ,interSecondarySchoolCount int			 
        ,interHighSchoolCount int				 
        ,goals nvarchar(3000)) JIP				 
	WHERE
		[inst_basic].[InstitutionProject].InstitutionProjectID = @instProjectID;

	PRINT 'INFO: [InstitutionProject] UPDATED with InstitutionProjectID=' + CAST(@instProjectID AS VARCHAR(12));

	/* *********************** START INSERT INTO [InstitutionProjectPartner] ************************************ */ 
	INSERT INTO [inst_basic].[InstitutionProjectPartner]
				(
				[InstitutionProjectID]
				,[ExternalID]
				,[ProjectPartnerTypeID]
				,[Eik]
				,[Name]
				,[IsCoordinator]
				,[SysUserID]
				)
	OUTPUT INSERTED.InstitutionProjectPartnerID INTO @institutionProjectPartnersCreatedVar
	SELECT @instProjectID, @ExternalID, *, @sysuserid
	FROM OPENJSON(@_json, '$.institutionProjectPartnersCreated')
	WITH (   
		ProjectPartnerTypeID int	'$.partnerTypeID'
        ,Eik nvarchar(50)			'$.eik'
        ,Name nvarchar(255)			'$.name'
        ,IsCoordinator bit			'$.isCoordinator'
		); 
	
	SET @institutionProjectPartnersCreatedString = (SELECT STRING_AGG(id, ',') FROM @institutionProjectPartnersCreatedVar);
	PRINT 'INFO: [InstitutionProjectPartner] created with ids=' + @institutionProjectPartnersCreatedString;
	/* *********************** END INSERT INTO [InstitutionProjectPartner] ************************************ */

	/* *********************** UPDATE existing/changed [InstitutionProjectPartner] objects in collection ******************************** */ 
	UPDATE [inst_basic].[InstitutionProjectPartner]
	SET
		 [ProjectPartnerTypeID]=IPP.ProjectPartnerTypeID
		,[Eik]=IPP.Eik
		,[Name]=IPP.Name
		,[IsCoordinator]=IPP.IsCoordinator
		,[SysUserID]=@sysuserid
	
	OUTPUT INSERTED.InstitutionProjectPartnerID INTO @institutionProjectPartnersUpdatedVar
	FROM OPENJSON(@_json, '$.institutionProjectPartnersUpdated')
	WITH (
		id	int								 '$.id'
		,ProjectPartnerTypeID int			 '$.partnerTypeID'
        ,Eik nvarchar(50)					 '$.eik'
        ,Name nvarchar(255)					 '$.name'
        ,IsCoordinator bit			         '$.isCoordinator'
		) IPP
	WHERE
		[inst_basic].[InstitutionProjectPartner].InstitutionProjectPartnerID = IPP.id;
	SET @institutionProjectPartnersUpdatedString = (SELECT STRING_AGG(id, ',') FROM @institutionProjectPartnersUpdatedVar);
	PRINT 'INFO: [inst_basic].[InstitutionProjectPartner] UPDATED with Ids=' + @institutionProjectPartnersUpdatedString;

	/* *********************** DELETE removed [InstitutionProjectPartner] objects in collection **************************** */
	SELECT @institutionProjectPartnersDeletedString = (SELECT STRING_AGG(institutionProjectPartnersDeletedIDs, ',')  
		FROM OPENJSON(@_json, '$.institutionProjectPartnersDeleted')
		WITH (   
			institutionProjectPartnersDeletedIDs int			'$.id'
		));

	DELETE FROM [inst_basic].[InstitutionProjectPartner]
		WHERE [inst_basic].[InstitutionProjectPartner].InstitutionProjectPartnerID IN (			
			SELECT institutionProjectPartnersDeletedIDs FROM OPENJSON(@_json, '$.institutionProjectPartnersDeleted')
				WITH (   
					institutionProjectPartnersDeletedIDs int			'$.id'
				)
			);
	PRINT 'INFO: [inst_basic].[InstitutionProjectPartner] DELETED with Id=' + CAST(@institutionProjectPartnersDeletedString AS VARCHAR(12)); 


	/* ********** START INSERT INTO [InstitutionProjectPriorityArea] WITH @instProjectID ********** */
	INSERT INTO [inst_basic].[InstitutionProjectPriorityArea]
				(
				[ProjectID]
				,[ExternalID]
				,[ProjectPriorityAreaTypeID]
				,[SysUserID]
				)
	OUTPUT INSERTED.InstitutionProjectPriorityAreaID INTO @institutionProjectPriorityAreasCreatedVar
	SELECT @instProjectID, @ExternalID, *, @sysuserid
	FROM OPENJSON(@_json, '$.institutionProjectPriorityAreasCreated')
	WITH (   
		ProjectPriorityAreaTypeID int	'$.projectPriorityAreaTypeID'
		); 
	
	SET @institutionProjectPriorityAreasCreatedString = (SELECT STRING_AGG(id, ',') FROM @institutionProjectPriorityAreasCreatedVar);
	PRINT 'INFO: [InstitutionProjectPartner] created with ids=' + @institutionProjectPriorityAreasCreatedString;
	/* *********************** END INSERT INTO [InstitutionProjectPriorityArea] ************************************ */

	/* *********************** UPDATE existing/changed [InstitutionProjectPriorityArea] objects in collection ******************************** */ 
	UPDATE [inst_basic].[InstitutionProjectPriorityArea]
	SET
		 [ProjectPriorityAreaTypeID]=IPA.ProjectPriorityAreaTypeID
		,[SysUserID]=@sysuserid
	
	OUTPUT INSERTED.InstitutionProjectPriorityAreaID INTO @institutionProjectPriorityAreasUpdatedVar
	FROM OPENJSON(@_json, '$.institutionProjectPriorityAreasUpdated')
	WITH (
		id	int								 '$.id'
		,ProjectPriorityAreaTypeID int	'$.projectPriorityAreaTypeID'
		) IPA
	WHERE
		[inst_basic].[InstitutionProjectPriorityArea].InstitutionProjectPriorityAreaID = IPA.id;
	SET @institutionProjectPriorityAreasUpdatedString = (SELECT STRING_AGG(id, ',') FROM @institutionProjectPriorityAreasUpdatedVar);
	PRINT 'INFO: [inst_basic].[InstitutionProjectPriorityArea] UPDATED with Ids=' + @institutionProjectPriorityAreasUpdatedString;
	
	/* *********************** DELETE removed [InstitutionProjectPriorityArea] objects in collection **************************** */
	
	DELETE FROM [inst_basic].[InstitutionProjectPriorityArea]
		WHERE [inst_basic].[InstitutionProjectPriorityArea].InstitutionProjectPriorityAreaID IN (			
			SELECT institutionProjectPriorityAreasDeletedIDs FROM OPENJSON(@_json, '$.institutionProjectPriorityAreasDeleted')
				WITH (   
					institutionProjectPriorityAreasDeletedIDs int			'$.id'
				)
			);
	PRINT 'INFO: [inst_basic].[InstitutionProjectPriorityArea] DELETED with Id=' + CAST(@institutionProjectPriorityAreasDeletedString AS VARCHAR(12)); 
	
	SELECT @instProjectID AS id, @instID AS instID, 
		@InstitutionProjectPartnerString AS institutionProjectPartnerIDs, 
		@InstitutionProjectPriorityAreaString AS institutionProjectPriorityAreaIDs
		,@institutionProjectPriorityAreasCreatedString AS institutionProjectPriorityAreasCreatedIDs
		,@institutionProjectPriorityAreasUpdatedString AS institutionProjectPriorityAreasUpdatedIDs
		,@institutionProjectPriorityAreasDeletedString AS institutionProjectPriorityAreasDeletedIDs
		,@institutionProjectPartnersCreatedString AS institutionProjectPartnersCreatedIDs
		,@institutionProjectPartnersUpdatedString AS institutionProjectPartnersUpdatedIDs
		,@institutionProjectPartnersDeletedString AS institutionProjectPartnersDeletedIDs; -- return back to the caller i.e. front-end

END  /* End OperationType = 2 -> UPDATE institutionProject *************** */

/* ############################## Start OperationType = 3 -> DELETE institutionProject ############################## */
ELSE IF ((@OperationType = 3) AND (@instID IS NOT NULL) AND (@instProjectID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 3 -> DELETE [InstitutionProject] for InstitutionProject with id=' + CAST(@instProjectID AS VARCHAR(12));

	DELETE FROM [inst_basic].[InstitutionProjectPartner]
		WHERE [inst_basic].[InstitutionProjectPartner].InstitutionProjectID = @instProjectID;
	PRINT 'INFO: [InstitutionProjectPartner] DELETED with InstitutionProjectID=' + CAST(@instProjectID AS VARCHAR(12));

	DELETE FROM [inst_basic].[InstitutionProjectPriorityArea]
		WHERE [inst_basic].[InstitutionProjectPriorityArea].ProjectID = @instProjectID;
	PRINT 'INFO: [InstitutionProjectPriorityArea] DELETED with ProjectID=' + CAST(@instProjectID AS VARCHAR(12));

	DELETE FROM [inst_basic].[InstitutionProject]
		WHERE [inst_basic].[InstitutionProject].InstitutionProjectID = @instProjectID;
	PRINT 'INFO: [InstitutionProject] DELETED with InstitutionProjectID=' + CAST(@instProjectID AS VARCHAR(12));

	SELECT @instProjectID AS id;
END /* End OperationType = 3 -> DELETE institutionProject *************** */
/* ############################################################ */
ELSE
	THROW 99003, '[institutionProjectCUD] Illegal CONTEXT or MASTER Obejects params! Please contact DEV/support team.', 1;

EXEC [logs].logEvent @_json, @OperationType, 103, 'InstitutionProject', @instProjectID, NULL;

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'InstitutionProject', @instProjectID, NULL;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [institutionProjectCUD] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
/* ************ END OF PROCEDURE ************ */
