USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[SchoolYearChangeCPLR]    Script Date: 8/30/2022 10:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [inst_basic].[SchoolYearChangeCPLR] 
	@changeYearDataID INT
AS
BEGIN TRY
	DECLARE @ERR_MSG NVARCHAR(4000); 

	DECLARE @instID int, @FromSchoolYear int, @ToSchoolYear int, @sysuserid INT;
	
	SELECT @instID = InstitutionID, @FromSchoolYear = FromSchoolYear, @ToSchoolYear = ToSchoolYear, @sysuserid = SysUserID
	FROM [inst_year].[ChangeYearData]
	WHERE ChangeYearDataID = @changeYearDataID;
	
	DECLARE @tbClasses TABLE(ClassID INT, SchoolYear SMALLINT, InstitutionID INT, InstitutionDepartmentID INT, 
			ClassGroupNum INT, ClassName NVARCHAR(255), ParalellClassName NVARCHAR(255), ParentClassID INT, BasicClassID INT, ClassTypeID INT, 
			AreaID INT, ClassEduFormID INT, ClassEduDurationID INT, ClassShiftID INT, 
			BudgetingClassTypeID INT, EntranceLevelID INT, ClassSpecialityID INT, FLTypeID INT, FLID INT, IsProfModule BIT, 
			StudentCountPlaces INT, Notes NVARCHAR(1024), IsCombined BIT, IsNoList BIT, IsSpecNeed BIT, IsWholeClass BIT, IsNotPresentForm BIT);
	DECLARE @classParents TABLE(ParentClassID INT, NewParentClassID INT);
	DECLARE @classIds TABLE(OldClassID INT, NewClassID INT);
	DECLARE @studentClassIds TABLE(OldID INT, NewID INT, PersonID INT);
	DECLARE @curriculumIds TABLE(OldCurriculumID INT, NewCurriculumID INT, NewParentClassID INT);
		
	--BEGIN TRANSACTION;
		---- ПАРАЛЕЛКИ
		;WITH C AS (
			SELECT CG.ClassID, CG.SchoolYear, CG.InstitutionID, CG.InstitutionDepartmentID, 
				CG.ClassGroupNum, CG.ClassName, CG.ParalellClassName, CG.ParentClassID, CG.BasicClassID, CG.ClassTypeID, 
				CG.AreaID, CG.ClassEduFormID, CG.ClassEduDurationID, CG.ClassShiftID, 
				CG.BudgetingClassTypeID, CG.EntranceLevelID, CG.ClassSpecialityID, CG.FLTypeID, CG.FLID, CG.IsProfModule, 
				CG.StudentCountPlaces, CG.Notes, CG.IsCombined, CG.IsNoList, CG.IsSpecNeed, CG.IsWholeClass, CG.IsNotPresentForm, 
				CG.isValid,
				IIF(CG.IsNoList = 1, 1, COUNT(SC.id)) AS hasStudents
			FROM inst_year.ClassGroup AS CG
				LEFT JOIN student.StudentClass AS SC 
					ON SC.ClassId = CG.ClassID 
					AND SC.SchoolYear = CG.SchoolYear 
					AND SC.Status !=2 AND SC.IsCurrent != 0
					AND CG.IsNoList = 0
			WHERE CG.InstitutionID = @instID
				AND CG.SchoolYear = @FromSchoolYear
				AND CG.isValid = 1 --GETDATE() BETWEEN CG.ValidFrom AND CG.ValidTo
			GROUP BY CG.ClassID, CG.SchoolYear, CG.InstitutionID, CG.InstitutionDepartmentID, CG.ClassGroupNum, CG.ClassName, CG.ParalellClassName, CG.ParentClassID, 
				CG.BasicClassID, CG.ClassTypeID, CG.AreaID, CG.ClassEduFormID, CG.ClassEduDurationID, CG.ClassShiftID, 
				CG.BudgetingClassTypeID, CG.EntranceLevelID, CG.ClassSpecialityID, CG.FLTypeID, CG.FLID, CG.IsProfModule, 
				CG.StudentCountPlaces, CG.Notes, CG.IsCombined, CG.IsNoList, CG.IsSpecNeed, CG.IsWholeClass, CG.IsNotPresentForm, 
				CG.isValid
		)
		INSERT INTO @tbClasses
			(ClassID, SchoolYear, InstitutionID, InstitutionDepartmentID, 
			ClassGroupNum, ClassName, ParalellClassName, ParentClassID, BasicClassID, ClassTypeID, 
			AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
			BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
			StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm)
		SELECT --Ch.ClassId AS chClassId, Ch.hasStudents AS ChHasStud, C.ClassID, C.hasStudents, C.ParentClassID, C.*
			C.ClassID, C.SchoolYear, C.InstitutionID, C.InstitutionDepartmentID, 
			C.ClassGroupNum, C.ClassName, C.ParalellClassName, C.ParentClassID, C.BasicClassID, C.ClassTypeID, 
			C.AreaID, C.ClassEduFormID, C.ClassEduDurationID, C.ClassShiftID, 
			C.BudgetingClassTypeID, C.EntranceLevelID, C.ClassSpecialityID, C.FLTypeID, C.FLID, C.IsProfModule, 
			C.StudentCountPlaces, C.Notes, C.IsCombined, C.IsNoList, C.IsSpecNeed, C.IsWholeClass, C.IsNotPresentForm
		FROM C
			LEFT JOIN C AS Ch ON C.ClassID = Ch.ParentClassID
		WHERE NOT(C.ParentClassID IS NULL AND Ch.hasStudents < 1)
			AND NOT(C.ParentClassID IS NOT NULL AND C.hasStudents < 1);

		SELECT 1, * FROM @tbClasses;  
		-- инсърт паренти
		INSERT INTO inst_year.ClassGroup
					(SchoolYear, InstitutionID, InstitutionDepartmentID, 
					ClassGroupNum, ClassName, ParalellClassName, ParentClassID, BasicClassID, ClassTypeID, 
					AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
					BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
					StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm, PrevYearID)
		OUTPUT INSERTED.PrevYearID, INSERTED.ClassID INTO @classParents
		SELECT @ToSchoolYear, InstitutionID, InstitutionDepartmentID, 
					ClassGroupNum, ClassName, ParalellClassName, ParentClassID, BasicClassID, ClassTypeID, 
					AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
					BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
					StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm, ClassID
		FROM @tbClasses WHERE ParentClassID IS NULL;
			
		
		SELECT 2, * FROM @classParents;
		
		-- инсърт чайлдове
		INSERT INTO inst_year.ClassGroup
					(SchoolYear, InstitutionID, InstitutionDepartmentID, 
					ClassGroupNum, ClassName, ParalellClassName, ParentClassID, BasicClassID, ClassTypeID, 
					AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
					BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
					StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm, PrevYearID)
		OUTPUT INSERTED.PrevYearID, INSERTED.ClassID INTO @classIds
		SELECT @ToSchoolYear, InstitutionID, InstitutionDepartmentID, 
					ClassGroupNum, ClassName, ParalellClassName, NewParentClassID, BasicClassID, ClassTypeID, 
					AreaID, ClassEduFormID, ClassEduDurationID, ClassShiftID, 
					BudgetingClassTypeID, EntranceLevelID, ClassSpecialityID, FLTypeID, FLID, IsProfModule, 
					StudentCountPlaces, Notes, IsCombined, IsNoList, IsSpecNeed, IsWholeClass, IsNotPresentForm, ClassID
		FROM (SELECT P.NewParentClassID, C.* 
				FROM @tbClasses AS C
					LEFT JOIN @classParents AS P ON C.ParentClassID = P.ParentClassID
				WHERE C.ParentClassID IS NOT NULL
			) AS Src;
		
		SELECT 3, * FROM @classIds;
		---- УЧЕНИЦИ
		-- инсърт нови записи StudentClass
		INSERT INTO student.StudentClass
					(SchoolYear, ClassId, PersonId, StudentSpecialityId, StudentEduFormId, ClassNumber, Status, IsIndividualCurriculum, 
					IsHourlyOrganization, IsCurrent, RepeaterId, CommuterTypeId, PositionId, BasicClassID, ClassTypeID, 
					InstitutionId, IsNotPresentForm, EnrollmentDate, FromStudentClassId)
		OUTPUT inserted.FromStudentClassId, INSERTED.ID, INSERTED.PersonID INTO  @studentClassIds
		SELECT @ToSchoolYear, ClassId, PersonId, StudentSpecialityId, StudentEduFormId, ClassNumber, Status, IsIndividualCurriculum, 
					IsHourlyOrganization, IsCurrent, RepeaterId, CommuterTypeId, PositionId, BasicClassID, ClassTypeID, 
					InstitutionId, IsNotPresentForm, EnrollmentDate,ID
		FROM (SELECT SC.ID, SC.SchoolYear, CG.NewClassID AS ClassID, SC.PersonId, SC.StudentSpecialityId, SC.StudentEduFormId, SC.ClassNumber, SC.Status, SC.IsIndividualCurriculum,
					SC.IsHourlyOrganization, 1 AS IsCurrent, IIF(SC.RepeaterId > 1, 1, SC.RepeaterId) AS RepeaterId, SC.CommuterTypeId, SC.PositionId, sc.BasicClassID, SC.ClassTypeID, 
					SC.InstitutionId, SC.IsNotPresentForm, SC.EnrollmentDate 
				FROM @classIds AS CG
					INNER JOIN student.StudentClass AS SC 
						ON SC.ClassId = CG.OldClassID 
						AND SC.InstitutionId = @instID
						AND SC.Status !=2 AND SC.IsCurrent = 1
			) AS Src
			
		SELECT 4, * FROM @studentClassIds;
		-- ъпдейт стари записи StudentClass
		UPDATE student.StudentClass
			SET IsCurrent = 0, Status = 2
		WHERE InstitutionID = @instID
			AND SchoolYear = @FromSchoolYear
			AND IsCurrent = 1;
		
		-- Персонал (StaffPosition) - полетата за трудовия стаж се увеличават с една година:
		DECLARE @staffPositionIDs table (StaffPositionId int); --за инсърта в PedStaffData

		UPDATE inst_basic.StaffPosition
			SET WorkExpTotalYears = ISNULL(WorkExpTotalYears, 0) + 1, 
				WorkExpSpecYears = ISNULL(WorkExpSpecYears, 0) + 1, 
				WorkExpTeachYears = IIF(StaffTypeID = 1, ISNULL(WorkExpTeachYears, 0) + 1, WorkExpTeachYears)
		OUTPUT inserted.StaffPositionID INTO @staffPositionIDs
		WHERE InstitutionID = @instID
			AND IsValid = 1;
		
		--PedStaffData - копиране на данните в новата учебна година
		INSERT INTO inst_year.PedStaffData ([StaffPositionID],[NormaS],[Norma],[NormaT],[DeficitNorma],
		[DeficitNormaT],[ReductionCoef],[DiffNorma],[HoursForReduction],[ReductionHours],[Lect],[LectYear],
		[ValidFrom],[ValidTo],[SysUserID],[IsValid],[ExternalID],[SchoolYear])
		SELECT PedStaffData.[StaffPositionID],[NormaS],[Norma],[NormaT],[DeficitNorma],
		[DeficitNormaT],[ReductionCoef],[DiffNorma],[HoursForReduction],[ReductionHours],[Lect],[LectYear],
		[ValidFrom],[ValidTo],[SysUserID],[IsValid],[ExternalID],@ToSchoolYear 
		FROM inst_year.PedStaffData 
		INNER JOIN @staffPositionIDs sp ON sp.StaffPositionId = PedStaffData.StaffPositionID


		---- УЧЕБЕН ПЛАН
		-- Curriculum
		MERGE INTO inst_year.Curriculum AS Trg USING (
				SELECT C.CurriculumID,C.SchoolYear,C.InstitutionID,CP.NewParentClassID,CurriculumGroupNum,SubjectID,SubjectTypeID,
					WeeksFirstTerm,HoursWeeklyFirstTerm,WeeksSecondTerm,HoursWeeklySecondTerm,IsFL,FLSubjectID,IsIndividualLesson,NormaS,InstitutionDepartmentID,
					ParentCurriculumID,CurriculumPartID,SortOrder,IsIndividualCurriculum,IsWholeClass,IsAllStudents,C.TotalTermHours,C.StudentsCount
				FROM @classParents AS CP
					LEFT JOIN inst_year.CurriculumClass AS CC ON CP.ParentClassID = CC.ClassID
					LEFT JOIN inst_year.Curriculum AS C ON C.CurriculumID = CC.CurriculumID 
				WHERE C.InstitutionID = @instID
					AND C.SchoolYear = @FromSchoolYear
				GROUP BY C.CurriculumID,C.SchoolYear,C.InstitutionID,CP.NewParentClassID,CurriculumGroupNum,SubjectID,SubjectTypeID,
					WeeksFirstTerm,HoursWeeklyFirstTerm,WeeksSecondTerm,HoursWeeklySecondTerm,IsFL,FLSubjectID,IsIndividualLesson,NormaS,InstitutionDepartmentID,
					ParentCurriculumID,CurriculumPartID,SortOrder,IsIndividualCurriculum,IsWholeClass,IsAllStudents,C.TotalTermHours,C.StudentsCount
			) AS Src ON 1=2 AND Src.InstitutionID = Trg.InstitutionID AND Src.SchoolYear = Trg.SchoolYear
		WHEN NOT MATCHED THEN 
			INSERT(SchoolYear,InstitutionID,CurriculumGroupNum,SubjectID,SubjectTypeID,
					WeeksFirstTerm,HoursWeeklyFirstTerm,WeeksSecondTerm,HoursWeeklySecondTerm,IsFL,FLSubjectID,IsIndividualLesson,NormaS,InstitutionDepartmentID,
					ParentCurriculumID,CurriculumPartID,SortOrder,IsIndividualCurriculum,ValidFrom,ValidTo,IsWholeClass,IsAllStudents,TotalTermHours,StudentsCount)
			VALUES(@ToSchoolYear,InstitutionID,CurriculumGroupNum,SubjectID,SubjectTypeID,
					WeeksFirstTerm,HoursWeeklyFirstTerm,WeeksSecondTerm,HoursWeeklySecondTerm,IsFL,FLSubjectID,IsIndividualLesson,NormaS,InstitutionDepartmentID,
					ParentCurriculumID,CurriculumPartID,SortOrder,IsIndividualCurriculum,GETDATE(),'9999-12-31 23:59',IsWholeClass,IsAllStudents,TotalTermHours,StudentsCount)
			OUTPUT Src.CurriculumID, INSERTED.CurriculumID, Src.NewParentClassID INTO @curriculumIds;
		
		SELECT 5, * FROM @curriculumIds;
		
		-- CurriculumClass
		INSERT INTO inst_year.CurriculumClass
			(CurriculumID, ClassID, ValidFrom, ValidTo, SysUserID, SchoolYear)
		SELECT C.NewCurriculumID, CP.NewParentClassID, GETDATE(), '9999-12-31 23:59', @sysUserID, @ToSchoolYear
		FROM @classParents AS CP
			LEFT JOIN inst_year.CurriculumClass AS CC ON CC.ClassID = CP.ParentClassID 
			INNER JOIN @curriculumIds AS C ON CC.CurriculumID = C.OldCurriculumID;
			
		-- CurriculumStudent
		INSERT INTO inst_year.CurriculumStudent
			(CurriculumID, StudentID, ValidFrom, ValidTo, SysUserID, PersonID, SchoolYear)
		SELECT C.NewCurriculumID, SC.NewID, GETDATE(), '9999-12-31 23:59', @sysUserId, SC.PersonID, @ToSchoolYear
		FROM @studentClassIds AS SC
			LEFT JOIN inst_year.CurriculumStudent AS CS ON CS.StudentID = SC.OldID AND CS.SchoolYear = @FromSchoolYear
			INNER JOIN @curriculumIds AS C ON CS.CurriculumID = C.OldCurriculumID;
				
		-- CurriculumTeachers
		INSERT INTO inst_year.CurriculumTeacher
			(CurriculumID, StaffPositionID, ValidFrom, ValidTo, SysUserID, IsNotRegularTeacher, SchoolYear, NormaTS)
		SELECT C.NewCurriculumID, CT.StaffPositionID, GETDATE(), '9999-12-31 23:59', @sysUserId, CT.IsNotRegularTeacher, @ToSchoolYear, CT.NormaTS
		FROM @curriculumIds AS C 
			INNER JOIN inst_year.CurriculumTeacher AS CT
				ON CT.CurriculumID = C.OldCurriculumID AND CT.SchoolYear = @FromSchoolYear;

	SELECT CurriculumID AS curriculumCreated FROM inst_year.Curriculum WHERE InstitutionID = @instID AND SchoolYear = @ToSchoolYear

END TRY
BEGIN CATCH
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [SchoolYearChangeCPLR] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH