USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[institutionPublicCouncilCUD]    Script Date: 8/1/2022 12:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [inst_basic].[institutionPublicCouncilCUD] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS

BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param: institutionID --------------
DECLARE @instid int;
SELECT @instid = instid FROM OPENJSON(@_json)
WITH (   
		instid int			'$.instid'
)

-- ---------- define Master object: [InstitutionPublicCouncil] ID param --------------
DECLARE @publicCouncilID int;
SELECT @publicCouncilID = publicCouncilID FROM OPENJSON(@_json)
WITH (   
			publicCouncilID int			'$.publicCouncilID'
)

-- ---------- define context param: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)
-- ---------- define context param: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = inst_year.getSchoolYearByInstID(@instID);

DECLARE @ExternalID NVARCHAR(100) = NULL;


	--if the school used external data provider --- then it cannot write to the database
	DECLARE @isExtDataProvider bit;
	SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
	FROM [core].[InstitutionConfData] 
	WHERE InstitutionID = @instID 
		AND SchoolYear = @schoolYear

	IF @isExtDataProvider = 1
	BEGIN	
		DECLARE @operationResultType int,  @messageCode int;
		SET @operationResultType = 2;
		SET @messageCode = 1023;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID; 

		COMMIT TRANSACTION
		RETURN
	END


PRINT 'INFO: PROCEDURE institutionPublicCouncilCUD started! Initial data gathered. InstitutionID=' + CAST(@instID AS VARCHAR(12));

/* ************ OperationType = 1 -> CREATE NEW InstitutionPublicCouncil *************** */
IF ((@OperationType = 1) AND (@instID IS NOT NULL) AND (@publicCouncilID IS NULL))
BEGIN
	PRINT 'INFO: OperationType: 1 - CREATE NEW [InstitutionPublicCouncil]...';
	INSERT INTO [inst_basic].[InstitutionPublicCouncil]
           (
				[InstitutionID]
				,[FirstName]
				,[MiddleName]
				,[FamilyName]
				,[PublicCouncilTypeID]
				,[PublicCouncilRoleID]
				,[Email]
				,[PhoneNumber]
				,[SysUserID]
				,[ExternalID]
			)
	SELECT @instid, *, @sysuserid, @ExternalID
	FROM OPENJSON(@_json)
	WITH (   
		firstName nvarchar(255)
		,middleName nvarchar(255)
		,familyName nvarchar(255)
		,publicCouncilTypeID int
		,publicCouncilRoleID int
		,email nvarchar(50)
		,phone nvarchar(50)
		); 

	SELECT @publicCouncilID = SCOPE_IDENTITY();

	-- GET INSERTED @InstitutionPublicCouncilID (autoincrement)
	PRINT 'INFO: [InstitutionPublicCouncil] created with id=' + CAST(@publicCouncilID AS VARCHAR(12));

	SELECT @publicCouncilID AS publicCouncilID; -- return back to the caller i.e. front-end
		
END  /* End of OperationType = 1 -> CREATE NEW institutionPhone *************** */

/* ############################## Start OperationType = 2 -> UPDATE Institution publicCouncil ############################## */
ELSE IF ((@OperationType = 2) AND (@instid IS NOT NULL) AND (@publicCouncilID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object: [InstitutionPublicCouncil] with InstitutionPublicCouncilID=' + CAST(@publicCouncilID AS VARCHAR(12));
	UPDATE top (1) [inst_basic].[InstitutionPublicCouncil]
	SET 
		[FirstName] = JIPC.firstName
		,[MiddleName]= JIPC.middleName
		,[FamilyName] = JIPC.familyName
		,[PublicCouncilTypeID]=JIPC.publicCouncilTypeID
		,[PublicCouncilRoleID]=JIPC.publicCouncilRoleID
		,[Email]=JIPC.email
		,[PhoneNumber]=JIPC.phone
		,[SysUserID]=@sysuserid
	FROM OPENJSON(@_json)
	WITH (   
		firstName nvarchar(255)
		,middleName nvarchar(255)
		,familyName nvarchar(255)
		,publicCouncilTypeID int
		,publicCouncilRoleID int
		,email nvarchar(50)
		,phone nvarchar(50)
		) JIPC				 
	WHERE
		[inst_basic].[InstitutionPublicCouncil].InstitutionPublicCouncilID = @publicCouncilID;

	PRINT 'INFO: [InstitutionPublicCouncil] UPDATED successfully!';

END  /* End OperationType = 2 -> UPDATE department phone *************** */

/* ############################## Start OperationType = 3 -> DELETE InstitutionPublicCouncil ############################## */
ELSE IF ((@OperationType = 3) AND (@instid IS NOT NULL) AND (@publicCouncilID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 3 -> DELETE [InstitutionPublicCouncil] with InstitutionPublicCouncilID=' + CAST(@publicCouncilID AS VARCHAR(12));

	DELETE FROM [inst_basic].[InstitutionPublicCouncil]
		WHERE [inst_basic].[InstitutionPublicCouncil].InstitutionPublicCouncilID = @publicCouncilID;

	PRINT 'INFO: [InstitutionPublicCouncil] DELETED with InstitutionPublicCouncilID=' + CAST(@publicCouncilID AS VARCHAR(12));

	SELECT @publicCouncilID AS id;
END /* End OperationType = 3 -> DELETE [institutionPublicCouncil] *************** */
ELSE
	THROW 99004, 'Procedure [institutionPublicCouncilCUD] - Error! Illegal CONTEXT or MASTER Obejects params! Please contact DEV/support team.', 1;

EXEC [logs].logEvent @_json, @OperationType, 103, 'InstitutionPublicCouncil', @publicCouncilID, NULL

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'InstitutionPublicCouncil', @publicCouncilID, NULL;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [institutionPublicCouncilCUD] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
/* ************ END OF PROCEDURE ************ */

