USE [neispuo]
GO

/****** Object:  StoredProcedure [inst_basic].[SchoolYearChange]    Script Date: 6/21/2022 2:59:13 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [inst_basic].[SchoolYearChange] 
	@changeYearDataID INT
AS
BEGIN TRY
	DECLARE @ERR_MSG NVARCHAR(4000); 

	DECLARE @instID int, @FromSchoolYear int, @ToSchoolYear int, @sysuserid INT;
	
	SELECT @instID = InstitutionID, @FromSchoolYear = FromSchoolYear, @ToSchoolYear = ToSchoolYear, @sysuserid = SysUserID
	FROM [inst_year].[ChangeYearData]
	WHERE ChangeYearDataID = @changeYearDataID;

	DECLARE @instType TINYINT;
	
	SET @instType = (SELECT D.InstType 
					FROM core.Institution AS I
					LEFT JOIN noms.DetailedSchoolType AS D ON I.DetailedSchoolTypeID = D.DetailedSchoolTypeID 
					WHERE I.InstitutionID = @instID);
	
	BEGIN TRANSACTION
		UPDATE core.InstitutionConfData
			SET SchoolYear = SchoolYear + 1
		OUTPUT 1, INSERTED.*
		WHERE InstitutionID = @instID;
		
		INSERT INTO core.InstitutionSchoolYear
			(InstitutionId, SchoolYear, IsFinalized, Name, Abbreviation, Bulstat, CountryID, LocalAreaID, FinancialSchoolTypeID, DetailedSchoolTypeID, BudgetingSchoolTypeID, TownID, BaseSchoolTypeID, 
			IsCurrent, ValidFrom, ValidTo, SysUserID)
		OUTPUT 2, INSERTED.*
		SELECT InstitutionId, @ToSchoolYear, 0, Name, Abbreviation, Bulstat, CountryID, LocalAreaID, FinancialSchoolTypeID, DetailedSchoolTypeID, BudgetingSchoolTypeID, TownID, BaseSchoolTypeID, 
			1, ValidFrom, ValidTo, @sysuserid
		FROM core.InstitutionSchoolYear
		WHERE InstitutionID = @instID
			AND SchoolYear = @FromSchoolYear;
		
		UPDATE core.InstitutionSchoolYear
			SET IsFinalized = 1, IsCurrent = 0
		OUTPUT 3, INSERTED.*
		WHERE InstitutionID = @instID
			AND SchoolYear = @FromSchoolYear;
		
		INSERT INTO inst_year.InstitutionOtherData
			(InstitutionID, SchoolYear, SchoolShiftTypeID, PedagogStaffCount, NonpedagogStaffCount, StaffCountAll, PedagogStaffSalary, NonpedagogStaffSalary, YearlyBudget, ValidFrom, ValidTo, SysUserID, ExternalID)
		OUTPUT 4, INSERTED.*
		SELECT InstitutionID, @ToSchoolYear, SchoolShiftTypeID, PedagogStaffCount, NonpedagogStaffCount, StaffCountAll, PedagogStaffSalary, NonpedagogStaffSalary, YearlyBudget, ValidFrom, ValidTo, @sysuserid, ExternalID
		FROM neispuo.inst_year.InstitutionOtherData
		WHERE InstitutionID = @instID
			AND SchoolYear = @FromSchoolYear;
		
		INSERT INTO inst_nom.InstAdminData
			(SchoolYear, InstitutionID, InstitutionDepartmentID, IsInnovative, IsCentral, IsProtected, IsStateFunded, HasMunDecisionFor4)
		OUTPUT 5, INSERTED.* 
		SELECT @ToSchoolYear, InstitutionID, InstitutionDepartmentID, IsInnovative, IsCentral, IsProtected, IsStateFunded, HasMunDecisionFor4
		FROM inst_nom.InstAdminData
		WHERE InstitutionID = @instID
			AND SchoolYear = @FromSchoolYear;
		
		DECLARE @builds TABLE(BuildingID INT);
		DECLARE @buildsRooms TABLE(BuildingRoomID INT);
		
		-- update на SchoolYear
		UPDATE inst_basic.Building 
			SET SchoolYear = @ToSchoolYear
		OUTPUT INSERTED.BuildingID INTO @builds
		WHERE InstitutionID = @instID;
		
		UPDATE inst_basic.BuildingModernizationDegree
			SET SchoolYear = @ToSchoolYear
		FROM @builds AS B
		WHERE B.BuildingID = BuildingModernizationDegree.BuildingID;
		
		UPDATE inst_basic.BuildingRoom
			SET SchoolYear = @ToSchoolYear
		OUTPUT INSERTED.BuildingRoomID INTO @buildsRooms
		FROM @builds AS B
		WHERE B.BuildingID = BuildingRoom.BuildingID;
		
		UPDATE inst_basic.BuildingRoomEquipment
			SET SchoolYear = @ToSchoolYear
		FROM @buildsRooms AS R
		WHERE R.BuildingRoomID = BuildingRoomEquipment.BuildingRoomID;
	
		UPDATE inst_basic.DistanceLearningCondition
			SET SchoolYear = @ToSchoolYear
		WHERE InstitutionID = @instID AND SchoolYear = @FromSchoolYear;
	
		UPDATE inst_basic.InstitutionProject
			SET IsArchive = 1
		WHERE InstitutionID = @instID AND EndDate < DATEFROMPARTS(@ToSchoolYear,09,15);

		IF @instType = 1 --Училище
			BEGIN 
				SELECT @instType AS instType;
				EXEC inst_basic.SchoolYearChangeSchool @changeYearDataID;
			END
		ELSE IF @instType = 2 --ДГ
			BEGIN 
				SELECT @instType AS instType;
				EXEC inst_basic.SchoolYearChangeSchool @changeYearDataID;
			END
		ELSE IF @instType = 3 -- ЦПЛР
			BEGIN 
				SELECT @instType AS instType;
				EXEC inst_basic.SchoolYearChangeCPLR @changeYearDataID;
			END
		ELSE IF @instType = 4 -- ЦСОП
			BEGIN 
				SELECT @instType AS instType;
				EXEC inst_basic.SchoolYearChangeSchool @changeYearDataID;
			END
		--5	СОЗ

		UPDATE core.InstitutionConfData
			SET SOVersion = SOVersion + 1
		WHERE InstitutionID = @instID;

		UPDATE core.InstitutionConfData
			SET CBVersion = CBVersion + 1
		WHERE InstitutionID = @instID;

		UPDATE inst_year.ChangeYearData
			SET ChangeYearStatusID = 1
		--WHERE InstitutionID = @instID AND FromSchoolYear = @FromSchoolYear;
		WHERE ChangeYearDataID = @changeYearDataID
 
	COMMIT TRANSACTION;
	--ROLLBACK; --COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
			PRINT 'INFO: TRANSACTION has been ROLLBACKED!';
		END
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT 
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [SchoolYearChange] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
GO


