BasicClass.sql linguist-generated
BasicSubjectType.sql linguist-generated
ClassType.sql linguist-generated
CurriculumPart.sql linguist-generated
CustomVarValue.sql linguist-generated
EduForm.sql linguist-generated
FLLevel.sql linguist-generated
NKPDPosition linguist-generated
SPPOOEducArea.sql linguist-generated
SPPOOProfArea.sql linguist-generated
SPPOOProfession.sql linguist-generated
SPPOOSpeciality.sql linguist-generated
StaffType.sql linguist-generated
Subject.sql linguist-generated
SubjectType.sql linguist-generated
