mat-card.section-card {
  background-color: var(--background-color-header);
  border: 1px solid #00000014;
  box-shadow: 0px 0px 5px 0px #0000006e;
  width: auto;
  display: inline-block;
}
.wrap-card-switch-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .name-container-value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 20px 5px 10px;
    .l-custom-span-label {
      color: rgb(255 255 255 / 88%);
      padding: 0;
      margin: 0;
      padding-left: 0;
      font-family: Avenir, Helvetica, Arial, sans-serif;
      font-size: 14px;
      display: inline-block;
      line-height: normal;
    }
    .value-label {
      color: white;
      padding: 0;
      margin: 0;
      padding-left: 0;
      font-family: Avenir, Helvetica, Arial, sans-serif;
      font-size: 19px;
      display: inline-block;
      line-height: normal;
      text-shadow: 1px 1px 3px black;
    }
  }
  .container-action-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    mat-icon {
      color: white;
      text-shadow: 1px 1px 3px black;
      font-size: 30px;
      width: auto;
      height: auto;
      cursor: pointer;
      transition: 0.3s all;
      &:hover {
        color: #191970;
        text-shadow: 0px 0px 5px white;
        transition: 0.3s all;
      }
    }
  }
}
.container-switch-autocomplete {
  border-radius: 4px;
  z-index: 999;
  position: relative;
  background-color: #ffffff;
  margin-top: 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  padding: 15px;
  padding-bottom: 0 !important;
  min-width: 300px;
  .width-100 {
    width: 100%;
  }
}
.shadow-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #08004475;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 998;
  background-image: url(../../../../../assets/images/patern2.png);
  background-repeat: repeat;
}
.close-section {
  position: absolute;
  top: -27px;
  right: -12px;
  background-color: transparent;
  outline: none;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  line-height: normal;
  transition: 0.3s all;
  cursor: pointer;
  &:hover {
    transition: 0.3s all;
    mat-icon {
      font-weight: bold;
      color: #2b2b2b;
      transition: 0.3s all;
    }
  }
  mat-icon {
    font-size: 20px;
    width: auto;
    height: auto;
    line-height: normal;
    padding: 0;
    margin: 0;
    color: #2b2b2ba3;
    transition: 0.3s all;
  }
}
