<div class="flex justify-between mb-2">
  <sb-breadcrumb
    class="block"
    [icon]="fadChalkboardTeacher"
    [text]="hourDescriptionShort"
    [parentItems]="[{ text: 'Моите часове', routeCommands: ['../'] }]"
  ></sb-breadcrumb>

  <button class="sb-link-btn" [matMenuTriggerFor]="menu" aria-label="Настройки">
    <fa-icon [icon]="fadCog" size="lg"></fa-icon>
  </button>
  <mat-menu #menu="matMenu">
    <sb-book-settings-form></sb-book-settings-form>
  </mat-menu>
</div>

<form [formGroup]="form" #ngForm="ngForm" autocomplete="off" novalidate>
  <sb-card>
    <ng-container card-title>
      Въвеждане на {{ !isDplr ? 'отсъствия' : 'присъствия/отсъствия' }}
      <span class="hidden sm:inline">за {{ hourDescription }}</span>
    </ng-container>
    <sb-editor-panel card-buttons [isNew]="true" (save)="onSave($event)"></sb-editor-panel>
    <div card-body>
      <sb-banner type="info" *ngIf="!absencesUndoBannerHidden" class="mb-4">
        <div class="flex justify-between">
          <span>
            {{
              !isDplr
                ? 'Можете да правите промени по отсъствията в рамките на 1ч от въвеждането им.'
                : 'Можете да правите промени по присъствията/отсъствията в рамките на 1ч от въвеждането им.'
            }}
          </span>

          <button class="sb-link-btn -mt-px -mb-[3px]" (click)="hideAbsencesUndoBanner()">
            <fa-icon [icon]="fasTimes"></fa-icon>
          </button>
        </div>
      </sb-banner>

      <sb-banner type="info" *ngIf="data.teacherLesson.individualCurriculumPersonId != null" class="mb-4">
        Избрали сте занятие за ученик с ИУП
      </sb-banner>

      <div class="sb-table-container mt-2.5 sm:mt-4 md:mt-0">
        <table class="sb-table">
          <thead>
            <tr>
              <th>Ученик</th>
              <th>{{ !isDplr ? 'Отсъствие' : 'Присъствие/Отсъствие' }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of templateData.students">
              <td class="sb-names">
                {{ student.classNumber != null ? student.classNumber.toString() + '.' : '' }}

                {{ student.firstName }}
                {{ student.middleName }}
                {{ student.lastName }}

                <span class="sb-badge" *ngIf="student.abnormalStatus">{{ student.abnormalStatus }}</span>
              </td>
              <td class="w-px py-0">
                <div
                  *ngIf="
                    !student.hasCurrentAbsence ||
                    (student.currentAbsenceCanUndo && (student.currentAbsenceUndoExpired$ | async) === false)
                  "
                  class="btn-group text-sm"
                >
                  <ng-container *ngIf="data.classBookInfo.bookType !== CLASS_BOOK_TYPE_BOOK_DPLR">
                    <button
                      class="btn focus-visible:z-20"
                      type="button"
                      [ngClass]="{
                        'bg-sky-300 border-sky-700 text-white z-10': getAbsenceType(student.studentFormIndex) == null
                      }"
                      (click)="setAbsenceType(student.studentFormIndex, null)"
                    >
                      <span class="inline sm:hidden">Присъс</span>
                      <span class="hidden sm:inline">Присъства</span>
                    </button>

                    <button
                      class="btn focus-visible:z-20"
                      type="button"
                      [ngClass]="{
                        'bg-red-500 border-red-700 text-white z-10':
                          getAbsenceType(student.studentFormIndex) === ABSENCE_TYPE_UNEXCUSED
                      }"
                      (click)="setAbsenceType(student.studentFormIndex, ABSENCE_TYPE_UNEXCUSED)"
                    >
                      <span class="inline sm:hidden">Неуваж</span>
                      <span class="hidden sm:inline">Неуважително</span>
                    </button>

                    <button
                      class="btn focus-visible:z-20"
                      type="button"
                      [ngClass]="{
                        'bg-yellow-500 border-yellow-700 text-white z-10':
                          getAbsenceType(student.studentFormIndex) === ABSENCE_TYPE_LATE
                      }"
                      (click)="setAbsenceType(student.studentFormIndex, ABSENCE_TYPE_LATE)"
                    >
                      <span class="inline sm:hidden">Закъс</span>
                      <span class="hidden sm:inline">Закъснение</span>
                    </button>

                    <button
                      class="btn focus-visible:z-20"
                      type="button"
                      [ngClass]="{
                        'bg-green-500 border-green-700 text-white z-10':
                          getAbsenceType(student.studentFormIndex) === ABSENCE_TYPE_EXCUSED
                      }"
                      (click)="setAbsenceType(student.studentFormIndex, ABSENCE_TYPE_EXCUSED)"
                    >
                      <span class="inline sm:hidden">Уваж</span>
                      <span class="hidden sm:inline">Уважително</span>
                    </button>
                  </ng-container>

                  <ng-container *ngIf="data.classBookInfo.bookType === CLASS_BOOK_TYPE_BOOK_DPLR">
                    <button
                      class="btn focus-visible:z-20"
                      type="button"
                      [ngClass]="{
                        'bg-green-500 border-green-700 text-white z-10':
                          getAbsenceType(student.studentFormIndex) === ABSENCE_TYPE_DPLR_ATTENDANCE
                      }"
                      (click)="setAbsenceType(student.studentFormIndex, ABSENCE_TYPE_DPLR_ATTENDANCE)"
                    >
                      <span class="inline sm:hidden">Присъс</span>
                      <span class="hidden sm:inline">Присъства</span>
                    </button>

                    <button
                      class="btn focus-visible:z-20"
                      type="button"
                      [ngClass]="{
                        'bg-sky-300 border-sky-700 text-white z-10': getAbsenceType(student.studentFormIndex) == null
                      }"
                      (click)="setAbsenceType(student.studentFormIndex, null)"
                    >
                      <span class="inline sm:hidden">Неизбр</span>
                      <span class="hidden sm:inline">Неизбрано</span>
                    </button>

                    <button
                      class="btn focus-visible:z-20"
                      type="button"
                      [ngClass]="{
                        'bg-red-500 border-red-700 text-white z-10':
                          getAbsenceType(student.studentFormIndex) === ABSENCE_TYPE_DPLR_ABSENCE
                      }"
                      (click)="setAbsenceType(student.studentFormIndex, ABSENCE_TYPE_DPLR_ABSENCE)"
                    >
                      <span class="inline sm:hidden">Отсъс</span>
                      <span class="hidden sm:inline">Отсъства</span>
                    </button>
                  </ng-container>
                </div>

                <span
                  *ngIf="
                    student.hasCurrentAbsence &&
                    (!student.currentAbsenceCanUndo || (student.currentAbsenceUndoExpired$ | async) === true)
                  "
                  class="sb-pill text-white tracking-wider"
                  [ngClass]="{
                    'bg-yellow-500 border-yellow-700': student.currentAbsenceType === ABSENCE_TYPE_LATE,
                    'bg-red-500 border-red-700':
                      student.currentAbsenceType === ABSENCE_TYPE_UNEXCUSED ||
                      student.currentAbsenceType === ABSENCE_TYPE_DPLR_ABSENCE,
                    'bg-green-500 border-green-700':
                      student.currentAbsenceType === ABSENCE_TYPE_EXCUSED ||
                      student.currentAbsenceType === ABSENCE_TYPE_DPLR_ATTENDANCE
                  }"
                  [matTooltip]="
                    !isDplr
                      ? 'Можете да правите промени по отсъствията в рамките на 1ч от въвеждането им.'
                      : 'Можете да правите промени по присъствията/отсъствията в рамките на 1ч от въвеждането им.'
                  "
                >
                  <span *ngIf="student.currentAbsenceType === ABSENCE_TYPE_LATE">Закъснение</span>
                  <span *ngIf="student.currentAbsenceType === ABSENCE_TYPE_UNEXCUSED">Неуважително</span>
                  <span *ngIf="student.currentAbsenceType === ABSENCE_TYPE_EXCUSED">Уважително</span>
                  <span *ngIf="student.currentAbsenceType === ABSENCE_TYPE_DPLR_ABSENCE">Отсъствие</span>
                  <span *ngIf="student.currentAbsenceType === ABSENCE_TYPE_DPLR_ATTENDANCE">Присъствие</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </sb-card>
</form>
