<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.web xdt:Transform="Insert">
      <httpRuntime enableVersionHeader="false"/>
    </system.web>
    <system.webServer>
      <security xdt:Transform="Insert">
        <requestFiltering>
          <!-- This will handle requests up to 51MB -->
          <requestLimits maxAllowedContentLength="53477376"/>
        </requestFiltering>
      </security>
      <httpProtocol xdt:Transform="Insert">
        <customHeaders>
          <remove name="X-Powered-By"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
