<sb-breadcrumb
  class="block mb-3"
  [icon]="
    mode === LectureSchedulesMode.All ? fadCalendarStar : mode === LectureSchedulesMode.My ? fadUserPlus : undefined
  "
  [text]="
    mode === LectureSchedulesMode.All
      ? 'Всички лекторски графици'
      : mode === LectureSchedulesMode.My
      ? 'Мои лекторски графици'
      : ''
  "
></sb-breadcrumb>

<sb-card>
  <ng-container card-title>
    {{
      mode === LectureSchedulesMode.All
        ? 'Всички лекторски графици'
        : mode === LectureSchedulesMode.My
        ? 'Мои лекторски графици'
        : ''
    }}
  </ng-container>
  <ng-container *ngIf="canCreate" card-buttons>
    <a [routerLink]="['./', 'new']" mat-raised-button color="primary" aria-label="Нов лекторски график">
      <fa-icon [icon]="fasPlus" size="lg"></fa-icon>
      <span>Нов лекторски график</span>
    </a>
  </ng-container>
  <ng-container card-body>
    <div *ngIf="mode === LectureSchedulesMode.All" [formGroup]="searchForm" novalidate>
      <sb-text-field class="col-span-full" label="Учител" formControlName="teacherName"></sb-text-field>
    </div>

    <sb-table
      [dataSource]="dataSource"
      [displayedColumns]="['action', 'startDate', 'endDate', 'teacherName', 'orderNumber', 'orderDate']"
    >
      <ng-container cdkColumnDef="action">
        <th cdk-header-cell *cdkHeaderCellDef></th>
        <td cdk-cell *cdkCellDef="let row" class="sb-table-action">
          <a [routerLink]="['./', row.lectureScheduleId]" aria-label="Редактирай" class="sb-link-btn">
            <fa-icon [icon]="fadChevronCircleRight"></fa-icon>
          </a>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="startDate">
        <th cdk-header-cell *cdkHeaderCellDef>Начална дата</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.startDate | sbDate }}</td>
      </ng-container>

      <ng-container cdkColumnDef="endDate">
        <th cdk-header-cell *cdkHeaderCellDef>Крайна дата</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.endDate | sbDate }}</td>
      </ng-container>

      <ng-container cdkColumnDef="teacherName">
        <th cdk-header-cell *cdkHeaderCellDef>Учител</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.teacherName }}</td>
      </ng-container>

      <ng-container cdkColumnDef="orderNumber">
        <th cdk-header-cell *cdkHeaderCellDef>Номер на заповед</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.orderNumber }}</td>
      </ng-container>

      <ng-container cdkColumnDef="orderDate">
        <th cdk-header-cell *cdkHeaderCellDef>Дата на заповед</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.orderDate | sbDate }}</td>
      </ng-container>

      <ng-container *ngIf="searchForm.value.teacherName" no-data-row>
        <td colspan="6" class="text-center">Няма намерени лекторски графици</td>
      </ng-container>
    </sb-table>
  </ng-container>
</sb-card>
