@import '~@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';
@import '~@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/mixins';

.json-view-card {
    background-color: $blue-100;
    border-radius: 1rem;
    height: 30rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    position: relative;
    border: 1px solid $blue-200;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    &:hover {
        border-color: $blue-300;
    }

    .json-content {
        overflow: auto;
        height: 100%;
        font-family: 'JetBrains Mono', 'Fira Mono', 'Courier New', monospace;
        font-size: 1rem;
        padding-right: 0.5rem;
    }
}

.spinner-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
