<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>

      <!-- add application initialization options -->
      <applicationInitialization doAppInitAfterRestart="true" xdt:Transform="InsertIfMissing">
        <add initializationPage="/" />
      </applicationInitialization>

      <security xdt:Transform="Insert">
        <requestFiltering>
          <!-- This will handle requests up to 51MB -->
          <requestLimits maxAllowedContentLength="53477376" />
        </requestFiltering>
      </security>

    </system.webServer>
  </location>
</configuration>
