<app-neispuo-profile-card
    [data]="neispuoProfile"
    [entityType]="SyncHistoryEntityEnum.INSTITUTION"
    [loading]="neispuoLoading"
    [error]="neispuoError"
    [empty]="neispuoEmpty"
    (refresh)="loadNeispuoProfile()"
></app-neispuo-profile-card>

<app-profile-tabbar
    [entityType]="SyncHistoryEntityEnum.INSTITUTION"
    [entityInfo]="entityInfo"
    [loading]="entityLoading"
    [error]="entityError"
    [empty]="entityEmpty"
    (refresh)="loadEntityInfo()"
></app-profile-tabbar>

<div class="organization-history-tabbar">
    <h5 class="mb-2">{{ CONSTANTS.PRIMENG_TAB_SYNC | translate }}</h5>
    <p-tabView>
        <p-tabPanel [header]="CONSTANTS.PROFILE_TAB_PROFILE | translate">
            <app-azure-sync-organization-table [institutionID]="institutionID"></app-azure-sync-organization-table>
        </p-tabPanel>
    </p-tabView>
</div>
