.container-action {
    width: 280px;
    background-color: #000044;
    padding: 11px;
    .l-select {
        width: 100%;
    }
}

.search-container {
    width: 280px;
    padding: 11px;
    border-bottom: 1px solid #0000003d;
    background-color: #000044;
    mat-icon {
        position: absolute;
        color: #464646;
        margin-top: 3px;
        margin-left: 3px;
    }
    input {
        &:focus {
            outline: none;
        }
        font-size: 15px;
        padding-left: 30px !important;
        width: 280px;
        border-radius: 30px;
        border: 1px solid #00000073;
        padding: 5px;
        height: 30px;
        line-height: 30px;
        box-sizing: border-box;
        background-color: #f2f2f2;
    }
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.span-name {
    cursor: pointer !important;
}

.l-custom-tree {
    overflow: auto;
    max-height: calc(100% - 54px);
}