/* created with https://google-webfonts-helper.herokuapp.com/ */
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('^assets/fonts/roboto-v20-latin_cyrillic-300.woff2') format('woff2'),
    url('^assets/fonts/roboto-v20-latin_cyrillic-300.woff') format('woff');
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('^assets/fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
    url('^assets/fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('^assets/fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
    url('^assets/fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('^assets/fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
    url('^assets/fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
}
