$ng-select-highlight: #2f73da; // theme('colors.primary')
$ng-select-primary-text: #111827; // theme('colors.gray.900');

// ng-select default.theme variables
$ng-select-selected: rgba(black, 0.12) !default;
