<form [formGroup]="form" novalidate (ngSubmit)="onSave()" class="sm:w-96">
  <div class="sb-btn-wrapper sb-btn-wrapper-right">
    <button mat-raised-button color="primary" type="submit" [disabled]="saving">
      <fa-icon [icon]="saving ? fasSpinnerThird : fasCheck" [spin]="saving" size="lg"></fa-icon>
      <span>Запази</span>
    </button>
    <button mat-raised-button mat-dialog-close>Затвори</button>
  </div>

  <sb-nom-select
    class="sb-single-row-mat-field"
    label="Ученик"
    formControlName="studentId"
    [nomService]="classBookStudentNomsService"
  ></sb-nom-select>
</form>
