<sb-banner type="warning" *ngIf="!studentAbsences.students.length">Паралелката няма въведени ученици.</sb-banner>

<ng-container *ngIf="studentAbsences.students.length">
  <div [formGroup]="searchForm" novalidate class="sm:grid grid-cols-5 gap-x-4">
    <p class="col-start-1 col-span-full">Филтри</p>

    <sb-nom-select
      label="Предмет"
      class="col-span-2"
      formControlName="curriculumId"
      [nomService]="classBookCurriculumNomsService"
    ></sb-nom-select>

    <sb-select-field
      formControlName="period"
      label="Период"
      [items]="[
        { id: PeriodValues_WholeYear, name: 'За цялата година' },
        { id: PeriodValues_Month, name: 'За месец' },
        { id: PeriodValues_FromDateToDate, name: 'От дата до дата' }
      ]"
    ></sb-select-field>

    <sb-select-field
      *ngIf="searchForm.value.period === PeriodValues_Month"
      label="Месец"
      formControlName="month"
      [items]="monthsSelect"
    ></sb-select-field>

    <sb-date-field
      *ngIf="searchForm.value.period === PeriodValues_FromDateToDate"
      label="От дата"
      formControlName="fromDate"
    ></sb-date-field>
    <sb-date-field
      *ngIf="searchForm.value.period === PeriodValues_FromDateToDate"
      label="До дата"
      formControlName="toDate"
    ></sb-date-field>
  </div>

  <div class="flex justify-between">
    <div class="sb-btn-wrapper">
      <a *ngIf="canCreate" [routerLink]="['./new']" mat-raised-button color="primary">
        <fa-icon [icon]="fasPlus" size="lg"></fa-icon>
        <span>Ново отсъствие</span>
      </a>

      <a *ngIf="canExcuse" [routerLink]="['./excuse']" mat-raised-button color="accent">
        <fa-icon [icon]="farCircle" size="lg"></fa-icon>
        <span>Уважи</span>
      </a>

      <a *ngIf="canRemove" [routerLink]="['./remove']" mat-raised-button color="warn">
        <fa-icon [icon]="fasTrashAlt" size="lg"></fa-icon>
        <span>Премахни</span>
      </a>
    </div>

    <div class="sb-btn-wrapper">
      <a class="sb-link-btn" aria-label="Медицински бележки" [routerLink]="['./medical-notices']">
        <fa-icon [icon]="fadNotesMedical" size="lg"></fa-icon>
      </a>
    </div>
  </div>

  <sb-transferred-students-banner class="mb-2.5" *ngIf="showTransferredStudentsBanner"></sb-transferred-students-banner>

  <div class="sb-table-container">
    <table class="sb-table">
      <thead>
        <tr>
          <th rowspan="2">Ученик</th>
          <th colspan="3" class="text-center">Неуважителни</th>
          <th rowspan="2" class="w-px text-center align-top">Уваж.</th>
        </tr>
        <tr>
          <th class="w-px text-center">
            <span class="inline sm:hidden">Зак.</span>
            <span class="hidden sm:inline">Закъсн.</span>
          </th>
          <th class="w-px text-center">
            <span class="inline sm:hidden">Неув.</span>
            <span class="hidden sm:inline">Неуваж.</span>
          </th>
          <th class="w-px text-center">
            <span class="inline sm:hidden">Об.</span>
            <span class="hidden sm:inline">Общо</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let student of studentAbsences.students">
          <tr>
            <td *ngIf="student.showInfoLink" class="sb-names">
              <a
                [routerLink]="[
                  '../../../student-info',
                  this.data.classBookId,
                  student.personId,
                  'student-book',
                  this.data.classBookId
                ]"
                class="text-primary"
              >
                {{ student.classNumber != null ? student.classNumber.toString() + '.' : '' }}

                {{ student.firstName }}
                {{ student.middleName }}
                {{ student.lastName }}

                <span *ngIf="student.abnormalStatus" class="sb-badge">{{ student.abnormalStatus }}</span>
              </a>
            </td>
            <td *ngIf="!student.showInfoLink" class="sb-names">
              {{ student.classNumber != null ? student.classNumber.toString() + '.' : '' }}

              {{ student.firstName }}
              {{ student.middleName }}
              {{ student.lastName }}

              <span *ngIf="student.abnormalStatus" class="sb-badge">{{ student.abnormalStatus }}</span>
            </td>

            <td class="w-px whitespace-nowrap text-center font-medium align-middle p-1">
              <button
                class="book-count-button late"
                [class.disabled]="student.lateAbsencesCount === 0"
                [class.active]="selectedStudentPersonId === student.personId && selectedType === ABSENCE_TYPE_LATE"
                (click)="viewAbsences(student.personId, ABSENCE_TYPE_LATE)"
              >
                {{ student.lateAbsencesCount }}
              </button>
            </td>
            <td class="w-px whitespace-nowrap text-center font-medium align-middle p-1">
              <button
                class="book-count-button unexcused"
                [class.disabled]="student.unexcusedAbsencesCount === 0"
                [class.active]="selectedStudentPersonId === student.personId && selectedType === ABSENCE_TYPE_UNEXCUSED"
                (click)="viewAbsences(student.personId, ABSENCE_TYPE_UNEXCUSED)"
              >
                {{ student.unexcusedAbsencesCount }}
              </button>
            </td>
            <td class="w-px whitespace-nowrap text-center font-medium align-middle p-1">
              {{ student.lateAbsencesCount * 0.5 + student.unexcusedAbsencesCount | number: '1.1-1' }}
            </td>
            <td class="w-px whitespace-nowrap text-center font-medium align-middle p-1">
              <button
                class="book-count-button excused"
                [class.disabled]="student.excusedAbsencesCount === 0"
                [class.active]="selectedStudentPersonId === student.personId && selectedType === ABSENCE_TYPE_EXCUSED"
                (click)="viewAbsences(student.personId, ABSENCE_TYPE_EXCUSED)"
              >
                {{ student.excusedAbsencesCount }}
              </button>
            </td>
          </tr>
          <tr *ngIf="selectedStudentPersonId === student.personId && loadingAbsences">
            <td
              colspan="5"
              class="relative book-item-cell h-16"
              [class.late]="selectedType === ABSENCE_TYPE_LATE"
              [class.unexcused]="selectedType === ABSENCE_TYPE_UNEXCUSED"
              [class.excused]="selectedType === ABSENCE_TYPE_EXCUSED"
            >
              <mat-spinner [diameter]="40" class="absolute top-1/2 left-1/2 -mt-5 -ml-5"></mat-spinner>
            </td>
          </tr>
          <ng-container *ngIf="selectedStudentPersonId === student.personId && !loadingAbsences">
            <tr *ngIf="selectedCarriedAbsences">
              <td
                colspan="5"
                class="relative p-2 book-item-cell"
                [class.late]="selectedType === ABSENCE_TYPE_LATE"
                [class.unexcused]="selectedType === ABSENCE_TYPE_UNEXCUSED"
                [class.excused]="selectedType === ABSENCE_TYPE_EXCUSED"
              >
                <div>
                  <span class="block sm:inline-sm whitespace-nowrap">
                    <fa-icon [icon]="farCalendarTimes"></fa-icon>
                    <span class="font-bold">Пренесени {{ selectedCarriedAbsences }}</span>
                  </span>
                </div>
              </td>
            </tr>

            <tr *ngFor="let absence of selectedAbsences">
              <td
                colspan="5"
                class="relative p-2 book-item-cell"
                [class.late]="selectedType === ABSENCE_TYPE_LATE"
                [class.unexcused]="selectedType === ABSENCE_TYPE_UNEXCUSED"
                [class.excused]="selectedType === ABSENCE_TYPE_EXCUSED"
              >
                <div class="sm:flex">
                  <div class="sm:grow">
                    <div class="text-sm">
                      <span class="block sm:inline whitespace-nowrap">
                        <fa-icon [icon]="farCalendarTimes"></fa-icon>
                        <span class="font-bold">{{ absence.typeName }}</span>
                      </span>
                      {{ ' ' }}
                      <span class="block sm:inline whitespace-nowrap">
                        по
                        <fa-icon [icon]="fasBookOpen"></fa-icon>
                        <span class="font-bold">
                          {{ absence.subjectName }} / {{ absence.subjectTypeName }}
                          {{ absence.replTeacherIsNonSpecialist ? '(ГО)' : '' }}
                        </span>
                      </span>
                      {{ ' ' }}
                      <span class="block sm:inline whitespace-nowrap">
                        на
                        <fa-icon [icon]="fasCalendarAlt"></fa-icon>
                        <span class="font-bold">{{ absence.date | sbDate }}</span>
                      </span>
                    </div>
                    <div *ngIf="absence.excusedReasonId" class="text-xs italic">
                      Причини:
                      <span class="font-bold">{{ absence.excusedReasonName }}</span>
                    </div>
                    <div *ngIf="absence.excusedReasonComment" class="text-xs italic">
                      Коментар:
                      <ng-container *ngIf="absence.excusedReasonComment.indexOf('\n') !== -1"><br /></ng-container>
                      <span class="font-bold whitespace-pre-line">{{ absence.excusedReasonComment }}</span>
                    </div>

                    <div class="text-xs italic">
                      <span class="inline sm:hidden">Създ. от</span>
                      <span class="hidden sm:inline">Създадено от</span>
                      <span class="font-bold">
                        {{ absence.createdBySysUserFirstName }} {{ absence.createdBySysUserLastName }}
                      </span>
                      на
                      <span class="font-bold">{{ absence.createDate | sbDateTime }}</span>
                    </div>

                    <div *ngIf="absence.createDate.getTime() !== absence.modifyDate.getTime()" class="text-xs italic">
                      <span class="inline sm:hidden">Пром. от</span>
                      <span class="hidden sm:inline">Последна промяна от</span>

                      <span class="font-bold">
                        {{ absence.modifiedBySysUserFirstName }} {{ absence.modifiedBySysUserLastName }}
                      </span>
                      на
                      <span class="font-bold">{{ absence.modifyDate | sbDateTime }}</span>
                    </div>
                    <span class="block sm:inline whitespace-nowrap">
                      <fa-icon [icon]="fasEye"></fa-icon>
                      Прочетено от родител:
                      <span class="font-bold">{{ absence.isReadFromParent ? 'да' : 'не' }}</span>
                    </span>
                  </div>

                  <div class="sm:shrink-0">
                    <button
                      *ngIf="absence.canConvert && (absence.undoExpired$ | async) === false"
                      class="mt-2 sm:mt-0 mr-2 convert-late-button"
                      mat-raised-button
                      type="button"
                      (click)="convertToLateAbsence(absence)"
                      [disabled]="absence.converting"
                    >
                      <fa-icon *ngIf="absence.converting" [icon]="fasSpinnerThird" [spin]="true" size="lg"></fa-icon>
                      <span *ngIf="!absence.converting">&nbsp;½&nbsp;</span>
                      <span>Закъснение</span>
                    </button>

                    <button
                      *ngIf="absence.canExcuse"
                      class="mt-2 sm:mt-0 mr-2"
                      mat-raised-button
                      color="accent"
                      type="button"
                      (click)="openExcuseAbsenceDialog(absence)"
                      [disabled]="absence.excusing"
                    >
                      <fa-icon
                        [icon]="absence.excusing ? fasSpinnerThird : farCircle"
                        [spin]="absence.excusing"
                        size="lg"
                      ></fa-icon>
                      <span>Уважи</span>
                    </button>

                    <button
                      class="mt-2 sm:mt-0"
                      *ngIf="absence.canRemove || (absence.canUndo && (absence.undoExpired$ | async) === false)"
                      mat-raised-button
                      color="warn"
                      type="button"
                      (click)="removeAbsence(absence)"
                      [disabled]="absence.removing"
                    >
                      <fa-icon
                        [icon]="absence.removing ? fasSpinnerThird : fasTrashAlt"
                        [spin]="absence.removing"
                        size="lg"
                      ></fa-icon>
                      <span>Премахни</span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td>Общо</td>
          <td class="text-center text-sm">{{ studentAbsences.totals.lateAbsencesCountTotal }}</td>
          <td class="text-center text-sm">{{ studentAbsences.totals.unexcusedAbsencesCountTotal }}</td>
          <td class="text-center text-sm">
            {{
              studentAbsences.totals.lateAbsencesCountTotal * 0.5 + studentAbsences.totals.unexcusedAbsencesCountTotal
                | number: '1.0-1'
            }}
          </td>
          <td class="text-center text-sm">{{ studentAbsences.totals.excusedAbsencesCountTotal }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</ng-container>
