.l-datepicker-container {
    margin: 0 10px;
    min-width: 140px;
    width: auto;
    max-width: 70%;
    margin-right: 25px;
    .l-custom-input-datepick {
        color: rgba(0, 0, 0, 0.6);
        width: fit-content;
        padding: 1px 5px;
        position: absolute;
        margin-top: -34px;
        background-color: white;
        margin-left: -3px;
        font-size: 11px;
        white-space: normal;
        width: 100%;
        max-width: 135px;
    }
}

.l-container-component {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 10px;
    
}

.l-container-component {
    margin-left: 15px;
    margin-right: 15px;
}