//
// Override bootstrap variables
//
$accordion-border-color: #5766751a;
$accordion-border-width: 0;
$accordion-border-radius: 0.5rem;
$accordion-inner-border-radius: subtract(
  $accordion-border-radius,
  $accordion-border-width
);
$accordion-button-color: $gray-900;
$accordion-button-active-color: $gray-900;
$accordion-button-active-bg: $white;
$accordion-button-focus-box-shadow: 0 0.125rem 1rem $accordion-border-color;
$accordion-icon-color: #19212c;
$accordion-icon-active-color: $accordion-icon-color;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

//
// Custom variables
//
$accordion-box-shadow: 0 0.125rem 1rem $accordion-border-color;
$accordion-subtext-color: $gray-600;
