//
// Override bootstrap variables
//
$badge-font-size: 0.625em;
$badge-font-weight: 400;
$badge-padding-y: 0.125rem;
$badge-padding-x: 0.5rem;

//
// Custom variables
//
$badge-padding-y-lg: 0.5rem;
$badge-padding-x-lg: 1rem;
