//
// Override bootstrap variables
//
$btn-line-height:              1.125rem;
$btn-padding-x:                1rem;
$btn-padding-y:                0.75rem;
$link-hover-decoration:        underline;
$btn-link-disabled-color:      $gray-500;
$btn-focus-box-shadow:         none;
$btn-active-box-shadow:        none;
$btn-box-shadow:               none;
$input-btn-focus-box-shadow:   none;

//
// Custom variables
//