//
// Override bootstrap variables
//
$modal-header-border-color:        transparent;
$modal-header-border-width:        0;
$modal-content-border-radius:      0.25rem;
$modal-header-padding:             1.5rem;
$modal-inner-padding:              1.5rem;

//btn close variables
$btn-close-color:                 #19212C;
$btn-close-opacity:               1;
$btn-close-width:                 0.625rem;
$btn-close-height:                0.625rem;
//
// Custom variables
//