//
// Override bootstrap variables
//
$nav-tabs-link-active-border-color:        $blue-100 $blue-100 $blue $blue-100;
$nav-tabs-link-active-color:               $blue;
$nav-tabs-link-hover-border-color:         transparent;
$nav-link-hover-color:                     $gray-900;
$nav-link-padding-y:                       0.719rem;
$nav-link-color:                           $gray-900;

//
// Custom variables
//
$nav-link-hover-bg-color:                  $gray-100;
