//
// Override bootstrap variables
//
$box-shadow-sm: 0 0.125rem 1rem #6A73811F;
$box-shadow: 0 0.188rem 1rem #5766750F;
$box-shadow-lg: 0 0.75rem 2.5rem #6A738138;

//
// Custom variables
//
$box-shadow-top: 0 -0.125rem 1rem #6A73811F;
$box-shadow-left: -0.063rem 0.125rem 1rem #6A738138;
$box-shadow-right: 0.063rem 0 1rem #6A738138;