//
// Override bootstrap variables
//
$tooltip-max-width:            13rem;
$tooltip-padding-x:            0.75rem;
$tooltip-padding-y:            0.75rem;
$tooltip-bg:                   #2D3847;
$tooltip-opacity:              1;

//
// Custom variables
//