@import "@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables.scss";

.breadcrumb-toolbar {
  background: $white;
  position: fixed;
  width: 100%;
  height: 4.5rem;
  z-index: 900;
  padding-left: 3.375rem;
  .breadcrumb {
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    span {
      color: $gray-700;
      cursor: pointer;
      &:hover {
        color: $gray-900;
        text-decoration: none;
      }
      &:focus {
        outline: 0;
      }
    }
    li {
      padding-right: 0.5rem;
      list-style: none;
      &::after {
        content: "\\";
        color: $gray-700;
        margin: 0 5px;
      }
      &:last-child::after {
        content: "";
      }
    }
  }
}
