@import "@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables.scss";
@import "~@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/mixins";

.dashboard-btn {
  padding: 0;
  border-radius: 50%;
  background: transparent;
  border: none;
  i {
    font-size: 1.5rem;
  }
  &:focus {
    box-shadow: none;
  }
}

.dashboard-menu {
  position: absolute;
  top: 3rem;
  right: 12.125rem;
  background-color: white;
  width: fit-content;
  max-height: calc(100vh - 10rem);
  overflow: auto;
  max-width: calc(100vw - 14.375rem);
  font-size: 0.875rem;

  a {
    background-size: 0;
  }
  .dashboard-menu-title {
    color: $gray-600;
    margin-bottom: 0.5rem;
    display: inline-block;
  }
  .btn.icon-right {
    text-decoration: none;
    &.btn-link:hover::after {
      border-bottom: none;
    }
  }
  .load-all {
    text-align: right;
    .btn-load-all {
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
  .float-right {
    float: right;
    padding-bottom: 1rem;
  }
  .content-wraper {
    background-color: $blue-100;
  }
  hr {
    margin: 0;
  }
  a {
    color: $gray-900;
    text-decoration: none;
    font-weight: 700;
    &:hover {
      color: $blue-500;
    }
  }
}

.menu {
  cursor: pointer;
  width: 27px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  .dot {
    background-color: $white;
    padding: 3px;
    margin: 1px;
  }
}

.collapsing {
  transition: height 0s ease;
}

.btn.icon-right.btn-link:focus::after {
  border-bottom: none;
}

@include media-breakpoint-down(md) {
  .dashboard-menu {
    right: 5.5rem;
    max-width: calc(100vw - 8.125rem);
  }
}

@include media-breakpoint-down(sm) {
  .dashboard-menu {
    max-width: 100vw;
    right: 0;
    margin: 0 0.5rem;
  }
}
