<sb-breadcrumb class="block mb-3" [icon]="fadCalendarDay" text="Неучебни дни"></sb-breadcrumb>

<sb-card>
  <ng-container card-title>Неучебни дни</ng-container>
  <ng-container *ngIf="canCreate" card-buttons>
    <a [routerLink]="['./', 'new']" mat-raised-button color="primary" aria-label="Нов неучебен ден">
      <fa-icon [icon]="fasPlus" size="lg"></fa-icon>
      <span class="hidden sm:inline">Нов неучебен ден</span>
    </a>
  </ng-container>
  <ng-container card-body>
    <sb-table [dataSource]="dataSource" [displayedColumns]="['action', 'description', 'period', 'classes']">
      <ng-container cdkColumnDef="action">
        <th cdk-header-cell *cdkHeaderCellDef></th>
        <td cdk-cell *cdkCellDef="let row" class="sb-table-action">
          <a [routerLink]="['./', row.offDayId]" aria-label="Редактирай" class="sb-link-btn">
            <fa-icon [icon]="fadChevronCircleRight"></fa-icon>
          </a>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="description">
        <th cdk-header-cell *cdkHeaderCellDef>Описание</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.description }}</td>
      </ng-container>

      <ng-container cdkColumnDef="period">
        <th cdk-header-cell *cdkHeaderCellDef>Период</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.from | sbDate }} - {{ row.to | sbDate }}</td>
      </ng-container>

      <ng-container cdkColumnDef="classes">
        <th cdk-header-cell *cdkHeaderCellDef>Класове/Паралелки/Групи</th>
        <td cdk-cell *cdkCellDef="let row">
          {{ row.IsForAllClasses ? 'всички' : row.basicClassNames.join(', ') || row.classBookNames.join(', ') }}
        </td>
      </ng-container>
    </sb-table>
  </ng-container>
</sb-card>
