.subsection-container {
    &:first-of-type {
        // border-top: 0 !important;
    }
    // border-top: 1px solid #00000014;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 10px;
    // border: 1px solid #00000040 !important;
    .section-label {
        display: block;
        width: 100%;
        font-size: 14px;
        margin-bottom: 8px;
        background-color: #7476f7;
        color: white;
    }
}

.subsection-container .duplicate-subsection-container {
    background-color: #dadada2b;
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 8px;
    margin-left: 0;
    .sub-subsection-label {
        display: block;
        width: 100%;
        padding: 3px 10px;
        font-size: 13px;
        margin-bottom: 8px;
        background-color: #7476f7;
        color: white;
        border-radius: 4px 4px 0 0;
    }
}

.subsection-container.duplicate-subsection-container.no-label-section {
    overflow: inherit;
    padding-top: 15px;
    .add-btn-section {
        top: -10px;
        z-index: 1;
    }
    .delete-btn-section {
        top: -10px;
        z-index: 1;
    }
}

.duplicate-subsection-container {
    &:first-of-type {
        // border-top: 1px solid #00000026 !important;
    }
    // border: 1px solid #00000026 !important;
    border-radius: 5px;
    position: relative;
    .add-btn-section {
        &:hover {
            // background-color: #191970 !important;
        }
        &.both {
            right: 38px;
        }
        position: absolute;
        right: 6px;
        top: 5px;
        border-radius: 50%;
        // border: 1px solid #ffffff42;
        // box-shadow: 1px 1px 3px #00000085;
        // color: white;
        // background-color: #2f73da !important;
        background-color: #16B963;
        color: white;
        text-shadow: 1px 1px 3px #000000e3;
        // border: 1px solid #00000054;
        text-align: center;
        cursor: pointer;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px !important;
        height: 20px;
        min-width: 20px;
        padding: 0;
        transition: 0.4s all;
        mat-icon {
            width: auto;
            height: auto;
            font-size: 12px;
            line-height: 20px;
        }
    }
    .delete-btn-section {
        position: absolute;
        right: 6px;
        top: 5px;
        border-radius: 50%;
        // border: 1px solid #00000054;
        // box-shadow: 1px 1px 3px #00000085;
        // color: white;
        // background-color: #c71d1d;
        text-align: center;
        cursor: pointer;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px !important;
        height: 20px;
        min-width: 20px;
        padding: 0;
        mat-icon {
            width: auto;
            height: auto;
            font-size: 12px;
            line-height: 20px;
        }
    }
}

// .wrapper-body.one {
//     border: 1px solid #00000042;
//     border-radius: 4px;
//     margin-left: 10px;
//     margin-bottom: 9px;
// }
.sub-subsection-label {
    display: block;
    width: 100%;
    padding: 3px 10px;
    font-size: 13px;
    margin-bottom: 8px;
    background-color: #7476f7;
        color: white;
}

// app-subsection {
//     border: 1px solid #00000059 !important;
//     display: inline-block;
// }
.wrapper-body {
    .subsection-container.duplicate-subsection-container {
        border: 1px solid #00000040 !important;
    }
}

.wrapper-body.one {
    padding: 10px;
    .subsection-container.duplicate-subsection-container {
        .add-btn-section {
            top: 5px;
            z-index: 1;
        }
        .delete-btn-section {
            top: 5px;
            z-index: 1;
        }
    }
    .subsection-container {
        border: 1px solid #00000040 !important;
        border-radius: 4px;
    }
}

.wrapper-body.one {
    padding: 10px;
    .subsection-container.duplicate-subsection-container.no-label-section {
        .add-btn-section {
            top: -10px;
            z-index: 1;
        }
        .delete-btn-section {
            top: -10px;
            z-index: 1;
        }
    }
}

.subsection-container.label-section-not-duplicate {
    border: 1px solid #00000014;
    border-radius: 4px;
}