<div class="sm:w-[700px]">
  <div class="sb-btn-wrapper sb-btn-wrapper-right">
    <button mat-raised-button mat-dialog-close>Затвори</button>
  </div>

  <h3 class="font-bold leading-9 text-slate-900">Настройки на списъка с ученици</h3>

  <p class="mb-4 text-justify">
    Поради спецификата на данните в модули "Институции" и "Деца и ученици" е възможно някои от учениците да са в
    изброените по-надолу статуси.
  </p>

  <p class="mb-4 text-justify">
    С цел прегледност на списъка на учениците, е предоставена възможност да се скриват/показват ученици с изброените
    статуси. Настройките са индивидуални за потребителя и се запазват между отделните влизания в системата, ако сте
    разрешили използването на бисквитки.
  </p>

  <ul class="list-disc list-outside ml-4 mb-4">
    <li class="pl-4 mb-2 -indent-4">
      <span class="sb-badge text-sm">ИЗТРИТ</span>
      - Ученикът е изтрит от паралелката от модул "Деца и ученици", но в дневника има въведени данни за него
      (оценки/отсъствия/забележки и др.), които остават видими. За ученика не могат да се въвеждат нови данни в
      дневника. Въведените до момента данни остават видими в дневника.
    </li>
    <li class="pl-4 mb-2 -indent-4">
      <span class="sb-badge text-sm">ОТПИСАН</span>
      - Ученикът е отписан от паралелката от модул "Деца и ученици".
    </li>
    <li class="pl-4 mb-2 -indent-4">
      <span class="sb-badge text-sm">НЕ ИЗУЧАВА ПРЕДМЕТА</span>
      - Предметът не е добавен като изучаван в учебния план на ученика в модул "Институции".
    </li>
    <li class="pl-4 mb-2 -indent-4">
      <span class="sb-badge text-sm">ОСВОБОДЕН</span>
      - Ученикът е посочен като освободен по предмета в "Администрация > Дневници > Ученици".
    </li>
  </ul>

  <p class="mb-4 text-justify">
    Ако ученик има повече от един статус от изброените, се показва този с по-висок приоритет (по-нагоре в списъка).
  </p>

  <p class="mb-4 text-justify">
    <span class="font-bold">Важно!</span>
    Ученици, за които има въведени данни (оценки/отсъствия/теми и др.), винаги се показват в списъка и не могат да бъдат
    скрити.
  </p>
</div>
