@model int
@using RegStamps.Models.Constants

@if (Model == RequestType.NewStampRequest)
{
    <p class="text-justify">
        При заявка за регистриране на обикновен печат е задължително да прикачите документ: „Заповед за използване на печатите в училището“.
        При заявка за регистриране на гербов печат е задължително да прикачите документ: „Заповед за използване на печатите в училището“ и „Експедиционна бележка от Монетен двор“
        или „Приемателно-предавателен протокол за получаване от РУО
    </p>
}

@if (Model == RequestType.ChangeStampRequest)
{
    <p class="text-justify">
        В този раздел е задължително да прикачите документи: „Заповед за промяна на пазител“, „Доклад за извършените промени“ и
        „Експедиционна бележка от Монетен двор“ или „Приемателно-предавателен протокол за получаване от РУО“.
    </p>
}

@if (Model == RequestType.DestroyStampRequest)
{
    <p class="text-justify">
        В този раздел е задължително да прикачите документ: „Протокол за унищожаване на печата“.
    </p>
}

@if (Model == RequestType.LostStampRequest)
{
    <p class="text-justify">
        В този раздел е задължително да прикачите документ: „Протокол от полицията при загубен печат/откраднат“ или „Протокол от пожарната при пожар“.
    </p>
}

<p class="text-justify">
    В случай, че е необходимо можете да прикачите и други допълнителни документи. Позволените формати са: pdf, png, jpeg и jpg.
</p>