<p class="text-justify">
    В този раздел можете да изпратите заявката за регистриране на печата към МОН. <br />
    В случай, че има някакви неточности или липсват попълнени полета няма да можете да изпратите заявката, докато не отстраните некоректните данни, оцветени в червено. <br />
    В случай, че всички попълнени данни са коректни ще можете да подпишете заявката с ел. подпис и да я изпратите за разглеждане в МОН.
</p>


