<p class="text-justify">
    В текущият раздел трябва да попълните данните за тип на печата, дата на издаването му и лицето, на което е първоначално предаден след издаването му.<br />
    В случай, че печатът е с изображение на държавен герб трябва да попълните и номер и дата на писмото, с което е предаден от Монетния двор (съгласно чл.14 от Указ 612)
</p>