@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';
@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/mixins';

.pie-chart-wrapper {
  canvas {
    max-height: calc(100vh - 267px - var(--table-height-offset));
    width: 100%;
    transition: max-height 0.3s ease;
  }
  &.recalculate {
    canvas {
      max-height: calc(100vh - 328px - var(--table-height-offset));
    }
  }
}

.pie-chart-msg-wrapper {
  height: calc(100vh - 267px - var(--table-height-offset));
  padding: 2rem 8.3333%;
  background-color: $gray-100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $gray-700;
  transition: height 0.3s ease;
  .icon {
    margin-bottom: 2rem;
    i {
      font-size: 4rem;
    }
  }
  &.recalculate {
    height: calc(100vh - 326px - var(--table-height-offset));
  }
}

.settings {
  padding: 1rem;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $gray-200;
  background-color: $white;
  position: fixed;
  bottom: 72px;
  width: calc(100% - 355px);
  overflow-x: auto;
  overflow-y: hidden;
  transition: all 0.5s ease;
  &.toggled {
    width: 100%;
  }
  .save-btn {
    position: fixed;
    right: 1rem;
  }
}

:host ::ng-deep {
  .p-progress-spinner-circle {
    stroke: $gray-900;
    animation: p-progress-spinner-dash 1.5s ease-in-out infinite;
  }

  @include media-breakpoint-down(lg) {
    .sidebar-toggle {
      &.mobile {
        display: none;
      }
    }
    .settings {
      width: 100%;
    }
    .pie-chart-msg-wrapper + .settings {
      background: $gray-100;
    }
  }

  .pie-spinner {
    height: calc(100vh - 267px - var(--table-height-offset));
    background-color: rgba(31, 35, 41, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
    transition: height 0.3s ease;
    .p-progress-spinner {
      margin-left: 355px;
    }
    &.toggled {
      transition: all 0.5s ease, height 0.3s ease;
      .p-progress-spinner {
        margin-left: 0;
      }
    }
    &.message {
      background-color: $gray-500;
    }
  }

  @media (max-width: 300px) {
    .pie-spinner {
      .p-progress-spinner {
        margin-left: 275px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .pie-chart-wrapper {
    canvas {
      max-height: calc(100vh - 308px - var(--table-height-offset));
    }
    &.recalculate {
      canvas {
        max-height: calc(100vh - 369px - var(--table-height-offset));
      }
    }
  }

  .settings {
    bottom: 113px;
  }
}
