<!-- <div class="login-page container-fluid">
    <div class="login-page-wrapper row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-xl-5 offset-xl-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-title">
                        <div class="mon-logo">
                            <img src="/assets/images/mon-logo.png" alt="" />
                        </div>
                        <h2 class="mb-0">НЕИСПУО</h2>
                    </div>
                    <h2 class="card-text">Влез в своя профил</h2>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary icon-right">Вход с edu.mon.bg</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
