.l-container-component {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 10px;
    margin-right: 25px;
    &.preview-mode {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .l-select {
        margin: 0 10px;
        min-width: 220px;
    }
}