<div class="l-container-component" [style.width.px]="field.width" *ngIf="mode===modes.Edit">
    <span class="l-custom-span-label" *ngIf="showLabel">
        <span class="required-span" *ngIf="required">*</span>
    <span class="label-label">{{field.label}}</span>
    <app-info-tooltip *ngIf="field.info" [info]="field.info"></app-info-tooltip>
    </span>
    <mat-form-field [formGroup]="group" appearance="outline" floatLabel="never" matTooltipClass="l-custom-tooltip" [matTooltip]="field.disabled?field.value:''">
        <input matInput [formControlName]="field.name" [type]="field.inputType" (input)="onInputChanged($event)">
        <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
            <mat-error *ngIf="group.get(field.name).hasError(validation.name) || (validation.name && group.get(field.name).hasError(validation.name.toLowerCase()))" class="l-custom-error">{{validation.message}}</mat-error>
        </ng-container>
    </mat-form-field>
</div>
<div class="l-container-component preview-mode" *ngIf="mode===modes.View">
    <span class="l-custom-span-label" *ngIf="showLabel">{{field.label}}<app-info-tooltip *ngIf="field.info" [info]="field.info"></app-info-tooltip></span>
    <label class="value-label">{{field.value}}</label>
</div>