Institution.sql linguist-generated
InstitutionConfData.sql linguist-generated
InstitutionDepartment.sql linguist-generated
InstitutionSchoolYear.sql linguist-generated
Position.sql linguist-generated
Relative.sql linguist-generated
RelativeType.sql linguist-generated
SysRole.sql linguist-generated
tempPerson.sql linguist-generated
tempPersonNames.sql linguist-generated
