.info-tooltip-container {
  margin-top: -10px;
  margin-left: 3px;
  display: inline-block;
  mat-icon {
    font-size: 16px;
    width: auto;
    height: auto !important;
    color: #080044b3;
    border-radius: 50%;
    position: absolute;
    top: -4px;
  }
}
.container-tooltip-after {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: default;
  position: relative;
}
