.form-check-input {
  &[type="checkbox"] {
    border-color: $gray-700;
    &:checked {
      background-color: $blue-100;
      border-color: $blue;
      &:disabled {
        background-image: escape-svg(
          $form-check-input-checked-bg-image-disabled
        );
      }
    }
    &:disabled {
      background-color: $gray-100;
      border-color: $gray-400;
    }
  }
}

.form-check-input.is-invalid {
  border: $border-width * 2 solid $red-300;
}

.form-check-label {
  font-size: $form-check-label-font-size;
}
