.form-field {
  position: relative;
}

//form text styles
.form-text::before {
  content: '\F505';
  font-family: 'bootstrap-icons';
  font-size: 0.75rem;
  margin-right: 0.25rem;
}

//form control styles

.form-control,
.form-select {
  border-radius: 0.25rem !important;
  background-color: transparent;
  &:hover:not([type='search']) {
    border: $border-width * 2 solid $gray-600;
    margin: -1px;
    &:focus {
      border: $blue solid $border-width * 2;
      box-shadow: none;
      margin: -1px;
    }
  }
  &:focus {
    border-width: $border-width * 2;
    box-shadow: none;
    margin: -1px;
  }
  &:disabled {
    border: $border-width solid $input-disabled-border-color;
    margin: -1px;
    &:hover {
      border: $border-width solid #cbd3df8c;
    }
  }
  &.is-invalid {
    z-index: 0 !important;
    background-image: none;
    &:hover {
      border-color: $red;
    }
  }
}

.form-control[type='search'] {
  color: $gray-900;
  padding: 0.75rem;
  padding-left: 2.75rem;
  &:hover {
    border-color: transparent;
  }
  &:focus {
    border-color: transparent;
    &::placeholder {
      color: $gray-900;
    }
  }
  &:disabled {
    border-color: #cbd3df8c;
    background-color: #f7f9fc8c;
    &::placeholder {
      color: $gray-500;
    }
  }
}

.form-group-search {
  position: relative;
  &::before {
    content: '\F52A';
    font-family: 'bootstrap-icons';
    position: absolute;
    color: #657285;
    left: 1rem;
    top: 0.875rem;
    color: #657285;
    z-index: 1;
  }
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50rem;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='blue' class='bi bi-x-circle' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type='search']:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

//lable styles
.form-label {
  position: absolute;
  top: -0.5rem;
  font-size: 0.875rem;
  left: 0.75rem;
  z-index: 1;
  background: $white;
  line-height: 1rem;
  padding: 0 0.25rem;
  margin-top: 0;
}

//input group styles
.input-group {
  > .form-control,
  > .form-select {
    width: 100%;
  }
  > .form-control:focus {
    z-index: 0;
  }
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='blue' class='bi bi-calendar2-plus' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z'/%3E%3Cpath d='M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM8 8a.5.5 0 0 1 .5.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5A.5.5 0 0 1 8 8z'/%3E%3C/svg%3E");
  width: 1rem;
  height: 1rem;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='blue' class='bi bi-clock' viewBox='0 0 16 16'%3E%3Cpath d='M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z'/%3E%3Cpath d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z'/%3E%3C/svg%3E");
  width: 1rem;
  height: 1rem;
}

input.form-control.is-invalid {
  &[type='date']::-webkit-calendar-picker-indicator {
    background-image: escape-svg($form-calendar-image-invalid);
  }
  &[type='time']::-webkit-calendar-picker-indicator {
    background-image: escape-svg($form-time-image-invalid);
    background-size: 1.125rem;
  }
}
