.list-view-btn {
  margin-top: 15px;
  margin-bottom: 15px;
  .list-view {
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background: transparent;
    .list-view-info-container {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid #00000038 !important;
      box-shadow: 0px 1px 6px 0px #00000052 !important;
      border-radius: 15px;
      padding: 0px 15px 5px 15px;
    }
  }
}
