.full-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px 5px 20px;
    .text-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .bold-big{
            font-weight: bold;
            font-size: 18px;
            margin-top: 10px;
            color: #313131;
        }
        .bold-small{
            font-weight: bold;
            font-size: 15px;
            color: #313131;
        }
        .normal-span{
            font-size: 14px;
            line-height: normal;
            text-align: center;
        }
    }
    .btn-add-institution {
        &:hover {
            background-color: #398e29;
        }
        background-color: #008a00;
        color: white;
        text-shadow: 1px 1px 3px #000000d1;
        letter-spacing: 0.5px;
        margin-top: 20px;
        margin-bottom: 30px;
        transition: 0.4s all;
    }
    .max-width-none {
        max-width: none !important;
    }
}