USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[personCreateUpdateDRAFT]    Script Date: 19.3.2021 г. 7:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [inst_basic].[personCreateUpdateDRAFT] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS
BEGIN

/************** Setup initial params ******************/
PRINT 'INFO: PROCEDURE personCreateUpdateDRAFT started! Start initializing parameters...';
-- ---------- define context param: institutionID --------------
DECLARE @instID int;
SELECT @instID = institutionID FROM OPENJSON(@_json)
WITH (   
		institutionID int			'$.instid'
)

-- ---------- define Master object 1: [core].[Person] ID param --------------
DECLARE @personid int;
SELECT @personid = personID FROM OPENJSON(@_json)
WITH (   
		personID int			'$.personid'
)

-- ---------- define Master object 2: [core].[EducationalState] ID param --------------
DECLARE @educationalStateID int;
/* SELECT @educationalStateID = educationalState FROM OPENJSON(@_json)
WITH (   
		educationalState int			'$.educationalStateID'
) */

-- ---------- define Master object 3: [inst_basic].[PersonDetail] ID param --------------
DECLARE @personDetailID int;
/* SELECT @personDetailID = personDetail FROM OPENJSON(@_json)
WITH (   
		personDetail int			'$.personDetailID'
) */

PRINT 'INFO: PROCEDURE personCreateUpdateDRAFT started! Initial data gathered. InstitutionID=' + CAST(@instID AS VARCHAR(12));

/* ############################## Start OperationType = 1 -> CREATE/UPDATE Person data ############################## */
IF ((@OperationType = 1) AND (@instID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 1 -> Will CREATE/UPDATE Person data with InstitutionID=' + CAST(@instID AS VARCHAR(12));
	IF (@personid IS NULL) -- Should INSERT [Person, PersonDetail, EducationalState] object into the DB...
	BEGIN
		PRINT 'INFO: OperationType = 1 -> Will INSERT [core].[Person] with personid=' + CAST(@personid AS VARCHAR(12));
		INSERT INTO [core].[Person]
			   ([FirstName]
			   ,[MiddleName]
			   ,[LastName]
			   ,[PermanentAddress]
			   ,[PermanentTownID]
			   ,[CurrentAddress]
			   ,[CurrentTownID]
			   ,[PublicEduNumber]
			   ,[PersonalIDType]
			   ,[PersonalID]
			   -- ,[NationalityID]
			   ,[BirthDate]
			   -- ,[BirthPlaceTownID]
			   -- ,[BirthPlaceCountry]
			   ,[Gender])
		SELECT *
		FROM OPENJSON(@_json)
		WITH (   
				firstName nvarchar(255)				'$.firstName'
				,middleName nvarchar(255)			'$.middleName'
				,lastName nvarchar(255)				'$.lastName'
				,permanentAddress nvarchar(2048)	'$.permanentAddress'
				,permanentTown int					'$.permanentTown'
				,currentAddress nvarchar(2048)		'$.currentAddress'
				,currentTown int					'$.currentTown'
				,publicEduNumber bigint				'$.publicEduNumber'
				,personalIDType int					'$.personalIDType'
				,personalID nvarchar(255)			'$.personalID'
				,birthDate date						'$.birthDate'
				,gender int							'$.gender'
			);
		SELECT @personid = SCOPE_IDENTITY();
		PRINT 'INFO: [core].[Person] INSERTED successfully with id=' + CAST(@personid AS VARCHAR(12));

		PRINT 'INFO: OperationType = 1 -> Will INSERT [core].[EducationalState] with personid=' + CAST(@personid AS VARCHAR(12));
		INSERT INTO [core].[EducationalState]
				   ([PersonID]
				   ,[InstitutionID]
				   ,[PositionID])
		VALUES (@personid, @instID, 2);

		SELECT @educationalStateID = SCOPE_IDENTITY();
		PRINT 'INFO: [core].[EducationalState] INSERTED successfully with id=' + CAST(@educationalStateID AS VARCHAR(12));

		PRINT 'INFO: OperationType = 1 -> Will INSERT [inst_basic].[PersonDetail] with personid=' + CAST(@personid AS VARCHAR(12));
		INSERT INTO [inst_basic].[PersonDetail]
				   ([PersonID]
				   ,[Title]
				   ,[PhoneNumber]
				   -- ,[IsExtendStudent]
				   -- ,[IsPensioneer]
				   )
		SELECT @personid, *
		FROM OPENJSON(@_json)
		WITH (   
			 title nvarchar(100)		'$.title'
			,phoneNumber nvarchar(100)	'$.phoneNumber'
			-- ,isPensioneer bit			'$.isPensioneer'
			-- ,isExtendStudent bit		'$.isExtendStudent'
			);
		SELECT @personDetailID = SCOPE_IDENTITY();
		PRINT 'INFO: [PersonDetail] INSERTED successfully with id=' + CAST(@personDetailID AS VARCHAR(12));

	END
	ELSE -- Should UPDATE [Person, PersonDetail] objects into the DB... 
	BEGIN
		PRINT 'INFO: OperationType = 1 -> Will UPDATE master objects: [Person, PersonDetail] with personid='+ CAST(@personid AS VARCHAR(12));
		UPDATE top (1) [core].[Person]
		SET 
			 [FirstName] = JP.firstName
			,[MiddleName] = JP.middleName
			,[LastName] = JP.lastName
			,[PermanentAddress] = JP.permanentAddress
			,[PermanentTownID] = JP.permanentTown
			,[CurrentAddress] = JP.currentAddress
			,[CurrentTownID] = JP.currentTown
			,[PublicEduNumber] = JP.publicEduNumber
			,[PersonalIDType] = JP.personalIDType
			,[PersonalID] = JP.personalID
			-- ,[NationalityID] = JP.firstName
			,[BirthDate] = JP.birthDate
			-- ,[BirthPlaceTownID] = JP.firstName
			-- ,[BirthPlaceCountry] = JP.firstName
			,[Gender] = JP.gender
		FROM OPENJSON(@_json)
		WITH (   
			firstName nvarchar(255)			
			,middleName nvarchar(255)		
			,lastName nvarchar(255)			
			,permanentAddress nvarchar(2048)
			,permanentTown int				
			,currentAddress nvarchar(2048)	
			,currentTown int				
			,publicEduNumber bigint			
			,personalIDType int				
			,personalID nvarchar(255)		
			,birthDate date					
			,gender int	) JP				 
		WHERE
			[core].[Person].PersonID = @personid;
		PRINT 'INFO: [core].[Person] UPDATED successfully with id=' + CAST(@personid AS VARCHAR(12));

		UPDATE top (1) [inst_basic].[PersonDetail]
		SET 
			 [Title] = JPD.title
			,[PhoneNumber] = JPD.phoneNumber
			-- ,[IsExtendStudent] = JPD.isPensioneer
			-- ,[IsPensioneer] = JPD.isExtendStudent
		FROM OPENJSON(@_json)
		WITH (   
			 title nvarchar(100)		
			,phoneNumber nvarchar(100)	
			-- ,isPensioneer bit			
			-- ,isExtendStudent bit
			) JPD
		WHERE
			[inst_basic].[PersonDetail].PersonID = @personid;
		PRINT 'INFO: [core].[PersonDetail] UPDATED successfully with id=' + CAST(@personid AS VARCHAR(12));
	END
	   
	SELECT @personid AS personid, @instID AS instID, @educationalStateID AS educationalStateID; -- return back to the caller i.e. front-end

END  /* End OperationType = 1 -> CREATE/UPDATE Person data *************** */

/* ############################## Start OperationType = 2 -> UPDATE Person data ############################## */
IF ((@OperationType = 2) AND (@instID IS NOT NULL) AND (@personid IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 2 -> Will UPDATE Person data with personid=' + CAST(@personid AS VARCHAR(12));
	UPDATE top (1) [core].[Person]
	SET 
		 [FirstName] = JP.firstName
		,[MiddleName] = JP.middleName
		,[LastName] = JP.lastName
		,[PermanentAddress] = JP.permanentAddress
		,[PermanentTownID] = JP.permanentTown
		,[CurrentAddress] = JP.currentAddress
		,[CurrentTownID] = JP.currentTown
		,[PublicEduNumber] = JP.publicEduNumber
		,[PersonalIDType] = JP.personalIDType
		,[PersonalID] = JP.personalID
		-- ,[NationalityID] = JP.firstName
		,[BirthDate] = JP.birthDate
		-- ,[BirthPlaceTownID] = JP.firstName
		-- ,[BirthPlaceCountry] = JP.firstName
		,[Gender] = JP.gender
	FROM OPENJSON(@_json)
	WITH (   
		firstName nvarchar(255)			
		,middleName nvarchar(255)		
		,lastName nvarchar(255)			
		,permanentAddress nvarchar(2048)
		,permanentTown int				
		,currentAddress nvarchar(2048)	
		,currentTown int				
		,publicEduNumber bigint			
		,personalIDType int				
		,personalID nvarchar(255)		
		,birthDate date					
		,gender int	) JP				 
	WHERE
		[core].[Person].PersonID = @personid;
	PRINT 'INFO: [core].[Person] UPDATED successfully with id=' + CAST(@personid AS VARCHAR(12));

	UPDATE top (1) [inst_basic].[PersonDetail]
	SET 
		 [Title] = JPD.title
		,[PhoneNumber] = JPD.phoneNumber
		,[IsExtendStudent] = JPD.isPensioneer
		,[IsPensioneer] = JPD.isExtendStudent
	FROM OPENJSON(@_json)
	WITH (   
		 title nvarchar(100)		
		,phoneNumber nvarchar(100)	
		,isPensioneer bit			
		,isExtendStudent bit) JPD
	WHERE
		[inst_basic].[PersonDetail].PersonID = @personid;
	PRINT 'INFO: [core].[PersonDetail] UPDATED successfully with id=' + CAST(@personid AS VARCHAR(12));
	   
	SELECT @personid AS personid, @instID AS instID; -- return back to the caller i.e. front-end

END  /* End OperationType = 2 -> UPDATE Person data *************** */

END /* ************ END OF PROCEDURE ************ */
