USE [neispuo]
GO
/****** Object:  StoredProcedure [reginst_basic].[documentSave]    Script Date: 11.2.2021 г. 17:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [reginst_basic].[documentSave] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@DocumentType int
AS
BEGIN

DECLARE @riProcID int;
SELECT @riProcID = riProcedureID FROM OPENJSON(@_json)
WITH (   
			riProcedureID int			'$.procID'
)
IF (@riProcID < 1)
	RETURN(-1)

DECLARE @docDocumentID int;
SELECT @docDocumentID = docBlobID FROM OPENJSON(@_json)
WITH (   
			docBlobID int			'$.blobID'
)
IF (@docDocumentID < 1)
	RETURN(-2)

IF (@DocumentType = 1)  -- 1 - save GenerateCertificateFile ID
	UPDATE top (1) [reginst_basic].[RICertificate]
	SET
		[GenerateCertificateFile] = @docDocumentID
	WHERE
		[reginst_basic].[RICertificate].RIprocedureID = @riProcID;

ELSE IF (@DocumentType = 2)  -- 2 - save CertificateFileScaned ID
	UPDATE top (1) [reginst_basic].[RICertificate]
	SET
		[CertificateFileScaned] = @docDocumentID
	WHERE
		[reginst_basic].[RICertificate].RIprocedureID = @riProcID;

END
