.l-container-component {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    &.preview-mode {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .l-textarea {
        width: 100%;
        textarea {
            resize: none;
        }
    }
}