.btn-hide-menu {
  &.active {
    &:hover {
      background-color: #ffffff52;
    }
    background-color: #ffffff2e;
  }
  &:hover {
    background-color: #ffffff2e;
    transition: 0.3s all;
  }
  background-color: #ffffff00;
  color: white;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  outline: 0;
  border: 0;
  padding: 0;
  position: fixed;
  top: 8px;
  left: 55px;
  transition: 0.3s all;
  cursor: pointer;
}
.flex-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  .menu-body-container {
    &.hidden-menu {
      min-width: 50px !important;
      overflow: hidden !important;
      transition: 0.3s all;
    }
    display: inline-block;
    min-width: 212px;
    height: 100%;
    background-color: #080044;
    transition: 0.3s all;
  }
  .right-body-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: 0.3s all;
    overflow: hidden;
  }
}
