<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RegiXLogEnabled" value="True" />
    <add key="RegiXLogDirectory" value="D:\Test" />
    <add key="RegiXAdaptersPath" value="D:\Projects\Kontrax.RegiX.Core.Test\RegiXAdapters" />
  </appSettings>
  <connectionStrings>
    <add name="TestConnection" connectionString="Data Source=TestSql\SQL2016;Initial Catalog=TestNRZ;Persist Security Info=True;User Id=sa;Password=PASS;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>Lod