.l-container-component {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    &.preview-mode {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .l-input {
        width: 100%;
    }
}