@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';

:host::ng-deep {
  .p-button-success {
    margin-left: 0.5rem;
    .p-button-icon {
      font-size: $font-size-sm;
    }
  }
}
