.full-width-table {
  width: 100%;
}

.new-inst {
  .wrapper-table {
    .section-card.card-table {
      span {
        background-color: #f9e6ca;
      }
    }
  }
}

.wrapper-table {
  background-color: white;
  margin: 10px 15px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;

  .section-card.card-table {
    max-width: none !important;
    width: fit-content;
    box-shadow: 0px 1px 6px 0px #00000052 !important;
    border-radius: 6px !important;
    border: 1px solid #00000038 !important;
    overflow: hidden;
    padding-top: 0; 


    mat-card-header {
      background-color: #E7EEF9;
      display: flex;
      flex-direction: row; 
      align-items: center;
      justify-content: flex-start;
      padding: 10px 24px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;


      .mat-card-header-text {
        margin: 0 !important;
        padding: 0 !important;
        flex-grow: 1;
      }

      mat-card-title {
        span {
          display: block;
          padding: 0;
          font-size: 16px;
          font-weight: 600;
          color: #231f20;
          margin: 0;
          background-color: transparent !important;
        }
      }

      .search-container {
        display: flex;
        align-items: center;
        position: relative;
      }

      .block-field {
        display: block;
        width: 300px;
        margin: 10px 0 10px 15px;

        mat-icon {
          width: auto;
          height: auto;
          line-height: normal;
          position: absolute;
          top: 9px;
          left: 8px;
          font-size: 21px;
          color: rgba(0, 0, 0, 0.54);
        }
      }
    }

    mat-card-content {
      border-radius: 5px;
      overflow: hidden;
      width: auto;
      display: inline-block;
      padding: 0px 0px 0px 0px;


      .mat-elevation-z8 {
        box-shadow: none;

        table {
          border-collapse: collapse;
          table-layout: fixed;
          border-radius: 0;
          overflow: hidden;
          width: 100%;
          word-break: break-word !important;
          margin-top: 0;

          tr.mat-header-row,
          tr.custom-tr-for-th { 
            background-color: #eef1f6; 
            height: auto !important; 
          }

          th {
            padding: 8px 12px;
            line-height: normal;
            border-right: 1px solid #ffffff2e;

            &:first-of-type {
              padding-left: 24px; 
            }
            &:last-of-type {
                padding-right: 24px; 
            }

            .name-th-span {
              margin: 0; 
              font: 400 14px Lato, sans-serif;
              flex-grow: 100;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              text-align: left;
              margin-left: 0 !important;
            }

            .search-field-th {
              position: relative;
              margin: 0 !important;
              padding: 0 !important;

              .search-custom-icon {
                height: 15px;
                width: 15px;
                font-size: 15px;
                margin-right: 2px;
                line-height: normal;
                position: absolute;
                color: #2f73da;
                z-index: 1;
                text-shadow: none;
                top: 3px;
                left: 3px;
              }

              mat-form-field {
                color: #313131;
                line-height: normal;
                padding-bottom: 0 !important;
                .mat-form-field-wrapper {
                    padding-bottom: 0px !important;
                }
              }

              ::ng-deep .mat-form-field-wrapper {
                  padding-bottom: 0px !important;
                  margin-bottom: 0px !important;
                }
                
                .wrapper-table .mat-form-field-wrapper {
                  padding-bottom: 0px !important;
                  margin-bottom: 0px !important;
                }
            }

            .th-container-header {
              display: flex !important;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              width: 100%;
              cursor: default;
              min-height: 25px;

              .sort-custom-icon {
                height: 15px;
                width: 18px;
                font-size: 18px;
                margin-left: 2px;
                line-height: normal;
              }

              &.sortable {
                cursor: pointer;
              }
            }
          }

          td {
            padding: 8px 12px;
            &:first-of-type {
                padding-left: 24px;
            }
            &:last-of-type {
                padding-right: 24px;
            }
            border-bottom: 1px solid #eee;

            .button-container {
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              flex-wrap: wrap;

              .btn-details {
                font-size: 12px;
                padding: 4px 6px;
                line-height: 1;

                mat-icon {
                  font-size: 18px;
                  line-height: normal;
                  width: auto;
                  height: auto;
                }
              }

              .add-btn-row {
                border-radius: 50%;
                background-color: #16b963;
                color: white;
                text-shadow: 1px 1px 3px #000000e3;
                text-align: center;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px !important;
                height: 20px;
                min-width: 20px;
                padding: 0;
              }

              .delete-btn-row {
                border-radius: 50%;
                text-align: center;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px !important;
                height: 20px;
                min-width: 20px;
                padding: 0;
              }

              .edit-button-td {
                background-color: transparent;
                color: #231f20 !important;
                text-shadow: none;
                line-height: 1;
                margin: 0px 3px 4px 0px;
                border-radius: 0 !important;
                box-shadow: none !important;

                mat-icon {
                  font-size: 17px;
                  line-height: normal;
                  width: auto;
                  height: auto;
                }
              }

              .view-button-td {
                background-color: transparent;
                color: #231f20;
                text-shadow: none;
                line-height: 1;
                margin: 0px 3px 4px 0px;
                box-shadow: none !important;

                mat-icon {
                  font-size: 18px;
                  line-height: normal;
                  width: auto;
                  height: auto;
                }
              }

              .delete-button-td {
                text-shadow: none;
                line-height: 1;
                margin: 4px 0;
                border-radius: 0 !important;
                box-shadow: none !important;
                position: relative;
                background-color: transparent;

                &::before {
                  content: "\F78B";
                  font-family: "bootstrap-icons";
                  font-size: 15px;
                  color: #231f20;
                  position: absolute;
                }
              }
            }
          }
          tr:last-of-type {
            td {
              border-bottom: 0 !important;
            }
          }
        }
      }
    }

    .footer-container-custom-table {
      background-color: #eef1f6;
      display: flex;
      flex-direction: row;
      padding: 8px 24px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;


      .l-pagination-container {
        display: flex;
        flex-direction: revert;
        align-items: center;
        justify-content: center;
        width: 100%;

        mat-paginator {
          width: 100%;
          background-color: transparent;
          color: #49505a;
        }
      }

      .wrapper-button-table-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-right: 5px;

        .div-right-container {
          flex-grow: 100;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .extract-pdf-btn {
            cursor: pointer;
            border-radius: 50%;
            border: 1px solid #00000026;
            width: 30px;
            height: 30px;
            padding: 0;
            box-sizing: border-box;
            box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
            position: relative;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            background-color: #cb0606;

            .icon-btn {
              width: auto;
              height: 100%;
              border-radius: 50%;
            }
          }

          .extract-excel-btn {
            cursor: pointer;
            border-radius: 50%;
            border: 1px solid #00000026;
            width: 30px;
            height: 30px;
            padding: 0;
            box-sizing: border-box;
            box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
            position: relative;
            background-color: #107b10;
            margin-left: 10px;

            .icon-btn {
              width: auto;
              height: 100%;
              border-radius: 50%;
            }
          }

          .save-order-btn {
            cursor: pointer;
            border-radius: 50%;
            border: 1px solid #00000026;
            width: 30px;
            height: 30px;
            padding: 0;
            box-sizing: border-box;
            box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
            position: relative;
            background-color: #54379f;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(250, 250, 250);

            .icon-btn {
              width: auto;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.add-record-btn {
  &:disabled {
    opacity: 0.3;
  }

  border-radius: 0.25rem !important;
  border: 0;
  min-width: 0;
  min-height: 0;
  margin-left: 15px;
  margin-top: 0px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%),
  0 6px 10px 0 rgb(0 0 0 / 14%),
  0 1px 18px 0 rgb(0 0 0 / 12%);
  line-height: 1;

  mat-icon {
    width: auto;
    height: auto;
    line-height: normal;
    font-size: 20px;
  }
}

.add-new-column-container {
  max-width: none !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0px 1px 6px 0px #00000052 !important;
  border-radius: 6px !important;
  border: 1px solid #00000038 !important;
  margin: 6px;
  padding: 15px 10px 10px 10px;
  margin-top: 15px;
  background-color: #f9f9f987;
}

.m-l-8 {
  margin-left: 8px;
}

td {
  span.value-td {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: normal;
    font-size: 15px;
    display: inline-block;
  }
}

.l-custom-table {
  position: relative;
}

.div-row-in-table {
  display: contents;

  tr.action {
    transition: 0.4s all;
  }

  tr.action:hover {
    background-color: #eef1f659;
    cursor: pointer;
    transition: 0.4s all;

    button {
      background-color: transparent;
    }
  }

  .table-content {
    position: absolute !important;
    width: 100%;
    margin-top: 44px;
  }
}

button {
  &:disabled {
    opacity: 0.3 !important;
  }
}

.mat-form-field-search-container {
  width: 100%;
}

.order-column {
  vertical-align: middle;
}

.footer-container-custom-table {
  background-color: #eef1f6;
  display: flex;
  flex-direction: row;

  .l-pagination-container {
    display: flex;
    flex-direction: revert;
    align-items: center;
    justify-content: center;
    width: 100%;

    mat-paginator {
      width: 100%;
      background-color: transparent;
      color: #49505a;
    }
  }

  .wrapper-button-table-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 5px;

    .div-right-container {
      flex-grow: 100;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .extract-pdf-btn {
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #00000026;
        width: 30px;
        height: 30px;
        padding: 0;
        box-sizing: border-box;
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
        position: relative;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: #cb0606;

        .icon-btn {
          width: auto;
          height: 100%;
          border-radius: 50%;
        }
      }

      .extract-excel-btn {
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #00000026;
        width: 30px;
        height: 30px;
        padding: 0;
        box-sizing: border-box;
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
        position: relative;
        background-color: #107b10;
        margin-left: 10px;

        .icon-btn {
          width: auto;
          height: 100%;
          border-radius: 50%;
        }
      }

      .save-order-btn {
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #00000026;
        width: 30px;
        height: 30px;
        padding: 0;
        box-sizing: border-box;
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
        position: relative;
        background-color: #54379f;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(250, 250, 250);

        .icon-btn {
          width: auto;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}

.search-container {
  display: inline-block;
  width: fit-content;
  position: relative;
  margin: 5px;

  mat-icon {
    position: absolute;
    color: #2f73da;
  }

  input {
    width: 300px;
    padding-left: 25px;
    border: 1px solid #657285;
    border-radius: 0.25rem;
    background-color: white;
  }
}