@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/colors-variables';

.auth-header {
  height: 130px;
  &-content {
    height: inherit;
    align-items: center;
    .mon-logo {
      max-height: 4.875rem;
    }
  }
}

@media (max-width: 767.98px) {
  .auth-header {
    height: 100px;
    &-content {
      .mon-logo {
        max-height: 3.25rem;
      }
    }
  }
}
