<form [formGroup]="form" novalidate (ngSubmit)="onSave()" class="sm:w-96">
  <div class="sb-btn-wrapper sb-btn-wrapper-right">
    <button mat-raised-button color="primary" type="submit" [disabled]="saving">
      <fa-icon [icon]="saving ? fasSpinnerThird : fasCheck" [spin]="saving" size="lg"></fa-icon>
      <span>Запази</span>
    </button>
    <button mat-raised-button mat-dialog-close>Затвори</button>
  </div>

  <sb-banner type="error" class="mb-5" *ngFor="let error of errors">{{ error }}</sb-banner>

  <sb-nom-select
    label="Ученик"
    formControlName="studentKey"
    [nomService]="institutionStudentNomsService"
    [complexValue]="true"
  ></sb-nom-select>

  <mat-checkbox
    color="primary"
    class="mb-4"
    [checked]="data.student?.hasFirstMandatorySubject === true"
    formControlName="hasFirstMandatorySubject"
  >
    БЕЛ
  </mat-checkbox>

  <sb-nom-select
    label="Втори задължителен изпит"
    formControlName="secondMandatorySubjectKey"
    [nomService]="institutionCurriculumNomsService"
    [complexValue]="true"
  ></sb-nom-select>

  <sb-nom-select
    label="Допълнителни държавни зрелостни изпити"
    formControlName="additionalSubjectKeys"
    [nomService]="institutionCurriculumNomsService"
    [complexValue]="true"
    [multiple]="true"
  ></sb-nom-select>

  <sb-nom-select
    class="sb-single-row-mat-field"
    label="Държавни изпити за придобиване на професионална квалификация"
    formControlName="qualificationSubjectKeys"
    [nomService]="institutionCurriculumNomsService"
    [complexValue]="true"
    [multiple]="true"
  ></sb-nom-select>
</form>
