.heading {
    display:flex;
    height: 15%;
    background-color: #FFF;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
}
.heading b {
    font: 700 20px/32px Lato, sans-serif; 
    font-size: 2em;
}