.sb-breadcrumb-item {
  + .sb-breadcrumb-item {
    padding-left: theme('spacing.2');

    &::before {
      content: '/';
      padding-right: theme('spacing.2');
      color: theme('colors.gray.500');
    }
  }

  .ng-fa-icon {
    color: theme('colors.primary');
  }
}

$skeleton-color: #d1d5db;
$skeleton-shine-color: rgba($skeleton-color, 0.4);
$skeleton-animation-duration: 1.6s;
$skeleton-icon-width: 2 + 24 + 8; // left margin + width + right margin

.sb-breadcrumb-skeleton {
  background-image: linear-gradient(90deg, $skeleton-color 0px, $skeleton-shine-color 20px, $skeleton-color 40px);
  background-size: 600px;

  &.sb-breadcrumb-skeleton-icon {
    animation: shine-icon $skeleton-animation-duration infinite linear;
  }

  &.sb-breadcrumb-skeleton-text {
    animation: shine-text $skeleton-animation-duration infinite linear;
  }
}

@keyframes shine-icon {
  0% {
    background-position: -100px + $skeleton-icon-width;
  }

  40%,
  100% {
    background-position: 180px + $skeleton-icon-width;
  }
}
