@import '~@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/bootstrap-theme.scss';
@import '~@dssbg/neispuo-style-guide/neispuo-primeng-theme-styles/primeng-theme.scss';

html,
body {
    height: 100%; // It is necessary for the automatic scrolling
    overflow: unset;
}

//
// General styles for all table pages
//
.p-toolbar {
    background-color: $gray-200;
}

.p-datatable {
    min-height: calc(100vh - 235px); // header + p-toolbar + footer
    overflow: hidden;
    th,
    td {
        word-break: break-word;
        font-size: 0.875rem;
    }
    &-wrapper {
        min-height: calc(100vh - 293px); // 100% - p-paginator height
        overflow: auto;
    }
    .p-paginator-bottom {
        border-width: 0;
    }
}

.row-content button {
    margin: 0.5rem;
}

//
// Scrollbar styles
//
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    border-radius: 25px;
    background-clip: padding-box;
    border: 0 solid $gray-200;
    color: $gray-500;
    background-color: $gray-200;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 1rem;
}

@include media-breakpoint-down(sm) {
    .p-paginator .p-paginator-pages .p-paginator-page {
        min-width: 1.75rem;
        height: 1.75rem;
    }
}

@include media-breakpoint-down(lg) {
    .p-dialog {
        min-width: 60%;
    }
}

@include media-breakpoint-down(sm) {
    .p-dialog {
        min-width: 90%;
    }
}
