.full-full {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-image: url(../../../assets/images/login.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .wrapper-unauthorized {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: white;
      font-size: 22px;
      font-weight: bold;
    }
  }
}
