@import "@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables.scss";

.avatar {
    background: transparent;

}

.messageContainer {
    background: $blue-100;
    padding: 0.625rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}