.sb-parent-menu-item > button::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
  background: url('^assets/images/chevron-right-solid.svg') 50% no-repeat;
  margin-top: -7px;
  opacity: 0.4;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  right: 15px;
}

.sb-parent-menu-item.sb-parent-menu-item-open > button::after {
  transform: rotate(90deg);
}

$skeleton-color: #d1d5db;
$skeleton-shine-color: rgba($skeleton-color, 0.4);
$skeleton-animation-duration: 1.6s;
$skeleton-icon-width: 2 + 24 + 8; // left margin + width + right margin

.sb-menu-skeleton {
  background-image: linear-gradient(90deg, $skeleton-color 0px, $skeleton-shine-color 20px, $skeleton-color 40px);
  background-size: 600px;

  &.sb-menu-skeleton-icon {
    animation: shine-icon $skeleton-animation-duration infinite linear;
  }

  &.sb-menu-skeleton-text {
    animation: shine-text $skeleton-animation-duration infinite linear;
  }
}

@keyframes shine-icon {
  0% {
    background-position: -100px + $skeleton-icon-width;
  }

  40%,
  100% {
    background-position: 180px + $skeleton-icon-width;
  }
}

@keyframes shine-text {
  0% {
    background-position: -100px;
  }

  40%,
  100% {
    background-position: 180px;
  }
}
