USE [neispuo]
GO
/****** Object:  StoredProcedure [reginst_basic].[institutionCreateUpdate]    Script Date: 14.2.2021 г. 18:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [reginst_basic].[institutionCreateUpdate] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS
BEGIN

IF (@OperationType = 1)  -- 1 - CREATE
BEGIN

	DECLARE @primaryAddrRegion int;
	SELECT @primaryAddrRegion = primaryAddrRegionID FROM OPENJSON(@_json, '$.primaryAddress')
	WITH (   
				primaryAddrRegionID int			'$.primaryAddrRegion'
	)

	DECLARE @instID int;
	SELECT @instID = noms.getNewInstID(@primaryAddrRegion);

	INSERT INTO [reginst_basic].[RIProcedure]
		([InstitutionID]
		,[ProcedureTypeID]
		,[ProcedureDate]
		,[YearDue]
		,[StatusTypeID]
		,[TransformTypeID]
		,[TransformDetails]
		,[IsActive])
	SELECT @instID, *, 0 as IsActive
	FROM OPENJSON(@_json)
	WITH (   
		ProcedureTypeID int				'$.procedureTypeID',  
		ProcedureDate datetime			'$.procedureDate',
		YearDue int						'$.procedureYearDue',
		StatusTypeID int				'$.procedureStatusTypeID',
		TransformTypeID int				'$.procedureTransformTypeID',
		TransformDetails nvarchar(4000)	'$.procedureTransformDetails'
	 ); 

	-- GET INSERTED ID(autoincrement)
	DECLARE @procID int;
	SELECT @procID = SCOPE_IDENTITY();

	-- INSERT INTO RIInstitution WITH @procID blah blah
	INSERT INTO [reginst_basic].[RIInstitution]
		([RIprocedureID]
		,[InstitutionID]
		,[Bulstat]
		,[Name]
		,[Abbreviation]
		,[BaseSchoolTypeID]
		,[DetailedSchoolTypeID]
		,[FinancialSchoolTypeID]
		,[BudgetingSchoolTypeID]
		,[TRCountryID]
		,[TRTownID]
		,[TRLocalAreaID]
		,[TRAddress]
		,[TRPostCode]
		,[ReligInstDetails]
		,[HeadFirstName]
		,[HeadMiddleName]
		,[HeadLastName]
		,[IsNational]
		,[PersonnelCount]
		,[AuthProgram]
		,[IsDataDue])
	SELECT @procID, @instID, *
	FROM OPENJSON(@_json)
	WITH (   
		Bulstat nvarchar(13)			'$.bulstat',
		Name nvarchar(1024)				'$.name',
		Abbreviation nvarchar(255)		'$.abbreviation',
		BaseSchoolTypeID int			'$.baseSchoolTypeID',
		DetailedSchoolTypeID int		'$.detailedSchoolTypeID',
		FinancialSchoolTypeID int		'$.financialSchoolTypeID',
		BudgetingSchoolTypeID int		'$.budgetingSchoolTypeID',
		TRCountryID int					'$.settlementCountry',
		TRTownID int					'$.settlementTown',
		TRLocalAreaID int				'$.settlementLocalArea',
		TRAddress nvarchar(255)			'$.settlementAddress',
		TRPostCode int					'$.settlementPostCode',
		ReligInstDetails nvarchar(max)	'$.religInstDetails',
		HeadFirstName nvarchar(255)		'$.headFirstName',
		HeadMiddleName nvarchar(255)	'$.headMiddleName',
		HeadLastName nvarchar(255)		'$.headLastName',
		IsNational bit					'$.isNational',
		PersonnelCount int				'$.personnelCount',
		AuthProgram nvarchar(max)		'$.authProgram',
		IsDataDue bit					'$.isDataDue'
	 ) 

	-- INSERT INTO RIInstitutionDepartment WITH @procID blah blah
	INSERT INTO [reginst_basic].[RIInstitutionDepartment]
			   ([RIprocedureID]
			   ,[Name]
			   ,[CountryID]
			   ,[TownID]
			   ,[LocalAreaID]
			   ,[Address]
			   ,[PostCode]
			   ,[CadasterCode]
			   ,[Notes]
			   ,[IsMain])
	SELECT @procID,*,1
	FROM OPENJSON(@_json, '$.primaryAddress')
	WITH 
	(
			   Name nvarchar(1024)			'$.primaryAddrName',
			   CountryID int				'$.primaryAddrCountry',
			   TownID int					'$.primaryAddrTown',
			   LocalAreaID int				'$.primaryAddrLocalArea',
			   Address nvarchar(255)		'$.primaryAddrAddress',
			   PostCode int					'$.primaryAddrPostCode'
			   CadasterCode nvarchar(255)	'$.primaryAddrCadasterCode',
			   Notes nvarchar(255)			'$.primaryAddrNotes'
	)
/*
	INSERT INTO [reginst_basic].[RIInstitutionDepartment]
			   ([RIprocedureID]
			   ,[Name]
			   ,[CountryID]
			   ,[TownID]
			   ,[LocalAreaID]
			   ,[Address]
			   ,[PostCode]
			   ,[CadasterCode]
			   ,[IsMain])
	SELECT @procID,*,0
	FROM OPENJSON(@_json, '$.institutionDepartments')
	WITH 
	(
			   Name nvarchar(255)			'$.departmentName',
			   CountryID int				'$.departmentCountry',
			   TownID int					'$.departmentTown',
			   LocalAreaID int				'$.departmentLocalArea',
			   Address nvarchar(255)		'$.departmentAddress',
			   PostCode int					'$.departmentPostalCode',
			   CadasterCode nvarchar(255)	'$.departmentCadasterCode'
	)
*/
	SELECT @instID AS 'codeNEISPUO';
END

ELSE IF (@OperationType = 2)  -- 2 - UPDATE
BEGIN
	DECLARE @riProcID int;
	DECLARE @riInstID int;
	SELECT @riProcID = riProcedureID FROM OPENJSON(@_json)
	WITH (   
			   riProcedureID int			'$.riProcedureID'
	)
	SELECT @riInstID = riInstitutionID FROM OPENJSON(@_json)
	WITH (   
			   riInstitutionID int			'$.riInstitutionID'
	)

	IF (@riProcID > 0 AND @riInstID > 0)
	BEGIN 
		UPDATE top (1) [reginst_basic].[RIProcedure]
		SET
			[ProcedureTypeID] = JP.procedureTypeID,
			[ProcedureDate] = JP.procedureDate,
			[YearDue] = JP.procedureYearDue,
			[StatusTypeID] = JP.procedureStatusTypeID,
			[TransformTypeID] = JP.procedureTransformTypeID,
			[TransformDetails] = JP.procedureTransformDetails
		FROM OPENJSON(@_json)
		WITH (   
			procedureTypeID int,  
			procedureDate date,
			procedureYearDue int,
			procedureStatusTypeID int,
			procedureTransformTypeID int,
			procedureTransformDetails nvarchar(4000)) JP
		WHERE
			[reginst_basic].[RIProcedure].RIprocedureID = @riProcID;

		UPDATE top (1) [reginst_basic].[RIInstitution]
		SET
			[Bulstat] = JI.bulstat,
			[Name] = JI.name,
			[Abbreviation] = JI.abbreviation,
			[BaseSchoolTypeID] = JI.baseSchoolTypeID,
			[DetailedSchoolTypeID] = JI.detailedSchoolTypeID,
			[FinancialSchoolTypeID] = JI.financialSchoolTypeID,
			[BudgetingSchoolTypeID] = JI.budgetingSchoolTypeID,
			[TRCountryID] = JI.settlementCountry,
			[TRTownID] = JI.settlementTown,
			[TRLocalAreaID] = JI.settlementLocalArea,
			[TRAddress] = JI.settlementAddress,
			[TRPostCode] = JI.settlementPostCode,
			[ReligInstDetails] = JI.religInstDetails,
			[HeadFirstName] = JI.headFirstName,
			[HeadMiddleName] = JI.headMiddleName,
			[HeadLastName] = JI.headLastName,
			[IsNational] = JI.isNational,
			[PersonnelCount] = JI.personnelCount,
			[AuthProgram] = JI.authProgram,
			[IsDataDue] = JI.isDataDue
		FROM OPENJSON(@_json)
		WITH (   
			bulstat nvarchar(13),
			name nvarchar(1024),
			abbreviation nvarchar(255),
			baseSchoolTypeID int,
			detailedSchoolTypeID int,
			financialSchoolTypeID int,
			budgetingSchoolTypeID int,
			settlementCountry int,
			settlementTown int,
			settlementLocalArea int,
			settlementAddress nvarchar(255),
			settlementPostCode int,
			religInstDetails nvarchar(max),
			headFirstName nvarchar(255),
			headMiddleName nvarchar(255),
			headLastName nvarchar(255),
			isNational bit,
			personnelCount int,
			authProgram nvarchar(max),
			isDataDue bit) JI
		 WHERE
			[reginst_basic].[RIInstitution].RIinstitutionID = @riInstID;

	END
END

END
