.full-width-table {
    width: 100%;
}

.new-inst {
    .wrapper-table {
        .section-card.card-table {
            span {
                background-color: #efd1a5;
            }
        }
    }
}
.wrapper-table {
    // background-color: white;
    // margin: 10px 15px;
    // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    // border-radius: 4px;
    // overflow: hidden;
    .section-card.card-table {
        box-shadow: none;
        max-width: none !important;
        width: fit-content;
        border: 1px solid #00000040 !important;
        border-radius: 4px;
        mat-card-header {
            flex-direction: column;
            padding: 0 !important;
            mat-card-title {
                span {
                    display: block;
                    padding: 3px 10px;
                    font-size: 13px;
                    margin-bottom: 8px;
                    background-color: #7476f7;
                    color: white;
                    border-radius: 4px 4px 0 0;
                }
            }
            .block-field {
                display: block;
                width: 300px;
                margin: 10px 0 10px 15px;
                mat-icon {
                    width: auto;
                    height: auto;
                    line-height: normal;
                    position: absolute;
                    top: 9px;
                    left: 8px;
                    font-size: 21px;
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }
        mat-card-content {
            border-radius: 5px;
            overflow: hidden;
            width: auto;
            display: inline-block;
            padding-top: 0 !important;
            .mat-elevation-z8 {
                box-shadow: none;
                table {
                    &.table-with-buttons {
                        &.table-one-button {
                          th:last-of-type {
                            width: 35px;
                            min-width: 35px;
                            max-width: 35px;
                            box-sizing: border-box;
                          }
                          td:last-of-type {
                            width: 35px;
                            min-width: 35px;
                            max-width: 35px;
                            box-sizing: border-box;
                          }
                        }
                        th:last-of-type {
                          width: 70px;
                          min-width: 70px;
                          max-width: 70px;
                          box-sizing: border-box;
                        }
                        td:last-of-type {
                          width: 70px;
                          min-width: 70px;
                          max-width: 70px;
                          box-sizing: border-box;
                          button {
                            width: 26px;
                            height: 26px;
                            border-radius: 50% !important;
                            min-width: 26px;
                            padding: 0 !important;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                          }
                        }
                    }
                    &.no-sort{
                        margin-top: 15px;
                    }
                    table-layout: fixed;
                    border-radius: 10px;
                    overflow: hidden;
                    border: 1px solid rgba(0, 0, 0, 0.12) !important;
                    width: 100%;
                    word-break: break-word !important;
                    .custom-tr-for-th {
                        th {
                            cursor: pointer;
                            border-bottom-width: 0;
                        }
                    }
                    th {
                        border-right: 1px solid #ffffff2e;
                        padding: 0 5px !important;
                        line-height: normal;
                        &:last-of-type {
                            text-align: center;
                        //     border-right: 0 !important;
                        //     width: 105px;
                        //     min-width: 105px;
                        //     max-width: 105px;
                        }
                        .name-th-span {
                            margin: 5px 10px;
                            font: 400 14px Lato, sans-serif;
                            flex-grow: 100;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            max-width: calc(100% - 40px);
                            &.center-span {
                                display: inline-block;
                                text-align: center;
                            }
                        }
                        .search-field-th {
                            position: relative;
                            .search-custom-icon {
                                height: 15px;
                                width: 18px;
                                font-size: 18px;
                                margin-right: 2px;
                                line-height: normal;
                                position: absolute;
                                color: #333333;
                                z-index: 1;
                                text-shadow: none;
                                top: 4px;
                                left: 9px;
                            }
                            mat-form-field {
                                color: #313131;
                                line-height: normal;
                                padding-bottom: 5px;
                            }
                        }
                        .th-container-header {
                            display: flex !important;
                            align-items: center;
                            justify-content: center;
                            flex-direction: row;
                            width: 100%;
                            cursor: default;
                            .sort-custom-icon {
                                height: 15px;
                                width: 18px;
                                font-size: 18px;
                                margin-left: 2px;
                                line-height: normal;
                            }
                            &.sortable {
                                cursor:pointer;
                            }
                        }
                    }
                    tr:last-of-type {
                        td {
                            border-bottom: 0 !important;
                        }
                    }
                    td {
                        .button-container {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            // justify-content: space-around;
                            flex-wrap: wrap;
                            .btn-details {
                                font-size: 12px;
                                padding: 4px 6px;
                                line-height: normal;
                                mat-icon {
                                    font-size: 18px;
                                    line-height: normal;
                                    width: auto;
                                    height: auto;
                                    margin-right: 4px;
                                }
                            }
                            .add-btn-row {
                                border-radius: 50%;
                                background-color: #16b963;
                                color: white;
                                text-shadow: 1px 1px 3px #000000e3;
                                text-align: center;
                                outline: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 20px !important;
                                height: 20px;
                                min-width: 20px;
                                padding: 0;
                            }
                            .delete-btn-row {
                                border-radius: 50%;
                                text-align: center;
                                outline: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 20px !important;
                                height: 20px;
                                min-width: 20px;
                                padding: 0;
                            }
                            .edit-button-td {
                                &:hover {
                                    background-color: #c9750e;
                                }
                                background-color: #e28f2d;
                                color: white;
                                text-shadow: 1px 1px 3px #000000bd;
                                line-height: normal;
                                margin: 0px 3px;
                                mat-icon {
                                    font-size: 18px;
                                    line-height: normal;
                                    width: auto;
                                    height: auto;
                                }
                            }
                            .view-button-td {
                                &:hover {
                                    background-color: #777777;
                                }
                                background-color: #9c9c9c;
                                color: white;
                                text-shadow: 1px 1px 3px #000000bd;
                                line-height: normal;
                                margin: 4px 0;
                                mat-icon {
                                    font-size: 18px;
                                    line-height: normal;
                                    width: auto;
                                    height: auto;
                                }
                            }
                            .delete-button-td {
                                &:hover {
                                  background-color: #c53034;
                                }
                                &:disabled {
                                    opacity: 0.3 !important;
                                }
                                background-color: #e83a40;
                                color: white;
                                text-shadow: 1px 1px 3px #000000bd;
                                line-height: 1;
                                margin: 4px 0;
                                mat-icon {
                                  font-size: 18px;
                                  line-height: normal;
                                  width: auto;
                                  height: auto;
                                }
                            }
                        }
                    }
                }
            }
            .l-pagination-container {
                display: flex;
                flex-direction: revert;
                align-items: center;
                justify-content: center;
                mat-paginator {
                    width: 100%;
                }
            }
        }
    }
}

.add-record-btn {
    &:disabled {
      opacity: 0.3;
    }
    border-radius: 50% !important;
    border: 0;
    min-width: 0;
    min-height: 0;
    margin-left: 15px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    line-height: 1;
    mat-icon {
      width: auto;
      height: auto;
      line-height: normal;
      font-size: 20px;
    }
}