@import "@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables.scss";

li {
    list-style: none;
    margin: 0.25rem;
    color: $gray-500;
    span {
      cursor: pointer;
      &:hover {
        color: $gray-700;
      }
    }
          
    &:last-child {
      margin-right: 1.25rem;
    }
    &::after {
      content: "\\";
      margin-left: 5px;
    }
    &:last-child::after {
      content: "";
    }
  }
  