@import "@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables.scss";

:host ::ng-deep {
    .p-inline-message.p-inline-message-warn {
        width: 100%;
        & .p-inline-message-icon {
            color: $yellow;
        }
    } 
}
.institution-type {
    width: -webkit-fill-available;
}