:host {
  @apply block;
}

.sb-paginator {
  @apply relative inline-flex rounded-md -space-x-px;
}

.sb-paginator-item {
  @apply relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700;

  &:first-child,
  &:last-child {
    @apply px-2 text-gray-500;
  }

  &:first-child {
    @apply rounded-l;
  }

  &:last-child {
    @apply rounded-r;
  }
}
