<sb-tab-card [hideHeader]="true">
  <ng-container card-body>
    <a
      *ngIf="canCreate"
      [routerLink]="['./', 'new']"
      mat-raised-button
      color="primary"
      aria-label="Ново участие в РЕПЛР"
      class="mb-2.5"
    >
      <fa-icon [icon]="fasPlus" size="lg"></fa-icon>
      <span>Ново участие в РЕПЛР</span>
    </a>
    <sb-table [dataSource]="dataSource" [displayedColumns]="['action', 'date', 'topic']">
      <ng-container cdkColumnDef="action">
        <th cdk-header-cell *cdkHeaderCellDef></th>
        <td cdk-cell *cdkCellDef="let row" class="sb-table-action">
          <a [routerLink]="['./', row.sanctionId]" aria-label="Детайли" class="sb-link-btn">
            <fa-icon [icon]="fadChevronCircleRight"></fa-icon>
          </a>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="date">
        <th cdk-header-cell *cdkHeaderCellDef>Дата</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.date | sbDate }}</td>
      </ng-container>

      <ng-container cdkColumnDef="topic">
        <th cdk-header-cell *cdkHeaderCellDef>Тема</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.topic }}</td>
      </ng-container>
    </sb-table>
  </ng-container>
</sb-tab-card>
