.full-width-table {
  width: 100%;
}

.new-inst {
  .wrapper-table {
    .section-card.card-table {
      span {
        background-color: #f9e6ca;
      }
    }
  }
}

.wrapper-table {
  // background-color: white;
  // margin: 10px 15px;
  // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  // border-radius: 4px;
  // overflow: hidden;
  .section-card.card-table {
    max-width: none !important;
    width: fit-content;
    box-shadow: 0px 1px 6px 0px #00000052 !important;
    border-radius: 6px !important;
    border: 1px solid #00000038 !important;
    overflow: hidden;
    mat-card-header {
      flex-direction: column;
      padding: 0 !important;
      mat-card-title {
        span {
          display: block;
          padding: 3px 10px;
          font-size: 13px;
          margin-bottom: 8px;
          background-color: #e7eef9;
          color: white;
          padding-left: 30px !important;
        }
      }
      .block-field {
        display: block;
        width: 300px;
        margin: 10px 0 10px 15px;
        mat-icon {
          width: auto;
          height: auto;
          line-height: normal;
          position: absolute;
          top: 9px;
          left: 8px;
          font-size: 21px;
          color: rgba(0, 0, 0, 0.54);
        }
      }
    }
    mat-card-content {
      border-radius: 5px;
      overflow: hidden;
      width: auto;
      display: inline-block;
      padding-top: 0 !important;
      .mat-elevation-z8 {
        box-shadow: none;
        table {
          &.table-with-buttons {
            &.table-one-button {
              th:last-of-type {
                width: 35px;
                min-width: 35px;
                max-width: 35px;
                box-sizing: border-box;
              }
              td:last-of-type {
                width: 35px;
                min-width: 35px;
                max-width: 35px;
                box-sizing: border-box;
              }
            }
            th:last-of-type {
              width: 70px;
              min-width: 70px;
              max-width: 70px;
              box-sizing: border-box;
            }
            td:last-of-type {
              width: 70px;
              min-width: 70px;
              max-width: 70px;
              box-sizing: border-box;
              button {
                width: 26px;
                height: 26px;
                border-radius: 50% !important;
                min-width: 26px;
                padding: 0 !important;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
          &.no-sort {
            margin-top: 15px;
          }
          border-collapse: collapse;
          table-layout: fixed;
          border-radius: 0;
          overflow: hidden;
          width: 100%;
          word-break: break-word !important;
          margin-top: 10px;
          .custom-tr-for-th {
            th {
              cursor: pointer;
              border-bottom-width: 0;
            }
          }

          //viki code
          .order-column {
            width: 25px;
            .order-buttons {
              display: flex;
              flex-direction: column;
              .custom-icon-expand.reorder-button-custom {
                &:focus {
                  background-color: transparent !important;
                  outline: none !important;
                  box-shadow: none !important;
                }
                &:active {
                  background-color: transparent !important;
                  outline: none !important;
                  box-shadow: none !important;
                }
                outline: none;
                border: none;
                cursor: pointer;
                background-color: transparent !important;
                border-radius: 0 !important;
                box-shadow: none !important;
                min-width: 24px !important;
                width: 24px !important;
                height: 24px !important;
                padding: 0;
                margin: 0;
                line-height: normal;
                justify-content: center;
                align-items: center;
                display: flex;
                mat-icon {
                  width: auto;
                  height: auto;
                  font-size: 18px;
                }
              }
            }
          }
          //viki code end

          th {
            .button-container {
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              justify-content: space-around;
              flex-wrap: wrap;
            }
            border-right: 1px solid #5858589c;
            padding: 0 5px !important;
            line-height: normal;
            &:last-of-type {
              text-align: center;
            }
            .name-th-span {
              margin: 5px 10px;
              font: 400 14px Lato, sans-serif;
              flex-grow: 100;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              text-align: left;
              margin-left: 0 !important;
            }
            .search-field-th {
              position: relative;
              .search-custom-icon {
                height: 15px;
                width: 15px;
                font-size: 15px;
                margin-right: 2px;
                line-height: normal;
                position: absolute;
                color: #2f73da;
                z-index: 1;
                text-shadow: none;
                top: 5px;
                left: 3px;
              }
              mat-form-field {
                color: #313131;
                line-height: normal;
                padding-bottom: 5px;
              }
            }
            .th-container-header {
              display: flex !important;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              width: 100%;
              cursor: default;
              min-height: 25px;
              .sort-custom-icon {
                height: 15px;
                width: 18px;
                font-size: 18px;
                margin-left: 2px;
                line-height: normal;
              }
              &.sortable {
                cursor: pointer;
              }
            }
          }
          tr:last-of-type {
            td {
              border-bottom: 0 !important;
            }
          }
          td {
            .button-container {
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              // justify-content: space-around;
              flex-wrap: wrap;
              .btn-details {
                font-size: 12px;
                padding: 4px 6px;
                line-height: 1;
                mat-icon {
                  font-size: 18px;
                  line-height: normal;
                  width: auto;
                  height: auto;
                }
              }
              .add-btn-row {
                border-radius: 50%;
                background-color: #16b963;
                color: white;
                text-shadow: 1px 1px 3px #000000e3;
                text-align: center;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px !important;
                height: 20px;
                min-width: 20px;
                padding: 0;
              }
              .delete-btn-row {
                border-radius: 50%;
                text-align: center;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px !important;
                height: 20px;
                min-width: 20px;
                padding: 0;
              }
              .edit-button-td {
                background-color: transparent;
                color: #231f20 !important;
                text-shadow: none;
                line-height: 1;
                margin: 0px 3px 4px 0px;
                border-radius: 0 !important;
                box-shadow: none !important;
                mat-icon {
                  font-size: 17px;
                  line-height: normal;
                  width: auto;
                  height: auto;
                }
              }
              .view-button-td {
                background-color: transparent;
                color: #231f20;
                text-shadow: none;
                line-height: 1;
                margin: 0px 3px 4px 0px;
                box-shadow: none !important;
                mat-icon {
                  font-size: 18px;
                  line-height: normal;
                  width: auto;
                  height: auto;
                }
              }
              .delete-button-td {
                text-shadow: none;
                line-height: 1;
                margin: 4px 0;
                border-radius: 0 !important;
                box-shadow: none !important;
                position: relative;
                background-color: transparent;
                &::before {
                  content: "\F78B";
                  font-family: "bootstrap-icons";
                  font-size: 15px;
                  color: #231f20;
                  position: absolute;
                }
              }
            }
          }
        }

      }
    }
  }
}

.add-record-btn {
  &:disabled {
    opacity: 0.3;
  }
  border-radius: 0.25rem !important;
  border: 0;
  min-width: 0;
  min-height: 0;
  margin-left: 15px;
  margin-top: 0px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  line-height: 1;
  mat-icon {
    width: auto;
    height: auto;
    line-height: normal;
    font-size: 20px;
  }
}

.add-new-column-container {
  max-width: none !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0px 1px 6px 0px #00000052 !important;
  border-radius: 6px !important;
  border: 1px solid #00000038 !important;
  margin: 6px;
  padding: 15px 10px 10px 10px;
  margin-top: 15px;
  background-color: #f9f9f987;
}

.m-l-8 {
  margin-left: 8px;
}

td {
  span.value-td {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: normal;
    font-size: 15px;
    display: inline-block;
  }
}
.l-custom-table {
  position: relative;
}
.div-row-in-table {
  display: contents;
  tr.action {
    transition: 0.4s all;
  }
  tr.action:hover {
    background-color: #eef1f659;
    cursor: pointer;
    transition: 0.4s all;

    // viki code start
    button {
      background-color: transparent;
    }
    // viki code end
  }
  .table-content {
    position: absolute !important;
    width: 100%;
    margin-top: 44px;
  }
}
button {
  &:disabled {
    opacity: 0.3 !important;
  }
}
.mat-form-field-search-container {
  width: 100%;
}

.order-column {
  vertical-align: middle;
}

.footer-container-custom-table {
  background-color: #eef1f6;
  display: flex;
  flex-direction: row;
  .l-pagination-container {
    display: flex;
    flex-direction: revert;
    align-items: center;
    justify-content: center;
    width: 100%;
    mat-paginator {
      width: 100%;
      background-color: transparent;
      color: #49505a;
    }
  }
  .wrapper-button-table-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 5px;
    .div-right-container {
      flex-grow: 100;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .extract-pdf-btn {
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #00000026;
        width: 30px;
        height: 30px;
        padding: 0;
        box-sizing: border-box;
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
        position: relative;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: #cb0606;
        .icon-btn {
          width: auto;
          height: 100%;
          border-radius: 50%;
        }
      }
      .extract-excel-btn {
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #00000026;
        width: 30px;
        height: 30px;
        padding: 0;
        box-sizing: border-box;
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
        position: relative;
        background-color: #107b10;
        margin-left: 10px;
        .icon-btn {
          width: auto;
          height: 100%;
          border-radius: 50%;
        }
      }
      .save-order-btn {
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #00000026;
        width: 30px;
        height: 30px;
        padding: 0;
        box-sizing: border-box;
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
        position: relative;
        background-color: #54379f;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(250, 250, 250);
        .icon-btn {
          width: auto;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}
.search-container {
  display: inline-block;
  width: fit-content;
  position: relative;
  margin: 5px;
  mat-icon {
    position: absolute;
    color: #2f73da;
  }
  input {
    width: 300px;
    padding-left: 25px;
    border: 1px solid #657285;
    border-radius: 0.25rem;
    background-color: white;
  }
}