<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="text-justify">
                    В системата се съхранява информация за печатите на институциите в системата на предучилищното и училищното образование,
                    посочени в чл. 24 ал. 1 от Наредба № 8 от 11 август 2016 г. за информацията и документите за системата на предучилищното
                    и училищното образование.<br /><br />

                    Текущо в системата не се съхранява информация за печатите на следните институции:<br />
                    -	Обслужващи звена (извънучилищни педагогически учреждения, МУЦТПО, самостоятелно общежитие / интернат, логопедичен център, ресурсен център); <br />
                    -	Детски градини; <br />
                    -	Специализирани училища по изкуства и култура; <br />
                    -	Центрове за подкрепа за личностно развитие; <br />
                    -	Специализирани обслужващи звена (Национален дворец на децата, Държавен логопедичен център, Регионален център за подкрепа
                    на процеса на приобщаващо образование). <br />
                    При възникване на необходимост от достъп до Секция Печати от тези институции, ще бъдат публикувани допълнителни инструкции! <br /><br />

                    Институциите регистрират ползваните от тях печати с изображение на държавния герб и ползваните от тях обикновени печати, като подават заявка за регистриране, промяна или унищожаване на печат.
                </p>

                <p><strong>Всички заявки се подават с квалифициран електронен подпис, съответстващ на Булстат на институцията.</strong></p>

                <p class="text-justify">
                    За да влезете в системата, необходимо е електронният подпис да е конфигуриран и включен предварително.<br />
                    В случай че сте включили електронния подпис, моля натиснете бутона "Вход".<br />
                    В случай че електронният подпис не е включен, моля затворете браузъра, включете подписа и стартирайте отново.<br />
                    <br />Локален сървър за достъп до електронни сертификати от сайта на <a href="https://students.mon.bg/software/localServer" target=_blank>НЕИСПУО</a>
                    <br /><br />
                </p>

                @using (Html.BeginForm("Main", "Home", FormMethod.Post, new { @id = "login-form-id", @class = "text-center" }))
                {
                    <input type="hidden" name="signature" value="" id="signature">

                    <button id="btn-sign-login" class="btn btn-lg btn-primary">Вход</button>

                }
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/js/sign.js"></script>
    <script>
        $(document).ready(function () {
            //ELSign
            $("#btn-sign-login").click(function (e) {
                e.preventDefault();

                signLogin();
            });
        });
    </script>
}