USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_year].[calculationCRec]    Script Date: 9/6/2022 11:59:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CRec - Calculate Records abrev

ALTER PROCEDURE [inst_year].[calculationCRec]
(@staffPositionId bigint
,@schoolYear int
,@userId bigint
,@institutionId int
,@_json nvarchar(max)
,@operationType int)
AS
BEGIN

BEGIN TRY
BEGIN TRANSACTION

DECLARE @operationResultType int; 
DECLARE @messageCode int;

DECLARE @curriculumTeacherExist int;
SELECT @curriculumTeacherExist = COUNT(1) FROM inst_year.CurriculumTeacher WHERE StaffPositionId = @staffPositionId AND SchoolYear = @schoolYear AND IsValid = 1;

IF @curriculumTeacherExist = 0 
	BEGIN		
		SET @operationResultType = 2;
		SET @messageCode = 1038;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode; 

		COMMIT TRANSACTION
		RETURN
	END


UPDATE [inst_year].[PedStaffData]
   SET [NormaS] = 0
      ,[DeficitNorma] = 0
      ,[DeficitNormaT] = 0
      ,[ReductionCoef] = 0
      ,[DiffNorma] = 0
      ,[HoursForReduction] = 0
      ,[ReductionHours] = 0
      ,[Lect] = 0
      ,[LectYear] = 0
 WHERE StaffPositionId = @staffPositionId AND SchoolYear = @schoolYear AND IsValid = 1;

  --тази таблица се пълни, за да сложим IF (normaT BETWEEN 1 AND 63) AND (BasicClass<0 OR BasicClass=21) AND (WeeksSecondTerm=0) и процедурата да се разклони на 2
--2022-09-05 - NEISPUONEW-1001
DECLARE @rst6 table (normaT float,TW2 int, BC int)
INSERT INTO @rst6 (normaT, TW2, BC)
SELECT NormaT, c.WeeksSecondTerm, IIF(cg.BasicClassID < 0 OR cg.BasicClassID = 21 OR cg.BasicClassID IS NULL,0,1)
FROM inst_year.Curriculum c
LEFT JOIN inst_year.CurriculumTeacher ct
	ON ct.CurriculumID = c.CurriculumID
		AND ct.SchoolYear = c.SchoolYear
		AND ct.IsValid = 1
LEFT JOIN inst_year.CurriculumClass cc
	ON cc.CurriculumID = c.CurriculumID
		AND cc.SchoolYear = c.SchoolYear
		AND cc.IsValid = 1
LEFT JOIN inst_year.ClassGroup cg
	ON cg.ClassID = cc.ClassID
		AND cg.SchoolYear = cc.SchoolYear
		AND cg.IsValid = 1
LEFT JOIN inst_year.PedStaffData pd
	ON pd.StaffPositionID = ct.StaffPositionID
		AND pd.SchoolYear = ct.SchoolYear
		AND pd.IsValid = 1
WHERE c.InstitutionID = @institutionId
	AND ct.StaffPositionID = @staffPositionId
	AND c.SchoolYear = @schoolYear
GROUP BY NormaT, c.WeeksSecondTerm, cg.BasicClassID 

IF (SELECT TOP 1 normaT FROM @rst6) BETWEEN 1 AND 63 AND ISNULL((SELECT SUM(TW2) FROM @rst6),0) = 0 AND (SELECT SUM(BC) FROM @rst6) = 0 
	BEGIN
		DECLARE @rstTH table (normaTS int, norma float, normaT float, TW1 int, HW1 real);
		DECLARE @normaS float
		DECLARE @diffNorma float

		INSERT INTO @rstTH (normaTS,norma,normaT,TW1,HW1)
		SELECT ct.NormaTS, psd.Norma, psd.NormaT, c.WeeksFirstTerm, c.HoursWeeklyFirstTerm
		FROM inst_year.CurriculumTeacher ct
		LEFT JOIN inst_year.Curriculum c
			ON c.CurriculumID = ct.CurriculumID
				AND c.SchoolYear = ct.SchoolYear
		LEFT JOIN inst_year.PedStaffData psd
			ON psd.StaffPositionID = ct.StaffPositionID
				AND psd.SchoolYear = ct.SchoolYear
				AND psd.IsValid = 1
		WHERE ct.StaffPositionID = @staffPositionId
			AND ct.IsValid = 1
			AND c.IsValid = 1
			AND ct.SchoolYear = @schoolYear;

		SELECT @normaS=ISNULL(SUM(HW1),0) FROM @rstTH WHERE normaTS=norma
		SELECT @diffNorma=ISNULL(SUM(HW1),0) FROM @rstTH WHERE normaTS!=norma
	
		UPDATE sphn 
			SET ReductionHours = ROUND(@normaS+@diffNorma,2)
				,DiffNorma = ROUND(@diffNorma,2)
				,NormaS = ROUND(@normaS,2)
				,Lect = ROUND((@normaS+@diffNorma)-(SELECT normaT FROM @rstTH GROUP BY normaT),2)
				,LectYear = ROUND(((@normaS+@diffNorma)-(SELECT normaT FROM @rstTH GROUP BY normaT))*36,2)
		FROM inst_year.PedStaffData sphn
		WHERE sphn.StaffPositionId = @staffPositionId AND sphn.SchoolYear = @schoolYear AND IsValid = 1;
		
		SET @operationResultType = 1;
		SET @messageCode = 1;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode; 

		COMMIT TRANSACTION
	END
ELSE
	BEGIN
		DECLARE @nrm float --   'Минимална ЗНПР на работното място - корекция септември 2008 с ново име; nrm = rst4!b, редуцираме спрямо това
		DECLARE @nt float --     'Лична ЗНПР на преподавателя - редактирано септември 2008; nt = rst4!d, редуцираме до тук
		DECLARE @nm float --     'Брой часове с норматив, съвпадащ със ЗНПР на работното място (към които се редуцира); nm = rst4!c
		DECLARE @sums  float --  'Сума от часовете по предмети с норматив, несъвпадащ със ЗНПР на работното място (всички те или част от тях ще се редуцират)
		DECLARE @sumks float --  'Сума от часовете, които трябва да се редуцират
		DECLARE @sumnks float -- 'Сума от нередуцираните часове
		DECLARE @sumk float --   'Сума на коефициентите
		DECLARE @sumrks float -- 'Сума от редуцираните часове след редукцията + прелялите
		DECLARE @nk int --    'Брой на коефициентите
		DECLARE @lastk float --  'Последният коефициент, при който нормата се е изпълнила
		DECLARE @lopata float -- 'Помощно средство
		DECLARE @bHasWeekNorm bit
		DECLARE @dblSumDRV float -- 'сумира часовете по БД, които не са на неговия клас
		DECLARE @MaxTW int;
		DECLARE @existA table (A int, B int, C float, D float);
		DECLARE @notExistA table (A int, B int, C float, D float);
		DECLARE @LectYear float = 0;
		DECLARE @counter int;

		SET @sumnks = 0
		SET @sumk = 0
		SET @sumks = 0
		SET @sums = 0
		SET @nk = 0
		SET @sumrks = 0
		SET @nrm = 0
		SET @nm = 0
		SET @nt = 0
		SET @dblSumDRV = 0


		DECLARE @rst3 table (CurriculumGroupNumber int, SubjectName nvarchar(255), TW int, HW float, TID bigint, NumOfIndStd int)
		INSERT INTO @rst3 (CurriculumGroupNumber, SubjectName, TW, HW, TID, NumOfIndStd)
		SELECT [CurriculumGroupNumber],[SubjectName],[TW],[HW],[TID],[NumOfIndStds] FROM inst_basic.[CRec_NormaSubject] WHERE TID = @staffPositionId AND SchoolYear = @schoolYear;


		DECLARE @rst4 table (A int, B int, C float, D float, Expr1 int, IsWeekNorm bit)
		INSERT INTO @rst4 (A, B, C, D, Expr1, IsWeekNorm)
		SELECT [CRec_NormaUnion].A AS A, MAX([CRec_NormaUnion].B) AS B, SUM([CRec_NormaUnion].C) AS C, MAX([CRec_NormaUnion].D) As D, [CRec_NormaUnion].Expr1, MAX([CRec_NormaUnion].IsWeekNorm) AS IsWeekNorm 
					FROM inst_basic.[CRec_NormaUnion] 
					WHERE (([CRec_NormaUnion].StaffPositionId = @staffPositionId
						AND [CRec_NormaUnion].SchoolYear = @schoolYear)) 
					GROUP BY [CRec_NormaUnion].A, [CRec_NormaUnion].Expr1 
					HAVING (((SUM([CRec_NormaUnion].c)) IS NOT NULL)) 

		DECLARE @rst5 table (TID bigint, TW1 int, HW1 float, TW2 int, HW2 float)
		INSERT INTO @rst5 SELECT [TID],[TW1],[HW1],[TW2],[HW2] FROM inst_basic.[CRec_Drivers] WHERE [TID] = @staffPositionId AND SchoolYear = @schoolYear;

		DECLARE @rstMaxTW int ;
		SELECT @rstMaxTW = MAX([TW]) FROM inst_basic.[CRec_NormaSubject] WHERE TID = @staffPositionId AND SchoolYear = @schoolYear;


		--'Това е направено за да се изчисляват правилно лекторските часове на учителите със седмична норма
		SELECT @MaxTW = ISNULL(@rstMaxTW,1)

		--не може да има записи с NormaTS = 0
		IF (SELECT COUNT(1) FROM @rst4 WHERE B = 0) > 0
			BEGIN
				SET @operationResultType = 2;
				SET @messageCode = 1039;
				SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode; 

				COMMIT TRANSACTION
				RETURN
			END


		--часове, които са по NormaT
		INSERT INTO @existA (A, B, C, D)
		SELECT TOP 1 A, B, C, D FROM (SELECT A, B, C, D FROM @rst4) t WHERE t.A = 1


		SET @bHasWeekNorm = (SELECT TOP 1 IsWeekNorm FROM @rst4)
		 IF (SELECT A FROM @existA) = 1
			BEGIN
				 SET @nt = (SELECT D FROM @existA)--' редуцираме до тук
				 SET @nm = (SELECT C FROM @existA)
				 SET @nrm = (SELECT B FROM @existA)-- ' редуцираме спрямо това
			END

		--часове, които НЕ са по NormaT
		INSERT INTO @notExistA (A, B, C, D)
		SELECT A, B, C, D FROM @rst4 t WHERE t.A = 0

		SET @counter = 0;
		DECLARE @B int, @C float;

		DECLARE notExistA CURSOR FOR  
		SELECT B, C FROM @rst4 t WHERE t.A = 0  
		OPEN notExistA;  
		FETCH NEXT FROM notExistA INTO @B, @C
		WHILE @@FETCH_STATUS = 0  
		   BEGIN  

			SET @lopata = ROUND((@nrm / @B * 100 + 0.5) / 100,2)
			  --select @lopata as lopata

			  IF (@sumrks + @nm) < @nt --Then ' Ако нормата не е изпълнена
				BEGIN
					SET @nk = @nk + 1
					SET @sumk = @sumk + @lopata --'* rst4!c
					SET @lastk = @lopata
					--select @nk, @sumk, @lastk
				 END
      
				SET @sums = @sums + @C
				SET @sumnks = ABS(@sumnks - IIF((@sumrks + @nm) >= @nt,-1,0) * @C)
				SET @sumrks = ABS(@sumrks - IIF((@sumrks + @nm) < @nt,-1,0) * @lopata * @C)

				SET @counter = @counter + 1

			  FETCH NEXT FROM notExistA INTO @B, @C;  
		   END;  
		CLOSE notExistA;  
		DEALLOCATE notExistA; 



		--WHILE NOT @counter >= (SELECT COUNT(1) FROM @notExistA)--EXISTS (SELECT A FROM @notExistA)
		--	BEGIN
		--	select @counter

		--     -- ' лопатата е текущ коефициент на редукция, съответно закръглен
		--      SET @lopata = ROUND((@nrm / (SELECT B FROM @notExistA) * 100 + 0.5) / 100,2)
		--	  select @lopata

		--      IF (@sumrks + @nm) < @nt --Then ' Ако нормата не е изпълнена
		--        BEGIN
		--			SET @nk = @nk + 1
		--			SET @sumk = @sumk + @lopata --'* rst4!c
		--			SET @lastk = @lopata
		--			--select @nk, @sumk, @lastk
		--		 END
      
		--		SET @sums = @sums + (SELECT C FROM @notExistA)

		--		SET @sumnks = ABS(@sumnks - IIF((@sumrks + @nm) >= @nt,1,0) * (SELECT C FROM @notExistA))
		--		SET @sumrks = ABS(@sumrks - IIF((@sumrks + @nm) < @nt,1,0) * @lopata * (SELECT C FROM @notExistA))
		--		SET @counter = @counter + 1
		--		--select @sumrks, @nm, @nt, (SELECT C FROM @notExistA)
		--		---58.9	93	684	62
		--		--select IIF((0 + 93) < 684,1,0) * 0.95 * 62
		--		--select IIF((58.90 + 93) < 684,1,0) * 0.95 * 62

		--		--IF @counter >= (SELECT COUNT(1) FROM @notExistA)
		--		--	BREAK  
		--		--ELSE  
		--		--	CONTINUE 
		--	END
   


		 -- ' Часове по норматив на РМ
		  UPDATE sphn SET NormaS = ABS(ISNULL(@nm, 0))
		  FROM inst_year.PedStaffData sphn
		   WHERE sphn.StaffPositionId = @staffPositionId AND sphn.SchoolYear = @schoolYear AND IsValid = 1;


		--  'Часове с различен норматив
		  UPDATE sphn SET DiffNorma = ABS(ISNULL(@sums,0))
		  FROM inst_year.PedStaffData sphn
		   WHERE sphn.StaffPositionId = @staffPositionId AND sphn.SchoolYear = @schoolYear AND IsValid = 1;


		IF @nt > @nm  --'Ако нормата не е изпълнена с основния предмет
			BEGIN
				--'Ако нормата е изпълнена с редуцираните часове, коригирай сумата на не- и редуцираните
				If (@sumrks + @nm) > @nt 
					BEGIN
						  SET @sumnks = ABS(@sumnks + (@sumrks + @nm - @nt) / @lastk)
						  SET @sumrks = ABS(@sumrks - (@sumrks + @nm - @nt))
					END

				SET @sumks = @sums - @sumnks
    

			   -- 'Недостиг до индивидуална ЗНПР
			  UPDATE sphn SET DeficitNormaT = ABS(@nt - @nm)
			  FROM inst_year.PedStaffData sphn
			   WHERE sphn.StaffPositionId = @staffPositionId AND SchoolYear = @schoolYear AND IsValid = 1;

				If @sumk > 0 
					BEGIN
				  --'Коефициент на редукция към ЗНПР на РМ
					  UPDATE sphn SET ReductionCoef = ABS(ROUND(@sumk / @nk,2))
					  FROM inst_year.PedStaffData sphn
					   WHERE sphn.StaffPositionId = @staffPositionId AND SchoolYear = @schoolYear AND IsValid = 1;
					END
				ELSE
					BEGIN
					  UPDATE sphn SET ReductionCoef = 0
					  FROM inst_year.PedStaffData sphn
					   WHERE sphn.StaffPositionId = @staffPositionId AND SchoolYear = @schoolYear AND IsValid = 1;
					END
  
			   -- 'Часове, подлежащи на редукция до инд.ЗНПР
   					  UPDATE sphn SET HoursForReduction = ABS(ISNULL(ROUND(@sumks,2),0))
					  FROM inst_year.PedStaffData sphn
					   WHERE sphn.StaffPositionId = @staffPositionId AND SchoolYear = @schoolYear AND IsValid = 1;

			   -- 'Всичко възложени часове (с редукция)
					   UPDATE sphn SET ReductionHours = ABS(IIF(@bHasWeekNorm = 1, ROUND((@nm + @sumrks + @sumnks),2), ROUND((@nm + @sumrks + @sumnks),0)))
					   FROM inst_year.PedStaffData sphn
					   WHERE sphn.StaffPositionId = @staffPositionId AND SchoolYear = @schoolYear AND IsValid = 1;
   
			   -- ' недостиг на всички възложени часове до минимума за работното място
    
			   -- 'Недостиг до мин. ЗНПР - РМ
				 UPDATE sphn SET DeficitNorma = ABS(IIF(@bHasWeekNorm = 1,@nm + @sumrks + @sumnks - @nrm,ROUND(@nm + @sumrks + @sumnks - @nrm,0)))
					  FROM inst_year.PedStaffData sphn
					   WHERE sphn.StaffPositionId = @staffPositionId AND SchoolYear = @schoolYear AND IsValid = 1;
    
    
			   -- ' лекторски недостиг на всички възложени часове до индивидуално договорената ЗНПР
				--' Лекторски / недостиг - инд.ЗНПР
				 UPDATE sphn SET Lect = IIF(@bHasWeekNorm = 1, @nm + @sumrks + @sumnks - @nt, ROUND(@nm + @sumrks + @sumnks - @nt,0))
					  FROM inst_year.PedStaffData sphn
					   WHERE sphn.StaffPositionId = @staffPositionId AND SchoolYear = @schoolYear AND IsValid = 1;    

			--ПОЛЕТА В ИНТЕРФЕЙСА СПРЯМО CRec процедурата
			--Output.Col8 - Недостиг до минимална ЗНПР
			--Output.Col9 - НЕ СЕ ПОКАЗВА В ИНТЕРФЕЙСА
			--Output.Col10 - Часове по норматив на РМ
			--Output.Col11 - Недостиг до индивидуална ЗНПР
			--Output.Col12 - Часове с различен норматив
			--Output.Col13 - Коефициент на редукция към ЗНПР на РМ
			--Output.Col14 - Часове, подлежащи на редукция до инд.ЗНПР
			--Output.Col15 - Всичко възложени часове (с редукция)
			--Output.Col16 - Лекторски / недостиг - инд.ЗНПР
			--Output.Col17 - Лекторски / недостиг - инд.ЗНПР (год.)

			  --  ' Преизчислени часове лекторски/недостиг, за учителите на седмичен норматив - годишно, с допълнителните часове БД
		DECLARE @TW1 int, @HW1 float, @TW2 int, @HW2 float; --променливи за CURSOR-те в следващия IF и ELSE

			  IF @bHasWeekNorm = 1
				BEGIN
					IF NOT EXISTS (SELECT * FROM @rst5)--ЧК 199 и БДП 196 са в един и същи клас
						BEGIN
							SET @LectYear = ROUND((@nm + @sumrks + @sumnks - @nt) * IIf(@bHasWeekNorm=1, @MaxTW, 1),1)
						END
					ELSE --това са часове по БДП 196, по които нямам ЧК 199
						BEGIN
							DECLARE rst5 CURSOR FOR  
							SELECT TW1, HW1, TW2, HW2 FROM @rst5 t  
							OPEN rst5;  
							FETCH NEXT FROM rst5 INTO @TW1, @HW1, @TW2, @HW2
							WHILE @@FETCH_STATUS = 0  
							   BEGIN  

								   SET @dblSumDRV = @dblSumDRV + (@TW1 * @HW1)+(@TW2 * @HW2)

								  FETCH NEXT FROM rst5 INTO @TW1, @HW1, @TW2, @HW2;  
							   END;  
							CLOSE rst5;  
							DEALLOCATE rst5; 

							--WHILE EXISTS (SELECT * FROM @rst5)
							--	BEGIN
							--		SET @dblSumDRV = @dblSumDRV + (SELECT (TW1 * HW1)+(TW2 * HW2) FROM @rst5)
							--	END


							SET @LectYear = ROUND(((@nm + @sumrks + @sumnks - @nt) * IIf(@bHasWeekNorm=1, @MaxTW, 1)) + @dblSumDRV,0)
						END

				  END
			  ELSE
					BEGIN
						-- когато не е на седмичен норматив, лекторските годишно са равни на лекторските часове
						SET @LectYear = ROUND(@nm + @sumrks + @sumnks - @nt,0)
					END

		
					UPDATE sphn SET LectYear = @LectYear
					FROM inst_year.PedStaffData sphn
					WHERE sphn.StaffPositionId = @staffPositionId AND sphn.SchoolYear = @schoolYear AND IsValid = 1;
			END
			--дотук смята ако нормата не е изпълнена по основния предмет
		ELSE --@nt > @nm = false
			BEGIN
				UPDATE sphn SET DeficitNormaT = 0
						,ReductionCoef = 0
						,HoursForReduction = 0
						,ReductionHours = ABS(IIF(@bHasWeekNorm = 1, ROUND(@nm + @sums,1), ROUND(@nm + @sums,0)))
						,DeficitNorma = ABS(IIf(@nm + @sums - @nrm > 0, 0, IIF(@bHasWeekNorm = 1, ROUND(@nm + @sums - @nrm,1),ROUND(@nm + @sums - @nrm,0))))
						,Lect = IIF(@bHasWeekNorm = 1, ROUND(@nm + @sums - @nt,1), ROUND(@nm + @sums - @nt,0))
				FROM inst_year.PedStaffData sphn
				WHERE sphn.StaffPositionId = @staffPositionId AND sphn.SchoolYear = @schoolYear AND IsValid = 1;

 
 			  IF @bHasWeekNorm = 1
				BEGIN
					IF NOT EXISTS (SELECT * FROM @rst5)
						BEGIN

							SET @LectYear = (@nm + @sumrks + @sumnks - @nt) * IIf(@bHasWeekNorm=1, @MaxTW, 1)
						END
					ELSE
						BEGIN
							DECLARE rst5 CURSOR FOR  
							SELECT TW1, HW1, TW2, HW2 FROM @rst5 t  
							OPEN rst5;  
							FETCH NEXT FROM rst5 INTO @TW1, @HW1, @TW2, @HW2
							WHILE @@FETCH_STATUS = 0  
							   BEGIN  

								   SET @dblSumDRV = @dblSumDRV + (@TW1 * @HW1)+(@TW2 * @HW2)

								  FETCH NEXT FROM rst5 INTO @TW1, @HW1, @TW2, @HW2;  
							   END;  
							CLOSE rst5;  
							DEALLOCATE rst5;
							--WHILE EXISTS (SELECT * FROM @rst5)
							--	BEGIN

							--		SET @dblSumDRV = @dblSumDRV + (SELECT (TW1 * HW1)+(TW2 * HW2) FROM @rst5)
							--	END
							SET @LectYear = ((@nm + @sumrks + @sumnks - @nt) * IIf(@bHasWeekNorm=1, @MaxTW, 1)) + @dblSumDRV
						END

				  END
			  ELSE
					BEGIN
						-- когато не е на седмичен норматив, лекторските годишно са равни на лекторските часове
						SET @LectYear = (@nm + @sumrks + @sumnks - @nt)
					END

		
					UPDATE sphn SET LectYear = IIF(@bHasWeekNorm = 1, @LectYear, ROUND(@LectYear,0))
					FROM inst_year.PedStaffData sphn
					WHERE sphn.StaffPositionId = @staffPositionId AND sphn.SchoolYear = @schoolYear AND IsValid = 1;
			END
			--някога се е смятало и още нещо, но сега не се показва в  интерфейса на АдминПро
		--Output.Col9 = nt
		SET @operationResultType = 1;
		SET @messageCode = 1;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode; 

		COMMIT TRANSACTION
END

END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'calculationCRec', @institutionId, NULL;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [calculationCRec] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH

END

