USE [neispuo-test]
GO
/****** Object:  StoredProcedure [inst_basic].[ChangeYearIsAvailable]    Script Date: 7/5/2022 2:18:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER
	

 PROCEDURE [inst_basic].[ChangeYearIsAvailable]
	-- Add the parameters here
	@_json NVARCHAR(MAX),
	@OperationType int
AS
BEGIN

/************** Setup initial params ******************/
-- ---------- define context param: institutionID --------------
DECLARE @instid int;
SELECT @instid = instid FROM OPENJSON(@_json)
WITH (   
		instid int			'$.instid'

)
-- ---------- define context param: resultType --------------
DECLARE @resultType int;


	--DECLARE @CurrentYear INT;

	--SET @CurrentYear = YEAR(GETDATE())

	DECLARE @CheckByCurrentDate BIT = 0;

	SET @CheckByCurrentDate = (
			SELECT IsValid
			FROM inst_basic.CurrentYear
			WHERE GETDATE() BETWEEN CAST(ChangeYearFrom AS DATE)
						AND CAST(ChangeYearTo AS DATE)
					
			);

	DECLARE @SchoolYear INT = (
			SELECT SchoolYear
			FROM core.InstitutionConfData
			WHERE InstitutionID = @instid
			);
	DECLARE @ValidYear INT = (
			SELECT CurrentYearID
			FROM inst_basic.CurrentYear
			WHERE IsValid = 1
			);

	IF (
			@CheckByCurrentDate = 1
			AND (@SchoolYear < @ValidYear) 
			)
		SET @resultType=1

	ELSE
		SET @resultType=0

		SELECT @resultType AS resultType
END
