USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[institutionUpdate]    Script Date: 8/1/2022 12:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [inst_basic].[institutionUpdate] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS

BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param: institutionID --------------
DECLARE @instID int;
SELECT @instID = institutionID FROM OPENJSON(@_json)
WITH (   
		institutionID int			'$.codeNEISPUO'
)

-- ---------- define context param3: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = inst_year.getSchoolYearByInstID(@instID)


-- ---------- define Master object 2: [InstitutionDepartment] ID param --------------
DECLARE @mainAddressID int;
SELECT @mainAddressID = primaryAddrID FROM OPENJSON(@_json)
WITH (   
		primaryAddrID int			'$.primaryAddrID'
)

-- ---------- define context param3: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)

-- ---------- define Master object 3: [inst_year][InstitutionOtherData] ID param --------------
DECLARE @instOtherdataID int;
SELECT @instOtherDataID = instOtherDataID FROM OPENJSON(@_json)
WITH (   
		instOtherDataID int			'$.instOtherDataID'
)

-- ---------- define Detail object 1: [InstitutionInnovation] ID and string params ---
DECLARE @institutionInnovationsCreatedVar TABLE  
(  
	id INT
);
DECLARE @institutionInnovationsCreatedString NVARCHAR(4000);

DECLARE @institutionInnovationsUpdatedVar TABLE  
(  
	id INT
);
DECLARE @institutionInnovationsUpdatedString NVARCHAR(4000);

DECLARE @institutionInnovationsDeletedString NVARCHAR(4000);

-- ---------- define Details object 2: [InstitutionPhone] ID and string params ---
DECLARE @institutionPhonesCreatedVar TABLE  
(  
	id INT
);
DECLARE @institutionPhonesCreatedString NVARCHAR(4000);

DECLARE @institutionPhonesUpdatedVar TABLE  
(  
	id INT
);
DECLARE @institutionPhonesUpdatedString NVARCHAR(4000);

DECLARE @institutionPhonesDeletedString NVARCHAR(4000);

DECLARE @ExternalID NVARCHAR(100) = NULL;

--if the school used external data provider --- then it cannot write to the database
DECLARE @isExtDataProvider bit;
SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
FROM [core].[InstitutionConfData] 
WHERE InstitutionID = @instID 
	AND SchoolYear = @schoolYear;


PRINT 'INFO: PROCEDURE institutionUpdate started! Initial data gathered. InstitutionID=' + CAST(@instID AS VARCHAR(12));

/* ############################## Start OperationType = 2 -> UPDATE Institution data ############################## */
IF ((@OperationType = 2) AND (@instID IS NOT NULL) AND (@mainAddressID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object 1: [InstitutionDetail] with InstitutionID=' + CAST(@instID AS VARCHAR(12));
	
	IF @isExtDataProvider = 1
		BEGIN
			UPDATE top (1) [inst_basic].[InstitutionDetail]
			SET 
			   [Email] = JID.email
			  ,[Website] = JID.website
			  ,[EstablishedYear] = JID.established
			  ,[ConstitActFirst] = JID.incActFirst
			  ,[ConstitActLast] = JID.incActLast
			  ,[IsODZ] = JID.isODZ
			  ,[IsProfSchool] = JID.isProfSchool
			  ,[IsNational] = JID.isNational
			  ,[IsProvideEduServ] = JID.isProvideEduServ
			  ,[IsDelegateBudget] = JID.isDelegateBudget
			  ,[IsNonIndDormitory] = JID.isNonIndDormitory
			  ,[IsInternContract] = JID.isInternContract
			  ,[IsAppInnovSystem] = JID.IsAppInnovSystem
			  ,[BankIBAN] = JID.bankIBAN
			  ,[BankBIC] = JID.bankBIC
			  ,[BankName] = JID.bankName
			  ,[BankAccountHolder] = JID.bankAccountHolder
			  ,[SysUserID]=@sysuserid

			FROM OPENJSON(@_json)
			WITH (   -- names below shoul match JSON fields
				email nvarchar(50),
				website nvarchar(50),
				established nvarchar(255),
				incActFirst nvarchar(1024),
				incActLast nvarchar(1024),
				isODZ bit,
				isProfSchool bit,
				isNational bit,
				isProvideEduServ bit,
				isDelegateBudget bit,
				isNonIndDormitory bit,
				isInternContract bit,
				isAppInnovSystem bit,
				bankIBAN nvarchar(255),
				bankBIC nvarchar(255),
				bankName nvarchar(255),
				bankAccountHolder nvarchar(255)
				) JID				 
			WHERE
				[inst_basic].[InstitutionDetail].InstitutionID = @instID;
			PRINT 'INFO: [InstitutionDetail] UPDATED successfully!';

			PRINT 'INFO: OperationType = 2 -> Start with checking INSERT or UPDATE with Master object 3: [inst_year][InstitutionOtherData] with InstitutionID=' + CAST(@instID AS VARCHAR(12));
			IF (@instOtherdataID IS NULL) -- Should INSERT [InstitutionOtherData] object into the DB...
			BEGIN
				PRINT 'INFO: OperationType = 2 -> Will INSERT Master object 3: [inst_year][InstitutionOtherData] object into the DB...';
				INSERT INTO [inst_year].[InstitutionOtherData]
						([InstitutionID]
						,[SchoolYear]
						,[ExternalID]
						,[SchoolShiftTypeID]
						,[PedagogStaffCount]
						,[NonpedagogStaffCount]
						,[PedagogStaffSalary]
						,[NonpedagogStaffSalary]
						,[YearlyBudget]
						,[SysUserID]
						,[StaffCountAll])
				SELECT @instID, 
						@schoolYear, 
						@ExternalID,
						schoolShiftTypeID, 
						pedagogStaffCount,
						nonpedagogStaffCount,
						pedagogStaffSalary,
						nonpedagogStaffSalary,
						yearlyBudget,
						@sysuserid,
						staffCountAll = pedagogStaffCount + nonpedagogStaffCount
				FROM OPENJSON(@_json)
				WITH (   
					schoolShiftTypeID int			'$.schoolShiftTypeID'
					,pedagogStaffCount float		'$.pedagogStaffCount'
					,nonpedagogStaffCount float		'$.pedagogNonStaffCount'
					,pedagogStaffSalary float		'$.pedagogStaffSalary'
					,nonpedagogStaffSalary float	'$.pedagogNonStaffSalary'
					,yearlyBudget float				'$.yearlyBudget'
					);
				SELECT @InstOtherDataID = SCOPE_IDENTITY();
				PRINT 'INFO: [InstitutionOtherData] INSERTED successfully with id=' + CAST(@InstOtherDataID AS VARCHAR(12));
			END
			ELSE -- Should UPDATE [InstitutionOtherData] object into the DB... 
			BEGIN
				PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object 3: [inst_year][InstitutionOtherData] with InstitutionOtherDataID='+ CAST(@instOtherDataID AS VARCHAR(12));
				UPDATE top (1) [inst_year].[InstitutionOtherData]
				SET 
					 [InstitutionID] = @instID
					,[SchoolYear] = @schoolYear
					,[SchoolShiftTypeID] = JIOD.schoolShiftTypeID
					,[PedagogStaffCount] = JIOD.pedagogStaffCount
					,[NonpedagogStaffCount] = JIOD.pedagogNonStaffCount
					,[PedagogStaffSalary] = JIOD.pedagogStaffSalary
					,[NonpedagogStaffSalary] = JIOD.pedagogNonStaffSalary
					,[YearlyBudget] = JIOD.yearlyBudget
					,[SysUserID] = @sysuserid
					,[StaffCountAll] = JIOD.pedagogStaffCount + JIOD.pedagogNonStaffCount
				FROM OPENJSON(@_json)
				WITH (   
					schoolShiftTypeID int
					,pedagogStaffCount float
					,pedagogNonStaffCount float
					,pedagogStaffSalary float
					,pedagogNonStaffSalary float
					,yearlyBudget float
					) JIOD			
				WHERE
					[inst_year].[InstitutionOtherData].InstitutionOtherDataID = @instOtherDataID;
				PRINT 'INFO: [InstitutionOtherData] UPDATED successfully with id=' + CAST(@instOtherDataID AS VARCHAR(12));
			END

			PRINT 'INFO: OperationType = 2 -> Will UPDATE Detail objects in collection: [InstitutionInnovation] with InstitutionID=' + CAST(@instID AS VARCHAR(12));
			/* *********************** CREATE newly added [InstitutionInnovation] objects in collection ******************************** */ 
			INSERT INTO [inst_basic].[InstitutionInnovation]
						([InstitutionID]
						,[SysUserID]
						,[ExternalID]
						,[InnovationTypeID]
						,[Notes]
				
						)
			OUTPUT INSERTED.InstitutionInnovationID INTO @institutionInnovationsCreatedVar
			SELECT @instID, @sysuserid, @ExternalID, *
			FROM OPENJSON(@_json, '$.institutionInnovationsCreated')
			WITH (   
				innovationType int			'$.innovationType'
				,notes nvarchar(255)		'$.notes'
				); 
			SET @institutionInnovationsCreatedString = (SELECT STRING_AGG(id, ',') FROM @institutionInnovationsCreatedVar);
			PRINT 'INFO: [InstitutionInnovation] INSERTED with InstitutionInnovationIDs=' + @institutionInnovationsCreatedString;

			/* *********************** UPDATE existing/changed [InstitutionInnovation] objects in collection ******************************** */ 
			UPDATE [inst_basic].[InstitutionInnovation]
			SET
				 [SysUserID] = @sysuserid
				,[InnovationTypeID] = JII.innovationType
				,[Notes] = JII.notes
			OUTPUT INSERTED.InstitutionInnovationID INTO @institutionInnovationsUpdatedVar
			FROM OPENJSON(@_json, '$.institutionInnovationsUpdated')
			WITH (   
				 institutionInnovationID int	'$.id'
				,innovationType int				'$.innovationType'
				,notes nvarchar(255)			'$.notes'
				) JII
			WHERE
				[inst_basic].[InstitutionInnovation].InstitutionInnovationID = JII.institutionInnovationID;
			SET @institutionInnovationsUpdatedString = (SELECT STRING_AGG(id, ',') FROM @institutionInnovationsUpdatedVar);
			PRINT 'INFO: [InstitutionInnovation] UPDATED with InstitutionInnovationIDs=' + @institutionInnovationsUpdatedString;

			/* *********************** DELETE removed [InstitutionInnovation] objects in collection **************************** */
			SELECT @institutionInnovationsDeletedString = (SELECT STRING_AGG(institutionInnovationsDeletedIDs, ',')  
				FROM OPENJSON(@_json, '$.institutionInnovationsDeleted')
				WITH (   
					institutionInnovationsDeletedIDs int			'$.id'
				));

			DELETE FROM [inst_basic].[InstitutionInnovation]
				WHERE [inst_basic].[InstitutionInnovation].InstitutionInnovationID IN (			
					SELECT institutionInnovationsDeletedIDs FROM OPENJSON(@_json, '$.institutionInnovationsDeleted')
						WITH (   
							institutionInnovationsDeletedIDs int			'$.id'
						)
					);
			PRINT 'INFO: [InstitutionInnovation] DELETED with InstitutionInnovationID=' + CAST(@institutionInnovationsDeletedString AS VARCHAR(12)); 

			SELECT @instID AS instID, @mainAddressID AS mainAddressID, @instOtherDataID AS instOtherDataID, 
				@institutionInnovationsCreatedString AS institutionInnovationsCreatedIDs, @institutionInnovationsUpdatedString AS institutionInnovationsUpdatedIDs, @institutionInnovationsDeletedString AS institutionInnovationsDeletedIDs,
				@institutionPhonesCreatedString AS institutionPhonesCreatedIDs, @institutionPhonesUpdatedString AS institutionPhonesUpdatedIDs, @institutionPhonesDeletedString AS institutionPhonesDeletedIDs; -- return back to the caller i.e. front-end
		END
	ELSE
		BEGIN
			UPDATE top (1) [inst_basic].[InstitutionDetail]
			SET 
			   [Email] = JID.email
			  ,[Website] = JID.website
			  ,[EstablishedYear] = JID.established
			  ,[ConstitActFirst] = JID.incActFirst
			  ,[ConstitActLast] = JID.incActLast
			  ,[IsODZ] = JID.isODZ
			  ,[IsProfSchool] = JID.isProfSchool
			  ,[IsNational] = JID.isNational
			  ,[IsProvideEduServ] = JID.isProvideEduServ
			  ,[IsDelegateBudget] = JID.isDelegateBudget
			  ,[IsNonIndDormitory] = JID.isNonIndDormitory
			  ,[IsInternContract] = JID.isInternContract
			  ,[IsAppInnovSystem] = JID.IsAppInnovSystem
			  ,[BankIBAN] = JID.bankIBAN
			  ,[BankBIC] = JID.bankBIC
			  ,[BankName] = JID.bankName
			  ,[BankAccountHolder] = JID.bankAccountHolder
			  ,[SysUserID]=@sysuserid

			FROM OPENJSON(@_json)
			WITH (   -- names below shoul match JSON fields
				email nvarchar(50),
				website nvarchar(50),
				established nvarchar(255),
				incActFirst nvarchar(1024),
				incActLast nvarchar(1024),
				isODZ bit,
				isProfSchool bit,
				isNational bit,
				isProvideEduServ bit,
				isDelegateBudget bit,
				isNonIndDormitory bit,
				isInternContract bit,
				isAppInnovSystem bit,
				bankIBAN nvarchar(255),
				bankBIC nvarchar(255),
				bankName nvarchar(255),
				bankAccountHolder nvarchar(255)
				) JID				 
			WHERE
				[inst_basic].[InstitutionDetail].InstitutionID = @instID;
			PRINT 'INFO: [InstitutionDetail] UPDATED successfully!';

			PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object 2: [InstitutionDepartment] i.e. primary address with InstitutionDepartmentID=' + CAST(@mainAddressID AS VARCHAR(12));
			UPDATE top (1) [inst_basic].[InstitutionDepartment]
			SET 
				[InstitutionID] = @instID
				,[Name] = JMA.primaryAddrName
				,[CountryID] = JMA.country
				,[TownID] = JMA.town
				,[LocalAreaID] = JMA.localArea
				,[Address] = JMA.address
				,[PostCode] = JMA.postCode
				,[SysUserID] = @sysuserid
				,[IsMain] = 1
			FROM OPENJSON(@_json)
			WITH (   
				primaryAddrName nvarchar(255)						 
				,country int
				,town int
				,localArea int
				,address nvarchar(255)
				,postCode int
				) JMA				 
			WHERE
				[inst_basic].[InstitutionDepartment].InstitutionDepartmentID = @mainAddressID AND 
				[inst_basic].[InstitutionDepartment].InstitutionID = @instID;
			PRINT 'INFO: [InstitutionDepartment] UPDATED successfully!';

			PRINT 'INFO: OperationType = 2 -> Start with checking INSERT or UPDATE with Master object 3: [inst_year][InstitutionOtherData] with InstitutionID=' + CAST(@instID AS VARCHAR(12));
			IF (@instOtherdataID IS NULL) -- Should INSERT [InstitutionOtherData] object into the DB...
			BEGIN
				PRINT 'INFO: OperationType = 2 -> Will INSERT Master object 3: [inst_year][InstitutionOtherData] object into the DB...';
				INSERT INTO [inst_year].[InstitutionOtherData]
							([InstitutionID]
							,[SchoolYear]
							,[ExternalID]
							,[SchoolShiftTypeID]
							,[PedagogStaffCount]
							,[NonpedagogStaffCount]
							,[PedagogStaffSalary]
							,[NonpedagogStaffSalary]
							,[YearlyBudget]
							,[SysUserID]
							,[StaffCountAll])
				SELECT @instID, 
						@schoolYear, 
						@ExternalID,
						schoolShiftTypeID, 
						pedagogStaffCount,
						nonpedagogStaffCount,
						pedagogStaffSalary,
						nonpedagogStaffSalary,
						yearlyBudget,
						@sysuserid,
						staffCountAll = pedagogStaffCount + nonpedagogStaffCount
				FROM OPENJSON(@_json)
				WITH (   
					schoolShiftTypeID int			'$.schoolShiftTypeID'
					,pedagogStaffCount float		'$.pedagogStaffCount'
					,nonpedagogStaffCount float		'$.pedagogNonStaffCount'
					,pedagogStaffSalary float		'$.pedagogStaffSalary'
					,nonpedagogStaffSalary float	'$.pedagogNonStaffSalary'
					,yearlyBudget float				'$.yearlyBudget'
					);
				SELECT @InstOtherDataID = SCOPE_IDENTITY();
				PRINT 'INFO: [InstitutionOtherData] INSERTED successfully with id=' + CAST(@InstOtherDataID AS VARCHAR(12));
			END
			ELSE -- Should UPDATE [InstitutionOtherData] object into the DB... 
			BEGIN
				PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object 3: [inst_year][InstitutionOtherData] with InstitutionOtherDataID='+ CAST(@instOtherDataID AS VARCHAR(12));
				UPDATE top (1) [inst_year].[InstitutionOtherData]
				SET 
					 [InstitutionID] = @instID
					,[SchoolYear] = @schoolYear
					,[SchoolShiftTypeID] = JIOD.schoolShiftTypeID
					,[PedagogStaffCount] = JIOD.pedagogStaffCount
					,[NonpedagogStaffCount] = JIOD.pedagogNonStaffCount
					,[PedagogStaffSalary] = JIOD.pedagogStaffSalary
					,[NonpedagogStaffSalary] = JIOD.pedagogNonStaffSalary
					,[YearlyBudget] = JIOD.yearlyBudget
					,[SysUserID] = @sysuserid
					,[StaffCountAll] = JIOD.pedagogStaffCount + JIOD.pedagogNonStaffCount
				FROM OPENJSON(@_json)
				WITH (   
					schoolShiftTypeID int
					,pedagogStaffCount float
					,pedagogNonStaffCount float
					,pedagogStaffSalary float
					,pedagogNonStaffSalary float
					,yearlyBudget float
					) JIOD			
				WHERE
					[inst_year].[InstitutionOtherData].InstitutionOtherDataID = @instOtherDataID;
				PRINT 'INFO: [InstitutionOtherData] UPDATED successfully with id=' + CAST(@instOtherDataID AS VARCHAR(12));
			END

			PRINT 'INFO: OperationType = 2 -> Will UPDATE Detail objects in collection: [InstitutionInnovation] with InstitutionID=' + CAST(@instID AS VARCHAR(12));
			/* *********************** CREATE newly added [InstitutionInnovation] objects in collection ******************************** */ 
			INSERT INTO [inst_basic].[InstitutionInnovation]
						([InstitutionID]
						,[SysUserID]
						,[ExternalID]
						,[InnovationTypeID]
						,[Notes]
				
						)
			OUTPUT INSERTED.InstitutionInnovationID INTO @institutionInnovationsCreatedVar
			SELECT @instID, @sysuserid, @ExternalID, *
			FROM OPENJSON(@_json, '$.institutionInnovationsCreated')
			WITH (   
				innovationType int			'$.innovationType'
				,notes nvarchar(255)		'$.notes'
				); 
			SET @institutionInnovationsCreatedString = (SELECT STRING_AGG(id, ',') FROM @institutionInnovationsCreatedVar);
			PRINT 'INFO: [InstitutionInnovation] INSERTED with InstitutionInnovationIDs=' + @institutionInnovationsCreatedString;

			/* *********************** UPDATE existing/changed [InstitutionInnovation] objects in collection ******************************** */ 
			UPDATE [inst_basic].[InstitutionInnovation]
			SET
				 [SysUserID] = @sysuserid
				,[InnovationTypeID] = JII.innovationType
				,[Notes] = JII.notes
			OUTPUT INSERTED.InstitutionInnovationID INTO @institutionInnovationsUpdatedVar
			FROM OPENJSON(@_json, '$.institutionInnovationsUpdated')
			WITH (   
				 institutionInnovationID int	'$.id'
				,innovationType int				'$.innovationType'
				,notes nvarchar(255)			'$.notes'
				) JII
			WHERE
				[inst_basic].[InstitutionInnovation].InstitutionInnovationID = JII.institutionInnovationID;
			SET @institutionInnovationsUpdatedString = (SELECT STRING_AGG(id, ',') FROM @institutionInnovationsUpdatedVar);
			PRINT 'INFO: [InstitutionInnovation] UPDATED with InstitutionInnovationIDs=' + @institutionInnovationsUpdatedString;

			/* *********************** DELETE removed [InstitutionInnovation] objects in collection **************************** */
			SELECT @institutionInnovationsDeletedString = (SELECT STRING_AGG(institutionInnovationsDeletedIDs, ',')  
				FROM OPENJSON(@_json, '$.institutionInnovationsDeleted')
				WITH (   
					institutionInnovationsDeletedIDs int			'$.id'
				));

			DELETE FROM [inst_basic].[InstitutionInnovation]
				WHERE [inst_basic].[InstitutionInnovation].InstitutionInnovationID IN (			
					SELECT institutionInnovationsDeletedIDs FROM OPENJSON(@_json, '$.institutionInnovationsDeleted')
						WITH (   
							institutionInnovationsDeletedIDs int			'$.id'
						)
					);
			PRINT 'INFO: [InstitutionInnovation] DELETED with InstitutionInnovationID=' + CAST(@institutionInnovationsDeletedString AS VARCHAR(12)); 

			PRINT 'INFO: OperationType = 2 -> Will UPDATE Detail objects in collection: [InstitutionPhone] with InstitutionID=' + CAST(@instID AS VARCHAR(12));
			/* *********************** CREATE newly added [InstitutionPhone] objects in collection ******************************** */ 
			INSERT INTO [inst_basic].[InstitutionPhone]
				([InstitutionID]
				,[DepartmentID]
				,[IsInstitution]
				,[SysUserID]
				,[PhoneTypeID]
				,[PhoneCode]
				,[PhoneNumber]
				,[ContactKind]
				,[IsMain]
				)
			OUTPUT INSERTED.InstitutionPhoneID INTO @institutionPhonesCreatedVar
			SELECT @instID, @mainAddressID, 1, @sysuserid, *
			FROM OPENJSON(@_json, '$.institutionPhonesCreated')
			WITH (  
					phoneTypeID int,
					phoneCode nvarchar(10),
					phoneNumber nvarchar(50),
					contactKind nvarchar(255),
					isMain bit
				);
			SET @institutionPhonesCreatedString = (SELECT STRING_AGG(id, ',') FROM @institutionPhonesCreatedVar);
			PRINT 'INFO: [InstitutionPhone] INSERTED with InstitutionPhonesIDs=' + @institutionPhonesCreatedString;

			/* *********************** UPDATE existing/changed [InstitutionPhone] objects in collection ******************************** */ 
			UPDATE [inst_basic].[InstitutionPhone]
			SET
					 [DepartmentID] = @mainAddressID
					,[IsInstitution] = 1
					,[SysUserID] = @sysuserid
					,[PhoneTypeID] = JIP.phoneTypeID
					,[PhoneCode] = JIP.phoneCode
					,[PhoneNumber] = JIP.phoneNumber
					,[ContactKind] = JIP.contactKind
					,[IsMain] = JIP.isMain
			OUTPUT INSERTED.InstitutionPhoneID INTO @institutionPhonesUpdatedVar
			FROM OPENJSON(@_json, '$.institutionPhonesUpdated')
			WITH (   
					institutionPhoneID int	'$.id'
					,phoneTypeID int			'$.phoneTypeID'
					,phoneCode nvarchar(10)		'$.phoneCode'
					,phoneNumber nvarchar(50)	'$.phoneNumber'
					,contactKind nvarchar(255)	'$.contactKind'
					,isMain bit					'$.isMain'
				) JIP
			WHERE
				[inst_basic].[InstitutionPhone].InstitutionPhoneID = JIP.institutionPhoneID;
			SET @institutionPhonesUpdatedString = (SELECT STRING_AGG(id, ',') FROM @institutionPhonesUpdatedVar);
			PRINT 'INFO: [InstitutionPhone] UPDATED with InstitutionPhoneIDs=' + @institutionPhonesUpdatedString;

			/* *********************** DELETE removed [InstitutionPhone] objects in collection **************************** */
			SELECT @institutionPhonesDeletedString = (SELECT STRING_AGG(institutionPhonesDeletedIDs, ',')  
				FROM OPENJSON(@_json, '$.institutionPhonesDeleted')
				WITH (   
					institutionPhonesDeletedIDs int			'$.id'
				));

			DELETE FROM [inst_basic].[InstitutionPhone]
				WHERE [inst_basic].[InstitutionPhone].InstitutionPhoneID IN (			
					SELECT institutionPhonesDeletedIDs FROM OPENJSON(@_json, '$.institutionPhonesDeleted')
						WITH (   
							institutionPhonesDeletedIDs int			'$.id'
						)
					);
			PRINT 'INFO: [InstitutionPhone] DELETED with InstitutionPhoneIDs=' + CAST(@institutionPhonesDeletedString AS VARCHAR(12)); 

			SELECT @instID AS instID, @mainAddressID AS mainAddressID, @instOtherDataID AS instOtherDataID, 
				@institutionInnovationsCreatedString AS institutionInnovationsCreatedIDs, @institutionInnovationsUpdatedString AS institutionInnovationsUpdatedIDs, @institutionInnovationsDeletedString AS institutionInnovationsDeletedIDs,
				@institutionPhonesCreatedString AS institutionPhonesCreatedIDs, @institutionPhonesUpdatedString AS institutionPhonesUpdatedIDs, @institutionPhonesDeletedString AS institutionPhonesDeletedIDs; -- return back to the caller i.e. front-end
		END
END  /* End OperationType = 2 -> UPDATE institution data *************** */
/* ############################################################ */
ELSE
	THROW 99002, '[institutionUpdate] Illegal CONTEXT or MASTER Obejects params! Please contact DEV/support team.', 1;

EXEC [logs].logEvent @_json, @OperationType, 103, 'Institution', @instID, @schoolYear;

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'Institution', @instID, @schoolYear;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [institutionUpdate] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
/* ************ END OF PROCEDURE ************ */
