USE [neispuo]
GO
/****** Object:  StoredProcedure [inst_basic].[curriculumCUD]    Script Date: 9/7/2022 11:14:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [inst_basic].[curriculumCUD] 
	-- Add the parameters for the stored procedure here
	@_json NVARCHAR(MAX),
	@OperationType int
AS
BEGIN TRY
BEGIN TRANSACTION

/************** Setup initial params ******************/
-- ---------- define context param 1: institutionID --------------
DECLARE @instID int;
SELECT @instID = institutionID FROM OPENJSON(@_json)
WITH (   
		institutionID int	'$.instid'
)

-- ---------- define context param2: schoolYear --------------
DECLARE @schoolYear int;
SELECT @schoolYear = inst_year.getSchoolYearByInstID(@instID)

-- ---------- define Master object: [Curriculum] ID param --------------
DECLARE @curriculumID int;
SELECT @curriculumID = curriculumID FROM OPENJSON(@_json)
WITH (   
		curriculumID int	'$.curriculumid'
)
-- ---------- define object: --------------
DECLARE @parentClassId int;
SELECT @parentClassId = parentClassID FROM OPENJSON(@_json)
WITH (   
		parentClassID int	'$.parentClassID'
)
-- ---------- define context param3: sysuserid --------------
DECLARE @sysuserid int;
SELECT @sysuserid = sysuserid FROM OPENJSON(@_json)
WITH (   
		sysuserid int			'$.sysuserid'
)

-- ---------- define studentPersonId ---
DECLARE @studentPersonIds table (personId int, studentId int)
INSERT INTO @studentPersonIds (personId, studentId)
SELECT PersonId , ID
FROM student.StudentClass 
WHERE student.StudentClass.ID in (SELECT *
								FROM OPENJSON(@_json, '$.curriculumStudents')
								WITH (   
										studentid int	'$.id'
									)); 

-- ---------- define countClassIdsCreated ---
declare @countClassIdsC int 
SELECT @countClassIdsC = COUNT(classID) FROM OPENJSON(@_json, '$.curriculumClasses')
WITH (   
		classID int			'$.classID'
)
-- ---------- define countClassIdsUpdated ---
declare @countClassIdsU int 
SELECT @countClassIdsU = COUNT(classID) FROM OPENJSON(@_json, '$.curriculumClassesUpdated')
WITH (   
		classID int			'$.classID'
)
-- ---------- define countClassIdsCreated for update ---
declare @countClassIdsUC int 
SELECT @countClassIdsUC = COUNT(classID) FROM OPENJSON(@_json, '$.curriculumClassesCreated')
WITH (   
		classID int			'$.classID'
)
-- ---------- define countClassIdsDeleted ---
declare @countClassIdsD int 
SELECT @countClassIdsD = COUNT(classID) FROM OPENJSON(@_json, '$.curriculumClassesDeleted')
WITH (   
		classID int			'$.classID'
)
-- ---------- define param for checking value exist ---
DECLARE @subjectID int, @subjectTypeId int, @curriculumGroupID int, @curriculumPartID int
SELECT @subjectID = subjectID
		,@subjectTypeId = subjectTypeID
		,@curriculumGroupID = curriculumGroupID
		,@curriculumPartID = curriculumPartID
FROM OPENJSON(@_json)
WITH (   
		subjectID int			'$.subjectID'
		,subjectTypeID int			'$.subjectTypeID'
		,curriculumGroupID int			'$.curriculumGroupID'
		,curriculumPartID int			'$.curriculumPartID'
	)

-- ---------- define param for checking value exist -classIds ---
DECLARE @classIds table (classId int)
INSERT INTO @classIds (classId)
SELECT classID
FROM OPENJSON(@_json, '$.curriculumClasses')
WITH (   
		classID int			'$.classID'
	)
UNION
SELECT classID
FROM OPENJSON(@_json, '$.curriculumClassesCreated')
WITH (   
		classID int			'$.classID'
	)
UNION
SELECT classID
FROM OPENJSON(@_json, '$.curriculumClassesUpdated')
WITH (   
		classID int			'$.classID'
	)
DECLARE @isCurriculumExist int;
DECLARE @instType int;
DECLARE @classChildId table (classId int);

-- ---------- define if the subject is studied by the whole class ---
DECLARE @isWholeClass bit 
--SELECT @isAllStudents = 0;
SELECT @isWholeClass = isWholeClass FROM OPENJSON(@_json)
WITH (   
		isWholeClass bit			'$.isWholeClass'
)
DECLARE @studentIds table (studentId int, personid int);

DECLARE @isIndividualLesson bit;
SELECT @isIndividualLesson = isIndividualLesson FROM OPENJSON(@_json)
WITH (   
		isIndividualLesson bit			'$.isIndividualLesson'
)

DECLARE @isIndividualCurriculum bit;
SELECT @isIndividualCurriculum = isIndividualCurriculum FROM OPENJSON(@_json)
WITH (   
		isIndividualCurriculum bit			'$.isIndividualCurriculum'
)
-- ---------- define Detail object 1: [CurriculumClass] ID and string params ---
DECLARE @CurriculumClassCreatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumClassCreatedString NVARCHAR(4000);

DECLARE @CurriculumClassUpdatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumClassUpdatedString NVARCHAR(4000);

DECLARE @CurriculumClassDeletedString NVARCHAR(4000);

-- ---------- define Details object 2: [CurriculumStudent] ID and string params ---
DECLARE @CurriculumStudentCreatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumStudentCreatedString NVARCHAR(4000);

DECLARE @CurriculumStudentUpdatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumStudentUpdatedString NVARCHAR(4000);

DECLARE @CurriculumStudentDeletedString NVARCHAR(4000);

-- ---------- define Details object 3: [CurriculumTeacher] ID and string params ---
DECLARE @CurriculumTeacherCreatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumTeacherCreatedString NVARCHAR(4000);

DECLARE @CurriculumTeacherUpdatedVar TABLE  
(  
	id INT
);
DECLARE @CurriculumTeacherUpdatedString NVARCHAR(4000);

DECLARE @CurriculumTeacherDeletedString NVARCHAR(4000);


DECLARE @normaS int;
SELECT @normaS = normaS FROM OPENJSON(@_json)
WITH (   
		normaS int	'$.normaS'
);

-- ---------- define Additional params --------------
DECLARE @operationResultType int; -- (0) Warning. It is sent only if forceOperation = 0; (-1) Error; (1) Successfully completed operation
SET @operationResultType = -1;
DECLARE @forceOperation int; -- (0) no force action required, send warning to the customer; (1) operation is forced to be executed
DECLARE @messageCode int;

SELECT @forceOperation = ForceOperation FROM OPENJSON(@_json)
WITH (   
		forceOperation int			'$.forceOperation'
)

DECLARE @parentCurriculumID int;

DECLARE @countStudents int;

-- ---------- check for Ref Data - stopper >> Curriculum related data
DECLARE @hasRefDataCountCurriculumCurriculumClass int;
SET @hasRefDataCountCurriculumCurriculumClass = (SELECT COUNT(1) FROM [inst_year].[CurriculumClass] CC
												WHERE CC.CurriculumID = @curriculumID);

DECLARE @hasRefDataCountCurriculumCurriculumTeacher int;
SET @hasRefDataCountCurriculumCurriculumTeacher = (SELECT COUNT(1) FROM [inst_year].[CurriculumTeacher] CT
												WHERE CT.CurriculumID = @curriculumID);

DECLARE @hasRefDataCountCurriculumCurriculumStudent int;
SET @hasRefDataCountCurriculumCurriculumStudent = (SELECT COUNT(1) FROM [inst_year].[CurriculumStudent] CS
												WHERE CS.CurriculumID = @curriculumID);

DECLARE @hasRefDataCountCurriculumChildrenCurriculumClass int;
SET @hasRefDataCountCurriculumChildrenCurriculumClass = (SELECT COUNT(1) FROM [inst_year].[CurriculumClass] CC
												WHERE CC.CurriculumID IN 
													(SELECT C.CurriculumID FROM [inst_year].[Curriculum] C
													  WHERE C.ParentCurriculumID = @curriculumID));

DECLARE @hasRefDataCountCurriculumChildrenCurriculumTeacher int;
SET @hasRefDataCountCurriculumChildrenCurriculumTeacher = (SELECT COUNT(1) FROM [inst_year].[CurriculumTeacher] CT
												WHERE CT.CurriculumID IN 
													(SELECT C.CurriculumID FROM [inst_year].[Curriculum] C
													  WHERE C.ParentCurriculumID = @curriculumID));

DECLARE @hasRefDataCountCurriculumChildrenCurriculumStudent int;
SET @hasRefDataCountCurriculumChildrenCurriculumStudent = (SELECT COUNT(1) FROM [inst_year].[CurriculumStudent] CS
												WHERE CS.CurriculumID IN 
													(SELECT C.CurriculumID FROM [inst_year].[Curriculum] C
													  WHERE C.ParentCurriculumID = @curriculumID));

DECLARE @hasRefDataCountCurriculumChildrenCurriculum int;
SET @hasRefDataCountCurriculumChildrenCurriculum = (SELECT COUNT(1) FROM [inst_year].[Curriculum] C
												WHERE C.ParentCurriculumID = @curriculumID);

DECLARE @ExternalID NVARCHAR(100) = NULL;

PRINT 'INFO: PROCEDURE [curriculumCUD] started! Initial data gathered. Context params: instID=' + CAST(@instID AS VARCHAR(12));


	--if the school used external data provider --- then it cannot write to the database
	DECLARE @isExtDataProvider bit;
	SELECT @isExtDataProvider = IIF(COUNT(SOExtProviderID)>0,1,0)
	FROM [core].[InstitutionConfData] 
	WHERE InstitutionID = @instID 
		AND SchoolYear = @schoolYear

	IF @isExtDataProvider = 1
	BEGIN	
		SET @operationResultType = 2;
		SET @messageCode = 1023;
		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID, @curriculumID AS curriculumID;

		COMMIT TRANSACTION
		RETURN
	END

/* ************ OperationType = 1 -> CREATE NEW Curriculum *************** */
IF ((@OperationType = 1) AND (@instID IS NOT NULL) AND (@curriculumID IS NULL))
BEGIN
	PRINT 'INFO: OperationType: 1 - CREATE NEW [Curriculum]...';

	--check if the value exist

	--SELECT @isCurriculumExist = COUNT(1) 
	--FROM inst_year.Curriculum c
	--LEFT JOIN inst_year.CurriculumClass cc
	--	ON c.CurriculumID = cc.CurriculumID
	--WHERE c.SchoolYear = @schoolYear
	--	AND cc.ClassID IN (SELECT * FROM @classIds)
	--	AND c.SubjectID = @subjectID
	--	AND c.SubjectTypeID = @subjectTypeId
	--	AND (c.CurriculumGroupNum = @curriculumGroupID OR @curriculumGroupID IS NULL)
	--	AND c.CurriculumPartID = @curriculumPartID
	--	AND c.IsValid = 1
	
	--IF @isCurriculumExist > 0 AND @instType IN (1,4)
	--	BEGIN
	--		SET @operationResultType = 0;
	--		SET @messageCode = 1021;
	--		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID, @curriculumID AS curriculumID;
 
	--		COMMIT TRANSACTION
	--		RETURN --exit procedure
	--	END
	
	INSERT INTO [inst_year].[Curriculum]
           ([InstitutionID]
           ,[SchoolYear]
           ,[CurriculumPartID]
           ,[CurriculumGroupNum]
           ,[SubjectID]
           ,[SubjectTypeID]
           ,[WeeksFirstTerm]
           ,[HoursWeeklyFirstTerm]
           ,[WeeksSecondTerm]
           ,[HoursWeeklySecondTerm]
           ,[IsFL]
           ,[FLSubjectID]
		   ,[IsAllStudents]
		   ,[InstitutionDepartmentID]
		   ,[IsIndividualCurriculum]
           ,[NormaS]
           ,[ParentCurriculumID]
           -- ,[SortOrder]
		   ,[SysUserID]
		   ,[ExternalID]
		   ,[IsCombined]
           ,[IsIndividualLesson]
		   ,[IsWholeClass]
		   )
	SELECT @instID
			,@schoolYear
			, *
			,@sysuserid
			,@ExternalID
			,IIF(@countClassIdsC+@CountClassIdsU+@CountClassIdsUC>1, 1, 0) AS IsCombined
			,ISNULL(@isIndividualLesson,0)
			,IIF(@subjectTypeId IN (152,153,154,155,156), 0, ISNULL(@isWholeClass,0))
	FROM OPENJSON(@_json)
	WITH (   
			CurriculumPartID int			'$.curriculumPartID'
			,CurriculumGroupID smallint		'$.curriculumGroupID'
			,SubjectID int					'$.subjectID'
			,SubjectTypeID int				'$.subjectTypeID'
			,WeeksFirstTerm smallint		'$.weeksFirstTerm'
			,HoursWeeklyFirstTerm real		'$.hoursWeeklyFirstTerm'
			,WeeksSecondTerm smallint		'$.weeksSecondTerm'
			,HoursWeeklySecondTerm real		'$.hoursWeeklySecondTerm'
			,isFL bit						'$.isFL'
			,FLSubjectID int				'$.FLSubjectID'
			,isAllStudents bit				'$.isAllStudents'
			,InstitutionDepartmentID int	'$.institutionDepartmentID'
			,isIndividualCurriculum bit		'$.isIndividualCurriculum'
			,normaS int						'$.normaS'
			,parentCurriculumID int			'$.parentCurriculumID'
			-- ,SortOrder int				'$.sortOrder'
		); 

	-- GET INSERTED @curriculumID (autoincrement)
	SELECT @curriculumID = SCOPE_IDENTITY();
	PRINT 'INFO: [Curriculum] created with id=' + CAST(@curriculumID AS VARCHAR(12));

	/* *********************** START INSERT INTO [CurriculumClass] ************************************ */ 
	INSERT INTO [inst_year].[CurriculumClass]
           ([CurriculumID]
		   ,[SchoolYear]
           ,[ClassID]
		   ,[SysUserID]
		   ,[ExternalID]
		   )
	OUTPUT INSERTED.CurriculumClassesID INTO @CurriculumClassCreatedVar
	SELECT @curriculumID, @schoolYear, IIF(@isIndividualCurriculum = 1, @parentClassID,ClassID), @sysuserid, @ExternalID
	FROM OPENJSON(@_json, '$.curriculumClasses')
	WITH (   
			ClassID int	'$.classID'
		); 
	
	SET @CurriculumClassCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumClassCreatedVar);
	PRINT 'INFO: [CurriculumClass] created with ids=' + @CurriculumClassCreatedString;
	/* *********************** END INSERT INTO [CurriculumClass] ************************************ */

	/* ********** START INSERT INTO [CurriculumStudent]  ********** */
	IF @isWholeClass = 1 
		BEGIN
			INSERT INTO @classChildId (classId)
			SELECT ClassID FROM inst_year.ClassGroup 
			WHERE ParentClassID IN (SELECT classId FROM @classIds) 

			INSERT INTO @studentIds (studentId, personid)
			SELECT id, StudentClass.PersonId
			FROM student.StudentClass
			LEFT JOIN core.EducationalState es 
				ON es.InstitutionID = StudentClass.InstitutionId
					AND es.PersonID = StudentClass.PersonId
			WHERE ClassId IN (SELECT classId FROM @classChildId)  
				AND StudentClass.InstitutionId = @instID
				AND SchoolYear = @schoolYear
				AND IsCurrent = 1
				AND StudentEduFormID NOT IN (5,51,52,53,54)
				AND es.PositionID NOT IN (7,10)
			INSERT INTO [inst_year].[CurriculumStudent]
						([CurriculumID]
						,[SchoolYear]
						,[StudentID]
						,[PersonID]
						,[SysUserID]
						,[ExternalID]
						)
			OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumStudentCreatedVar
			SELECT @curriculumID, @schoolYear, studentId, personid, @sysuserid, @ExternalID
			FROM @studentIds; 	

			SET @CurriculumStudentCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumStudentCreatedVar);
			PRINT 'INFO: [CurriculumStudent] created with ids=' + @CurriculumStudentCreatedString;		
		END
	ELSE
		BEGIN
			INSERT INTO [inst_year].[CurriculumStudent]
						([CurriculumID]
						,[SchoolYear]
						,[StudentID]
						,[PersonID]
						,[SysUserID]
						,[ExternalID]
						)
			OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumStudentCreatedVar
			SELECT @curriculumID, @schoolYear, studentId, personId, @sysuserid, @ExternalID
			FROM @studentPersonIds
			--FROM OPENJSON(@_json, '$.curriculumStudents')
			--WITH (   
			--		StudentID int	'$.studentid'		
			--	); 	
			SET @CurriculumStudentCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumStudentCreatedVar);
			PRINT 'INFO: [CurriculumStudent] created with ids=' + @CurriculumStudentCreatedString;
		END
	/* *********************** END INSERT INTO [CurriculumStudent] ************************************ */

	/* ********** START INSERT INTO [CurriculumTeacher]  ********** */
	INSERT INTO [inst_year].[CurriculumTeacher]
			([CurriculumID]
			,[SchoolYear]
			,[StaffPositionID]
			,[IsNotRegularTeacher]
			,[NormaTS]
			,[SysUserID]
			,[ExternalID]
			)
	OUTPUT INSERTED.CurriculumTeacherID INTO @CurriculumTeacherCreatedVar
	SELECT @curriculumID, @schoolYear, StaffPositionID, IsNotRegularTeacher, ISNULL(normaTS,@normaS), @sysuserid, @ExternalID
	FROM OPENJSON(@_json, '$.curriculumTeachers')
	WITH (   
			StaffPositionID int			'$.staffPositionID'
			,IsNotRegularTeacher bit	'$.isNotRegularTeacher'
			,normaTS int				'$.normaTS'
		); 
	SET @CurriculumTeacherCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumTeacherCreatedVar);
	PRINT 'INFO: [CurriculumTeacher] created with ids=' + @CurriculumTeacherCreatedString;
	/* *********************** END INSERT INTO [CurriculumTeacher] ************************************ */

	/* *********************** START UPDATE [Curriculum] ************************************ */
	SELECT @countStudents = COUNT(CurriculumStudentID) 
	FROM [inst_year].[CurriculumStudent]
	WHERE CurriculumID = @curriculumID
		AND IsValid = 1

	UPDATE [inst_year].[Curriculum]
		SET [TotalTermHours] = IIF(@isIndividualLesson=1,
				/*true*/(((ISNULL(WeeksFirstTerm,0)*ISNULL(HoursWeeklyFirstTerm,0))+(ISNULL(WeeksSecondTerm,0)*ISNULL(HoursWeeklySecondTerm,0)))*@countStudents),
				/*false*/((ISNULL(WeeksFirstTerm,0)*ISNULL(HoursWeeklyFirstTerm,0))+(ISNULL(WeeksSecondTerm,0)*ISNULL(HoursWeeklySecondTerm,0))))
		,[StudentsCount] = @countStudents
	WHERE CurriculumID = @curriculumID
	/* *********************** END UPDATE [Curriculum] ************************************ */


	SELECT @curriculumID AS id, @instID AS instID, @CurriculumClassCreatedString AS curriculumClassCreatedIDs, @CurriculumStudentCreatedString AS curriculumStudentCreatedIDs, @CurriculumTeacherCreatedString AS curriculumTeacherCreatedIDs; -- return back to the caller i.e. front-end

END  /* End of OperationType = 1 -> CREATE NEW Curriculum *************** */

/* ############################## Start OperationType = 2 -> UPDATE Curriculum data ############################## */
ELSE IF ((@OperationType = 2) AND (@instID IS NOT NULL) AND (@curriculumID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 2 -> Will UPDATE Detail object: [CurriculumClass] with curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
	/* *********************** DELETE removed [CurriculumClass] objects in collection **************************** */
	DECLARE @curriculumClassDeletedVar table (id int, classID int);
	INSERT INTO @curriculumClassDeletedVar ([id], [classID]) 
		SELECT id, classID FROM OPENJSON(@_json, '$.curriculumClassesDeleted')
				WITH (   
					id int				'$.id',
					classID int			'$.classID'
				);
	--check if the value exist	
	--SELECT TOP 1 @instType = InstType FROM inst_basic.InstitutionAll WHERE InstitutionID = @instID

	--SELECT @isCurriculumExist = COUNT(1) 
	--FROM inst_year.Curriculum c
	--LEFT JOIN inst_year.CurriculumClass cc
	--	ON c.CurriculumID = cc.CurriculumID
	--WHERE c.SchoolYear = @schoolYear
	--	AND cc.ClassID IN (SELECT * FROM @classIds)
	--	AND c.SubjectID = @subjectID
	--	AND c.SubjectTypeID = @subjectTypeId
	--	AND (c.CurriculumGroupNum = @curriculumGroupID OR @curriculumGroupID IS NULL)
	--	AND c.CurriculumPartID = @curriculumPartID
	--	AND c.IsValid = 1
	
	--IF @isCurriculumExist > 0 AND @instType IN (1,4)
	--	BEGIN
	--		SET @operationResultType = 0;
	--		SET @messageCode = 1021;
	--		SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID, @curriculumID AS curriculumID;
 
	--		COMMIT TRANSACTION
	--		RETURN --exit procedure
	--	END

	--when is studied by the whole class, then the students are supplemented in CurriculumStudent
	IF @isWholeClass = 1 
		BEGIN
			INSERT INTO @classChildId (classId)
			SELECT ClassID FROM inst_year.ClassGroup 
			WHERE ParentClassID IN (SELECT classId FROM @classIds) 

			INSERT INTO @studentIds (studentId, personid)
			SELECT StudentClass.ID, StudentClass.PersonId
			FROM student.StudentClass 
			LEFT JOIN inst_year.CurriculumStudent
				ON CurriculumStudent.StudentID = StudentClass.id
					AND CurriculumStudent.PersonID = StudentClass.PersonId
					AND CurriculumStudent.CurriculumID = @curriculumID
			LEFT JOIN core.EducationalState es 
				ON es.InstitutionID = StudentClass.InstitutionId
					AND es.PersonID = StudentClass.PersonId
			WHERE ClassId IN (SELECT classId FROM @classChildId)  
				AND StudentClass.InstitutionId = @instID
				AND StudentClass.SchoolYear = @schoolYear
				AND IsCurrent = 1
				AND CurriculumStudent.StudentID IS NULL
				AND StudentEduFormID NOT IN (5,51,52,53,54)
				AND es.PositionID NOT IN (7,10)
			INSERT INTO [inst_year].[CurriculumStudent]
						([CurriculumID]
						,[SchoolYear]
						,[StudentID]
						,[PersonID]
						,[SysUserID]
						,[ExternalID]
						)
			OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumStudentCreatedVar
			SELECT @curriculumID, @schoolYear, studentId, personid, @sysuserid, @ExternalID
			FROM @studentIds; 	

			SET @CurriculumStudentCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumStudentCreatedVar);
			PRINT 'INFO: [CurriculumStudent] created with ids=' + @CurriculumStudentCreatedString;		
		END


	-- DECLARE Loop params
	DECLARE @Counter INT, @MaxId INT;

	DECLARE @curriculumClassIdDeleted int, @classIdDeleted int;

	DECLARE @hasRefDataCountCurriculumClassTotal int;
	SET @hasRefDataCountCurriculumClassTotal = 0;

	PRINT 'INFO: PROCEDURE [doValidityCheck] Initialize Loop params....'
	-- Initialize Loop params
	--SELECT @Counter = min(id), @MaxId = max(id) 
	--  FROM @curriculumClassDeletedVar;

	--WHILE(@Counter IS NOT NULL AND @Counter <= @MaxId)
	--BEGIN
		--PRINT 'DEBUG: DELETE removed [CurriculumClass] loop started. Current interation is for counter=' + CAST(@Counter AS VARCHAR(12));
		-- Initialize ValidityCheck params
		--SELECT @curriculumClassIdDeleted = id, @classIdDeleted = classID
		--  FROM @curriculumClassDeletedVar
		-- WHERE id = @Counter;

		--PRINT 'DEBUG: DELETE removed [CurriculumClass] loop >> Params are: ' + 
		--	'curriculumClassIdDeleted=' + ISNULL(CAST(@curriculumClassIdDeleted AS VARCHAR(12)),'') +
		--	', classIdDeleted=' + ISNULL(CAST(@classIdDeleted AS VARCHAR(12)),'');

		DECLARE @hasRefDataCountCurriculumClass int;
		SET @hasRefDataCountCurriculumClass = (SELECT COUNT(1) 
													FROM [inst_year].[CurriculumStudent] CS
													JOIN [student].[StudentClass] SC ON SC.ID = CS.StudentID
													JOIN [inst_year].[ClassGroup] CG ON CG.ClassID = SC.ClassId -- child
													JOIN [inst_year].[ClassGroup] PG ON PG.ClassID = CG.ParentClassID -- parent
													JOIN [inst_year].[CurriculumClass] CC ON CC.ClassID = PG.ClassID
													-- WHERE CC.ClassID = @classIdDeleted);
													WHERE CC.ClassID IN (SELECT classID FROM @curriculumClassDeletedVar));


		IF (@hasRefDataCountCurriculumClass > 0) -- there are referenced data to [CurriculumStudent], will ask for confirmation with specific question
			SET @hasRefDataCountCurriculumClassTotal = @hasRefDataCountCurriculumClassTotal + @hasRefDataCountCurriculumClass;
		
		--SET @Counter = @Counter  + 1;
	--END

	IF (@hasRefDataCountCurriculumClassTotal > 0) 
	BEGIN
		PRINT 'INFO: There are references from CurriculumClass to CurriculumStudent for classId=' + CAST(@classIdDeleted AS VARCHAR(12));
		IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
		BEGIN
			PRINT 'INFO: @forceOperation = 0 => Will ask User for operation confirmation with specific message. Do nothing now!';
			SET @operationResultType = 0;
			SET @messageCode = 1013;

			SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID, @curriculumID AS curriculumID;
			
			COMMIT TRANSACTION

			RETURN -- exit procedure
		END
		ELSE IF (@forceOperation = 1) -- confirmation is done, do specific operations based on ref. data
		BEGIN
			PRINT 'INFO: @forceOperation = 1 => Will SET IsValid = 0 referenced [CurriculumStudent] objects for CurriculumClassesID=' + CAST(@curriculumClassIdDeleted AS VARCHAR(12));

			UPDATE CS SET IsValid = 0 FROM [inst_year].[CurriculumStudent] CS 
					JOIN [student].[StudentClass] SC ON SC.ID = CS.StudentID
					JOIN [inst_year].[ClassGroup] CG ON CG.ClassID = SC.ClassId -- child
					JOIN [inst_year].[ClassGroup] PG ON PG.ClassID = CG.ParentClassID -- parent
					JOIN [inst_year].[CurriculumClass] CC ON CC.ClassID = PG.ClassID
					WHERE CC.ClassID IN (SELECT [classID] FROM @curriculumClassDeletedVar);
			PRINT 'INFO: [CurriculumStudent] SET IsValid = 0 successfully for ClassID=' + CAST(@classIdDeleted AS VARCHAR(12));	
		END
	END

	PRINT 'INFO: @forceOperation = 1 => Will SET IsValid = 0 [CurriculumClass] for CurriculumClassesID=' + CAST(@curriculumClassIdDeleted AS VARCHAR(12));
	
	UPDATE CC SET IsValid = 0 FROM [inst_year].[CurriculumClass] CC
			WHERE cc.CurriculumClassesID IN (SELECT [id] FROM @curriculumClassDeletedVar);
	PRINT 'INFO: [CurriculumClass] SET IsValid = 0 successfully for CurriculumClassesID=' + CAST(@curriculumClassIdDeleted AS VARCHAR(12));
	
	SET @operationResultType = 1;
	SET @messageCode = 1;

	/* *********************** CREATE newly added [CurriculumClass] objects in collection ******************************** */ 
	INSERT INTO [inst_year].[CurriculumClass]
           ([CurriculumID]
		   ,[SchoolYear]
           ,[ClassID]
		   ,[SysUserID]
		   ,[ExternalID]
		   )
		OUTPUT INSERTED.CurriculumClassesID INTO @CurriculumClassCreatedVar
		SELECT @curriculumID, @schoolYear, IIF(@isIndividualCurriculum = 1, @parentClassID,ClassID), @sysuserid, @ExternalID
		FROM OPENJSON(@_json, '$.curriculumClassesCreated')
		WITH (   
				ClassID int	'$.classID'
			); 
	SET @CurriculumClassCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumClassCreatedVar);
	PRINT 'INFO: [CurriculumClass] created with ids=' + @CurriculumClassCreatedString;
	/* *********************** UPDATE existing/changed [CurriculumClass] objects in collection ******************************** */ 
	UPDATE [inst_year].[CurriculumClass]
	SET
			[CurriculumID] = @curriculumID
		   ,[SchoolYear] = @schoolYear
           ,[ClassID] = IIF(@isIndividualCurriculum = 1, @parentClassID,JCC.classID)
		   ,[SysUserID] = @sysuserid
	OUTPUT INSERTED.CurriculumClassesID INTO @CurriculumClassUpdatedVar
	FROM OPENJSON(@_json, '$.curriculumClassesUpdated')
	WITH (   
			curriculumClassID int	'$.id'
		   ,classID int				'$.classID'
		) JCC
	WHERE
		[inst_year].[CurriculumClass].CurriculumClassesID = JCC.curriculumClassID;
	SET @CurriculumClassUpdatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumClassUpdatedVar);
	PRINT 'INFO: [CurriculumClass] UPDATED with CurriculumClasIDs=' + @CurriculumClassUpdatedString;


	DECLARE @isFL bit;
	
	SELECT @isFL = isFL FROM OPENJSON(@_json)
	    WITH ( 
				isFL bit			'$.isFL'  
			 );
    
	DECLARE @FLSubjectID int = ( SELECT  CASE @isFL WHEN 0 THEN NULL ELSE FLSubjectID END
								   FROM OPENJSON(@_json)
							       WITH ( FLSubjectID int			'$.FLSubjectID' )
								);


	/* *********************** UPDATE Master object: [Curriculum] ******************************** */ 
	PRINT 'INFO: OperationType = 2 -> Will UPDATE Master object: [Curriculum] with curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
	UPDATE top (1) [inst_year].[Curriculum]
	SET 
            [SchoolYear]				=	@schoolYear
           ,[CurriculumPartID]			=	JC.curriculumPartID
           ,[CurriculumGroupNum]		=	JC.curriculumGroupID
           ,[SubjectID]					=	JC.subjectID
           ,[SubjectTypeID]				=	JC.subjectTypeID
           ,[WeeksFirstTerm]			=	JC.weeksFirstTerm
           ,[HoursWeeklyFirstTerm]		=	JC.hoursWeeklyFirstTerm
           ,[WeeksSecondTerm]			=	JC.weeksSecondTerm
           ,[HoursWeeklySecondTerm]		= 	JC.hoursWeeklySecondTerm
           ,[IsFL]						=	JC.isFL
           ,[FLSubjectID]				=	@FLSubjectID
		   ,[IsWholeClass]				=	IIF(@subjectTypeId IN (152,153,154,155,156), 0, ISNULL(JC.isWholeClass,0))
		   ,[InstitutionDepartmentID]	=	JC.institutionDepartmentID
           ,[IsIndividualLesson]		=	JC.isIndividualLesson
           ,[NormaS]					=	JC.normaS
           ,[ParentCurriculumID]		=	JC.parentCurriculumID
           -- ,[SortOrder] =			   JC.sortOrder
		   ,[SysUserID]					=	@sysuserid	
		   ,[IsCombined]				=	IIF(@countClassIdsC+@CountClassIdsU+@CountClassIdsUC>1,1,0)
	FROM OPENJSON(@_json)
	WITH (   -- names below shoud match JSON fields		
		curriculumPartID int			
		,curriculumGroupID smallint		
		,subjectID int					
		,subjectTypeID int				
		,weeksFirstTerm smallint		
		,hoursWeeklyFirstTerm real		
		,weeksSecondTerm smallint		
		,hoursWeeklySecondTerm real		
		,isFL bit					
		,FLSubjectID int
		,isWholeClass bit
		,institutionDepartmentID int	
		,isIndividualLesson bit			
		,normaS int					
		,parentCurriculumID int			
		-- ,sortOrder int				
		) JC				 
	WHERE
		[inst_year].[Curriculum].CurriculumID = @curriculumID;
	PRINT 'INFO: [Curriculum] UPDATED successfully!';
	
	PRINT 'INFO: OperationType = 2 -> Will UPDATE Detail object: [CurriculumStudent] with curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
	/* *********************** CREATE newly added [CurriculumStudent] objects in collection ******************************** */ 
	INSERT INTO [inst_year].[CurriculumStudent]
				([CurriculumID]
				,[SchoolYear]
				,[StudentID]
				,[PersonID]
				,[SysUserID]
				,[ExternalID]
				)
		OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumStudentCreatedVar
		SELECT @curriculumID, @schoolYear, *, @sysuserid, @ExternalID
		FROM OPENJSON(@_json, '$.curriculumStudentsCreated')
		WITH (   
			 StudentID int	'$.id'
			,PersonID int	'$.personID'
			); 
	SET @CurriculumStudentCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumStudentCreatedVar);
	PRINT 'INFO: [CurriculumStudent] created with ids=' + @CurriculumStudentCreatedString;
	/* *********************** UPDATE existing/changed [CurriculumStudent] objects in collection ******************************** */ 
	UPDATE [inst_year].[CurriculumStudent]
	SET
			 [CurriculumID] = @curriculumID
			,[SchoolYear] = @schoolYear
			,[StudentID] = JCS.StudentID
			,[PersonID] = JCS.PersonID
			,[SysUserID] = @sysuserid
	OUTPUT INSERTED.CurriculumStudentID INTO @CurriculumStudentUpdatedVar
	FROM OPENJSON(@_json, '$.curriculumStudentsUpdated')
	WITH (   
			 StudentID int				'$.id'
			,CurriculumStudentID int	'$.curriculumStudentID'
			,PersonID int				'$.personID'
		) JCS
	WHERE
		[inst_year].[CurriculumStudent].CurriculumStudentID = JCS.CurriculumStudentID;
	SET @CurriculumStudentUpdatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumStudentUpdatedVar);
	PRINT 'INFO: [InstitutionPhone] UPDATED with @CurriculumStudentIDs=' + @CurriculumStudentUpdatedString;
	/* *********************** SET IsValid = 0 [CurriculumStudent] objects in collection **************************** */
	SELECT @curriculumStudentDeletedString = (SELECT STRING_AGG(curriculumStudentDeletedIDs, ',')  
		FROM OPENJSON(@_json, '$.curriculumStudentsDeleted')
		WITH (   
			curriculumStudentDeletedIDs int			'$.curriculumStudentID'
		));
	UPDATE CS SET IsValid = 0 FROM [inst_year].[CurriculumStudent] CS
		WHERE CS.CurriculumStudentID IN (			
			SELECT curriculumStudentDeletedIDs FROM OPENJSON(@_json, '$.curriculumStudentsDeleted')
				WITH (   
					curriculumStudentDeletedIDs int			'$.curriculumStudentID'
				)
			);
	PRINT 'INFO: [CurriculumStudent] SET IsValid = 0 with CurriculumStudentIDs=' + CAST(@curriculumStudentDeletedString AS VARCHAR(12)); 

	/* *********************** CREATE newly added [CurriculumTeacher] objects in collection ******************************** */ 
	INSERT INTO [inst_year].[CurriculumTeacher]
			([CurriculumID]
			,[SchoolYear]
			,[StaffPositionID]
			,[IsNotRegularTeacher]
			,[NormaTS]
			,[SysUserID]
			,[ExternalID]
			)
		OUTPUT INSERTED.CurriculumTeacherID INTO @CurriculumTeacherCreatedVar
		SELECT @curriculumID, @schoolYear, StaffPositionID, IsNotRegularTeacher, ISNULL(normaTS, @normaS), @sysuserid, @ExternalID
		FROM OPENJSON(@_json, '$.curriculumTeachersCreated')
		WITH (   
				StaffPositionID int			'$.staffPositionID'
				,IsNotRegularTeacher bit	'$.isNotRegularTeacher'
				,normaTS int				'$.normaTS'
			); 
	SET @CurriculumTeacherCreatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumTeacherCreatedVar);
	PRINT 'INFO: [CurriculumTeacher] created with CurriculumTeacherIDs=' + @CurriculumTeacherCreatedString;
	/* *********************** UPDATE existing/changed [CurriculumTeacher] objects in collection ******************************** */ 
	UPDATE [inst_year].[CurriculumTeacher]
	SET
			 [CurriculumID] = @curriculumID
			,[SchoolYear] = @schoolYear
			,[StaffPositionID] = JCT.StaffPositionID
			,[IsNotRegularTeacher] = JCT.IsNotRegularTeacher
			,[NormaTS] = ISNULL(JCT.normaTS,@normaS)
			,[SysUserID] = @sysuserid
	OUTPUT INSERTED.CurriculumTeacherID INTO @CurriculumTeacherUpdatedVar
	FROM OPENJSON(@_json, '$.curriculumTeachersUpdated')
	WITH (   
			 CurriculumTeacherID int	'$.id'
			,StaffPositionID int		'$.staffPositionID'
			,IsNotRegularTeacher bit	'$.isNotRegularTeacher'
			,normaTS int				'$.normaTS'
		) JCT
	WHERE
		[inst_year].[CurriculumTeacher].CurriculumTeacherID = JCT.CurriculumTeacherID;
	SET @CurriculumTeacherUpdatedString = (SELECT STRING_AGG(id, ',') FROM @CurriculumTeacherUpdatedVar);
	PRINT 'INFO: [CurriculumTeacher] UPDATED with CurriculumTeacherIDs=' + @CurriculumTeacherUpdatedString;
	/* *********************** SET IsValid = 0 [CurriculumTeacher] objects in collection **************************** */
	SELECT @CurriculumTeacherDeletedString = (SELECT STRING_AGG(curriculumTeacherDeletedIDs, ',')  
		FROM OPENJSON(@_json, '$.curriculumTeachersDeleted')
		WITH (   
			curriculumTeacherDeletedIDs int			'$.id'
		));
	UPDATE CT SET IsValid = 0 FROM [inst_year].[CurriculumTeacher] CT
		WHERE CT.CurriculumTeacherID IN (			
			SELECT curriculumTeacherDeletedIDs FROM OPENJSON(@_json, '$.curriculumTeachersDeleted')
				WITH (   
					curriculumTeacherDeletedIDs int			'$.id'
				)
			);
	PRINT 'INFO: [CurriculumTeacher] SET IsValid = 0 with CurriculumTeacherIDs=' + CAST(@CurriculumTeacherDeletedString AS VARCHAR(12)); 

	/* *********************** START UPDATE [Curriculum] ************************************ */
	SELECT @countStudents = COUNT(CurriculumStudentID) 
	FROM [inst_year].[CurriculumStudent]
	WHERE CurriculumID = @curriculumID
		AND IsValid = 1

	UPDATE [inst_year].[Curriculum]
		SET [TotalTermHours] = IIF(@isIndividualLesson=1,
				/*true*/(((ISNULL(WeeksFirstTerm,0)*ISNULL(HoursWeeklyFirstTerm,0))+(ISNULL(WeeksSecondTerm,0)*ISNULL(HoursWeeklySecondTerm,0)))*@countStudents),
				/*false*/((ISNULL(WeeksFirstTerm,0)*ISNULL(HoursWeeklyFirstTerm,0))+(ISNULL(WeeksSecondTerm,0)*ISNULL(HoursWeeklySecondTerm,0))))
		,[StudentsCount] = @countStudents
	WHERE CurriculumID = @curriculumID
	/* *********************** END UPDATE [Curriculum] ************************************ */


	SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @curriculumID AS id, @instID AS instID, 
		@CurriculumClassCreatedString AS curriculumClassCreatedIDs, @CurriculumClassUpdatedString AS curriculumClassUpdatedIDs, @CurriculumClassDeletedString AS curriculumClassDeletedIDs,
		@CurriculumStudentCreatedString AS curriculumStudentCreatedIDs, @CurriculumStudentUpdatedString AS curriculumStudentUpdatedIDs, @CurriculumStudentDeletedString AS curriculumStudentDeletedIDs,
		@CurriculumTeacherCreatedString AS curriculumTeacherCreatedIDs, @CurriculumTeacherUpdatedString AS curriculumTeacherUpdatedIDs, @CurriculumTeacherDeletedString AS curriculumTeacherDeletedIDs; -- return back to the caller i.e. front-end

END  /* End OperationType = 2 -> UPDATE Curriculum data *************** */

/* ############################## Start OperationType = 3 -> DELETE Curriculum data ############################## */
ELSE IF ((@OperationType = 3) AND (@instID IS NOT NULL) AND (@curriculumID IS NOT NULL))
BEGIN
	PRINT 'INFO: OperationType = 3 -> Will DELETE Master object: [Curriculum] with curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
		
	SELECT TOP 1 @instType = InstType FROM inst_basic.InstitutionAll WHERE InstitutionID = @instID;


	DECLARE @hasSchoolBookCurriculumData int;
	SELECT @hasSchoolBookCurriculumData = COUNT(1) 
	FROM (
			SELECT TOP 1 CurriculumId FROM [school_books].[ClassBookCurriculumGradeless] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			UNION
			SELECT TOP 1 CurriculumId FROM [school_books].[ClassBookStudentGradeless] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			UNION
			SELECT TOP 1 CurriculumId FROM [school_books].[ClassBookStudentSpecialNeeds] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			UNION
			SELECT TOP 1 CurriculumId FROM [school_books].[Exam] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			UNION
			SELECT TOP 1 CurriculumId FROM [school_books].[GradeResultSubject] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			UNION
			SELECT TOP 1 CurriculumId FROM [school_books].[MissingTopicsReportItem] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			UNION
			SELECT TOP 1 CurriculumId FROM [school_books].[Remark] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			UNION
			SELECT TOP 1 CurriculumId FROM [school_books].[ScheduleHour] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			UNION
			SELECT TOP 1 CurriculumId FROM [school_books].[Absence] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			UNION
			SELECT TOP 1 CurriculumId FROM [school_books].[ScheduleLesson] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			UNION
			SELECT TOP 1 CurriculumId FROM [school_books].[Grade] WHERE CurriculumId = @curriculumID AND SchoolYear = @schoolYear
			) t;

	IF @hasSchoolBookCurriculumData > 0
		BEGIN
			IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
				BEGIN
					PRINT 'INFO: There is stopper >> found references from [school_books] tables with curriculumID=' + CAST(@curriculumID AS VARCHAR(12)) + ' Will refuse delete operation with specific message!';
					SET @operationResultType = 0;
					SET @messageCode = IIF(@instType IN (1,4), 1035, 1036);

					SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID, @curriculumID AS curriculumID;
			
					COMMIT TRANSACTION
					RETURN -- exit procedure
				END
			ELSE
				BEGIN
					PRINT 'INFO: Children curriculum set isValid=0 start for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
					UPDATE [inst_year].[CurriculumClass] SET IsValid = 0 WHERE [inst_year].[CurriculumClass].CurriculumID IN 
																(SELECT C.CurriculumID FROM [inst_year].[Curriculum] C
																	WHERE C.ParentCurriculumID = @curriculumID);

					UPDATE [inst_year].[CurriculumTeacher] SET IsValid = 0 WHERE [inst_year].[CurriculumTeacher].CurriculumID IN 
																(SELECT C.CurriculumID FROM [inst_year].[Curriculum] C
																	WHERE C.ParentCurriculumID = @curriculumID);

					UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0 WHERE [inst_year].[CurriculumStudent].CurriculumID IN 
																(SELECT C.CurriculumID FROM [inst_year].[Curriculum] C
																	WHERE C.ParentCurriculumID = @curriculumID);

					UPDATE [inst_year].[Curriculum] SET IsValid = 0 WHERE [inst_year].[Curriculum].ParentCurriculumID = @curriculumID;
					PRINT 'INFO: Children curriculum set isValid=0 successfully for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));


					PRINT 'INFO: [Curriculum] set isValid=0 start for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
					UPDATE [inst_year].[CurriculumClass] SET IsValid = 0 WHERE [inst_year].[CurriculumClass].CurriculumID = @curriculumID;

					UPDATE [inst_year].[CurriculumTeacher] SET IsValid = 0 WHERE [inst_year].[CurriculumTeacher].CurriculumID = @curriculumID;

					UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0 WHERE [inst_year].[CurriculumStudent].CurriculumID = @curriculumID;

					UPDATE [inst_year].[Curriculum] SET IsValid = 0 WHERE [inst_year].[Curriculum].CurriculumID = @curriculumID;
					PRINT 'INFO: [Curriculum] set isValid=0 successfully for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));


					SET @operationResultType = 1;
					SET @messageCode = 1;
				END
		END
	ELSE IF @hasSchoolBookCurriculumData = 0 AND (@hasRefDataCountCurriculumCurriculumStudent > 0 OR @hasRefDataCountCurriculumCurriculumTeacher > 0)
		BEGIN
			IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
				BEGIN
					PRINT 'INFO: There is stopper >> found references from [CurriculumTeacher] OR [CurriculumStudent] tables with curriculumID=' + CAST(@curriculumID AS VARCHAR(12)) + ' Will refuse delete operation with specific message!';
					SET @operationResultType = 0;
					SET @messageCode = IIF(@instType IN (1,4), 1042, 1043);

					SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID, @curriculumID AS curriculumID;
			
					COMMIT TRANSACTION
					RETURN -- exit procedure
				END
			ELSE
				BEGIN
					PRINT 'INFO: Children curriculum set isValid=0 start for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
					UPDATE [inst_year].[CurriculumClass] SET IsValid = 0 WHERE [inst_year].[CurriculumClass].CurriculumID IN 
																(SELECT C.CurriculumID FROM [inst_year].[Curriculum] C
																	WHERE C.ParentCurriculumID = @curriculumID);

					UPDATE [inst_year].[CurriculumTeacher] SET IsValid = 0 WHERE [inst_year].[CurriculumTeacher].CurriculumID IN 
																(SELECT C.CurriculumID FROM [inst_year].[Curriculum] C
																	WHERE C.ParentCurriculumID = @curriculumID);

					UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0 WHERE [inst_year].[CurriculumStudent].CurriculumID IN 
																(SELECT C.CurriculumID FROM [inst_year].[Curriculum] C
																	WHERE C.ParentCurriculumID = @curriculumID);

					UPDATE [inst_year].[Curriculum] SET IsValid = 0 WHERE [inst_year].[Curriculum].ParentCurriculumID = @curriculumID;
					PRINT 'INFO: Children curriculum set isValid=0 successfully for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));


					PRINT 'INFO: [Curriculum] set isValid=0 start for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
					UPDATE [inst_year].[CurriculumClass] SET IsValid = 0 WHERE [inst_year].[CurriculumClass].CurriculumID = @curriculumID;

					UPDATE [inst_year].[CurriculumTeacher] SET IsValid = 0 WHERE [inst_year].[CurriculumTeacher].CurriculumID = @curriculumID;

					UPDATE [inst_year].[CurriculumStudent] SET IsValid = 0 WHERE [inst_year].[CurriculumStudent].CurriculumID = @curriculumID;

					UPDATE [inst_year].[Curriculum] SET IsValid = 0 WHERE [inst_year].[Curriculum].CurriculumID = @curriculumID;
					PRINT 'INFO: [Curriculum] set isValid=0 successfully for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
	
					SET @operationResultType = 1;
					SET @messageCode = 1;
				END
		END
	ELSE IF @hasSchoolBookCurriculumData = 0 AND @hasRefDataCountCurriculumCurriculumStudent = 0 AND @hasRefDataCountCurriculumCurriculumTeacher = 0
		BEGIN
		IF (@forceOperation = 0) -- need to ask for operation confirmation IF there is referenced data
			BEGIN
				PRINT 'INFO: There is stopper >> found references from [CurriculumTeacher] OR [CurriculumStudent] tables with curriculumID=' + CAST(@curriculumID AS VARCHAR(12)) + ' Will refuse delete operation with specific message!';
				SET @operationResultType = 0;
				SET @messageCode = 1000;

				SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID, @curriculumID AS curriculumID;
			
				COMMIT TRANSACTION
				RETURN -- exit procedure
			END
		ELSE
			BEGIN
				PRINT 'INFO: Children curriculum delete start for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
				DELETE [inst_year].[CurriculumClass] OUTPUT deleted.* INTO [inst_year].[CurriculumClassTemp] WHERE [inst_year].[CurriculumClass].CurriculumID IN 
															(SELECT C.CurriculumID FROM [inst_year].[Curriculum] C
																WHERE C.ParentCurriculumID = @curriculumID);

				DELETE [inst_year].[Curriculum] OUTPUT deleted.* INTO [inst_year].[CurriculumTemp] WHERE [inst_year].[Curriculum].ParentCurriculumID = @curriculumID;
				PRINT 'INFO: Children curriculum delete successfully for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));


				PRINT 'INFO: [Curriculum] delete start for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));
				DELETE [inst_year].[CurriculumClass] OUTPUT deleted.* INTO [inst_year].[CurriculumClassTemp] WHERE [inst_year].[CurriculumClass].CurriculumID = @curriculumID;

				DELETE [inst_year].[Curriculum] OUTPUT deleted.* INTO [inst_year].[CurriculumTemp] WHERE [inst_year].[Curriculum].CurriculumID = @curriculumID;
				PRINT 'INFO: [Curriculum] delete successfully for curriculumID=' + CAST(@curriculumID AS VARCHAR(12));

				SET @operationResultType = 1;
				SET @messageCode = 1;
			END
		END


	
	SELECT @operationResultType AS OperationResultType, @messageCode AS MessageCode, @instID AS instID, @curriculumID AS curriculumID, @parentCurriculumID AS parentCurriculumID;
END
/* ############################################################ */
ELSE
BEGIN
	DECLARE @ERR_MSG NVARCHAR(4000);
	SELECT @ERR_MSG = 'Illegal CONTEXT or MASTER Obejects params sent to curriculumCUD! Sent params are: ' + 
		'OperationType=' + ISNULL(CAST(@OperationType AS VARCHAR(12)),'') + 
		', instID=' + ISNULL(CAST(@instID AS VARCHAR(12)),'') +
		', curriculumID=' + ISNULL(CAST(@curriculumID AS VARCHAR(12)),'');

	THROW 99002, @ERR_MSG, 1;
END

EXEC [logs].logEvent @_json, @OperationType, 103, 'Curriculum', @curriculumID, @schoolYear;

COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION
	PRINT 'INFO: TRANSACTION has been ROLLBACKED!';

	EXEC [logs].logError @_json, @OperationType, 103, 'Curriculum', @curriculumID, @schoolYear;
 
	DECLARE @ErrorMessage NVARCHAR(4000);  
	DECLARE @ErrorSeverity INT;  
	DECLARE @ErrorState INT;  
  
	SELECT   
		@ErrorMessage = ERROR_MESSAGE(),  
		@ErrorSeverity = ERROR_SEVERITY(),  
		@ErrorState = ERROR_STATE(); 

	PRINT 'INFO: [curriculumCUD] failed with error! XACT_STATE()=' + CAST(XACT_STATE() AS VARCHAR(12));

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
END CATCH
/* ************ END OF PROCEDURE ************ */

