@import '~@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';
@import '~@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/mixins';

.main {
    margin-left: 320px;
    padding-top: 64px;
    padding-bottom: 89px;
    .backdrop {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(31, 35, 41, 0.5);
        transition: background-color 0.5s ease;
        z-index: 2;
    }
}

@include media-breakpoint-up(lg) {
    .main {
        .backdrop {
            visibility: hidden;
        }
    }
}

@include media-breakpoint-down(lg) {
    .main {
        margin-left: 0;
    }
}

@include media-breakpoint-down(sm) {
    .main {
        padding-bottom: 140px;
    }
}
