h1 {
  font-size: 24px;
  line-height: normal;
  text-align: center;
}
.footer-container {
  text-align: center;
  button {
    margin: 0 10px;
    width: 120px !important;
  }
}

.file-upload-container {
  width: 100%;
  file-upload {
    file-upload-drop-zone {
      width: 100%;
    }
  }
}

file-upload {
  background: #3f51b50f;
  display: block;
  min-height: 140px;
  border: 1px dashed #3f51b5d9;
  outline: none;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 480px;
  border-radius: 5px;
  margin-bottom: 15px;
}
