.l-container-component {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 10px;
    margin-right: 25px;
    &.preview-mode {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .l-select {
        margin: 0 10px;
        min-width: 220px;
    }
}

// }
// .l-custom-select {
//     color: rgba(0, 0, 0, 0.6);
//     width: -webkit-fit-content;
//     width: -moz-fit-content;
//     width: fit-content;
//     padding: 1px 5px;
//     position: absolute;
//     margin-top: -34px;
//     background-color: white;
//     margin-left: -3px;
//     font-size: 11px;
//     white-space: normal;
//     width: auto;
//     max-width: 135px;
//   }
// }