@import '@dssbg/neispuo-style-guide/neispuo-bootstrap-theme-styles/variables/variables';
$background-color: $gray-100;

.callback-page {
  height: calc(100vh - 130px);
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.loading {
    background-color: $background-color;
    .callback-page-content {
      text-align: center;
    }
  }
  &.error {
    background-image: linear-gradient(rgba(23, 42, 83, 0.325), rgba(23, 42, 83, 0.325)), url('/assets/images/home.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-content {
    max-width: 700px;
    p,
    p.h1 {
      color: $gray-800;
    }
    p.h1 {
      text-align: center;
    }
    p:not(.h1) {
      color: $gray-700;
    }
  }
  .loader {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 10rem;
    div {
      display: inline-block;
      position: absolute;
      left: 0.5rem;
      width: 1rem;
      background: $blue-500;
      animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      &:nth-child(1) {
        left: 0.5rem;
        animation-delay: -0.3s;
      }
      &:nth-child(2) {
        left: 2rem;
        animation-delay: -0.15s;
      }
      &:nth-child(3) {
        left: 3.5rem;
        animation-delay: 0;
      }
    }
  }

  @keyframes loader {
    0% {
      top: 0.5rem;
      height: 100px;
    }
    50%,
    100% {
      top: 24px;
      height: 50px;
    }
  }
}

@media (max-width: 767.98px) {
  .callback-page {
    height: calc(100vh - 100px);
    margin-top: 100px;
  }
}

@media (max-width: 575.98px) {
  .callback-page {
    &-content {
      text-align: center;

      p.h1 {
        font-size: 1.75rem;
      }
    }
  }
}
