<!-- <div class="login-page">
  <div class="overlay-gradient"></div>
  <div class="login-page-wrapper p-grid">
    <div class="left-col p-col-12 p-md-5 p-md-offset-1 p-xl-4 p-xl-offset-2">
      <div class="mon-logo">
        <img src="/assets/images/mon.png" alt="mon-logo" />
      </div>
      <div class="page-title">
        <strong>Вход към</strong>
        <h1>НЕИСПУО</h1>
      </div>
    </div>
    <div class="right-col p-col-12 p-md-5 p-xl-4">
      <p-card>
        <div class="form-wrapper">
          <div class="form-title">
            <div class="mon-logo">
              <img src="/assets/images/mon-logo.png" alt="" />
            </div>
            <h2>НЕИСПУО</h2>
            <p>Влез в своя профил</p>
          </div>
          <div class="submit-btn-wrapper">
            <button pButton (click)="login()">Вход</button>
            <div>
              <span>Общи условия и правила. </span>
              <a p-button routerLink="#" target="_blank"
                ><div class="underline">Научи повече <i class="pi pi-angle-right"></i></div></a
              >
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div> -->
