.l-custom-main-tab {
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #080044;
    list-style: none;
    .button-item {
        &.active {
            &:hover {
                background-color: transparent;
                border-left: 2px solid #2f73da00 !important;
                border-right: 2px solid #2f73da00 !important;
                border-top: 2px solid #2f73da00 !important;
                cursor: pointer;
            }
            border-left: 2px solid #2f73da00 !important;
            border-right: 2px solid #2f73da00 !important;
            border-top: 2px solid #2f73da00 !important;
            background-color: transparent;
            border-bottom: 2px solid #2f73da !important;
            border-radius: 0 !important;
            color: #FFFFFF;
            cursor: default;
        }
        &:hover {
            background-color: #165ecc;
            border: 2px solid #165ecc !important;
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
        &:active {
            outline: none;
        }
        background-color: #2f73da;
        border-color: #2f73da;
        border: 2px solid #2f73da !important;
        margin-right: 8px;
        height: auto;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        font-size: 1rem;
        border-radius: 0;
        transition: 0.4s all;
        font-size: 13px;
        color: white;
        line-height: normal;
        text-decoration: none;
        font-weight: normal;
    }
}